.insights-loading-state {
    background-color: var(--color-skeleton-light);
}

@keyframes InsightsEmptyState__BriefSpin {
    0%,
    65% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.brief-spin {
    animation: InsightsEmptyState__BriefSpin 2s infinite ease-in-out;
}

[data-attr='insight-empty-state'] a.Link {
    color: var(--color-accent);
}
