@import '~/vars';

.series-name-wrapper-col {
    display: flex;
    align-items: center;

    .edit-icon {
        color: $primary;
        cursor: pointer;
        padding-right: 4px;
    }

    .insights-label {
        flex-grow: 1;
        &.editable {
            cursor: pointer;
            .ant-typography {
                color: $primary;
                font-weight: $medium;
            }
        }
    }
}

.insight-table-count-header {
    width: 100%;

    .compare-header {
        .dated-highlight {
            margin-left: 8px;
            margin-right: 0;
        }
    }
}

.insight-table-count-cell {
    .dated-highlight {
        background: unset;
        border: 0;
        font-size: 0.85em;
    }
}
