.insights-table.LemonTable--embedded {
    border-top: 1px solid var(--border);
}
.dashboard .insights-table {
    flex-grow: 1;
    border-top: none;
}

.series-name-wrapper-col {
    display: flex;
    align-items: center;

    .edit-icon {
        color: var(--primary);
        cursor: pointer;
        font-size: 1rem;
    }

    .insights-label {
        &.editable {
            cursor: pointer;
            .ant-typography {
                color: var(--primary);
                font-weight: 500;
            }
        }
    }
}
