.Navigation3000 {
    --border: var(--border-3000);

    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--bg-3000);

    > main {
        flex: 1;
        min-width: 0;
        padding: 0 1rem;
        background: var(--accent-3000);
    }
}
