@import '../styles/mixins';

.Exporter {
    padding: 1rem;

    &--recording {
        height: 100vh;
        max-height: 100vh;
    }

    .SharedDashboard-header {
        .SharedDashboard-header-team {
            display: none;
        }

        @include screen($md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .SharedDashboard-header-title {
                max-width: 50%;
                text-align: center;
            }

            .SharedDashboard-header-team {
                display: block;
            }
        }
    }
}

html.export-type-image {
    // We don't want scrollbars to show in image captures
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        // We put Inter first so that rendered images are the same no matter which platform it is rendered on.
        font-family: Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol';
    }
}

html.export-type-embed {
    overflow: hidden;
    overflow-y: auto;

    .Exporter {
        padding: 0;

        // Insights can resize to fit any height, whereas dashboards cannot
        &--insight {
            height: 100vh;
            max-height: 100vh;
        }
    }
}
