@import '../styles/breakpoints';

html.export-type-image {
    // We don't want scrollbars to show in image captures
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        // We hard-code a font so that rendered images are the same no matter which platform it is rendered on.
        font-family: 'Inter', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol';
    }
}

html.export-type-embed {
    overflow: hidden;
    overflow-y: auto;
    .Exporter {
        padding: 0;
        height: 100vh;
        max-height: 100vh;
    }
}

.Exporter {
    min-height: 100vh;
    padding: 1rem;

    .SharedDashboard-header {
        .SharedDashboard-header-team {
            display: none;
        }

        @media screen and (min-width: $md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .SharedDashboard-header-title {
                max-width: 50%;
                text-align: center;
            }

            .SharedDashboard-header-team {
                display: block;
            }
        }
    }
}
