.VariantFormList {
    font-size: 13px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 16px;
    margin-top: 16px;

    .ant-form-item {
        min-height: 32px;
    }

    .label-row {
        font-weight: bold;

        .ant-col {
            min-height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .VariantFormList__row {
        grid-template-columns: repeat(24, minmax(0, 1fr));
    }
}

.feature-flag-property-display {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .arrow-right {
        margin-right: -8px;
        margin-top: 0.25rem;
    }

    .display-value {
        word-break: break-all;
    }
}

.condition-set-separator {
    color: var(--primary-alt);
    font-size: 12px;
    font-weight: var(--font-semibold);
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.feature-flag-form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .centered {
        display: flex;
        align-items: center;
        white-space: pre-wrap;
    }
}

.FeatureConditionCard {
    .FeatureConditionCard--border--highlight {
        border-color: var(--primary-3000);
    }
}
