.hog-editor {
    .border {
        border-radius: var(--radius);
        .monaco-editor {
            border-radius: inherit;
            .overflow-guard {
                border-radius: inherit;
            }
        }
    }
}
