.SessionRecordingPlayerExplorer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    overflow: hidden;

    .SessionRecordingPlayerExplorer__wrapper {
        flex: 1;
        padding: 0.5rem;
        overflow: hidden;
        background-color: var(--text-3000);
        border: 1px solid var(--border);

        .SessionRecordingPlayerExplorer__iframe {
            transform-origin: top left;
        }
    }
}
