@import '../../styles/mixins';

.dashboard-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    &.full-screen {
        margin-top: 1rem;
    }

    .dashboard-meta {
        display: flex;
        align-items: center;
        white-space: nowrap;

        .ant-btn {
            margin-left: 10px;

            .anticon {
                vertical-align: baseline;
            }

            &.button-box {
                padding: 4px 8px;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .dashboard-meta {
            justify-content: flex-end;
            padding-top: 1rem;
        }
    }
}

.DashboardTemplates__option {
    border: 1px solid var(--border);

    &:hover {
        border-color: var(--primary-3000-hover);
    }
}
