@import '~/vars';

.dashboard-item-header {
    padding-top: $default_spacing * 2;
    padding-bottom: 12px;

    .header-container {
        display: flex;
        justify-content: space-between;
        padding-top: $default_spacing;
        padding-bottom: $default_spacing;
        padding-left: 9px;
        background: white;

        .title-description {
            flex-direction: column;
            width: 100%;
            svg {
                color: $warning;
                font-size: 18px;
                margin-right: 6px;
            }
        }

        .save-btn {
            svg {
                color: white;
            }
        }
    }
    .description {
        .description-box {
            padding-left: $default_spacing * 2;
            padding-top: 6px;
        }

        .edit-box {
            padding-top: $default_spacing;
        }
    }
}
