.Dashboard_filters {
    position: sticky;
    top: var(--breadcrumbs-height-compact);
    z-index: 10;
    padding: 0.5rem 0;
    background: var(--color-background);
}

.dashboard .page-caption {
    margin-bottom: 0;
}
