@import '../../styles/mixins';

.EmptyDashboard {
    position: relative;
    .EmptyDashboard__fade {
        margin-top: 1rem;
        height: 150px;
        overflow: hidden;
        position: relative;

        &::after {
            @extend %mixin-gradient-overlay;
            width: calc(100% - 16px); // .ant-row gutter
            left: 8px;
            height: 150px;
        }
    }

    .EmptyDashboard__cta {
        width: 360px;
        max-width: calc(100% - 32px);
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: var(--z-content-overlay);
    }
}
