.NewDashboardModal {
    .DashboardTemplateChooser {
        max-width: 780px;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em 0.5em;
        display: grid;
    }

    .TemplateItem {
        width: 240px;
        height: 210px;
    }
}
