@import '../../styles/mixins';

.Insight {
    .retention-date-picker {
        background-color: transparent;
        border: 0;

        input::placeholder {
            color: var(--default);
        }
    }
}
