@import '~/vars';

.insights-page {
    .top-bar {
        .ant-tabs,
        .ant-tabs-nav-list {
            width: 100%;
        }
        .ant-btn-loading-icon {
            display: none;
        }
    }
    hr {
        margin: 1rem 0;
    }

    .hotkey {
        margin-bottom: 0;
        background-color: rgba($primary, 0.1) !important;
        border-color: rgba($primary, 0.1) !important;
    }

    .ant-tabs-tab:not(.ant-tabs-tab-active):hover {
        .hotkey {
            background-color: rgba($primary, 0.2) !important;
        }
    }

    .insight-controls {
        overflow: visible;
    }

    .insights-graph-container {
        .ant-card-head {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }

    &.horizontal-ui {
        .top-bar {
            .ant-tabs-tab {
                padding: 0; // More compact tabs to save vertical space
            }
        }

        .insight-controls {
            margin-bottom: $default_spacing / 2;
            border: 1px solid $border_light;
            .ant-card-body {
                padding: $default_spacing * 0.8 $default_spacing;
            }
        }

        .insights-graph-container {
            .ant-card-head {
                min-height: unset;
                @extend .mixin-elevated;
                background-color: rgba(0, 0, 0, 0.02);
                border: 1px solid $border_light;
                padding-right: $default_spacing / 4;

                @media screen and (max-width: $md) {
                    padding-left: $default_spacing / 4;
                }

                .ant-card-head-title {
                    padding: $default_spacing / 2 0;
                }
            }

            .display-config-inner {
                display: flex;
                align-items: center;

                @media screen and (max-width: $md) {
                    overflow-x: auto;
                }
            }
        }
    }

    .retention-date-picker {
        background-color: transparent;
        border: 0;
        input::placeholder {
            color: $text_default;
        }
    }
}

.insight-empty-state {
    padding-top: $default_spacing * 2;
    padding-bottom: $default_spacing * 2;
    &.error-message {
        .illustration-main {
            color: $danger;
        }

        h3 {
            color: $danger;
        }
    }

    &.timeout-message {
        .illustration-main {
            color: $warning;
        }

        h3 {
            color: $warning;
        }
    }

    .illustration-main {
        font-size: 3rem;
        line-height: 1em;
        text-align: center;
        margin-bottom: 1rem;
    }

    h3 {
        text-align: center;
    }

    ol {
        margin-top: $default_spacing / 2;
    }
}
