.graph-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.actions-graph {
    .top-bar {
        .ant-tabs,
        .ant-tabs-nav-list {
            width: 100%;
        }
        .ant-btn-loading-icon {
            display: none;
        }
    }
    hr {
        margin: 1rem 0;
    }
}
