@import '~/vars';

.home-module-carousel-container {
    width: 1200px;
    @media only screen and (min-width: 2000px) {
        width: 1600px;
    }
    @media only screen and (max-width: 1400px) {
        width: 850px;
    }
    @media only screen and (max-width: 1000px) {
        width: 600px;
    }

    @media only screen and (max-width: 700px) {
        max-width: 315px;
    }
}

.insight-chart-tile {
    border-radius: 12px;
    background-color: $bg_light;
    .dashboard-item {
        width: 250px;
        height: 225px;
        border: 1px solid $hc_navy;
    }
    .dashboard-item-footer {
        margin-left: 10px;
        margin-bottom: 2px;
    }
}

.lesson-title {
    color: $text_light;
}

.insight-tooltip {
    color: $text_light;
    padding: 3px;
}

.lesson-card {
    text-align: center;
    align-items: center;
    background-image: $night_sky;
    border-radius: 12px;
    height: 200px;
    width: 275px;
    max-width: 275px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
        background-image: $sky;
        .lesson-title {
            color: $hc_navy;
        }
    }
    @media only screen and (min-width: 700px) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .ant-layout-footer {
        padding: 2px !important;
    }
}

/**
/ Make the arrows show up on carousels.
 */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: unset !important;
    font-size: unset !important;
    top: 45% !important;
    @media only screen and (min-width: 1800px) {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    color: unset !important;
}

.lesson-image {
    border-radius: 6px;
    border: 1px solid $hc_navy;
}

.insight-container {
    margin: 5px;
    padding: 2px;
    text-align: center;
}

.thumbnail-tile-install {
    background-image: $sky;
    border-radius: 6px;
    &:hover {
        background-image: none;
        background-color: $hc_yellow;
        cursor: pointer;
        .anticon-rocket {
            transform: rotate(45deg);
        }
    }
}

.thumbnail-tile-default {
    background-image: $night_sky;
    border-radius: 6px;
    &:hover {
        background-image: $sky;
        cursor: pointer;
    }
}

.insight-text {
    text-align: center;
    color: $text_muted_alt;
}

.home-module-card {
    padding: 5px;
    border-radius: 6px;
    background-color: $bg_light;
}
