@import '~/vars';

.home-page {
    .carousel-container {
        width: 1200px;
        @media only screen and (max-width: $xl) {
            width: 850px;
        }
        @media only screen and (max-width: $lg) {
            width: 600px;
        }
        @media only screen and (max-width: $md) {
            width: 450px;
        }
        @media only screen and (max-width: $sm) {
            max-width: 315px;
        }
    }

    .section-card {
        padding: 5px;
        border-radius: 6px;
        background-color: $bg_light;
    }

    .insight-chart-tile {
        border-radius: 12px;
        background-color: $bg_light;

        .dashboard-item {
            width: 250px;
            height: 225px;
            border: 1px solid $hc_navy;
        }

        .dashboard-item-footer {
            margin-left: 10px;
            margin-bottom: 2px;
        }
    }

    .lesson-title {
        color: $text_light;
    }

    .lesson-card {
        text-align: center;
        align-items: center;
        background-image: $night_sky;
        border-radius: 12px;
        min-height: 200px;
        height: 200px;
        width: 275px;
        max-width: 275px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            background-image: $sky;

            .lesson-title {
                color: $hc_navy;
            }
        }

        @media only screen and (min-width: 700px) {
            margin-left: 10px;
            margin-right: 10px;
        }

        .ant-layout-footer {
            padding: 2px !important;
        }
    }

    /**
  / Make the arrows show up on carousels.
  */
    .ant-carousel .slick-prev,
    .ant-carousel .slick-next {
        color: unset !important;
        font-size: unset !important;
        top: 45% !important;
        @media only screen and (min-width: 1800px) {
            margin-left: 10px !important;
            margin-right: 10px !important;
        }
    }
    .slick-prev::before,
    .slick-next::before {
        display: none;
    }

    .ant-carousel .slick-prev:hover,
    .ant-carousel .slick-next:hover,
    .ant-carousel .slick-prev:focus,
    .ant-carousel .slick-next:focus {
        color: unset !important;
    }

    .lesson-image {
        border-radius: 6px;
        border: 1px solid $border_light;
        height: 100%;
        display: block;
        &:hover {
            cursor: pointer;
            border: 1px solid $primary;
        }
    }

    .lesson-list-item {
        margin: 5px 10px !important;
    }

    .lesson-image-holder {
        height: 250px;
    }

    .insight-container {
        margin: 5px;
        padding: 2px;
        text-align: center;
    }

    .insight-text {
        text-align: center;
        color: $text-default;
        margin-top: 3px;
    }
    .thumbnail-tile-install {
        background-image: $sky;
        border-radius: 6px;

        &:hover {
            background-image: none;
            background-color: $hc_yellow;
            cursor: pointer;

            .anticon-rocket {
                transform: rotate(45deg);
            }
        }
    }

    .thumbnail-tile-default {
        background-color: $primary;
        border-radius: 6px;

        &:hover {
            background-color: $primary-alt;
            cursor: pointer;
        }
    }

    .history-panel-container {
        height: 100%;
        max-height: 625px;
        width: fit-content;
        max-width: 1000px;
        overflow: scroll;
        .dashboard-item {
            border: 0.2px solid $border-light;
        }
        @media only screen and (max-width: $lg) {
            max-width: 900px;
        }
        @media only screen and (max-width: $md) {
            max-width: 600px;
        }
        @media only screen and (max-width: $sm) {
            max-width: 315px;
        }
        @media only screen and (max-height: $lg) {
            max-height: 450px;
        }
    }
}
