# If a file is set here, then PRs will require that team's approval to get that code merged.

# Own all .py files under session recordings
posthog/session_recordings/**/*.py @PostHog/team-replay
ee/session_recordings/**/*.py @PostHog/team-replay

# Own everything in mobile replay (all file types)
ee/frontend/mobile-replay @PostHog/team-replay