# If a file is set here, then PRs will require that team's approval to get that code merged.

# Replay team...
posthog/session_recordings/ @PostHog/team-replay
ee/session_recordings/ @PostHog/team-replay
ee/frontend/mobile-replay @PostHog/team-replay