@import '../../../styles/mixins';

$label_position_offset: 8px;
$series_container_width: 1.5rem;
$glyph_height: 23px; // Based on .funnel-step-glyph

.FunnelBarGraph {
    min-height: 100%;
    padding: 1rem;

    .InsightCard & {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .funnel-step {
        position: relative;
        padding-left: $series_container_width + 0.5rem;

        &:not(:first-child) {
            &,
            .funnel-series-container {
                padding-top: 0.75rem;
            }
        }

        .graph-series-glyph {
            z-index: 2;
        }

        .funnel-conversion-metadata {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .funnel-inspect-button {
                line-height: 1.5rem;

                .value-inspector-button-icon {
                    font-size: 1.5rem;
                    margin-right: 0.25rem;
                    vertical-align: bottom;
                }
            }
        }

        .funnel-series-container {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: $series_container_width;
            display: flex;
            flex-direction: column;
            align-items: center;

            .graph-series-glyph {
                user-select: none;
            }

            .funnel-series-linebox {
                position: absolute;
                left: 0;
                width: calc(#{$series_container_width} / 2 + 1px);
                box-sizing: border-box;
                border-right: 2px solid var(--mid);

                &.before {
                    top: 0;
                    height: calc(#{$glyph_height} / 2);
                }

                &.after {
                    bottom: 0;
                    top: calc(#{$glyph_height} / 2);
                    height: calc(100% - #{$glyph_height} / 2);
                }
            }
        }

        .funnel-step-metadata {
            // .funnel-step-metadata reusable class for components that contain metadata for the funnel (e.g. time to convert or conversion steps)
            display: flex;
            flex-wrap: wrap;
        }

        header,
        footer {
            line-height: $glyph_height;
            display: flex;
            align-items: center;
        }

        header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;

            .funnel-step-title {
                @extend %mixin-text-ellipsis;

                font-weight: bold;
            }

            button {
                margin-left: 0.375rem;
            }
        }
    }

    .funnel-bar-wrapper {
        height: 32px;
        margin: 4px 0;
        background-color: var(--funnel-background);
        border-radius: 4px;
        display: flex;
        flex-direction: row;

        .funnel-bar {
            position: relative;
            height: 100%;
            background: var(--primary-3000);
            transition: width 0.2s ease, height 0.2s ease;

            &.first {
                border-radius: 4px 0 0 4px;
            }

            &.last {
                border-radius: 0 4px 4px 0;
            }

            &.only {
                border-radius: 4px;
            }

            .funnel-bar-percentage {
                position: absolute;
                top: 8px;
                line-height: 16px;
                font-weight: bold;
                color: #fff;

                &.inside {
                    right: $label_position_offset;
                }

                &.outside {
                    left: calc(100% + #{$label_position_offset});
                    color: var(--primary-3000);
                }
            }
        }
    }
}
