.scene-layout {
    container-name: scenelayout;
    container-type: size;
    min-height: calc(100vh - var(--scene-layout-header-height));
}

.scene-layout__content-panel {
    z-index: var(--z-top-navigation);
    width: var(--scene-layout-panel-width);
    border-color: var(--border-primary);
    border-style: solid;
    border-width: 0 0 0 1px;
}
