.scene-tab-active-indicator {
    position: absolute;
    right: 50%;
    bottom: -6px;
    z-index: 11;
    width: calc(100% + 22px);
    height: 12px;
    background-color: var(--scene-layout-background);
    transform: translateX(50%);
}

.scene-tab-active-indicator::before,
.scene-tab-active-indicator::after {
    position: absolute;
    bottom: 1px;
    width: 12px;
    height: 12px;
    content: '';
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-border);
}

.scene-tab-active-indicator::before {
    left: -0.5px;
    border-right: 1px solid var(--color-border);
    border-radius: 0 0 100%;
}

.scene-tab-active-indicator::after {
    right: -0.5px;
    border-left: 1px solid var(--color-border);
    border-radius: 0 0 0 100%;
}

.scene-tab-active-indicator--first {
    right: -11px;
    width: calc(100% + 11px);
    border-left: 1px solid var(--color-border);
    transform: none;

    &::before {
        display: none;
    }
}

.scene-tab--pinned {
    min-width: 36px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.scene-tab--pinned .scene-tab-title {
    display: none;
}
