.scene-layout {
    --scene-layout-is-relative: 1000px;
    --scene-layout-panel-info-width: 200px;
    container-name: scene-layout;
}

.scene-layout__content {
    display: flex;
    flex-direction: column;

    &.scene-layout__content--has-panel {
        @container scene-layout (min-width: var(--scene-layout-is-relative)) {
            display: grid;
            grid-template-columns: calc(100% - var(--scene-layout-panel-info-width)) var(--scene-layout-panel-info-width);
        }
    }
}

.scene-layout__content-panel {
    border-left: 1px solid var(--primary);
    width: var(--scene-layout-panel-info-width);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;

    @container scene-layout (max-width: var(--scene-layout-is-relative)) {
        position: relative;
        border-left: none;
        border-top: 1px solid var(--primary);
        border-right: 1px solid var(--primary);
        border-bottom: 1px solid var(--primary);
    }
}