.scene-tab-active-indicator {
    position: absolute;
    right: 50%;
    bottom: -6px;
    z-index: 11;
    width: calc(100% + 22px);
    height: 12px;
    background-color: var(--color-bg-primary);
    transform: translateX(50%);
}

.scene-tab-active-indicator::before,
.scene-tab-active-indicator::after {
    position: absolute;
    content: '';
    bottom: 0.2px;
    width: 12px;
    height: 12px;
    background-color: var(--color-bg-surface-tertiary);
    border-bottom: 1px solid var(--color-border-primary);
}

.scene-tab-active-indicator::before {
    left: 0.1px;
    border-right: 1px solid var(--color-border-primary);
    border-radius: 0 0 100%;
}

.scene-tab-active-indicator::after {
    right: 0.1px;
    border-left: 1px solid var(--color-border-primary);
    border-radius: 0 0 0 100%;
}

.scene-tab--pinned {
    min-width: 36px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.scene-tab--pinned .scene-tab-title {
    display: none;
}
