@import '../../../../styles/mixins';

.dashboard-wrapper {
    width: 100%;
    height: calc(100% - 2rem);
}

.histogram-container {
    display: flex;

    svg {
        margin-left: 1rem;
        margin-right: 1rem;

        /*
         * Axis
         */
        g#y-axis {
            .domain {
                stroke: var(--funnel-axis);
            }
        }

        g#x-axis {
            .domain {
                stroke: var(--funnel-axis);
            }
        }

        g#x-axis,
        g#y-axis {
            text {
                font-size: 11px;
                fill: var(--funnel-axis-label);

                @include screen($md) {
                    font-size: 13px;
                }
            }
        }

        /*
         * Grid
         */
        g#y-gridlines {
            stroke-dasharray: 4, 2;

            g.tick:not(:first-child) {
                color: var(--funnel-grid);
            }

            .domain,
            g.tick:nth-of-type(1) {
                display: none; // hide axis line
            }
        }

        /*
         * Bars
         */
        g#bars {
            fill: var(--funnel-default);
        }

        g#labels {
            text.bar-label {
                font-size: 14px;
                font-weight: 500;
                fill: var(--white);
                &.outside {
                    fill: var(--funnel-axis-label);
                }
            }
        }
    }
}
