*
!.devcontainer
!.kearc
!.storybook
!babel.config.js
!bin
!ee
!eslint-rules
!frontend/@posthog
!frontend/*.*
!frontend/public
!frontend/src
!frontend/types
!gunicorn.config.py
!hogvm
!manage.py
!package.json
!patches
!playwright.config.ts
!plugin-server
!plugin-server/.eslintrc.js
!plugin-server/.prettierrc
!plugin-server/package.json
!plugin-server/pnpm-lock.yaml
!plugin-server/src
!plugin-server/tsconfig.eslint.json
!plugin-server/tsconfig.json
!plugin-transpiler/*.*
!plugin-transpiler/src
!pnpm-lock.yaml
!pnpm-workspace.yaml
!posthog
!posthog.json
!requirements-dev.txt
!requirements.txt
!rust
!share/GeoLite2-City.mmdb
!staticfiles
!tailwind.config.js
!test-runner-jest-environment.js
!test-runner-jest.config.js
!tsconfig.json
!unit.json.tpl
!webpack.config.js
rust/.env
rust/.github
rust/cyclotron-node/dist
rust/cyclotron-node/index.node
rust/cyclotron-node/node_modules
rust/docker
rust/target
