*
!bin
!requirements.txt
!requirements-dev.txt
!posthog
!plugins
!staticfiles
!manage.py
!gunicorn.config.py
!babel.config.js
!posthog.json
!package.json
!yarn.lock
!webpack.config.js
!postcss.config.js
!.kearc
!tsconfig.json
!frontend/src
!frontend/types
!frontend/public
!frontend/*.*
!ee
