*
!bin
!requirements.txt
!requirements-dev.txt
!posthog
!plugin-server
!staticfiles
!manage.py
!gunicorn.config.py
!babel.config.js
!posthog.json
!package.json
!yarn.lock
!webpack.config.js
!postcss.config.js
!.kearc
!tsconfig.json
!frontend/@posthog
!frontend/src
!frontend/types
!frontend/public
!frontend/*.*
!ee
!.devcontainer
!plugin-server/package.json
!plugin-server/yarn.lock
!plugin-server/tsconfig.json
!plugin-server/tsconfig.eslint.json
!plugin-server/src
!plugin-server/.eslintrc.js
!plugin-server/.prettierrc
!share/GeoLite2-City.mmdb