#!/usr/bin/env bash

# This is intented to be used with direnv: https://direnv.net/

# It's just so I can have my env setup when cding to this dir, i.e. being able
# to run psql with no additional args, being able to run ./manage.py runserver
# without having to do any further setup etc.

# It's doing a couple of things:
#
#   1. sources nix, which installs things like postgresql, redis etc that I like
#      to run locally
#   2. sets up env vars by sourcing .env
#
# It's not doing anything with python env atm but certainly could. I had some
# issues with xmlsec however when trying to get it to work, specifically with
# icu4c when compiling.

use_nix

dotenv .env
