**/__snapshots__/**/*.snap
**/*.d.ts
**/*LogicType.ts
**/.eslintrc.js
common/hogvm/__tests__/__snapshots__
common/hogvm/__tests__/**/__snapshots__/**/*
common/hogvm/typescript
common/hogvm/typescript/dist
common/hogvm/typescript/jest.config.js
common/plugin_transpiler
common/plugin_transpiler/build.mjs
common/plugin_transpiler/dist
cypress/cypress.e2e.config.ts
**/jest.config.ts
**/livestream
**/node_modules
**/plugin-server
**/rust