[flake8]
application-import-names = posthog
import-order-style = pycharm

max-line-length = 127
max-complexity = 10

select=E9,F63,F7,F82,W605,T001,T002,T003,T004

exclude =
    .git,
    ./plugin-server/node_modules/
    ./plugins/node_modules/
    ./env

per-file-ignores =
    ./cypress/wait.py: T001
    ./docker-compose-config.py: T001
    ./ee/clickhouse/client.py: T001
    ./ee/clickhouse/generate_local.py: T001
    ./ee/management/commands/migrate_clickhouse.py: T001
    ./ee/management/commands/run_async_migrations.py: T001
    ./gunicorn.config.py: T001
    ./posthog/api/capture.py: T001
    ./posthog/apps.py: T001
    ./posthog/celery.py: T001
    ./posthog/email.py: T001
    ./posthog/management/commands/api_keys.py: T001
    ./posthog/management/commands/merge_distinct_emails.py: T001
    ./posthog/management/commands/migrate_elementgroup.py: T001
    ./posthog/management/commands/notify_helm_install.py: T001 T003
    ./posthog/management/commands/partition.py: T001
    ./posthog/management/commands/sync_feature_flags.py: T001
    ./posthog/management/commands/test_migrations_are_null.py: T001
    ./posthog/migrations/0027_move_elements_to_group.py: T001
    ./posthog/migrations/0038_migrate_actions_to_precalculate_events.py: T001
    ./posthog/models/plugin.py: T001
    ./posthog/settings/overrides.py: T001
    ./posthog/utils.py: T001
