venv
env
.venv
*.pyc
__pycache__/
staticfiles
.env
settings.yml
.DS_Store
debug.log
*.swp
*.swo
node_modules/
*.code-workspace
node_modules
.mypy_cache
frontend/.cache/
frontend/dist/
# Paid font
frontend/public/Matter*.woff*
frontend/types/
frontend/__snapshots__/__diff_output__/
frontend/__snapshots__/__failures__/
*Type.ts
frontend/pnpm-error.log
frontend/tmp
**/*.tsbuildinfo
.idea
celerybeat-schedule
celerybeat.pid
pnpm-error.log
.yalc
yalc.lock
.vscode/*
!.vscode/launch.json
cypress/screenshots/
cypress/downloads/
cypress/**/*.diff.png
docker-compose.prod.yml
# pyenv local config
.python-version
*.isorted
build-storybook.log
storybook-static
ee/benchmarks/results
.coverage
coverage-*.xml
object_storage/
__emails__
share/GeoLite2-City.mmdb
a11y/
/test-results/
/playwright-report/
playwright/e2e-vrt/**/*-darwin.png
# ANTLR-generated temp files when "npm run grammar:build" crashes
gen/
# Local files generated for the ANTLR VS Code extension (https://github.com/mike-lischke/vscode-antlr4)
.antlr
upgrade/
hogvm/typescript/dist
hogvm/typescript/.parcel-cache
.wokeignore
plugin-transpiler/dist
*-esbuild-meta.json
*-esbuild-bundle-visualization.html
.dlt
*.db
# Ignore any log files that happen to be present
*.log