{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "tailwindStylesheet": "./common/tailwind/tailwind.css",
    "tailwindFunctions": ["twMerge", "clsx", "cn"],
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "~/styles$",
        "\\.s?css$",
        "<THIRD_PARTY_MODULES>",
        "^@posthog.*$",
        "^lib/(.*)$|^scenes/(.*)$",
        "^~/(.*)$",
        "^public/(.*)$",
        "^products/(.*)$",
        "^storybook/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
