venv
env
.venv
__pycache__/
staticfiles
.env
*.code-workspace
.mypy_cache
.cache/
*Type.ts
.idea
.yalc
.python-version
storybook-static
common/storybook/dist/
dist/
node_modules/
pnpm-lock.yaml
posthog/templates/**/*
common/hogvm/typescript/src/stl/bytecode.ts
common/hogvm/__tests__/__snapshots__/*
rust/
livestream/
cli/target/
cli/tests/_cases/**/*
frontend/src/products.tsx
frontend/src/products.json
frontend/src/layout.html
**/fixtures/**
services/mcp/schema/**/*
services/mcp/python/**/*
services/mcp/**/generated.ts
services/mcp/typescript/worker-configuration.d.ts
frontend/src/taxonomy/core-filter-definitions-by-group.json
frontend/dist/
frontend/**/*LogicType.ts