venv
env
.venv
__pycache__/
staticfiles
.env
*.code-workspace
.mypy_cache
*Type.ts
.idea
.yalc
.python-version
storybook-static
common/storybook/dist/
dist/
node_modules/
pnpm-lock.yaml
posthog/templates/email/*
posthog/templates/**/*.html
common/hogvm/typescript/src/stl/bytecode.ts
common/hogvm/__tests__/__snapshots__/*
rust/
livestream/
cli/target/
cli/tests/_cases/**/*
frontend/src/products.tsx
frontend/src/layout.html