appnope==0.1.0
asgiref==3.2.3
backcall==0.1.0
backoff==1.6.0
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
dj-database-url==0.5.0
Django==3.0.3
django-cors-headers==3.2.1
django-loginas==0.3.8
django-stubs==1.4.0
djangorestframework==3.11.0
djangorestframework-stubs==1.1.0
drf-yasg==1.17.0
freezegun==0.3.14
gunicorn==20.0.4
idna==2.8
ipdb==0.12.2
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.16.0
monotonic==1.5
mypy==0.761
mypy-extensions==0.4.3
numpy==1.18.1
pandas==1.0.0
parso==0.6.1
pexpect==4.7.0
pickleshare==0.7.5
posthoganalytics==1.0.8
prompt-toolkit==2.0.10
psycopg2==2.8.4
psycopg2-binary==2.8.4
ptyprocess==0.6.0
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
sentry-sdk==0.14.1
six==1.14.0
sqlparse==0.3.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
uuid==1.30
wcwidth==0.1.8
whitenoise==5.0.1
