# In order to add, delete or modify a dependency, please update
# the reference here and then run:
#
# - `uv pip compile requirements.in -o requirements.txt`
# - `uv pip compile requirements-dev.in -o requirements-dev.txt`
#
# Make sure we use production deps for constraining installed dev packages. This
# is important as otherwise we could be running tests with different versions
# than production.
#

-c requirements.txt

ruff~=0.6.1
mypy~=1.11.1
mypy-baseline~=0.7.0
mypy-extensions==1.0.0
datamodel-code-generator==0.25.6
djangorestframework-stubs~=3.14.5
django-stubs==5.0.4
Faker==17.5.0
fakeredis[lua]==2.23.3
freezegun==1.2.2
inline-snapshot==0.12.*
packaging==24.1
black~=23.9.1
boto3-stubs[s3]
types-markdown==3.3.9
types-PyMySQL==1.1.0.20240524
types-PyYAML==6.0.1
types-freezegun==1.1.10
types-paramiko==3.4.0.20240423
types-python-dateutil>=2.8.3
types-pytz==2023.3
types-redis==4.3.20
types-retry==0.9.9.4
types-requests==2.26.1
types-tzlocal~=5.1.0.1
parameterized==0.9.0
pytest==7.4.4
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-env==0.8.2
pytest-icdiff==0.6
pytest-mock==3.11.1
pytest-split==0.8.1
pytest-watch==4.2.0
pytest-xdist==3.6.1
python-dateutil>=2.8.2
responses==0.23.1
syrupy~=4.6.0
watchdog==2.1.8
flaky==3.7.0
aioresponses==0.7.6
prance==23.06.21.0
openapi-spec-validator==0.7.1 # Needed for prance as a validation backend
