# In order to add, delete or modify a dependency, please update
# the reference here and then run:
#
# - `pip-compile --rebuild requirements.in`
# - `pip-compile --rebuild requirements-dev.in`
#
antlr4-python3-runtime==4.11.1
amqp==2.6.0
boto3==1.26.66
celery==4.4.7
celery-redbeat==2.0.0
clickhouse-driver==0.2.4
clickhouse-pool==0.5.3
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.2.18
django-axes==5.9.0
django-cors-headers==3.5.0
django-deprecate-fields==0.1.1
django-extensions==3.1.2
django-filter==2.4.0
django-loginas==0.3.9
django-picklefield==3.0.1
django-prometheus==2.2.0
django-redis==5.2.0
django-statsd==2.5.2
django-structlog==2.1.3
djangorestframework==3.14.0
djangorestframework-csv==2.1.1
djangorestframework-dataclasses==1.2.0
dnspython==2.2.1
drf-exceptions-hog==0.4.0
drf-extensions==0.7.0
drf-spectacular==0.24.2
geoip2==4.6.0
google-cloud-sqlcommenter==2.0.0
gunicorn==20.1.0
idna==2.8
importlib-metadata==1.6.0
infi-clickhouse-orm@ git+https://github.com/PostHog/infi.clickhouse_orm@37722f350f3b449bbcd6564917c436b0d93e796f
kafka-python==2.0.2
kafka-helper==0.2
kombu==4.6.10
lzstring==1.0.4
numpy==1.23.3
parso==0.8.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.2.0
posthoganalytics==3.0.1
prance==0.22.2.22.0
psycopg2-binary==2.8.6
pydantic==1.10.4
pyjwt==2.4.0
python-dateutil>=2.8.2
python3-saml==1.12.0
pytz==2021.1
redis==4.5.4
requests==2.31.0
requests-oauthlib==1.3.0
selenium==4.1.5
sentry-sdk==1.14.0
semantic_version==2.8.5
slack_sdk==3.17.1
social-auth-app-django==5.0.0
social-auth-core==4.3.0
statshog==1.0.6
sqlparse==0.4.4
temporalio==1.1.0
token-bucket==0.3.0
toronado==0.1.0
webdriver_manager==3.8.5
whitenoise==5.2.0
mimesis==5.2.1
more-itertools==9.0.0
django-two-factor-auth==1.14.0
phonenumberslite==8.13.6
