.Playlist {
    .Playlist__main {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &--wide {
        .Playlist__main {
            flex: 1;
            height: 100%;
        }
    }
}

.NotebookNode__box .Playlist__list {
    border-right: 1px solid var(--color-border-primary);
}

.SessionRecordingPlaylistHeightWrapper {
    // NOTE: Replay scene height is very tightly controlled to make sure controls are always on-screen
    height: calc(100vh - 7rem);
    min-height: 25rem;
}

.SessionRecordingPreview {
    border-left: 3px solid transparent;

    &--active {
        border-left-color: var(--color-accent);
    }

    &:hover {
        background-color: var(--color-accent-highlight-secondary);
    }
}
