@import '~/vars';

.feature-flag {
    .enabled-switch {
        margin-right: $default_spacing !important;

        .ant-form-item-control-input-content {
            flex-direction: row;
            align-items: center;
            display: flex;
        }

        .ant-form-item-label {
            padding: 0;
            padding-right: 4px;
        }
    }
}

.variant-form-list {
    .ant-form-item {
        min-height: 32px;
    }
    .label-row {
        margin-bottom: 4px;
        font-weight: 700;

        .ant-col {
            min-height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
