.GroupOverviewCard {
    background: var(--bg-surface-primary);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius);
}

.GroupOverviewCardMeta {
    position: relative;
    z-index: var(--z-raised); // Elevate above viz
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    max-height: calc(100% - 2rem);
    background: var(--bg-surface-primary);
    border-radius: var(--radius);

    .GroupOverviewCardMeta__primary {
        display: flex;
        width: 100%;
        padding: 1rem;
    }

    .GroupOverviewCardMeta__divider {
        height: 1px;
        margin: 0 1rem;
        background: var(--border-primary);
        opacity: 0;
        transition: opacity 200ms ease;
    }
    h4 {
        height: 1.5em;
        margin-bottom: 0.125rem;
        overflow: hidden;
        font-size: 1rem;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.GroupOverviewCardContent {
    padding: 0.5rem;
}
