.ActionFilter {
    > * + * {
        margin-top: 0.5rem;
    }

    // .ActionFilterRow {
    //     &:not(:last-child) {
    //         margin-bottom: 0.5rem;
    //     }
    // }

    .ActionFilterRow-filters {
        margin: 0.5rem 0;
    }

    &.ActionFilter--bordered {
        border-radius: var(--radius);
        border: 1px solid var(--border);

        .ActionFilterRow {
            margin-bottom: 0;

            .ActionFilterRow-content {
                margin-bottom: 0px;
                padding: 1rem;
                border-bottom: 1px solid var(--border);
            }
        }

        .ActionFilter-footer {
            padding: 0.5rem;
        }

        .ActionFilterRow-filters {
            background-color: var(--side);
            border-bottom: 1px solid var(--border);
        }
    }
}
