{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Send Usage Report" class="default" name="_send_report">
        </div>
    </form>
</div>
{% endblock %}