/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:44
  	*/

@font-face {
    font-family: 'Flaticon';
    src: url('./Flaticon.eot');
    src: url('./Flaticon.eot?#iefix') format('embedded-opentype'),
        url('./Flaticon.woff') format('woff'),
        url('./Flaticon.ttf') format('truetype'),
        url('./Flaticon.svg#Flaticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Flaticon';
        src: url('./Flaticon.svg#Flaticon') format('svg');
    }
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-add:before {
    content: '\f100';
}
.flaticon-basket:before {
    content: '\f101';
}
.flaticon-bookmark:before {
    content: '\f102';
}
.flaticon-broken-link:before {
    content: '\f103';
}
.flaticon-checked:before {
    content: '\f104';
}
.flaticon-checked-1:before {
    content: '\f105';
}
.flaticon-checked-2:before {
    content: '\f106';
}
.flaticon-click:before {
    content: '\f107';
}
.flaticon-close:before {
    content: '\f108';
}
.flaticon-close-1:before {
    content: '\f109';
}
.flaticon-coin:before {
    content: '\f10a';
}
.flaticon-coins:before {
    content: '\f10b';
}
.flaticon-compress:before {
    content: '\f10c';
}
.flaticon-cursor:before {
    content: '\f10d';
}
.flaticon-cursor-1:before {
    content: '\f10e';
}
.flaticon-cursor-2:before {
    content: '\f10f';
}
.flaticon-down-arrow:before {
    content: '\f110';
}
.flaticon-down-arrow-1:before {
    content: '\f111';
}
.flaticon-download:before {
    content: '\f112';
}
.flaticon-download-1:before {
    content: '\f113';
}
.flaticon-download-2:before {
    content: '\f114';
}
.flaticon-download-3:before {
    content: '\f115';
}
.flaticon-download-4:before {
    content: '\f116';
}
.flaticon-edit:before {
    content: '\f117';
}
.flaticon-expand:before {
    content: '\f118';
}
.flaticon-export:before {
    content: '\f119';
}
.flaticon-folder:before {
    content: '\f11a';
}
.flaticon-forbidden:before {
    content: '\f11b';
}
.flaticon-head:before {
    content: '\f11c';
}
.flaticon-headphones:before {
    content: '\f11d';
}
.flaticon-home:before {
    content: '\f11e';
}
.flaticon-inbox:before {
    content: '\f11f';
}
.flaticon-left-arrow:before {
    content: '\f120';
}
.flaticon-left-arrow-1:before {
    content: '\f121';
}
.flaticon-left-arrow-2:before {
    content: '\f122';
}
.flaticon-levels:before {
    content: '\f123';
}
.flaticon-levels-1:before {
    content: '\f124';
}
.flaticon-link:before {
    content: '\f125';
}
.flaticon-list:before {
    content: '\f126';
}
.flaticon-login:before {
    content: '\f127';
}
.flaticon-login-1:before {
    content: '\f128';
}
.flaticon-mail:before {
    content: '\f129';
}
.flaticon-move:before {
    content: '\f12a';
}
.flaticon-musical-note:before {
    content: '\f12b';
}
.flaticon-muted:before {
    content: '\f12c';
}
.flaticon-next:before {
    content: '\f12d';
}
.flaticon-next-1:before {
    content: '\f12e';
}
.flaticon-next-2:before {
    content: '\f12f';
}
.flaticon-next-3:before {
    content: '\f130';
}
.flaticon-padlock:before {
    content: '\f131';
}
.flaticon-padlock-1:before {
    content: '\f132';
}
.flaticon-paper-clip:before {
    content: '\f133';
}
.flaticon-previous:before {
    content: '\f134';
}
.flaticon-previous-1:before {
    content: '\f135';
}
.flaticon-previous-2:before {
    content: '\f136';
}
.flaticon-push-pin:before {
    content: '\f137';
}
.flaticon-refresh:before {
    content: '\f138';
}
.flaticon-reload:before {
    content: '\f139';
}
.flaticon-repeat:before {
    content: '\f13a';
}
.flaticon-repeat-1:before {
    content: '\f13b';
}
.flaticon-repeat-2:before {
    content: '\f13c';
}
.flaticon-repeat-3:before {
    content: '\f13d';
}
.flaticon-right-arrow:before {
    content: '\f13e';
}
.flaticon-right-arrow-1:before {
    content: '\f13f';
}
.flaticon-search:before {
    content: '\f140';
}
.flaticon-send:before {
    content: '\f141';
}
.flaticon-settings:before {
    content: '\f142';
}
.flaticon-share:before {
    content: '\f143';
}
.flaticon-shield:before {
    content: '\f144';
}
.flaticon-shuffle:before {
    content: '\f145';
}
.flaticon-shuffle-1:before {
    content: '\f146';
}
.flaticon-sort:before {
    content: '\f147';
}
.flaticon-speaker:before {
    content: '\f148';
}
.flaticon-speech-bubble:before {
    content: '\f149';
}
.flaticon-speech-bubble-1:before {
    content: '\f14a';
}
.flaticon-speech-bubble-2:before {
    content: '\f14b';
}
.flaticon-speech-bubble-3:before {
    content: '\f14c';
}
.flaticon-sticker:before {
    content: '\f14d';
}
.flaticon-target:before {
    content: '\f14e';
}
.flaticon-telephone:before {
    content: '\f14f';
}
.flaticon-telephone-1:before {
    content: '\f150';
}
.flaticon-transfer:before {
    content: '\f151';
}
.flaticon-transfer-1:before {
    content: '\f152';
}
.flaticon-transfer-2:before {
    content: '\f153';
}
.flaticon-up-arrow:before {
    content: '\f154';
}
.flaticon-up-arrow-1:before {
    content: '\f155';
}
.flaticon-up-arrow-2:before {
    content: '\f156';
}
.flaticon-upload:before {
    content: '\f157';
}
.flaticon-upload-1:before {
    content: '\f158';
}
.flaticon-upload-2:before {
    content: '\f159';
}
.flaticon-upload-3:before {
    content: '\f15a';
}
.flaticon-user:before {
    content: '\f15b';
}
.flaticon-user-1:before {
    content: '\f15c';
}
.flaticon-wrench:before {
    content: '\f15d';
}
.flaticon-zoom-in:before {
    content: '\f15e';
}
.flaticon-zoom-out:before {
    content: '\f15f';
}
