.Navbar3000 {
    border-right: 1px solid var(--border);
    flex: 0 0 3rem;
    box-sizing: content-box;

    .LemonButton {
        min-height: 2.25rem;
        padding: 0 0.375rem;
    }

    ul {
        padding: 0.5rem 0;
    }

    ul + ul {
        border-top: 1px solid var(--border);
    }

    li + li {
        margin-top: 1px;
    }
}

.Navbar3000__content {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0 0.375rem;
}
