/* This file sets theming configuration on Ant Design for PostHog. Ant uses LESS which is incompatible
with SASS, leading to duplicated config. When changing any variable here, please remember to update vars.scss too  */
@import 'antd/lib/style/themes/default.less';
@import 'antd/dist/antd.less';

@text-color: var(--default);
@text-muted: #5f5f5f;
@primary-color: #1d4aff;
@link-color: #1d4aff;
@success-color: #388600;
@warning-color: #f7a501;
@error-color: #db3707;
@font-size-base: 14px;
@heading-color: @text-color;
@text-color-secondary: #403939;
@disabled-color: @text-muted;
@border-radius-base: var(--radius);
@border-color-base: var(--border);
@body-background: var(--bg-light);
@component-background: var(--bg-light);
@layout-body-background: var(--bg-light);
@font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@table-expanded-row-bg: var(--side);

.hide-gte-lg {
    display: none !important;
    @media (max-width: @screen-lg-min) {
        display: inherit !important;
    }
}

.hide-lte-lg {
    display: none !important;
    @media (min-width: @screen-lg-min) {
        display: inherit !important;
    }
}

.hide-lte-md {
    display: none !important;
    @media (min-width: @screen-md-min) {
        display: initial !important;
    }
}
