// Primitive colors
// We shouldn't use these directly in our app, instead we should use the semantic colors below
// Note: We use SCSS -> CSS variables, so we can manipulate these variables later if needed.
// //////////////////////////////////////////////////////////
$primitive-white: white;
$primitive-black: black;
$primitive-transparent: hsl(0deg 0% 0% / 0%);
$primitive-3000: (
    25: hsl(75deg 14% 96.5%),
    50: hsl(75deg 14% 95%),
    // 100 mapped (From Figma): light background
    100: hsl(70deg 16% 93%),
    // 150 mapped (From Figma): medium accent
    150: hsl(77deg 13% 89%),
    200: hsl(78deg 13% 85%),
    // 250 mapped (From Figma): light border
    250: hsl(67deg 8% 80%),
    300: hsl(72deg 8% 76%),
    350: hsl(70deg 8% 71%),
    400: hsl(69deg 8% 65%),
    450: hsl(67deg 8% 60%),
    500: hsl(67deg 8% 55%),
);
$primitive-neutral: (
    50: hsl(0deg 0% 95%),
    100: hsl(0deg 0% 90%),
    150: hsl(0deg 0% 85%),
    200: hsl(0deg 0% 80%),
    250: hsl(0deg 0% 75%),
    300: hsl(0deg 0% 70%),
    350: hsl(0deg 0% 65%),
    400: hsl(0deg 0% 60%),
    450: hsl(0deg 0% 55%),
    500: hsl(0deg 0% 50%),
    550: hsl(0deg 0% 45%),
    600: hsl(0deg 0% 40%),
    650: hsl(0deg 0% 35%),
    700: hsl(0deg 0% 30%),
    750: hsl(0deg 0% 25%),
    800: hsl(0deg 0% 20%),
    850: hsl(0deg 0% 15%),
    900: hsl(0deg 0% 10%),
    950: hsl(0deg 0% 5%),
);
$primitive-neutral-cool: (
    50: hsl(240deg 8% 95%),
    100: hsl(232deg 8% 90%),
    200: hsl(233deg 8% 80%),
    300: hsl(230deg 8% 70%),
    400: hsl(231deg 8% 60%),
    500: hsl(231deg 8% 50%),
    600: hsl(230deg 8% 40%),
    700: hsl(230deg 8% 30%),
    800: hsl(230deg 8% 20%),
    900: hsl(240deg 8% 10%),
    950: hsl(240deg 8% 5%),
);
$primitive-stone: (
    50: hsl(60deg 9% 98%),
    100: hsl(60deg 5% 96%),
    200: hsl(20deg 6% 90%),
    300: hsl(24deg 6% 83%),
    400: hsl(24deg 5% 64%),
    500: hsl(25deg 5% 45%),
    600: hsl(24deg 5% 32%),
    700: hsl(24deg 6% 25%),
    800: hsl(25deg 7% 15%),
    900: hsl(24deg 10% 10%),
    950: hsl(20deg 14% 4%),
);
$primitive-red: (
    50: hsl(0deg 86% 97%),
    100: hsl(0deg 93% 94%),
    200: hsl(0deg 96% 89%),
    300: hsl(0deg 94% 82%),
    400: hsl(0deg 91% 71%),
    500: hsl(0deg 84% 60%),
    600: hsl(0deg 72% 51%),
    700: hsl(0deg 74% 42%),
    800: hsl(0deg 70% 35%),
    900: hsl(0deg 63% 31%),
    950: hsl(0deg 75% 15%),
);
$primitive-orange: (
    50: hsl(33deg 100% 97%),
    100: hsl(34deg 100% 92%),
    200: hsl(32deg 98% 83%),
    300: hsl(30deg 97% 72%),
    400: hsl(27deg 96% 61%),
    500: hsl(24deg 95% 53%),
    600: hsl(23deg 90% 48%),
    700: hsl(21deg 88% 40%),
    800: hsl(17deg 79% 34%),
    900: hsl(15deg 75% 28%),
    950: hsl(13deg 82% 14%),
);
$primitive-amber: (
    50: hsl(48deg 100% 96%),
    100: hsl(48deg 96% 89%),
    200: hsl(48deg 97% 77%),
    300: hsl(46deg 97% 65%),
    400: hsl(43deg 96% 56%),
    500: hsl(38deg 92% 50%),
    600: hsl(32deg 95% 44%),
    700: hsl(26deg 90% 37%),
    800: hsl(23deg 83% 31%),
    900: hsl(22deg 78% 26%),
    950: hsl(21deg 92% 14%),
);
$primitive-yellow: (
    50: hsl(55deg 92% 95%),
    100: hsl(55deg 97% 88%),
    200: hsl(53deg 98% 77%),
    300: hsl(54deg 98% 64%),
    400: hsl(50deg 98% 53%),
    500: hsl(48deg 96% 48%),
    600: hsl(45deg 93% 47%),
    700: hsl(35deg 92% 33%),
    800: hsl(32deg 81% 29%),
    900: hsl(28deg 73% 26%),
    950: hsl(26deg 83% 14%),
);
$primitive-lime: (
    50: hsl(78deg 92% 95%),
    100: hsl(80deg 89% 89%),
    200: hsl(81deg 88% 80%),
    300: hsl(82deg 85% 67%),
    400: hsl(83deg 78% 55%),
    500: hsl(84deg 81% 44%),
    600: hsl(85deg 85% 35%),
    700: hsl(86deg 78% 27%),
    800: hsl(86deg 69% 23%),
    900: hsl(88deg 61% 20%),
    950: hsl(89deg 80% 10%),
);
$primitive-green: (
    50: hsl(138deg 76% 97%),
    100: hsl(141deg 84% 93%),
    200: hsl(141deg 79% 85%),
    300: hsl(142deg 77% 73%),
    400: hsl(142deg 69% 58%),
    500: hsl(142deg 71% 45%),
    600: hsl(142deg 76% 36%),
    700: hsl(142deg 72% 29%),
    800: hsl(142deg 64% 24%),
    900: hsl(143deg 64% 20%),
    950: hsl(144deg 80% 10%),
);
$primitive-emerald: (
    50: hsl(152deg 81% 96%),
    100: hsl(149deg 80% 90%),
    200: hsl(152deg 76% 80%),
    300: hsl(156deg 72% 67%),
    400: hsl(158deg 64% 52%),
    500: hsl(160deg 84% 39%),
    600: hsl(161deg 94% 30%),
    700: hsl(163deg 94% 24%),
    800: hsl(163deg 88% 20%),
    900: hsl(164deg 86% 16%),
    950: hsl(165deg 91% 9%),
);
$primitive-teal: (
    50: hsl(166deg 76% 97%),
    100: hsl(167deg 85% 89%),
    200: hsl(168deg 84% 78%),
    300: hsl(171deg 77% 64%),
    400: hsl(172deg 66% 50%),
    500: hsl(173deg 80% 40%),
    600: hsl(175deg 84% 32%),
    700: hsl(175deg 77% 26%),
    800: hsl(176deg 69% 22%),
    900: hsl(176deg 61% 19%),
    950: hsl(178deg 75% 10%),
);
$primitive-cyan: (
    50: hsl(183deg 100% 96%),
    100: hsl(185deg 96% 90%),
    200: hsl(186deg 94% 82%),
    300: hsl(187deg 92% 69%),
    400: hsl(188deg 86% 53%),
    500: hsl(188deg 95% 43%),
    600: hsl(192deg 91% 36%),
    700: hsl(193deg 82% 31%),
    800: hsl(194deg 70% 27%),
    900: hsl(196deg 64% 24%),
    950: hsl(197deg 79% 15%),
);
$primitive-sky: (
    50: hsl(204deg 100% 97%),
    100: hsl(204deg 94% 94%),
    200: hsl(201deg 94% 86%),
    300: hsl(199deg 95% 74%),
    400: hsl(198deg 93% 60%),
    500: hsl(199deg 89% 48%),
    600: hsl(200deg 98% 39%),
    700: hsl(201deg 96% 32%),
    800: hsl(201deg 90% 27%),
    900: hsl(202deg 80% 24%),
    950: hsl(204deg 80% 16%),
);
$primitive-blue: (
    50: hsl(214deg 100% 97%),
    100: hsl(214deg 95% 93%),
    200: hsl(213deg 97% 87%),
    300: hsl(212deg 96% 78%),
    400: hsl(213deg 94% 68%),
    500: hsl(217deg 91% 60%),
    600: hsl(221deg 83% 53%),
    700: hsl(221deg 83% 48%),
    800: hsl(221deg 83% 41%),
    900: hsl(224deg 76% 33%),
    950: hsl(226deg 57% 21%),
);
$primitive-indigo: (
    50: hsl(226deg 100% 97%),
    100: hsl(226deg 100% 94%),
    200: hsl(228deg 96% 89%),
    300: hsl(230deg 94% 82%),
    400: hsl(234deg 89% 74%),
    500: hsl(239deg 84% 67%),
    600: hsl(243deg 75% 59%),
    700: hsl(245deg 58% 51%),
    800: hsl(244deg 55% 41%),
    900: hsl(242deg 47% 34%),
    950: hsl(244deg 47% 20%),
);
$primitive-violet: (
    50: hsl(250deg 100% 97%),
    100: hsl(251deg 91% 95%),
    200: hsl(251deg 95% 92%),
    300: hsl(252deg 95% 85%),
    400: hsl(255deg 92% 76%),
    500: hsl(258deg 90% 66%),
    600: hsl(262deg 83% 58%),
    700: hsl(263deg 70% 50%),
    800: hsl(263deg 69% 42%),
    900: hsl(264deg 67% 35%),
    950: hsl(266deg 66% 22%),
);
$primitive-purple: (
    50: hsl(270deg 100% 98%),
    100: hsl(268deg 100% 95%),
    200: hsl(268deg 100% 92%),
    300: hsl(269deg 97% 85%),
    400: hsl(270deg 95% 75%),
    500: hsl(271deg 91% 65%),
    600: hsl(271deg 81% 56%),
    700: hsl(272deg 72% 47%),
    800: hsl(273deg 67% 39%),
    900: hsl(274deg 66% 32%),
    950: hsl(276deg 87% 21%),
);
$primitive-fuchsia: (
    50: hsl(289deg 100% 98%),
    100: hsl(287deg 100% 95%),
    200: hsl(288deg 96% 91%),
    300: hsl(291deg 93% 83%),
    400: hsl(292deg 91% 73%),
    500: hsl(292deg 84% 61%),
    600: hsl(293deg 69% 49%),
    700: hsl(295deg 72% 40%),
    800: hsl(295deg 70% 32%),
    900: hsl(295deg 63% 28%),
    950: hsl(297deg 90% 16%),
);
$primitive-pink: (
    50: hsl(327deg 73% 97%),
    100: hsl(326deg 78% 95%),
    200: hsl(326deg 85% 90%),
    300: hsl(327deg 87% 82%),
    400: hsl(329deg 86% 70%),
    500: hsl(330deg 81% 60%),
    600: hsl(333deg 71% 51%),
    700: hsl(335deg 78% 42%),
    800: hsl(336deg 74% 35%),
    900: hsl(336deg 69% 30%),
    950: hsl(337deg 75% 16%),
);
$primitive-rose: (
    50: hsl(355deg 100% 97%),
    100: hsl(355deg 100% 95%),
    200: hsl(352deg 96% 90%),
    300: hsl(352deg 95% 82%),
    400: hsl(351deg 95% 71%),
    500: hsl(349deg 89% 60%),
    600: hsl(346deg 77% 50%),
    700: hsl(345deg 83% 41%),
    800: hsl(343deg 80% 35%),
    900: hsl(343deg 73% 30%),
    950: hsl(343deg 88% 16%),
);

:root {
    // Primitive colors (mapped to css custom properties)
    // //////////////////////////////////////////////////////////
    --primitive-transparent: #{$primitive-transparent};
    --primitive-white: #{$primitive-white};
    --primitive-black: #{$primitive-black};

    // PostHog brand colors
    // Split into hue, saturation, lightness to make it easier to change the brand colors
    // //////////////////////////////////////////////////////////
    --primitive-posthog-brand-orange-hue: 19;
    --primitive-posthog-brand-orange-saturation: 100%;
    --primitive-posthog-brand-orange-lightness: 48%;
    --primitive-posthog-brand-blue-hue: 228;
    --primitive-posthog-brand-blue-saturation: 100%;
    --primitive-posthog-brand-blue-lightness: 56%;
    --primitive-posthog-brand-yellow-hue: 43;
    --primitive-posthog-brand-yellow-saturation: 94%;
    --primitive-posthog-brand-yellow-lightness: 57%;

    // Generic brand color assignments
    // Change these to change the brand colors
    // //////////////////////////////////////////////////////////
    --brand-primary-hue: var(--primitive-posthog-brand-orange-hue);
    --brand-primary-saturation: var(--primitive-posthog-brand-orange-saturation);
    --brand-primary-lightness: var(--primitive-posthog-brand-orange-lightness);
    --brand-secondary-hue: var(--primitive-posthog-brand-blue-hue);
    --brand-secondary-saturation: var(--primitive-posthog-brand-blue-saturation);
    --brand-secondary-lightness: var(--primitive-posthog-brand-blue-lightness);

    // Accent colors (accents can be changed to change the brand colors)
    // Used for interactive elements and highlights, inputs, toggles, charts, etc.
    // //////////////////////////////////////////////////////////
    --accent-primary: hsl(var(--brand-primary-hue), var(--brand-primary-saturation), var(--brand-primary-lightness));
    --accent-primary-hover: hsl(
        var(--brand-primary-hue),
        var(--brand-primary-saturation),
        calc(var(--brand-primary-lightness) + 10%)
    );
    --accent-primary-active: hsl(
        var(--brand-primary-hue),
        var(--brand-primary-saturation),
        calc(var(--brand-primary-lightness) + 15%)
    );
    --accent-primary-highlight: hsla(
        var(--brand-primary-hue),
        var(--brand-primary-saturation),
        var(--brand-primary-lightness),
        10%
    );
    --accent-secondary: hsl(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        var(--brand-secondary-lightness)
    );
    --accent-secondary-hover: hsl(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        calc(var(--brand-secondary-lightness) + 10%)
    );
    --accent-secondary-active: hsl(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        calc(var(--brand-secondary-lightness) + 15%)
    );
    --accent-secondary-highlight: hsla(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        var(--brand-secondary-lightness),
        10%
    );

    // Backgrounds
    // Behind surfaces, large areas: app scenes, etc.
    // //////////////////////////////////////////////////////////
    // --bg-primary: var(--primitive-neutral-100); /* Most prominent/used background */

    // Surfaces
    // Above backgrounds, smaller areas: Cards, Tables, stuff that stands out
    // //////////////////////////////////////////////////////////
    // --surface-primary: var(--primitive-white); /* Most prominent surface (Cards, tables, etc.) */

    // Content (text, icons)
    --text-primary: var(--primitive-neutral-950); /* Text on primary surface/background */

    // Fills
    // Small colourful areas: banners, pills, buttons, etc.
    // //////////////////////////////////////////////////////////
    --bg-fill-primary: var(--primitive-white);
    --bg-fill-secondary: var(--primitive-3000-25);
    --bg-fill-tertiary: var(--primitive-3000-50);
    --bg-fill-info-secondary: var(--primitive-blue-100); /* promonent bg for info blocks */
    --bg-fill-info-tertiary: var(--primitive-blue-50); /* subtle bg for info blocks */
    --bg-fill-warning-secondary: var(--primitive-orange-100); /* prominent bg for warning blocks */
    --bg-fill-warning-tertiary: var(--primitive-orange-50); /* subtle bg for warning blocks */
    --bg-fill-error-secondary: var(--primitive-red-100); /* prominent bg for error blocks */
    --bg-fill-error-tertiary: var(--primitive-red-50); /* subtle bg for error blocks */
    --bg-fill-success-secondary: var(--primitive-green-100); /* promonent bg for success blocks */
    --bg-fill-success-tertiary: var(--primitive-green-50); /* subtle bg for success blocks */

    // Content on fills
    // Texts which are on colourful fills, ensures contrast
    // //////////////////////////////////////////////////////////
    --text-warning-on-bg-fill: var(--primitive-orange-800); /* On-fill text for warning */
    --text-error-on-bg-fill: var(--primitive-red-800); /* On-fill text for error */
    --text-success-on-bg-fill: var(--primitive-green-800); /* On-fill text for success */

    // Borders
    // Borders for surfaces/fills (TODO: perhaps we need to do border-fill-primary, border-fill-warning, etc.)
    // //////////////////////////////////////////////////////////
    --border-primary: var(--primitive-3000-200);
    --border-info: var(--primitive-blue-400);
    --border-warning: var(--primitive-orange-400); /* Border for warning */
    --border-error: var(--primitive-red-400); /* Border for error */
    --border-success: var(--primitive-green-400); /* Border for success */

    @each $name, $value in $primitive-3000 {
        --primitive-3000-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-neutral-cool {
        --primitive-neutral-cool-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-stone {
        --primitive-stone-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-red {
        --primitive-red-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-orange {
        --primitive-orange-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-amber {
        --primitive-amber-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-yellow {
        --primitive-yellow-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-lime {
        --primitive-lime-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-green {
        --primitive-green-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-emerald {
        --primitive-emerald-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-teal {
        --primitive-teal-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-cyan {
        --primitive-cyan-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-sky {
        --primitive-sky-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-blue {
        --primitive-blue-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-indigo {
        --primitive-indigo-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-violet {
        --primitive-violet-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-purple {
        --primitive-purple-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-fuchsia {
        --primitive-fuchsia-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-pink {
        --primitive-pink-#{$name}: #{$value};
    }

    @each $name, $value in $primitive-rose {
        --primitive-rose-#{$name}: #{$value};
    }
}

[theme='dark'] {
    --brand-primary-hue: var(--primitive-posthog-brand-yellow-hue);
    --brand-primary-saturation: var(--primitive-posthog-brand-yellow-saturation);
    --brand-primary-lightness: var(--primitive-posthog-brand-yellow-lightness);

    // Accent colors
    // //////////////////////////////////////////////////////////
    --accent-primary: hsl(var(--brand-primary-hue), var(--brand-primary-saturation), var(--brand-primary-lightness));
    --accent-primary-hover: hsl(
        var(--brand-primary-hue),
        var(--brand-primary-saturation),
        calc(var(--brand-primary-lightness) + 10%)
    );
    --accent-primary-active: hsl(
        var(--brand-primary-hue),
        var(--brand-primary-saturation),
        calc(var(--brand-primary-lightness) + 15%)
    );
    --accent-primary-highlight: hsla(
        var(--brand-primary-hue),
        var(--brand-primary-saturation),
        var(--brand-primary-lightness),
        10%
    );
    --accent-secondary: hsl(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        var(--brand-secondary-lightness)
    );
    --accent-secondary-hover: hsl(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        calc(var(--brand-secondary-lightness) + 10%)
    );
    --accent-secondary-active: hsl(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        calc(var(--brand-secondary-lightness) + 15%)
    );
    --accent-secondary-highlight: hsla(
        var(--brand-secondary-hue),
        var(--brand-secondary-saturation),
        var(--brand-secondary-lightness),
        10%
    );

    // Backgrounds
    // //////////////////////////////////////////////////////////

    // Surfaces
    // //////////////////////////////////////////////////////////

    // Fills
    // //////////////////////////////////////////////////////////
    --bg-fill-primary: var(--primitive-neutral-cool-900);
    --bg-fill-secondary: var(--primitive-neutral-cool-800);
    --bg-fill-tertiary: var(--primitive-neutral-cool-700);
    --bg-fill-info-secondary: var(--primitive-blue-950);
    --bg-fill-info-tertiary: #{rgba(map.get($primitive-blue, 950), 0.5)};
    --bg-fill-warning-secondary: var(--primitive-yellow-950);
    --bg-fill-warning-tertiary: #{rgba(map.get($primitive-yellow, 950), 0.5)};
    --bg-fill-error-secondary: var(--primitive-red-950);
    --bg-fill-error-tertiary: #{rgba(map.get($primitive-red, 950), 0.5)};
    --bg-fill-success-secondary: var(--primitive-green-950);
    --bg-fill-success-tertiary: #{rgba(map.get($primitive-green, 950), 0.5)};

    // Contents
    // //////////////////////////////////////////////////////////
    --text-primary: var(--primitive-neutral-100);

    // Content on fills
    // //////////////////////////////////////////////////////////
    --text-warning-on-bg-fill: var(--primitive-orange-50);
    --text-error-on-bg-fill: var(--primitive-red-50);
    --text-success-on-bg-fill: var(--primitive-green-50);

    // Borders
    // //////////////////////////////////////////////////////////
    --border-primary: var(--primitive-neutral-cool-800);
    --border-info: var(--primitive-blue-900);
    --border-warning: var(--primitive-orange-900);
    --border-error: var(--primitive-red-900);
    --border-success: var(--primitive-green-900);
}
