/* Only styles that are shared across multiple components (i.e. global) should go here, trying to keep this file
nimble to simplify maintenance. We separate variables and mixins in vars.scss to be able to import those into local
style files without adding already imported styles.

Font weights:
Only 400 (`normal`), 500 (`var(--font-medium)`), 600 (`var(--font-semibold)`), or 700 (`bold`) should be used

*/

// Global components
@import '../../../node_modules/react-toastify/dist/ReactToastify';
@import 'breakpoints';
@import 'fonts';
@import 'mixins';

// These vars are modified via SCSS for legacy reasons (e.g. darken/lighten), so keeping as SCSS vars for now.
$_primary: #5375ff;
$_primary_alt: #35416b;
$_primary_bg_hover: rgba($_primary, 0.1);
$_primary_bg_active: rgba($_primary, 0.2);
$_warning: #f7a501;
$_danger: #f96132;
$_text_default: #2d2d2d;
$_text_light: rgba(255, 255, 255, 0.88);
$_bg_menu: #2c3035;
$_border: rgba(0, 0, 0, 0.15);
$_lifecycle_new: #99c5ff;
$_lifecycle_returning: #71b96b;
$_lifecycle_resurrecting: #c277cf;
$_lifecycle_dormant: #f86234;

:root {
    --primary: #{$_primary};
    --primary-alt: #{$_primary_alt};
    --primary-hover: #839af8;
    --primary-active: #3d57d9;
    --primary-bg-hover: #{$_primary_bg_hover};
    --primary-bg-active: #{$_primary_bg_active};
    --primary-bg-alt: #e8edff;
    --success: #77b96c;
    --danger: #{$_danger};
    --danger-hover: #fa754c;
    --danger-active: #f9430b;
    --danger-bridge: #df4313;
    --warning: #{$_warning};
    --warning-hover: #f3ba3e;
    --warning-active: #e69900;
    --brand-blue: #1d4aff;
    --brand-blue-active: #2148e4;
    --brand-yellow: #f9bd2b;
    --brand-red: #f54e00;
    --bg-menu: #{$_bg_menu};
    --bg-mid: #f2f2f2;
    --bg-side: #fafaf9;
    --bg-depth: #0f0f0f;
    --bg-navy: #35416b;
    --bg-charcoal: #2d2d2d;
    --bg-bridge: #ebece8;
    --bg-shaded: rgba(0, 0, 0, 0.05);
    --bg-light: #ffffff;
    --bg-overlay: #333333;
    --text-default: #{$_text_default};
    --text-light: #{$_text_light};
    --muted: rgba(0, 0, 0, 0.5);
    --muted-alt: #747ea1;
    --text-muted: var(--muted);
    --text-muted-alt: var(--muted-alt);
    --mark-color: #fdedc9;
    --border-light: rgba(0, 0, 0, 0.08);
    --border: #{$_border};
    --border-dark: rgba(0, 0, 0, 0.24);
    --border-active: rgba(0, 0, 0, 0.36);
    --radius: 4px;
    --shadow-elevation: 0px 16px 16px -16px rgba(0, 0, 0, 0.35);
    --opacity-disabled: 0.6;
    --font-medium: 500;
    --font-semibold: 600;
    --dark-grey: #d9d9d9;
    --light-grey: #f2f2f2;
    --error-red: #bf411a;
    // LEGACY data colors (e.g. insight series). Note: colors.ts relies on these values being hexadecimal
    --blue: #597dce;
    --blue-light: #8da9e7;
    --blue-lightest: #b8cefds;
    --purple: #c278cf;
    --indigo: #7c4286;
    --purple-light: #dcb1e3;
    --salmon: #ff906e;
    --yellow: #ffc035;
    --yellow-light: #fbdd99;
    --yellow-lightest: #fdedc9;
    --green: var(--success);
    --cyan: #17a2b8;
    --pink: #e83e8c;
    --white: #f4f6ff;
    --maroon: #7f0000;
    --mint: #aaffc3;
    --olive: #807500;
    --navy: #000075;
    --orange: #f58231;
    --lime: #bfef45;
    --apricot: #ffd8b1;
    --brown: #9a6324;
    // Data colors (e.g. insight series). Note: colors.ts relies on these values being hexadecimal
    --data-ultramarine: var(--brand-blue);
    --data-purple: #621da6;
    --data-viridian: #42827e;
    --data-magenta: #ce0e74;
    --data-vermilion: #f14f58;
    --data-brown: #7c440e;
    --data-green: #529a0a;
    --data-blue: #0476fb;
    --data-pink: #fe729e;
    --data-navy: var(--bg-navy);
    --data-turquoise: #41cbc4;
    --data-brick: #b64b02;
    --data-yellow: #e4a604;
    --data-lilac: #a56eff;
    // Lifecycle series
    --lifecycle-new: #{$_lifecycle_new};
    --lifecycle-returning: #{$_lifecycle_returning};
    --lifecycle-resurrecting: #{$_lifecycle_resurrecting};
    --lifecycle-dormant: #{$_lifecycle_dormant};
    --lifecycle-new-hover: #{darken($_lifecycle_new, 20%)};
    --lifecycle-returning-hover: #{darken($_lifecycle_returning, 20%)};
    --lifecycle-resurrecting-hover: #{darken($_lifecycle_resurrecting, 20%)};
    --lifecycle-dormant-hover: #{darken($_lifecycle_dormant, 20%)};
    // Funnels
    --funnel-default: var(--primary);
    --funnel-alt: var(--primary-alt);
    --funnel-background: var(--border-light);
    --funnel-axis-zero: var(--bg-depth);
    --funnel-axis: var(--border-dark);
    --funnel-axis-label: var(--text-muted);
    --funnel-canvas-background: #ffffff;
    --antd-table-background-dark: #fafafa;
    // Session Recording
    --recording-spacing: calc(2rem / 3);
    --recording-player-container-bg: #797973;
    --recording-buffer-bg: #faaf8c;
    --recording-hover-event: var(--primary-bg-hover);
    --recording-hover-event-mid: var(--primary-bg-active);
    --recording-hover-event-dark: var(--primary);
    --recording-current-event: #eef2ff;
    --recording-current-event-dark: #35416b;
    --recording-failure-event: #fee9e2;
    --recording-failure-event-dark: #cd3000;
    --recording-highlight-event: #fdedc9;
    --recording-highlight-event-dark: #946508;

    // Z-indexes, synced with vars.ts
    --z-nps-overlay: 5200;
    --z-bottom-notice: 5100;
    --z-command-palette: 1875;
    --z-ant-select-dropdown: 1065;
    --z-ant-message: 1070;
    --z-popup: 1061;
    --z-ant-modal-wrap: 1060;
    --z-ant-modal-mask: 1050;
    --z-plugins-popconfirm: 1001;
    --z-pinned-dashboards-popup: 962;
    --z-graph-tooltip: 951;
    --z-drawer: 950;
    --z-main-nav: 948;
    --z-lemon-sidebar: 940;
    --z-mobile-nav-overlay: 931;
    --z-top-navigation: 800;
    --z-content-overlay: 488;
    --z-graph-annotation-prompt: 99;
    --z-raised: 5;
    --z-city-background-content: 1;
    --z-city-background-image: 0;

    // Taxonomy
    --taxonomy-icon-muted: #747ea1;
    // Toasts
    --toastify-color-info: var(--primary);
    --toastify-color-success: var(--success);
    --toastify-color-warning: var(--warning);
    --toastify-color-error: var(--danger);
    --toastify-toast-background: var(--bg-light);
    --toastify-toast-width: 26rem;
    --toastify-toast-min-height: 3.5rem;
    --toastify-toast-max-height: 16rem;

    // Deprecated color transforms from SCSS var heydays
    --depr-lighten-danger-40: #{lighten($_danger, 40%)};
    --depr-darken-text-light-20: #{darken($_text_light, 20%)};
    --depr-rgba-text-default-0-4: #{rgba($_text_default, 0.4)};
    --depr-rgba-primary-alt-0-3: #{rgba($_primary_alt, 0.3)};
    --depr-rgba-danger-0-6: #{rgba($_danger, 0.6)};
    --depr-rgba-border-0-1: #{rgba($_border, 0.1)};
    --depr-rgba-border-0-2: #{rgba($_border, 0.2)};
    --depr-darken-primary-30: #{darken($_primary, 30%)};
    --depr-lighten-primary-20: #{lighten($_primary, 20%)};
    --depr-lighten-primary-10: #{lighten($_primary, 10%)};
    --depr-lighten-primary-5: #{lighten($_primary, 5%)};
    --depr-lighten-primary-15: #{lighten($_primary, 15%)};
    --depr-rgba-primary_alt-0-09: #{rgba($_primary_alt, 0.09)};
    --depr-rgba-warning-0-09: #{rgba($_warning, 0.09)};
    --depr-rgba-danger-0-09: #{rgba($_danger, 0.09)};
    --depr-rgba-danger-0-1: #{rgba($_danger, 0.1)};
    --depr-rgba-primary-0-25: #{rgba($_primary, 0.25)};
    --depr-rgba-primary_alt-0-25: #{rgba($_primary_alt, 0.25)};
    --depr-darken-bg_menu-10: #{darken($_bg_menu, 10%)};
}

// Text styles

body b,
body strong {
    // body is specified to increase specificity – otherwise Ant Design's "bolder" takes precedence over "600"
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.text-default {
    color: var(--text-default);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.text-small {
    @extend .text-default;
    font-size: 12px;
}

.text-extra-small {
    @extend .text-default;
    font-size: 10px;
}

.text-xxs {
    @extend .text-default;
    font-size: 8px;
}

.text-ellipsis {
    @extend %mixin-text-ellipsis;
}

.no-wrap {
    white-space: nowrap !important;
}

.page-title-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 2.5rem;
    gap: 0.5rem 1rem;
    margin: 1.25rem 0 0.25rem;

    @media screen and (min-width: $md) {
        flex-wrap: nowrap;
    }

    .ant-form-item {
        margin-bottom: 0 !important;
    }
}

.page-title {
    min-width: 0;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    font-weight: 600;
}

.page-caption {
    @extend .text-default;
    max-width: 48rem;
    margin-bottom: 1rem;
}

.page-buttons {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
}

.subtitle-row {
    margin-top: 8px;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;

    &.highlighted {
        padding: 1rem 1rem 1rem 0.5rem;
    }
}

.l3 {
    /* Level 3 title (ideally H3) */
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.l4 {
    font-size: 14px;
    font-weight: bold;
}

.l5 {
    // DEPRECATED: Shouldn't be used
    font-size: 13px;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: var(--text-muted);
}

.text-muted-alt {
    color: var(--text-muted-alt);
}

.primary {
    color: var(--primary);
}

.primary-alt {
    color: var(--primary-alt);
}

.secondary {
    font-size: 0.9em;
    letter-spacing: 1px;
    color: var(--primary-alt);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    border: 0;
    background: none;
}

.card-secondary {
    font-size: 11px;
    color: var(--text-muted);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
}

mark {
    background-color: var(--mark-color) !important;
    border-radius: var(--radius);
}

.uppercase {
    text-transform: uppercase;
}

// Supplement text, such as email under user name
.supplement {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--muted-alt);
    font-size: 0.8125rem;

    &--danger {
        color: var(--danger);
        font-weight: 600;
    }
}

code.code {
    // Temporary: .code class to transition legacy elements
    color: var(--danger);
    background-color: var(--bg-mid);
    border-radius: var(--radius);
    padding: 2px 6px;
}

// Spacing & layout

.ma {
    // Margin all
    margin: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-025 {
    margin-bottom: 0.25rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-025 {
    margin-top: 0.25rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mr {
    margin-right: 1rem;
}

.ml {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mr-025 {
    margin-right: 0.25rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.ml-025 {
    margin-left: 0.25rem;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pa {
    // Padding all
    padding: 1rem;
}

.pa-05 {
    // Padding all
    padding: 0.5rem;
}

.pb {
    padding-bottom: 1rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pt {
    padding-top: 1rem;
}

.pr {
    padding-right: 1rem;
}

.pl {
    padding-left: 1rem;
}

.space-y-05 {
    & > * + * {
        @extend .mt-05;
    }
}

.space-y {
    & > * + * {
        @extend .mt;
    }
}

.space-x-05 {
    & > * + * {
        @extend .ml-05;
    }
}

.space-x {
    & > * + * {
        @extend .ml;
    }
}

.gap {
    gap: 1rem;
}

.gap-05 {
    gap: 0.5rem;
}

.col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.full-width {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.space-between-items {
    display: flex;
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-auto {
    flex: auto;
}

.flex-center {
    display: flex;
    align-items: center;
}

.border-all {
    border: 1px solid var(--border);
    border-radius: 4px;
}

.border-top {
    border-top: 1px solid var(--border);
}

.border-bottom {
    border-bottom: 1px solid var(--border);
}

// Vendor-specific adjustments

input::-ms-clear {
    display: none; // Hide IE/Edge's clear button that can mess input sizing up
}

// Color styles
.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-warning {
    color: var(--warning) !important;
}

// Random general styles

.cursor-pointer {
    cursor: pointer;
}

.highlighted {
    border-radius: var(--radius);
    animation: highlight 2000ms ease-out;
}

// Highlight background blink

@keyframes highlight {
    0% {
        background-color: var(--yellow-lightest);
    }

    100% {
        background-color: initial;
    }
}

// Generic 360 spin

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

// Toasts

.Toastify__toast {
    align-items: center;
    opacity: 1 !important;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: var(--radius);
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    border: 1px solid var(--border);
    box-shadow: var(--shadow-elevation);
    font-size: 1rem;
    cursor: unset;
}

.Toastify__toast-container {
    padding: 0;
}

.Toastify__toast-body {
    @extend .text-default;
    font-weight: 500;
    padding: 0;

    b,
    strong {
        font-weight: 700;
    }

    button {
        margin: 0 0.75rem;
    }
}

.Toastify__toast-icon {
    color: var(--muted-alt);
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    font-size: 1.5rem;

    .Toastify__toast--success & {
        color: var(--toastify-color-success);
    }

    .Toastify__toast--warning & {
        color: var(--toastify-color-warning);
    }

    .Toastify__toast--error & {
        color: var(--toastify-color-error);
    }
}

.Toastify__progress-bar {
    height: var(--radius);
}

// Table styles

.table-bordered td {
    border: 1px solid var(--border);
}

// Card styles

.ant-card-body > :first-child {
    margin-top: 0;
}

.card-elevated {
    box-shadow: var(--shadow-elevation);
}

// Horizontal scrollability indication

.scrollable {
    &::before,
    &::after {
        z-index: 1;
        transition: opacity 200ms ease;
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &::before {
        box-shadow: 16px 0 16px -16px rgba(0, 0, 0, 0.25) inset;
    }

    &::after {
        box-shadow: -16px 0 16px -16px rgba(0, 0, 0, 0.25) inset;
    }

    &.scrollable--right::after,
    &.scrollable--left::before {
        opacity: 1;
    }
}

.scrollable__inner {
    width: 100%;
    height: 100%;
    overflow: auto;
}

// Form & input styles

.input-set {
    padding-bottom: 1rem;
    color: var(--text-default);

    label {
        font-weight: bold;
        @extend .text-default;
    }

    .caption {
        color: var(--text-muted);
        @extend .text-small;
    }

    .ant-radio-button-wrapper {
        // To properly handle label styles above
        font-weight: normal !important;
        line-height: 30px !important;
    }

    &.errored {
        .caption {
            color: var(--danger);
        }

        input[type='password'],
        input[type='text'] {
            border-color: var(--danger) !important;
        }
    }
}

.error-on-blur {
    &.errored:not(:focus) {
        border-color: var(--danger) !important;
    }
}

// Button styles

.btn-close {
    color: var(--text-muted);
}

.ant-btn-sm {
    font-size: 12px !important;
}

.ant-btn-primary.btn-danger {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;

    &:disabled {
        background-color: lighten($_danger, 20%) !important;
        color: lighten(#fff, 20%) !important;
        border-color: lighten($_danger, 20%) !important;
    }
}

.ant-btn-md {
    // Size between `small` & `default`
    font-size: 13px !important;
    height: 28px !important;
    padding: 0px 10px !important;
}

.info-indicator {
    color: var(--primary-alt) !important;
    cursor: pointer;
    margin-left: 4px;

    &.left {
        margin-left: 0;
        margin-right: 4px;
    }
}

.title-icon {
    margin-left: 0.375rem;
    font-size: 1rem;
    line-height: 0;
}

.btn-lg-2x {
    font-size: 1.5rem !important;
    line-height: 1 !important;

    svg {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

.LemonLinkButton {
    // TODO: This should become a component at some point
    padding: 1.3rem 1rem !important;
    font-weight: var(--font-medium) !important;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &.ant-btn {
        padding-top: 1.3rem !important;
    }

    &:not(.ant-btn-primary) {
        color: var(--primary);
    }
}

// Graph series glyph

.graph-series-glyph {
    border-radius: 50%;
    border: 2px solid var(--text-default);
    font-weight: bold;
    font-size: 12px;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    flex-shrink: 0;

    // variants
    &.funnel-step-glyph {
        border-color: var(--border);
        background-color: white;
        color: var(--primary-alt);
        height: 23px;
        width: 23px;
        font-size: unset;
    }
}

// Bottom notice (DEBUG=1 mode)

#bottom-notice {
    z-index: var(--z-bottom-notice);
    display: flex !important;
    flex-direction: row;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.5rem;

    code {
        color: inherit;
        font-size: inherit;
    }

    &.warning div {
        height: auto;
        background: var(--danger);
    }

    &.tricolor {
        cursor: pointer;

        div:nth-child(1) {
            background: var(--brand-blue);
        }

        div:nth-child(2) {
            background: var(--brand-red);
        }

        div:nth-child(3) {
            background: var(--brand-yellow);
        }

        span {
            cursor: text;
        }
    }

    div {
        flex-basis: 0;
        flex-grow: 1;
        height: 1.5rem;
        text-align: center;
    }

    span {
        display: none;
    }

    button {
        border: none;
        background: transparent;
        color: inherit;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    @media screen and (min-width: 750px) {
        font-size: 1rem;
        line-height: 2rem;

        div {
            height: 2rem;
        }

        span {
            display: inline;
        }

        button {
            width: 2rem;
            height: 2rem;
            font-size: 1.25rem;
        }
    }
}

// Overlays

.overlay__parent {
    position: relative;
}

.overlay__child {
    transition: opacity 0.25s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .overlay--danger & {
        background: repeating-linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5) 0.75rem,
            var(--danger) 0.5rem,
            var(--danger) 20px
        );
    }
}

// Stateful badges

.stateful-badge {
    padding: 2px 8px;
    border-radius: 2px;
    font-weight: bold;

    &.or {
        background-color: var(--blue-light);
        text-align: center;
        max-width: 50px;
    }

    &.or-light-grey {
        font-family: Inter;
        background-color: var(--light-grey);
        text-align: center;
        max-width: 50px;
    }

    &.width-locked {
        width: 40px;
        text-align: center;
    }

    &.and {
        background-color: var(--yellow-light);
        color: var(--primary-alt);
    }

    &.pos-center-end {
        position: absolute;
        top: 50%;
        left: -30px;
    }
}

// Tags

.simple-tag {
    border-radius: var(--radius);
    padding: 2px 6px;

    &.tag-light-blue {
        background-color: var(--blue-lightest);
    }
}

.lemonade-tag {
    color: var(--primary-alt) !important;
    background-color: var(--bg-mid) !important;
    border-color: var(--border) !important;
}

// Main app/body styles

.fullscreen-scroll {
    overflow-y: auto;
}

.main-app-content {
    position: relative; // So that scene-level <Loading/> is positioned correctly.
    min-width: 0;
    padding: 0 2rem 4rem;

    @media (min-width: $sm) and (max-width: $lg) {
        padding: 0 1rem 2rem;
    }

    @media (max-width: $sm) {
        padding: 0 1rem 1rem;
    }
}

// AntD overrrides, placed inside `body` to increase specifity (nicely avoiding the need for !important)
body {
    h1,
    h2,
    h3,
    h4 {
        color: var(--text-default);
    }

    h5 {
        font-size: 11px;
        font-weight: 600;
        color: var(--muted-alt);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 0.25rem;
        line-height: 2;
    }

    // AntD uses its own border color for the bottom of tab lists, but we want to use `var(--border)`
    .ant-tabs-top,
    .ant-tabs-bottom {
        &,
        & > div {
            & > .ant-tabs-nav::before {
                border-bottom-color: var(--border);
            }
        }
    }

    .ant-dropdown {
        border-radius: var(--radius);
    }

    .ant-dropdown-menu {
        border-radius: var(--radius);
    }

    .ant-modal-content {
        box-shadow: var(--shadow-elevation);
    }

    .ant-form-item-label {
        > label {
            font-weight: 600;

            .ant-form-item-optional {
                font-weight: 400;
                color: var(--muted);
            }
        }
    }

    .ant-form-item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.loading-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    min-height: 6rem;
    z-index: var(--z-content-overlay);
    display: flex;
    align-items: center;
    justify-content: center;

    &.over-table {
        display: block;
        background: rgba(0, 0, 0, 0.1);

        td {
            display: block;
        }
    }
}
