@import 'vars';

%mixin-gradient-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    pointer-events: none;
    content: '';
    background: linear-gradient(to top, var(--bg-light), transparent);
}

%mixin-gradient-overlay-right {
    position: absolute;
    bottom: 0;
    width: 3rem;
    height: 100%;
    pointer-events: none;
    content: '';
    background: linear-gradient(to left, var(--bg-light), transparent);
}

%mixin-text-ellipsis {
    max-width: calc(100% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin screen($breakpoint) {
    @if not $breakpoint {
        @content;
    } @else {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}
