/* DEPRECATED in favor of global.scss */
@import '~/vars';

.layout-container {
    max-width: 100vw;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loading-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    min-height: 6rem;
    opacity: 0.7;
    z-index: $z_content_overlay;
    display: flex;
    align-items: center;
    justify-content: center;

    &.over-table {
        display: block;
        background: rgba(0, 0, 0, 0.1);
        td {
            display: block;
        }
    }
}

.code-container {
    position: relative;
    .action-icon-container {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .action-icon {
        margin-left: 0.5em;
        padding: 2px;
        color: white;
        background-color: inherit;
        cursor: pointer;
        &:hover {
            transition: all 0.2s ease;
            transform: scale(1.2);
        }
    }
}

pre.code {
    white-space: pre-wrap;
    word-break: break-all;
    background: rgb(51, 51, 51);
    padding: 20px;
    border-radius: 3px;
    color: white;
    margin-top: 1rem;
    font-size: 15px;
    &.scrolling-code {
        white-space: pre;
        overflow: scroll;
    }
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.paths {
    height: 720px;
    svg {
        height: 100% !important;
        width: 100%;
    }
}

.secondary {
    font-size: 13px;
    letter-spacing: 1px;
    opacity: 0.7;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    background: none;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

button.no-style {
    background: none;
    border: none;
}

.table th,
.table td {
    padding: 0.25rem;
}

.modal {
    overflow: scroll;
}

label.disabled {
    color: #888;
}

.ant-modal-mask {
    z-index: $z_ant_modal_mask !important;
}
.ant-modal-wrap {
    z-index: $z_ant_modal_wrap !important;
}
.ant-message {
    z-index: $z_ant_message !important;
}
.ant-select-dropdown {
    z-index: $z_ant_select_dropdown !important;
}

.ant-select-arrow .anticon {
    vertical-align: top !important;
}

.property-key-info {
    display: inline-block;
    line-height: 19px;
}

.property-key-info-logo {
    margin-right: 6px;
    display: inline-block;
    vertical-align: top;
    height: 19px;
    width: 19px;
    background-image: url('../../public/posthog-icon.svg');
    background-size: cover;
}

.ant-select-selection-item .property-key-info-logo {
    vertical-align: text-bottom;
}

.button-border {
    padding: 8px;
    border-radius: 4px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: gainsboro;
}

.space-top {
    margin-top: 32px;
}

.breadcrumbs {
    .selected {
        color: #35416b;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    .signup-form {
        h1.title {
            img {
                display: none;
            }
        }
        .main-img {
            margin-top: 0 !important;
            height: 200px;
        }
    }
}

.Papercups-toggleButtonContainer,
.Papercups-chatWindowContainer {
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.drawer-open {
    .Papercups-toggleButtonContainer,
    .Papercups-chatWindowContainer {
        transform: translateY(-53px) !important;
    }
}
