// className="(.+\s)*mb(\s.+)*"

.subtitle {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;

    &.highlighted {
        padding: 1rem 1rem 1rem 0.5rem;
    }
}

.l3 {
    /* Level 3 title (ideally H3) */
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.l4 {
    font-size: 14px;
    font-weight: bold;
}

.col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.highlighted {
    border-radius: var(--radius);
    animation: highlight 2000ms ease-out;
}

// FIXME: for some reason tailwind grid-cols-x utility classes aren't included
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

// FIXME: for some reason tailwind animations utility classes aren't included
.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0;
    }
}
