@use 'sass:list';
@use 'sass:map';
@use 'sass:color';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$colors: (
    'primary': #1d4aff,
    'danger-highlight': rgba(#db3707, 0.1),
    'danger-lighter': #ffa599,
    'danger-light': #df4b20,
    'danger': #db3707,
    'danger-dark': #992705,
    'warning-highlight': rgba(#f7a501, 0.1),
    'warning': #f7a501,
    'warning-dark': #e09423,
    'highlight': #e49f2c,
    'success-highlight': rgba(#388600, 0.1),
    'success-light': #5f9d32,
    'success': #388600,
    'success-dark': #245700,
    'muted': #5f5f5f,
    'muted-alt': #747ea1,
    'mark': hsl(42deg 93% 86% / 80%),
    'white': #fff,
    'bg-light': #fff,
    'side': #fafaf9,
    'mid': #f2f2f2,
    'border': rgb(0 0 0 / 15%),
    'border-light': rgb(0 0 0 / 8%),
    'border-bold': rgb(0 0 0 / 24%),
    'transparent': transparent,
    'link': var(--primary-3000),
    // Colors of the PostHog logo
    'brand-blue': #1d4aff,
    'brand-red': #f54e00,
    'brand-yellow': #f9bd2b,
    'brand-key': #000,

    // PostHog 3000
    'text-3000-light': #111,
    'text-secondary-3000-light': rgba(#111, 0.7),
    'muted-3000-light': rgba(#111, 0.6),
    'trace-3000-light': rgba(#111, 0.25),
    'primary-3000-light': #f54e01,
    'primary-highlight-light': rgba(#f54e01, 0.1),
    'primary-3000-hover-light': #f54e01,
    'primary-3000-active-light': #f54e01,

    'secondary-3000-light': rgba(#cfd1c2, 0.6),
    'secondary-3000-hover-light': #cfd1c2,
    'accent-3000-light': #eeefe9,
    'bg-3000-light': #f3f4ef,
    'border-3000-light': #dadbd2,
    'border-bold-3000-light': #c1c2b9,
    'glass-bg-3000-light': #e4e5deb3,
    'glass-border-3000-light': #e4e5de,

    'link-3000-light': #f54e00,
    'primary-3000-frame-bg-light': #eb9d2a,
    'primary-3000-button-bg-light': #fff,
    'primary-3000-button-border-light': #b17816,
    'primary-3000-button-border-hover-light': #8e5b03,

    'secondary-3000-frame-bg-light': #e1dddd,
    'secondary-3000-button-bg-light': #f3f4ef,
    'secondary-3000-button-border-light': #ccc,
    'secondary-3000-button-border-hover-light': #aaa,

    'danger-3000-frame-bg-light': #f54e0080,
    'danger-3000-button-border-light': #e96b30,
    'danger-3000-button-border-hover-light': #f54e00,

    'shadow-elevation-3000-light': 0 3px 0 var(--border-3000-light),
    'shadow-elevation-3000-dark': 0 3px 0 var(--border-3000-dark),
    'text-3000-dark': #fff,
    'text-secondary-3000-dark': rgba(#fff, 0.7),
    'muted-3000-dark': rgba(#fff, 0.5),
    'trace-3000-dark': rgba(#fff, 0.25),
    'primary-3000-dark': #f7a503,
    'primary-highlight-dark': rgba(#f7a503, 0.1),
    'primary-3000-hover-dark': #f7a503,
    'primary-3000-active-dark': #f7a503,
    'primary-alt-highlight-light': #e5e7e0,

    'secondary-3000-dark': #1d1f27,
    'secondary-3000-hover-dark': #575d77,
    'accent-3000-dark': #21242b,
    'bg-3000-dark': #1d1f27,
    'border-3000-dark': #35373e,
    'border-bold-3000-dark': #3f4046,
    'glass-bg-3000-dark': #24262a99,
    'glass-border-3000-dark': var(--border-3000-dark),
    'link-3000-dark': #f1a82c,

    'primary-3000-frame-bg-dark': #926826,
    'primary-3000-button-bg-dark': #e0a045,
    'primary-3000-button-border-dark': #b17816,
    'primary-3000-button-border-hover-dark': #8e5b03,
    'primary-alt-highlight-dark': #232429,

    'secondary-3000-frame-bg-dark': #323232,
    'secondary-3000-button-bg-dark': #1d1f27,
    'secondary-3000-button-border-dark': #4a4c52,
    'secondary-3000-button-border-hover-dark': #5e6064,

    'danger-3000-frame-bg-dark': #f54e0080,
    'danger-3000-button-border-dark': #c44003,
    'danger-3000-button-border-hover-dark': #f54e00,

    // The derived colors
    // `--default` is a pre-3000 alias for "default text color" (`--text-3000` now)
    'default': var(--default),
    'text-3000': var(--text-3000),
    'text-secondary-3000': var(--text-secondary-3000),
    'muted-3000': var(--muted-3000),
    'primary-3000': var(--primary-3000),
    'secondary-3000': var(--secondary-3000),
    'secondary-3000-hover': var(--secondary-3000-hover),
    'accent-3000': var(--accent-3000),
    'bg-3000': var(--bg-3000),
    'primary-highlight': var(--primary-highlight),
    'primary-alt-highlight': var(--primary-alt-highlight),
    'primary-alt': var(--primary-alt),
);

// These vars are modified via SCSS for legacy reasons (e.g. darken/lighten), so keeping as SCSS vars for now.
$_lifecycle_new: map.get($colors, 'primary');
$_lifecycle_returning: map.get($colors, 'success');
$_lifecycle_resurrecting: #a56eff; // --data-lilac
$_lifecycle_dormant: map.get($colors, 'danger');

// root variables are defined as a mixin here because
// the toolbar needs them attached to :host not :root
@mixin root-variables {
    --bg-bridge: #ebece8;

    // Non-color vars
    --radius: 0.375rem; // Increased from Tailwind's default of 0.25rem
    --radius-sm: 0.25rem; // Increased from Tailwind's default of 0.125rem
    --radius-lg: 0.625rem; // Increased from Tailwind's default of 0.5rem
    --modal-shadow-elevation: 0px 16px 16px -16px rgb(0 0 0 / 35%);
    --opacity-disabled: 0.65;
    --font-medium: 500;
    --font-semibold: 600;
    --font-sans: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', helvetica, arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-title: 'MatterSQ', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue',
        helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-mono: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;

    // Dashboard item colors
    --blue: #597dce;
    --purple: #c278cf;
    --green: var(--success);
    --black: var(--text-3000);

    //// Data colors (e.g. insight series). Note: colors.ts relies on these values being hexadecimal
    --data-color-1: #1d4aff;
    --data-color-2: #621da6;
    --data-color-3: #42827e;
    --data-color-4: #ce0e74;
    --data-color-5: #f14f58;
    --data-color-6: #7c440e;
    --data-color-7: #529a0a;
    --data-color-8: #0476fb;
    --data-color-9: #fe729e;
    --data-color-10: #35416b;
    --data-color-11: #41cbc4;
    --data-color-12: #b64b02;
    --data-color-13: #e4a604;
    --data-color-14: #a56eff;
    --data-color-15: #30d5c8;

    // Lifecycle series
    --lifecycle-new: #{$_lifecycle_new};
    --lifecycle-returning: #{$_lifecycle_returning};
    --lifecycle-resurrecting: #{$_lifecycle_resurrecting};
    --lifecycle-dormant: #{$_lifecycle_dormant};
    --lifecycle-new-hover: #{color.adjust($_lifecycle_new, $lightness: -20%)};
    --lifecycle-returning-hover: #{color.adjust($_lifecycle_returning, $lightness: -20%)};
    --lifecycle-resurrecting-hover: #{color.adjust($_lifecycle_resurrecting, $lightness: -20%)};
    --lifecycle-dormant-hover: #{color.adjust($_lifecycle_dormant, $lightness: -20%)};

    // Funnels
    // TODO: unify with lib/colors.ts, getGraphColors()
    --funnel-axis: var(--border);
    --funnel-grid: #ddd;

    // Z-indexes
    --z-bottom-notice: 5100;
    --z-command-palette: 1875;
    --z-force-modal-above-popovers: 1850;
    --z-tooltip: 1070;

    // 1066 through 1069 are reserved to be set from code
    --z-definition-popover: 1065;
    --z-popover: 1064;
    --z-graph-tooltip: 1063;

    // 1061 and 1062 are reserved to be set from code
    --z-modal: 1060;
    --z-hedgehog-buddy: 1059;
    --z-annotation-popover: 1049;
    --z-drawer: 950;
    --z-notifications-popover: 949; // below the TZ aware popover but over the main-nav
    --z-main-nav: 948;
    --z-lemon-sidebar: 940;
    --z-lemon-activation-sidebar: 939;
    --z-mobile-nav-overlay: 931;
    --z-top-navigation: 800;
    --z-content-overlay: 488;
    --z-raised: 5;

    // Toasts
    // Update and override from react-toastify
    // which attaches these variables to :root
    // which means they aren't available in the toolbar
    --toastify-color-dark: var(--accent-3000-dark);
    --toastify-color-light: var(--bg-light);
    --toastify-color-info: var(--primary);
    --toastify-color-success: var(--success);
    --toastify-color-warning: var(--warning);
    --toastify-color-error: var(--danger);
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --toastify-toast-background: var(--bg-light);
    --toastify-toast-width: 26rem;
    --toastify-toast-min-height: 3.5rem;
    --toastify-toast-max-height: 16rem;
    --toastify-text-color-light: #757575;

    // In-app prompts
    --in-app-prompts-width: 26rem;
    --lettermark-1-bg: #dcb1e3;
    --lettermark-1-text: #572e5e;
    --lettermark-2-bg: #ffc4b2;
    --lettermark-2-text: #3e5891;
    --lettermark-3-bg: #fdedc9;
    --lettermark-3-text: #3e5891;
    --lettermark-4-bg: #3e5891;
    --lettermark-4-text: #ffc4b2;
    --lettermark-5-bg: #8da9e7;
    --lettermark-5-text: #572e5e;
    --lettermark-6-bg: #572e5e;
    --lettermark-6-text: #dcb1e3;
    --lettermark-7-bg: #ffc035;
    --lettermark-7-text: #35416b;
    --lettermark-8-bg: #ff906e;
    --lettermark-8-text: #2a3d65;

    // Modals
    --modal-backdrop-blur: 5px; // Half the value in Figma as blur is calculated differently there it seems
    --modal-backdrop-color: rgb(0 0 0 / 20%);
    --modal-transition-time: 200ms;

    // Tooltips
    --tooltip-bg-light: #2d2d2d;
    --tooltip-bg-dark: #656d81;

    // Notebooks
    --notebook-popover-transition-properties: 150ms cubic-bezier(0, 0.5, 0.5, 1);
    --notebook-column-left-width: 27rem;
    --notebook-column-right-width: 20rem;

    // Design System colors
    --primitive-3000-5: hsl(75deg 14% 95%);
    --primitive-3000-10: hsl(70deg 16% 93%); /* light background */
    --primitive-3000-15: hsl(77deg 13% 89%); /* medium accent */
    --primitive-3000-20: hsl(78deg 13% 85%);
    --primitive-3000-25: hsl(67deg 8% 80%); /* light border */
    --primitive-3000-30: hsl(72deg 8% 76%);
    --primitive-3000-35: hsl(70deg 8% 71%);
    --primitive-3000-40: hsl(69deg 8% 65%);
    --primitive-3000-45: hsl(67deg 8% 60%);
    --primitive-3000-50: hsl(67deg 8% 55%);
    --primitive-transparent: hsl(0deg 0% 0% / 0%);
    --primitive-white: hsl(0deg 0% 100%);
    --primitive-black: hsl(0deg 0% 0%);
    --primitive-brand-blue: hsl(228deg 100% 56%);
    --primitive-brand-orange-hue: 33;
    --primitive-brand-orange-saturation: 99%;
    --primitive-brand-orange-lightness: 48%;
    --primitive-brand-yellow: hsl(43deg 94% 57%);
    --primitive-neutral-50: hsl(0deg 0% 98%);
    --primitive-neutral-100: hsl(0deg 0% 96%);
    --primitive-neutral-150: hsl(0deg 0% 92%);
    --primitive-neutral-200: hsl(0deg 0% 88%);
    --primitive-neutral-250: hsl(0deg 0% 84%);
    --primitive-neutral-300: hsl(0deg 0% 80%);
    --primitive-neutral-350: hsl(0deg 0% 75%);
    --primitive-neutral-400: hsl(0deg 0% 70%);
    --primitive-neutral-450: hsl(0deg 0% 65%);
    --primitive-neutral-500: hsl(0deg 0% 60%);
    --primitive-neutral-550: hsl(0deg 0% 55%);
    --primitive-neutral-600: hsl(0deg 0% 50%);
    --primitive-neutral-650: hsl(0deg 0% 45%);
    --primitive-neutral-700: hsl(0deg 0% 40%);
    --primitive-neutral-750: hsl(0deg 0% 35%);
    --primitive-neutral-800: hsl(0deg 0% 30%);
    --primitive-neutral-850: hsl(0deg 0% 25%);
    --primitive-neutral-900: hsl(0deg 0% 20%);
    --primitive-neutral-950: hsl(0deg 0% 15%);
    --primitive-neutral-cool-50: hsl(240deg 20% 95%);
    --primitive-neutral-cool-100: hsl(232deg 17% 91%);
    --primitive-neutral-cool-150: hsl(230deg 17% 86%);
    --primitive-neutral-cool-200: hsl(233deg 17% 81%);
    --primitive-neutral-cool-250: hsl(231deg 17% 76%);
    --primitive-neutral-cool-300: hsl(230deg 17% 72%);
    --primitive-neutral-cool-350: hsl(231deg 17% 67%);
    --primitive-neutral-cool-400: hsl(231deg 17% 62%);
    --primitive-neutral-cool-450: hsl(232deg 17% 58%);
    --primitive-neutral-cool-500: hsl(231deg 17% 53%);
    --primitive-neutral-cool-550: hsl(231deg 17% 53%);
    --primitive-neutral-cool-600: hsl(230deg 15% 48%);
    --primitive-neutral-cool-650: hsl(229deg 16% 42%);
    --primitive-neutral-cool-700: hsl(230deg 16% 37%);
    --primitive-neutral-cool-750: hsl(231deg 17% 32%);
    --primitive-neutral-cool-800: hsl(230deg 18% 26%);
    --primitive-neutral-cool-850: hsl(236deg 31% 19%);
    --primitive-neutral-cool-900: hsl(237deg 31% 13%);
    --primitive-neutral-cool-950: hsl(234deg 31% 6%);
    --primitive-blue-50: hsl(215deg 90% 96%);
    --primitive-blue-100: hsl(217deg 90% 92%);
    --primitive-blue-200: hsl(216deg 90% 84%);
    --primitive-blue-300: hsl(217deg 92% 76%);
    --primitive-blue-400: hsl(217deg 91% 68%);
    --primitive-blue-500: hsl(217deg 91% 60%);
    --primitive-blue-600: hsl(217deg 91% 48%);
    --primitive-blue-700: hsl(217deg 91% 36%);
    --primitive-blue-800: hsl(217deg 92% 24%);
    --primitive-blue-900: hsl(218deg 90% 12%);
    --primitive-blue-950: hsl(216deg 93% 6%);
    --primitive-purple-50: hsl(263deg 100% 95%);
    --primitive-purple-100: hsl(264deg 100% 90%);
    --primitive-purple-200: hsl(263deg 100% 81%);
    --primitive-purple-300: hsl(263deg 100% 71%);
    --primitive-purple-400: hsl(263deg 100% 61%);
    --primitive-purple-500: hsl(263deg 100% 52%);
    --primitive-purple-600: hsl(263deg 100% 41%);
    --primitive-purple-700: hsl(263deg 100% 31%);
    --primitive-purple-800: hsl(263deg 100% 21%);
    --primitive-purple-900: hsl(264deg 100% 10%);
    --primitive-purple-950: hsl(264deg 100% 5%);
    --primitive-violet-50: hsl(279deg 100% 96%);
    --primitive-violet-100: hsl(280deg 100% 92%);
    --primitive-violet-200: hsl(280deg 100% 84%);
    --primitive-violet-300: hsl(280deg 100% 76%);
    --primitive-violet-400: hsl(280deg 100% 68%);
    --primitive-violet-500: hsl(280deg 100% 60%);
    --primitive-violet-600: hsl(280deg 100% 48%);
    --primitive-violet-700: hsl(280deg 100% 36%);
    --primitive-violet-800: hsl(280deg 100% 24%);
    --primitive-violet-900: hsl(280deg 100% 12%);
    --primitive-violet-950: hsl(279deg 100% 6%);
    --primitive-red-50: hsl(8deg 85% 95%);
    --primitive-red-100: hsl(8deg 86% 89%);
    --primitive-red-200: hsl(8deg 88% 78%);
    --primitive-red-300: hsl(8deg 87% 67%);
    --primitive-red-400: hsl(8deg 87% 56%);
    --primitive-red-500: hsl(8deg 87% 45%);
    --primitive-red-600: hsl(8deg 87% 36%);
    --primitive-red-700: hsl(8deg 87% 27%);
    --primitive-red-800: hsl(8deg 87% 18%);
    --primitive-red-900: hsl(8deg 87% 9%);
    --primitive-red-950: hsl(8deg 85% 5%);
    --primitive-amber-50: hsl(36deg 71% 93%);
    --primitive-amber-100: hsl(38deg 70% 87%);
    --primitive-amber-200: hsl(38deg 70% 74%);
    --primitive-amber-300: hsl(38deg 71% 60%);
    --primitive-amber-400: hsl(38deg 70% 47%);
    --primitive-amber-500: hsl(38deg 70% 34%);
    --primitive-amber-600: hsl(38deg 70% 27%);
    --primitive-amber-700: hsl(38deg 71% 20%);
    --primitive-amber-800: hsl(37deg 69% 14%);
    --primitive-amber-900: hsl(38deg 71% 7%);
    --primitive-amber-950: hsl(38deg 73% 3%);
    --primitive-orange-50: hsl(30deg 100% 95%);
    --primitive-orange-100: hsl(31deg 100% 90%);
    --primitive-orange-200: hsl(30deg 100% 80%);
    --primitive-orange-300: hsl(30deg 100% 70%);
    --primitive-orange-400: hsl(30deg 100% 60%);
    --primitive-orange-500: hsl(30deg 100% 50%);
    --primitive-orange-600: hsl(30deg 100% 40%);
    --primitive-orange-700: hsl(30deg 100% 30%);
    --primitive-orange-800: hsl(30deg 100% 20%);
    --primitive-orange-900: hsl(31deg 100% 10%);
    --primitive-orange-950: hsl(31deg 100% 5%);
    --primitive-yellow-50: hsl(39deg 100% 95%);
    --primitive-yellow-100: hsl(39deg 100% 90%);
    --primitive-yellow-200: hsl(39deg 100% 80%);
    --primitive-yellow-300: hsl(39deg 100% 70%);
    --primitive-yellow-400: hsl(39deg 100% 60%);
    --primitive-yellow-500: hsl(39deg 100% 50%);
    --primitive-yellow-600: hsl(39deg 100% 40%);
    --primitive-yellow-700: hsl(39deg 100% 30%);
    --primitive-yellow-800: hsl(39deg 100% 20%);
    --primitive-yellow-900: hsl(39deg 100% 10%);
    --primitive-yellow-950: hsl(41deg 100% 5%);
    --primitive-green-50: hsl(100deg 100% 93%);
    --primitive-green-100: hsl(101deg 100% 85%);
    --primitive-green-200: hsl(101deg 100% 70%);
    --primitive-green-300: hsl(101deg 100% 56%);
    --primitive-green-400: hsl(101deg 100% 41%);
    --primitive-green-500: hsl(101deg 100% 26%);
    --primitive-green-600: hsl(101deg 100% 21%);
    --primitive-green-700: hsl(101deg 100% 16%);
    --primitive-green-800: hsl(101deg 100% 10%);
    --primitive-green-900: hsl(101deg 100% 5%);
    --primitive-green-950: hsl(100deg 100% 3%);
    --primitive-pink-50: hsl(324deg 100% 97%);
    --primitive-pink-100: hsl(321deg 100% 94%);
    --primitive-pink-200: hsl(323deg 100% 89%);
    --primitive-pink-300: hsl(322deg 100% 83%);
    --primitive-pink-400: hsl(322deg 100% 78%);
    --primitive-pink-500: hsl(322deg 100% 72%);
    --primitive-pink-600: hsl(322deg 100% 58%);
    --primitive-pink-700: hsl(322deg 100% 43%);
    --primitive-pink-800: hsl(322deg 100% 29%);
    --primitive-pink-900: hsl(322deg 100% 14%);
    --primitive-pink-950: hsl(322deg 100% 7%);
    --primitive-teal-50: hsl(180deg 100% 93%);
    --primitive-teal-100: hsl(180deg 100% 85%);
    --primitive-teal-200: hsl(180deg 100% 70%);
    --primitive-teal-300: hsl(180deg 100% 56%);
    --primitive-teal-400: hsl(180deg 100% 41%);
    --primitive-teal-500: hsl(180deg 100% 26%);
    --primitive-teal-600: hsl(180deg 100% 21%);
    --primitive-teal-700: hsl(180deg 100% 16%);
    --primitive-teal-800: hsl(180deg 100% 10%);
    --primitive-teal-900: hsl(180deg 100% 5%);
    --primitive-teal-950: hsl(180deg 100% 3%);
    --primitive-brand-orange: hsl(
        var(--primitive-brand-orange-hue),
        var(--primitive-brand-orange-saturation),
        var(--primitive-brand-orange-lightness)
    );
    --primitive-accent-primary: var(--primitive-brand-blue);
    --primitive-accent-secondary: var(--primitive-brand-orange);
    --surface-primary: var(--primitive-white); /* Cards, Tables, stuff that stands out */
    --surface-primary-hover: var(--primitive-neutral-50); /* Hover state of primary surface */
    --surface-primary-active: var(--primitive-neutral-100); /* Active state of primary surface */
    --surface-primary-disabled: var(--primitive-neutral-500); /* Disabled state of primary surface */
    --surface-secondary: var(--primitive-neutral-50); /* Secondary surface */
    --surface-secondary-hover: var(--primitive-neutral-100); /* Hover state of secondary surface */
    --surface-secondary-active: var(--primitive-neutral-200); /* Active state of secondary surface */
    --surface-secondary-disabled: var(--primitive-neutral-500); /* Disabled state of secondary surface */
    --surface-tertiary: var(--primitive-neutral-100); /* Tertiary surface */
    --surface-tertiary-hover: var(--primitive-neutral-150); /* Hover state of tertiary surface */
    --surface-tertiary-active: var(--primitive-neutral-300); /* Active state of tertiary surface */
    --surface-tertiary-disabled: var(--primitive-neutral-500); /* Disabled state of tertiary surface */
    --surface-3000-tertiary: var(--primitive-3000-15);
    --surface-3000-tertiary-hover: var(--primitive-3000-25);

    // --surface-accent: var(--primitive-accent-primary); /* Accent surface */
    // --surface-accent-hover: var(--primitive-accent-primary); /* Hover state of accent surface */
    // --surface-accent-focus: var(--primitive-accent-primary); /* Focus state of accent surface */

    --bg-primary: var(--primitive-neutral-100); /* Behind the primary surface */
    --bg-secondary: var(--primitive-neutral-50); /* Behind the secondary surface */
    --fill-button-muted: var(--primitive-transparent); /* Muted fill for button */
    --fill-button-muted-hover: var(--primitive-neutral-200); /* Hover state of muted fill for button */
    --fill-button-muted-darker-hover: var(
        --primitive-neutral-250
    ); /* Hover state of muted fill for button on a darker background */

    --fill-danger: var(--primitive-red-500); /* Fill for danger */
    --fill-danger-overlay: var(--primitive-red-500); /* Overlay fill for danger */
    --fill-success: var(--primitive-green-500); /* Fill for success */
    --fill-success-overlay: var(--primitive-green-500); /* Overlay fill for success */
    --fill-warning: var(--primitive-yellow-700); /* Fill for warning */
    --fill-warning-overlay: var(--primitive-yellow-500); /* Overlay fill for warning */
    --content-primary: var(--primitive-neutral-950); /* Text on primary surface/background */
    --content-primary-hover: var(--primitive-neutral-800); /* Hover state of primary text */
    --content-primary-active: var(--primitive-neutral-100); /* Active state of primary text */
    --content-primary-disabled: var(--primitive-neutral-500); /* Disabled state of primary text */
    --content-secondary: var(--primitive-neutral-800); /* Text on secondary surface/background */
    --content-secondary-hover: var(--primitive-neutral-700); /* Hover state of secondary text */
    --content-secondary-active: var(--primitive-neutral-200); /* Active state of secondary text */
    --content-secondary-disabled: var(--primitive-neutral-500); /* Disabled state of secondary text */
    --content-tertiary: var(--primitive-neutral-700); /* Text on tertiary surface/background */
    --content-tertiary-hover: var(--primitive-neutral-700); /* Hover state of tertiary text */
    --content-tertiary-active: var(--primitive-neutral-200); /* Active state of tertiary text */
    --content-tertiary-disabled: var(--primitive-neutral-500); /* Disabled state of tertiary text */
    --content-label: var(--primitive-neutral-300); /* Label text */
    --content-on-fill-button-muted: var(--primitive-neutral-950); /* On-fill text for button-muted */
    --content-on-fill-danger: var(--primitive-white); /* On-fill text for danger */
    --content-on-fill-danger-overlay: var(--primitive-white); /* On-fill text for danger overlay */
    --content-on-fill-success: var(--primitive-white); /* On-fill text for success */
    --content-on-fill-success-overlay: var(--primitive-white); /* On-fill text for success overlay */
    --content-on-fill-warning: var(--primitive-white); /* On-fill text for warning */
    --content-on-fill-warning-overlay: var(--primitive-white); /* On-fill text for warning overlay */
    --border-primary: var(--primitive-neutral-200); /* Border for primary */
    --border-primary-hover: var(--primitive-neutral-600); /* Hover state of primary border */
    --border-primary-active: var(--primitive-neutral-700); /* Active state of primary border */
    --border-primary-disabled: var(--primitive-neutral-100); /* Disabled state of primary border */
    --border-secondary: var(--primitive-neutral-400); /* Border for secondary */
    --border-secondary-hover: var(--primitive-neutral-700); /* Hover state of secondary border */
    --border-secondary-active: var(--primitive-neutral-800); /* Active state of secondary border */
    --border-secondary-disabled: var(--primitive-neutral-100); /* Disabled state of secondary border */
    --content-link-primary: var(--primitive-accent-secondary); /* link color */
    --content-link-primary-hover: var(--primitive-accent-secondary); /* Hover state of link color */
    --content-link-primary-active: var(--primitive-accent-secondary); /* Active state of link color */
    --focus-ring: var(--primitive-accent-secondary);
    --button-height-xs: 26px;
    --button-height-sm: 30px;
    --button-height-base: 34px;
    --button-height-lg: 46px;
    --icon-size-xs: 14px;
    --icon-size-sm: 20px;
    --icon-size-base: 24px;
    --icon-size-lg: 28px;

    .token {
        &-content-primary {
            color: var(--content-primary);
        }

        &-content-secondary {
            color: var(--content-secondary);
        }

        &-content-tertiary {
            color: var(--content-tertiary);
        }

        &-surface-primary {
            background-color: var(--primitive-white);
        }

        &-border-primary {
            border-color: var(--primitive-3000-25) !important;
        }

        &-border-secondary {
            border-color: var(--primitive-3000-25);
        }

        &-surface-3000-tertiary {
            background-color: var(--surface-3000-tertiary);
        }

        &-surface-3000-tertiary-hover {
            background-color: var(--surface-3000-tertiary-hover);
        }

        &-surface-separator {
            background-color: var(--primitive-3000-25);
        }

        &-shadow-primary {
            box-shadow: 0 3px 0 #dadbd2;
            box-shadow: 0 3px 0 var(--primitive-neutral-300);
        }
    }

    .element {
        &-dropdown-menu {
            &-label {
                font-weight: 600;
                line-height: 1.5rem;
                color: var(--content-tertiary);
                letter-spacing: 0.075em;

                @apply px-2 py-1.5 text-xxs font-semibold text-uppercase grid-cols-1;
            }

            &-separator {
                background-color: var(--primitive-3000-25);

                @apply -mx-1 my-1 h-px;
            }
        }

        &-input {
            background: var(--primitive-white);
            border: 1px solid var(--primitive-neutral-200);
        }

        &-button {
            --button-padding-y: 2px;
            --button-padding-x: 2px;
            --button-height: var(--button-height-base);
            --button-icon-size: var(--icon-size-base);

            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            outline: none !important;

            &-size-xs {
                --button-icon-height: var(--button-height-xs);
                --button-icon-size: var(--icon-size-xs);

                height: var(--button-height);

                .element-button-icon {
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                }
            }

            &-size-sm {
                --button-icon-height: var(--button-height-sm);
                --button-icon-size: var(--icon-size-sm);

                height: var(--button-height);

                .element-button-icon {
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                }
            }

            &-size-base {
                --button-icon-height: var(--button-height-base);
                --button-icon-size: var(--icon-size-base);

                height: var(--button-height);

                .element-button-icon {
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                }
            }

            &-size-lg {
                --button-icon-height: var(--button-height-lg);
                --button-icon-size: var(--icon-size-lg);

                height: var(--button-height);

                .element-button-icon {
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                }
            }

            &-icon {
                display: flex;
                flex-shrink: 0;
                place-items: center center;
                width: var(--button-icon-height);
                height: var(--button-icon-height);
                transition: color 200ms ease;

                svg {
                    display: flex;
                    flex-shrink: 0;
                    place-items: center center;
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                    transition: color 200ms ease;
                }

                &-inside-input {
                    svg {
                        position: relative;
                        top: -1px;
                    }
                }
            }

            &-has-icon-left {
                grid-template-columns: var(--button-icon-size) 1fr;
            }

            &-has-icon-right {
                grid-template-columns: 1fr var(--button-icon-size);
            }

            &-has-icon-left-and-right {
                grid-template-columns: var(--button-icon-size) 1fr var(--button-icon-size);
            }

            &-has-icon-only {
                width: var(--button-height);

                svg {
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                }
            }

            @apply font-semibold rounded;
        }

        &-button-primary {
            color: var(--content-primary);
            background: var(--primitive-white);
            border: 1px solid var(--primitive-neutral-200);

            &:not(:disabled):hover,
            &:not(:disabled):focus,
            &[data-state='open'],
            &[data-selected='true'] {
                color: var(--content-primary);
                background: var(--primitive-neutral-50);
                border: 1px solid var(--primitive-neutral-400);
            }
        }

        &-button-outline {
            color: var(--content-primary);
            background: var(--primitive-transparent);
            border: 1px solid var(--primitive-neutral-200);

            &:not(:disabled):hover,
            &:not(:disabled):focus,
            &[data-state='open'],
            &[data-selected='true'] {
                color: var(--content-primary);
                background: var(--primitive-neutral-200);
                border: 1px solid var(--primitive-neutral-300);
            }
        }

        &-button-muted {
            color: var(--content-on-fill-button-muted);
            background: var(--fill-button-muted);

            &:not(:disabled):hover,
            &:not(:disabled):focus,
            &[data-state='open'],
            &[data-selected='true'] {
                color: var(--content-on-fill-button-muted);
                background: var(--fill-button-muted-hover);
            }
        }

        &-button-muted-darker {
            color: var(--content-on-fill-button-muted);
            background: var(--fill-button-muted);

            &:not(:disabled):hover,
            &:not(:disabled):focus,
            &[data-state='open'],
            &[data-selected='true'] {
                color: var(--content-on-fill-button-muted);
                background: var(--fill-button-muted-darker-hover);
            }
        }
    }

    // Design System colors
    @each $name, $hex in $colors {
        --#{$name}: #{$hex};
    }
}

// defined here so that they can be shared with the toolbar
@mixin light-mode-3000-variables {
    --text-3000: var(--text-3000-light);
    --text-secondary-3000: var(--text-secondary-3000-light);
    --muted-3000: var(--muted-3000-light);
    --trace-3000: var(--trace-3000-light);
    --primary-3000: var(--primary-3000-light);
    --primary-highlight: var(--primary-highlight-light);
    --primary-3000-hover: var(--primary-3000-hover-light);
    --primary-3000-active: var(--primary-3000-active-light);
    --secondary-3000: var(--secondary-3000-light);
    --secondary-3000-hover: var(--secondary-3000-hover-light);
    --accent-3000: var(--accent-3000-light);
    --bg-3000: var(--bg-3000-light);
    --border-3000: var(--border-3000-light);
    --border-light-opaque: #eee;
    --border-bold-3000: var(--border-bold-3000-light);
    --glass-bg-3000: var(--glass-bg-3000-light);
    --glass-border-3000: var(--glass-border-3000-light);
    --bg-light: #fff;
    --bg-table: #f9faf7;
    --link: var(--link-3000-light);
    --shadow-elevation-3000: var(--shadow-elevation-3000-light);
    --primary-3000-frame-bg: var(--primary-3000-frame-bg-light);
    --primary-3000-button-bg: var(--primary-3000-button-bg-light);
    --primary-3000-button-border: var(--primary-3000-button-border-light);
    --primary-3000-button-border-hover: var(--primary-3000-button-border-hover-light);
    --primary-alt-highlight: var(--primary-alt-highlight-light);
    --secondary-3000-frame-bg: var(--secondary-3000-frame-bg-light);
    --secondary-3000-button-bg: var(--secondary-3000-button-bg-light);
    --secondary-3000-button-border: var(--secondary-3000-button-border-light);
    --secondary-3000-button-border-hover: var(--secondary-3000-button-border-hover-light);
    --danger-3000-frame-bg: var(--danger-3000-frame-bg-light);
    --danger-3000-button-border: var(--danger-3000-button-border-light);
    --danger-3000-button-border-hover: var(--danger-3000-button-border-hover-light);
    --tooltip-bg: var(--tooltip-bg-light);
}

// defined here so that they can be shared with the toolbar
@mixin dark-mode-3000-variables {
    --text-3000: var(--text-3000-dark);
    --text-secondary-3000: var(--text-secondary-3000-dark);
    --muted-3000: var(--muted-3000-dark);
    --trace-3000: var(--trace-3000-dark);
    --primary-3000: var(--primary-3000-dark);
    --primary-highlight: var(--primary-highlight-dark);
    --primary-3000-hover: var(--primary-3000-hover-dark);
    --primary-3000-active: var(--primary-3000-active-dark);
    --secondary-3000: var(--secondary-3000-dark);
    --secondary-3000-hover: var(--secondary-3000-hover-dark);
    --accent-3000: var(--accent-3000-dark);
    --bg-3000: var(--bg-3000-dark);
    --border-3000: var(--border-3000-dark);
    --border-light-opaque: #1e2028;
    --border-bold-3000: var(--border-bold-3000-dark);
    --glass-bg-3000: var(--glass-bg-3000-dark);
    --glass-border-3000: var(--glass-border-3000-dark);
    --bg-light: var(--accent-3000);
    --bg-table: #232429;
    --brand-key: #fff; // In dark mode the black in PostHog's logo is replaced with white for proper contrast
    --link: var(--link-3000-dark);
    --shadow-elevation-3000: var(--shadow-elevation-3000-dark);
    --primary-3000-frame-bg: var(--primary-3000-frame-bg-dark);
    --primary-3000-button-bg: var(--primary-3000-button-bg-dark);
    --primary-3000-button-border: var(--primary-3000-button-border-dark);
    --primary-3000-button-border-hover: var(--primary-3000-button-border-hover-dark);
    --primary-alt-highlight: var(--primary-alt-highlight-dark);
    --secondary-3000-frame-bg: var(--secondary-3000-frame-bg-dark);
    --secondary-3000-button-bg: var(--secondary-3000-button-bg-dark);
    --secondary-3000-button-border: var(--secondary-3000-button-border-dark);
    --secondary-3000-button-border-hover: var(--secondary-3000-button-border-hover-dark);
    --danger-3000-frame-bg: var(--danger-3000-frame-bg-dark);
    --danger-3000-button-border: var(--danger-3000-button-border-dark);
    --danger-3000-button-border-hover: var(--danger-3000-button-border-hover-dark);
    --tooltip-bg: var(--tooltip-bg-dark);
    --data-color-2: #7f26d9;
    --data-color-3: #3e7a76;
    --data-color-4: #bf0d6c;
    --data-color-5: #f0474f;
    --data-color-6: #b36114;
    --data-color-10: #6576b3;
}

// defined here so that they can be shared with the toolbar
@mixin common-variables {
    --primary: var(--primary-3000);
    --muted: var(--muted-3000);
    --default: var(--text-3000);

    // `--muted-alt` can be removed now, as it's the same as `--muted` after the 3000 redesign
    --muted-alt: var(--muted-3000);
    --primary-alt: var(--text-3000);
    --border: var(--border-3000);
    --border-bold: var(--border-bold-3000);
    --data-color-1: #1d4aff;
    --data-color-1-hover: #1a3cf6;
    --data-color-10: #35416b;
}
