/*
This file contains the main styling configuration for PostHog. We also use AntD which uses LESS,
when changing any base config here, please remember to update antd.less too
*/

// Main colors
$primary: #5375ff;
$primary_alt: #35416b;
$primary_hover: #839af8;
$primary_active: #3d57d9;
$primary_bg_hover: rgba($primary, 0.1);
$primary_bg_active: rgba($primary, 0.2);
$success: #77b96c;
$warning: #f7a501;
$warning_hover: #f3ba3e;
$warning_active: #e69900;
$danger: #f96132;
$danger_hover: #fa754c;
$danger_active: #f9430b;
$danger_bridge: #df4313; // Used for bridge pages (posthog.com to PostHog App transition)

// Brand colors, as in logo
$brand_blue: #1d4aff;
$brand_blue_active: #2148e4;
$brand_red: #f54e00;
$brand_yellow: #f9bd2b;

// Text colors
$text_default: #2d2d2d;
$text_light: rgba(255, 255, 255, 0.88);
$text_muted: rgba(0, 0, 0, 0.5);
$text_muted_alt: #747ea1;
$mark_color: #fdedc9;

// Background colors
$bg_navy: #35416b;
$bg_charcoal: #2d2d2d;
$bg_mid: #f2f2f2;
$bg_light: #ffffff;
$bg_side: #fafaf9;
$bg_depth: #0f0f0f;
$bg_menu: #2c3035;
$bg_bridge: #ebece8;
$bg_overlay: #333333;
$bg_shaded: rgba(0, 0, 0, 0.05);

// Border colors
$border_light: rgba(0, 0, 0, 0.08);
$border: rgba(0, 0, 0, 0.15);
$border_dark: rgba(0, 0, 0, 0.24);
$border_active: rgba(0, 0, 0, 0.36);

// Lfecycle series
$lifecycle_new: #99c5ff;
$lifecycle_returning: #71b96b;
$lifecycle_resurrecting: #c277cf;
$lifecycle_dormant: #f86234;

// Funnels
$funnel_default: $primary;
$funnel_alt: $primary_alt;
$funnel_background: var(--border-light);
$funnel_axis_zero: $bg_depth;
$funnel_axis: $border_dark;
$funnel_axis_label: $text_muted;
$antd_table_background_dark: #fafafa;

// Blue Swatch
$blue_700: #35416b;
$blue_500: #597dce;
$blue_300: #8da9e7;
$blue_100: #b8cefd;

// Yellow Swatch
$yellow_500: #f8a523;
$yellow_300: #ffc035;
$yellow_100: #fbdd99;
$yellow_50: #fdedc9;

// Purple Swatch
$purple_700: #7c4286;
$purple_500: #c278cf;
$purple_300: #dcb1e3;

// Breakpoints (from AntD)
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
