.AutomationStepConfig {
    .StepChooser {
        max-width: 780px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5em;
        row-gap: 0.5em;
        display: grid;
    }

    .closebutton {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;
    }
}
