{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post" action="">
    {% if validlink %}
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>

        
        {{form.new_password1.errors}}
        {{form.new_password2.errors}}
        <div class='field'>
            <input type="password" name='new_password1' id="inputPassword1" placeholder="" required>
            <label for="inputPassword1">Password</label>
        </div>
        <div class='field'>
            <input type="password" name='new_password2' id="inputPassword1" placeholder="" required>
            <label for="inputPassword1">Password (again)</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
    {% else %}
        <p class='text-danger'>This password reset link has expired. Please <a href='/accounts/password_reset/'>request a new one</a>.
    {% endif %}
    </form>
{% endblock %}