{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post" action="">
        <p>
            There are no SMTP credentials set on this server, which means we can't send password reset emails. Either <a href='https://posthog.com/docs/deployment/smtp-credentials'>set SMTP credentials</a>, or run
            <pre>python manage.py changepassword [email]</pre>
        </p>
        <a class="btn btn-lg btn-primary btn-block" href='/login'>Back to login</a>
    </form>
{% endblock %}