{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post" action="">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>

        {% if error %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class='field'>
            <input type="email" name='email' id="inputEmail" placeholder="" value="{{ email }}" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
    </form>
{% endblock %}