@import '../../../styles/mixins';

.EditorFiltersWrapper {
    --editor-panel-group-min-width: 24rem;

    flex-shrink: 0;
    background: var(--background-primary);

    &:not(.EditorFiltersWrapper--embedded) {
        padding: 1rem;
        border: 1px solid var(--border-tertiary);
        border-radius: var(--radius);
    }

    .EditorFilters {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        .EditorFilterGroup {
            flex: 1;
            min-width: var(--editor-panel-group-min-width);
            max-width: 100%;
        }
    }
}
