@import '../../../styles/mixins';

.EditorFiltersWrapper {
    flex-shrink: 0;
    background: var(--bg-light);
    container-type: inline-size;

    &:not(.EditorFiltersWrapper--embedded) {
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid var(--border);
        border-radius: var(--radius);
    }

    .EditorFilters {
        > * + * {
            margin-top: 1rem;
        }

        @container (min-width: 768px) {
            display: flex;
            gap: 2rem;

            .EditorFilterGroup {
                flex: 1;
                width: 50%;
            }

            > * + * {
                margin-top: 0;
            }
        }
    }

    &.EditorFiltersWrapper--singlecolumn {
        padding: 0;
        margin-right: 1rem;
        background: none;
        border: none;
        container-type: normal;

        .EditorFilters {
            flex-direction: column;
            gap: 0;

            .EditorFilterGroup {
                width: auto;
            }

            > * + * {
                margin-top: 1rem;
            }
        }

        @include screen($xl) {
            --editor-panel-width: max(25vw, 28rem);

            .EditorFilters {
                display: block;
                width: var(--editor-panel-width);
                padding-right: 1rem;
            }
        }
    }

    &.EditorFiltersWrapper--embedded {
        margin-right: 0;

        @include screen($xl) {
            .EditorFilters {
                width: 100%;
                padding-right: 0;
            }
        }
    }
}
