.InsightViz {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
    container-type: inline-size;

    &.InsightViz--horizontal {
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;

        .EditorFiltersWrapper {
            width: 100%;

            @container (min-width: 768px) {
                width: 30%;
                min-width: 26rem;
                max-width: 30rem;
            }
        }
    }
}

.InsightVizDisplay {
    .InsightVizDisplay__content {
        display: flex;

        .InsightVizDisplay__content__left {
            flex: 1;
            width: 100%;
        }

        .InsightVizDisplay__content__right {
            height: min(calc(90vh - 16rem), 36rem); // same as .trends-insights-container
            flex-shrink: 1;
            max-width: 45%;
            width: fit-content;
            margin: 1rem;
            display: flex;
            align-items: center;
        }
    }

    .LineGraph {
        // hacky because container not respecting position: relative;
        width: calc(100% - 3rem);
        height: calc(100% - 3rem);
    }
}

.trends-insights-container {
    position: relative;
    min-height: min(calc(90vh - 16rem), 36rem);
    display: flex;
    justify-content: center;

    .LineGraph {
        height: calc(100% - 1rem) !important;
    }
}

.funnel-insights-container {
    border-radius: 0 0 var(--radius) var(--radius);

    &.non-empty-state {
        min-height: 26rem;
        position: relative;
        margin-bottom: 0;
    }

    .ant-table-wrapper {
        margin-top: 0 !important;
    }
}

.funnel-significance-highlight {
    display: inline-flex;
    background: var(--primary);
    color: var(--bg-light);

    .LemonIcon {
        color: var(--bg-light);
    }
}
