.trends-insights-container {
    position: relative;
    min-height: min(calc(90vh - 16rem), 36rem);
    display: flex;
    justify-content: center;

    .LineGraph {
        height: calc(100% - 1rem) !important;
    }
}

.funnel-insights-container {
    border-radius: 0 0 var(--radius) var(--radius);

    &.non-empty-state {
        min-height: 26rem;
        position: relative;
        margin-bottom: 0;
    }

    .ant-table-wrapper {
        margin-top: 0 !important;
    }
}

.funnel-significance-highlight {
    display: inline-flex;
    background: var(--primary);
    color: var(--bg-light);

    .LemonIcon {
        color: var(--bg-light);
    }
}
