.ErrorTrackingIssue {
    & .SessionRecordingPlayer {
        min-height: 24rem;
    }

    & .LemonCollapsePanel > .LemonButton:hover:has(.LemonSegmentedButton:hover) {
        background-color: inherit;
    }

    // Needed for the NotFound state inside SessionRecordingPlayer
    .NotFoundComponent {
        margin: 0 auto;
    }
}

body[theme='light'] .ErrorTrackingIssue {
    --gray-1: var(--color-neutral-50);
    --gray-2: var(--color-neutral-100);
    --gray-3: var(--color-neutral-150);
}

body[theme='dark'] .ErrorTrackingIssue {
    --gray-1: var(--color-neutral-cool-850);
    --gray-2: var(--color-neutral-cool-800);
    --gray-3: var(--color-neutral-cool-750);
}
