@import '../../../styles/mixins';

.SideBar__layout {
    position: relative;
    flex-grow: 1;
    height: 100%;
    min-height: calc(100vh - 3.5rem);
    display: flex;
}

.SideBar__slider {
    z-index: var(--z-lemon-sidebar);
    transition: 200ms ease margin, 200ms ease transform;
    position: absolute;
    flex-shrink: 0;
    height: 100%;
    width: 15.5rem;
    background: var(--side);
    border-right: 1px solid var(--border);

    .SideBar--hidden & {
        // As an optimization we use transform instead of margin on mobile,
        // because the sidebar does not affect the rest of the layout on mobile
        transform: translateX(-15.5rem);
    }
    @include screen($lg) {
        height: initial;
        position: relative;
        .SideBar--hidden & {
            margin-left: -15.5rem;
        }
    }
}

.SideBar__overlay {
    z-index: var(--z-mobile-nav-overlay);
    transition: background-color var(--modal-transition-time) ease-out,
        backdrop-filter var(--modal-transition-time) ease-out,
        -webkit-backdrop-filter var(--modal-transition-time) ease-out;
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: var(--modal-backdrop-color);
    backdrop-filter: blur(var(--modal-backdrop-blur));
    -webkit-backdrop-filter: blur(var(--modal-backdrop-blur));

    .SideBar--hidden & {
        background-color: transparent;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(var(--modal-backdrop-blur));
        pointer-events: none;
    }
    @include screen($lg) {
        display: none;
    }
}

.SideBar__content {
    position: sticky;
    top: 3.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

    > ul {
        overflow: auto;
        padding: 1rem 0.5rem;
        li {
            margin-top: 1px;
        }
    }
}

.SideBar__heading {
    margin-left: 0.5rem;
    color: var(--muted);
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 1rem;
    &:first-of-type {
        margin-top: 0;
    }
}

.ProjectSwitcher__label {
    padding: 0 0.5rem;
    color: var(--muted);
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.SideBar__side-actions {
    max-height: calc(100vh - 20rem);
    max-width: calc(100vw - 14rem);

    .LaunchToolbarButton {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
