@import '../../../styles/mixins';

.SideBar {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.SideBar__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.SideBar__slider {
    position: absolute;
    z-index: var(--z-lemon-sidebar);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 15.5rem;
    height: 100%;
    background: var(--side);
    border-right: 1px solid var(--border);
    transition: 200ms ease margin, 200ms ease transform;

    .SideBar--hidden & {
        // As an optimization we use transform instead of margin on mobile,
        // because the sidebar does not affect the rest of the layout on mobile
        transform: translateX(-15.5rem);
    }

    .SideBar__slider__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        > ul {
            padding: 1rem 0.5rem;
            overflow: auto;

            li {
                margin-top: 1px;
            }
        }
    }

    @include screen($lg) {
        position: relative;
        height: initial;

        .SideBar--hidden & {
            margin-left: -15.5rem;
        }
    }
}

.SideBar__overlay {
    position: absolute;
    z-index: var(--z-mobile-nav-overlay);
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop-color);
    backdrop-filter: blur(var(--modal-backdrop-blur));
    opacity: 1;
    transition: background-color var(--modal-transition-time) ease-out,
        backdrop-filter var(--modal-transition-time) ease-out;

    .SideBar--hidden & {
        pointer-events: none;
        background-color: transparent;
        backdrop-filter: blur(0);
    }

    @include screen($lg) {
        display: none;
    }
}

.SideBar__heading {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--muted);
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &:first-of-type {
        margin-top: 0;
    }
}

.ProjectSwitcher__label {
    padding: 0 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--muted);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.SideBar__side-actions {
    max-width: calc(100vw - 14rem);
    max-height: calc(100vh - 20rem);

    .LaunchToolbarButton {
        padding-right: 0.5em;
        padding-left: 0.5em;

        .LemonButton__content {
            display: block;
            text-overflow: ellipsis;
        }
    }
}
