@import '../../../styles/mixins';

.SideBar {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.SideBar__slider {
    position: absolute;
    z-index: var(--z-lemon-sidebar);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 15.5rem;
    height: 100%;
    background: var(--side);
    border-right: 1px solid var(--border);
    transition: 200ms ease margin, 200ms ease transform;

    .SideBar--hidden & {
        // As an optimization we use transform instead of margin on mobile,
        // because the sidebar does not affect the rest of the layout on mobile
        transform: translateX(-15.5rem);
    }

    .SideBar__slider__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        > ul {
            padding: 1rem 0.5rem;
            overflow: auto;

            li {
                margin-top: 1px;
            }
        }
    }

    @include screen($lg) {
        position: relative;
        height: initial;

        .SideBar--hidden & {
            margin-left: -15.5rem;
        }
    }
}

.ProjectSwitcher__label {
    padding: 0 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--muted);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
