// default to light theme
#button-toolbar {
    --text-3000: var(--text-3000-light);
    --muted-3000: var(--muted-3000-light);
    --trace-3000: var(--trace-3000-light);
    --primary-3000: var(--primary-3000-light);
    --primary-3000-hover: var(--primary-3000-hover-light);
    --secondary-3000: var(--secondary-3000-light);
    --secondary-3000-hover: var(--secondary-3000-hover-light);
    --accent-3000: var(--accent-3000-light);
    --bg-3000: var(--bg-3000-light);
    --border-3000: var(--border-3000-light);
    --border-bold-3000: var(--border-bold-3000-light);
    --glass-bg-3000: var(--glass-bg-3000-light);
    --glass-border-3000: var(--glass-border-3000-light);
    --bg-light: #fff;
}

#button-toolbar[theme='dark'] {
    --text-3000: var(--text-3000-dark);
    --muted-3000: var(--muted-3000-dark);
    --trace-3000: var(--trace-3000-dark);
    --primary-3000: var(--primary-3000-dark);
    --primary-3000-hover: var(--primary-3000-hover-dark);
    --secondary-3000: var(--secondary-3000-dark);
    --secondary-3000-hover: var(--secondary-3000-hover-dark);
    --accent-3000: var(--accent-3000-dark);
    --bg-3000: var(--bg-3000-dark);
    --border-3000: var(--border-3000-dark);
    --border-bold-3000: var(--border-bold-3000-dark);
    --glass-bg-3000: var(--glass-bg-3000-dark);
    --glass-border-3000: var(--glass-border-3000-dark);
    --bg-light: var(--accent-3000);
    // override the mark value so that feature flag overrides are visible _and legible_ in dark mode
    --mark: var(--secondary-3000-hover-dark);
    --brand-key: #fff; // In dark mode the black in PostHog's logo is replaced with white for proper contrast
}

#button-toolbar {
    --default: var(--text-3000);
    --muted: var(--muted-3000);
    --muted-alt: var(--muted-3000);
    --primary-alt: var(--text-3000);
    --border: var(--border-3000);
    --border-bold: var(--border-bold-3000);
    --mid: var(--bg-3000);
    --side: var(--bg-3000);
    user-select: none; // Make the app feel less page-like and more app-like - apps scarcely allow text selection

    * > {
        ::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        ::-webkit-scrollbar-track {
            background: var(--accent-3000);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 0.25rem;
            background: var(--trace-3000);

            &:hover {
                background: var(--muted-3000);
            }
        }
    }

    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483020;
    opacity: 1;
    transition: opacity ease 0.5s;

    & + .HedgehogBuddy {
        z-index: 2147483020;
    }
}

.Toolbar3000 {
    background-color: var(--bg-3000);
    color: var(--text-3000);
    transition-property: filter, width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    filter: drop-shadow(1px 2px 2px var(--trace-3000));

    width: 17rem;
    &.Toolbar3000--minimized-width {
        width: 2.5rem;
    }

    &:hover {
        filter: drop-shadow(1px 2px 4px var(--trace-3000));
    }

    form {
        .form-error {
            color: var(--danger);
        }
    }

    &.Toolbar3000__menu {
        transition: height 0.5s ease;
        bottom: 115%;
        width: 100%;
        max-height: 45vh;
    }

    .ActionsBlockBody {
        background-color: var(--bg-3000);
        color: var(--text-3000);

        .action-section {
            background-color: inherit;
            color: inherit;
            border-bottom: 1px solid var(--border-bold-3000);

            &.highlight {
                // TODO remove the highlighting
                background-color: inherit;
            }
        }

        .action-section:last-child {
            border-bottom: none;
        }
    }

    .ToolbarBlock {
        background-color: var(--bg-3000);
        color: var(--text-3000);

        .FeatureFlagRow {
            background-color: inherit;
            color: inherit;
            margin-bottom: 0;
            border-bottom: 1px solid var(--border-bold-3000);

            &:last-child {
                border-bottom: none;
            }

            .FeatureFlagRow__header {
                background-color: inherit;

                .feature-flag-external-link,
                .feature-flag-external-link:hover {
                    color: inherit;
                }

                &.overridden {
                    background-color: var(--mark);
                }
            }
        }
    }

    h5 {
        color: var(--text-3000);
    }

    .bg-border-bold-3000 {
        background-color: var(--border-bold-3000);
        border-color: var(--border-bold-3000);
    }

    .LemonBadge--primary {
        // TODO - this is a little hacky, we're always in dark mode
        background-color: var(--text-3000);
    }
}
