@import '../../styles/vars';

#button-toolbar {
    // default to light theme
    @include light-mode-3000-variables;
    @include posthog-3000-variables;

    user-select: none; // Make the app feel less page-like and more app-like - apps scarcely allow text selection

    * > {
        ::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        ::-webkit-scrollbar-track {
            background: var(--accent-3000);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 0.25rem;
            background: var(--trace-3000);

            &:hover {
                background: var(--muted-3000);
            }
        }
    }

    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483020;
    opacity: 1;
    transition: opacity ease 0.5s;

    & + .HedgehogBuddy {
        z-index: 2147483020;
    }
}

#button-toolbar[theme='dark'] {
    @include dark-mode-3000-variables;

    // override the mark value so that feature flag overrides are visible _and legible_ in dark mode
    --mark: var(--secondary-3000-hover-dark);
}

.Toolbar3000 {
    background-color: var(--bg-3000);
    color: var(--text-3000);
    transition-property: filter, width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    filter: drop-shadow(2px 10px 10px var(--trace-3000));
    border: 1px solid var(--border-bold-3000);
    border-radius: var(--radius);
    // fixed width so that animations work when changing width
    width: 15.1rem;

    &.Toolbar3000Bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > :first-child {
            border-right: 1px solid var(--border-bold-3000);
        }
        > :last-child {
            border-left: 1px solid var(--border-bold-3000);
        }
    }

    &.Toolbar3000Menu {
        transition: height 0.5s ease, border 0.5s ease;
        bottom: 115%;
        width: 100%;
        max-height: 45vh;
        border: 0px solid var(--border-bold-3000);

        &--visible {
            border: 1px solid var(--border-bold-3000);
        }
    }

    .ToolbarMenu__button--square-right {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .ToolbarMenu__button--square-left {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    &.Toolbar3000--minimized-width {
        width: 2.5rem;
    }

    form {
        .form-error {
            color: var(--danger);
        }
    }

    .FeatureFlagRow {
        &.FeatureFlagRow__overridden {
            background-color: var(--mark);
        }
    }

    .ActionsBlockBody {
        background-color: var(--bg-3000);
        color: var(--text-3000);

        .action-section {
            background-color: inherit;
            color: inherit;
            border-bottom: 1px solid var(--border-bold-3000);

            &.highlight {
                // TODO remove the highlighting
                background-color: inherit;
            }
        }

        .action-section:last-child {
            border-bottom: none;
        }
    }

    h5 {
        color: var(--text-3000);
    }

    .bg-border-bold-3000 {
        background-color: var(--border-bold-3000);
        border-color: var(--border-bold-3000);
    }

    .LemonBadge--primary {
        // TODO - this is a little hacky, we're always in dark mode
        background-color: var(--text-3000);
    }
}

.Toolbar3000__top_input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
