// default to light theme
#button-toolbar {
    --text-3000: var(--text-3000-light);
    --muted-3000: var(--muted-3000-light);
    --trace-3000: var(--trace-3000-light);
    --primary-3000: var(--primary-3000-light);
    --primary-3000-hover: var(--primary-3000-hover-light);
    --secondary-3000: var(--secondary-3000-light);
    --secondary-3000-hover: var(--secondary-3000-hover-light);
    --accent-3000: var(--accent-3000-light);
    --bg-3000: var(--bg-3000-light);
    --border-3000: var(--border-3000-light);
    --border-bold-3000: var(--border-bold-3000-light);
    --glass-bg-3000: var(--glass-bg-3000-light);
    --glass-border-3000: var(--glass-border-3000-light);
    --bg-light: #fff;
}

#button-toolbar[theme='dark'] {
    --text-3000: var(--text-3000-dark);
    --muted-3000: var(--muted-3000-dark);
    --trace-3000: var(--trace-3000-dark);
    --primary-3000: var(--primary-3000-dark);
    --primary-3000-hover: var(--primary-3000-hover-dark);
    --secondary-3000: var(--secondary-3000-dark);
    --secondary-3000-hover: var(--secondary-3000-hover-dark);
    --accent-3000: var(--accent-3000-dark);
    --bg-3000: var(--bg-3000-dark);
    --border-3000: var(--border-3000-dark);
    --border-bold-3000: var(--border-bold-3000-dark);
    --glass-bg-3000: var(--glass-bg-3000-dark);
    --glass-border-3000: var(--glass-border-3000-dark);
    --bg-light: var(--accent-3000);
    // override the mark value so that feature flag overrides are visible _and legible_ in dark mode
    --mark: var(--secondary-3000-hover-dark);
    --brand-key: #fff; // In dark mode the black in PostHog's logo is replaced with white for proper contrast
}

#button-toolbar {
    --default: var(--text-3000);
    --muted: var(--muted-3000);
    --muted-alt: var(--muted-3000);
    --primary-alt: var(--text-3000);
    --border: var(--border-3000);
    --border-bold: var(--border-bold-3000);
    --mid: var(--bg-3000);
    --side: var(--bg-3000);
    background: var(--bg-3000);
    user-select: none; // Make the app feel less page-like and more app-like - apps scarcely allow text selection

    * > {
        ::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        ::-webkit-scrollbar-track {
            background: var(--accent-3000);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 0.25rem;
            background: var(--trace-3000);

            &:hover {
                background: var(--muted-3000);
            }
        }
    }

    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483020;
    opacity: 1;
    transition: opacity ease 0.5s;

    .circle-button {
        transition: box-shadow 0.2s ease;
        box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.25), 0 0.8px 1.7px rgba(0, 0, 0, 0.18),
            0 1.5px 3.1px rgba(0, 0, 0, 0.149), 0 2.7px 5.4px rgba(0, 0, 0, 0.125), 0 5px 10px rgba(0, 0, 0, 0.101),
            0 12px 24px rgba(0, 0, 0, 0.07);

        &:hover {
            box-shadow: 0 1.3px 2.7px rgba(0, 0, 0, 0.25), 0 3.2px 6.4px rgba(0, 0, 0, 0.18),
                0 6px 12px rgba(0, 0, 0, 0.149), 0 10.7px 21.4px rgba(0, 0, 0, 0.125),
                0 20.1px 40.1px rgba(0, 0, 0, 0.101), 0 48px 96px rgba(0, 0, 0, 0.07);
        }
    }

    .circle-label {
        font-weight: bold;
        text-shadow: black 0 0 1px, black 0 0 2px, rgba(0, 0, 0, 0.25) 0 0.3px 0.7px, rgba(0, 0, 0, 0.18) 0 0.8px 1.6px,
            rgba(0, 0, 0, 0.15) 0 1.5px 3px, rgba(0, 0, 0, 0.125) 0 2.7px 5.4px, rgba(0, 0, 0, 0.1) 0 5px 10px,
            rgba(0, 0, 0, 0.07) 0 12px 24px;
    }

    & + .HedgehogBuddy {
        z-index: 2147483020;
    }
}

.toolbar-info-windows {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    z-index: 2147483020;
    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.25), 0 0.8px 1.7px rgba(0, 0, 0, 0.18), 0 1.5px 3.1px rgba(0, 0, 0, 0.149),
        0 2.7px 5.4px rgba(0, 0, 0, 0.125), 0 5px 10px rgba(0, 0, 0, 0.101), 0 12px 24px rgba(0, 0, 0, 0.07);
    opacity: 1;
    transition: opacity ease 0.5s;
    background-color: rgba(255, 255, 255);
    border-radius: 4px;
    border: 1px solid var(--border);

    .toolbar-block {
        max-height: 80vh;
        overflow: auto;
    }

    .toolbar-info-window-title {
        line-height: 26px;
        display: flex;
        align-items: center;
        margin: 0 8px 0 8px;
        border-bottom: 1px solid var(--border);

        .toolbar-info-window-draggable {
            cursor: move;
            flex: 1;
            display: flex;
            width: 100%;
            align-items: center;
            cursor: move;
            padding: 15px 0 15px 0;

            .window-label {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 0;
                padding-left: 8px;
            }
        }

        .close-button {
            cursor: pointer;
            padding: 8px;
            color: rgba(0, 0, 0, 0.6);
            transition: color 0.1s ease-in-out;

            &:hover {
                color: rgb(0, 0, 0);
            }
        }
    }
}

.overridden-tag {
    margin-left: 5px;
    font-size: 11px;
    padding: 0 4px;
    line-height: 20px;
    background: var(--mark);
    border-radius: 4px;
    font-weight: bold;
}

.Toolbar3000 {
    background-color: var(--bg-3000);
    color: var(--text-3000);
    transition: filter 0.2s ease;
    filter: drop-shadow(1px 2px 2px var(--trace-3000));

    &:hover {
        filter: drop-shadow(1px 2px 4px var(--trace-3000));
    }

    &.Toolbar3000__menu {
        transition: height 0.5s ease;
        bottom: 115%;
        width: 100%;
        max-height: 45vh;
    }

    .ActionsBlockBody {
        background-color: var(--bg-3000);
        color: var(--text-3000);

        .action-section {
            background-color: inherit;
            color: inherit;
            border-bottom: 1px solid var(--border-bold-3000);

            &.highlight {
                // TODO remove the highlighting
                background-color: inherit;
            }
        }

        .action-section:last-child {
            border-bottom: none;
        }
    }

    .ToolbarBlock {
        background-color: var(--bg-3000);
        color: var(--text-3000);

        .local-feature-flag-override-note {
            color: inherit;
            background-color: inherit;
        }

        .FeatureFlagRow {
            background-color: inherit;
            color: inherit;
            margin-bottom: 0;
            border-bottom: 1px solid var(--border-bold-3000);

            &:last-child {
                border-bottom: none;
            }

            .FeatureFlagRow__header {
                background-color: inherit;

                .feature-flag-external-link,
                .feature-flag-external-link:hover {
                    color: inherit;
                }

                &.overridden {
                    background-color: var(--mark);
                }
            }
        }
    }

    h5 {
        color: var(--text-3000);
    }

    .bg-border-bold-3000 {
        background-color: var(--border-bold-3000);
        border-color: var(--border-bold-3000);
    }

    .LemonBadge--primary {
        // TODO - this is a little hacky, we're always in dark mode
        background-color: var(--text-3000);
    }
}
