.definition-page {
    &.definition-view-page {
        .definition-tags {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }

        .definition-popup-timemeta {
            display: inline;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;

            .definition-popup-timemeta-user {
                display: inline-flex;
            }

            .definition-popup-timemeta-spacer {
                margin-right: 4px;
            }
        }

        .definition-popup-grid {
            display: grid;
            grid-gap: 1rem;

            .definition-popup-grid-card {
                display: flex;
                flex-direction: column;

                .definition-popup-grid-card-title {
                    font-size: 11px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: var(--text-muted);
                    margin-bottom: 4px;
                }

                .definition-popup-grid-card-content {
                    font-weight: 600;
                }
            }
        }

        .event-properties-wrapper {
            .event-properties-header {
                font-weight: 600;
            }

            .definition-pill-value {
                display: flex;
                align-items: center;
                width: fit-content;
                padding: 0.125rem 0.25rem;
                letter-spacing: 0.25px;
                border-radius: var(--radius);
                border: 1px solid var(--border-light);
                background: var(--bg-mid);
                color: var(--muted-alt);
                font-size: 0.625rem;
                font-weight: 500;
                word-break: break-all;
                max-width: 300px;
                cursor: text;
            }

            td.definition-column-name {
                display: flex;
                flex-direction: row;
                align-items: center;

                .definition-column-name-content {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .definition-column-name-content-title {
                        font-weight: 600;
                        cursor: pointer;
                        position: relative;
                        overflow: visible;

                        &:before {
                            content: '';
                            position: absolute;
                            top: -5px;
                            bottom: -5px;
                            left: -10px;
                            right: -50px;
                            height: 22px;
                        }
                    }

                    .definition-column-name-content-description {
                        font-size: 13px;
                        color: var(--text-muted);
                        text-overflow: ellipsis;
                    }
                }
            }

            td.definition-example-type {
                .definition-pill-value {
                    float: right;
                }
            }
        }

        .definition-matching-events {
            .definition-matching-events-header {
                font-weight: 600;
            }
            .definition-matching-events-subtext {
                margin: 0;
            }
        }
    }

    &.definition-edit-page {
        .definition-footer-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    // Shared across definition view and edit modes
    .definition-sent-as {
        display: flex;
        align-items: center;
        flex-direction: row;
        color: var(--text-muted);
        margin: 0.5rem 0;

        pre {
            font-size: 13px;
            font-weight: 600;
            margin: 0 0.25rem;
        }
    }
}
