.PlanTable {
    max-width: 1200px;
    table {
        table-layout: fixed;
        td {
            vertical-align: top;
            padding: 1.25rem;
        }
        th {
            vertical-align: top;
            padding: 1.25rem;
            font-weight: 800;
            text-align: left;

            &.PlanTable__th__section {
                padding: 0.25rem 1.25rem 0.25rem;
                font-weight: 500;
            }

            &.PlanTable__th__subfeature {
                padding: 1rem 0 1rem 2rem;
                font-weight: 600;
            }

            p {
                font-weight: 400;
            }
        }
    }
    .PlanTable__tr__border {
        border-bottom: 3px rgba(0, 0, 0, 0.07) dotted;
    }
}
