@import 'tailwindcss';

/* if this shows a warning, change the type of file in vscode to 'tailwind CSS' */
@config "./tailwind.config.js";

@theme {
    --text-xxs: 0.625rem;
    --text-xxs--line-height: 0.75rem;

    --spacing-button-padding-x: 7px; /* Match the padding of the button primitives base size (6px) + 1px border */
}
