.events {
    .event-day-separator {
        background-color: $gray-300;
        text-align: center;
    }
    .event-row {
        transition: background-color 2s;
        background-color: #fff;
        cursor: pointer;
    }
    .event-row-new,
    .event-new-events {
        background-color: $gray-300;
    }
}
