/* This file contains the main styling configuration for PostHog. We also use AntD which uses LESS,
when changing any base config here, please remember to update antd.less too  */

// Main colors
$primary: #5375ff;
$primary_alt: #35416b;
$success: #77b96c;
$warning: #f7a501;
$danger: #f96132;

// Text colors
$text_default: #2d2d2d;
$text_muted: #d9d9d9;
$text_muted_alt: #35416b;

// Background colors
$bg_navy: #35416b;
$bg_charcoal: #2d2d2d;
$bg_mid: #f2f2f2;
$bg_light: #ffffff;
$bg_depth: #0f0f0f;

.bg-mid {
    background-color: $bg_mid !important;
}

// Additional style configurations
.mixin-elevated {
    box-shadow: 0px 80px 80px rgba(0, 0, 0, 0.075), 0px 10px 10px rgba(0, 0, 0, 0.035) !important;
}
$default_spacing: 16px;

// Text styles

.text-default {
    color: $text_default;
    font-size: 14px;
    line-height: 16.8px;
}

.page-title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 32px;
    font-weight: 700;
    color: $text_default;
}

.page-caption {
    @extend .text-default;
    max-width: 640px;
    margin-bottom: 32px;
}

.subtitle {
    margin-top: 24px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.l3 {
    /* Level 3 title (ideally H3) */
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

// Spacing & layout

.mb {
    margin-bottom: $default_spacing;
}

.mt {
    margin-top: $default_spacing;
}
