@import '../../../styles/mixins';

.NotebookPopover {
    position: fixed;
    inset: 0;
    z-index: var(--z-modal);
    pointer-events: none;

    .NotebookPopover__backdrop {
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        background-color: rgb(0 0 0 / 10%);
        opacity: 0;
        transition: opacity 200ms ease-out;
    }

    .NotebookPopover__content {
        position: absolute;
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 50rem; // This will be controlable
        min-width: 30rem;
        max-width: calc(100vw - 2rem);
        pointer-events: all;
        transition: transform var(--notebook-popover-transition-properties),
            width var(--notebook-popover-transition-properties);

        // Transition properties that are overwritten
        transform: translateX(calc(100% + 1rem));
    }

    &--visible {
        .NotebookPopover__backdrop {
            pointer-events: all;
            opacity: 1;
        }

        .NotebookPopover__content {
            transform: translateX(0);
        }
    }

    &--peek {
        .NotebookPopover__content {
            transition: none; // NOTE: This shouldn't be none as it affects other transitions
            transform: translateX(calc(100% - 5rem));
        }
    }

    &--with-sidebar {
        // TODO: Sync this with the sidebar width itself
        .NotebookPopover__content {
            width: calc(50rem + var(--notebook-column-left-width));
        }
    }

    &--full-screen {
        .NotebookPopover__content {
            width: calc(100vw - 2rem);
        }
    }

    .NotebookPanelDropzone {
        display: flex;
        height: 4rem;
        margin-bottom: 1rem;
        backdrop-filter: blur(5px);
        border: 2px dashed var(--border-3000);
        border-radius: var(--radius);
        box-shadow: 0 16px 16px rgb(0 0 0 / 15%);
        transition: all 150ms;

        .NotebookPanelDropzone__message {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            font-size: 1rem;
            font-weight: 700;
            color: var(--muted-alt);
            text-align: center;
            pointer-events: none;
            background-color: var(--bg-light);
            opacity: 0.75;
            transition: all 150ms;
        }

        .NotebookPanelDropzone__dropped {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: hidden;
        }

        &--active {
            height: 8rem;
            border-color: var(--primary-3000);

            .NotebookPanelDropzone__message {
                opacity: 1;
            }
        }

        &--dropped {
            align-items: initial;
            justify-content: flex-start;
            height: 100%;
            padding: 1rem;
            background-color: var(--bg-light);
            border-color: var(--primary-3000);
        }
    }
}
