@import '~/vars';

.SideBar__layout {
    position: relative;
    flex-grow: 1;
    height: 100%;
    display: flex;
}

.SideBar__slider {
    z-index: $z_lemon_sidebar;
    transition: 200ms ease margin, 200ms ease transform;
    position: absolute;
    flex-shrink: 0;
    height: 100%;
    width: 15rem;
    background: var(--bg-side);
    border-right: 1px solid var(--border);
    .SideBar--hidden & {
        // As an optimization we use transform instead of margin on mobile,
        // because the sidebar does not affect the rest of the layout on mobile
        transform: translateX(-15rem);
    }
    @media screen and (min-width: $sm) {
        height: initial;
        position: relative;
        .SideBar--hidden & {
            margin-left: -15rem;
        }
    }
}

.SideBar__overlay {
    z-index: $z_mobile_nav_overlay;
    transition: 200ms ease opacity;
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--text-muted);
    .SideBar--hidden & {
        opacity: 0;
        pointer-events: none;
    }
    @media screen and (min-width: $sm) {
        display: none;
    }
}

.SideBar__content {
    position: sticky;
    top: 3.5rem;
    width: 100%;
    max-height: calc(100vh - 3.5rem);
    overflow: auto;
    padding: 0.5rem;
    > div {
        margin: 0.5rem 0;
    }
}

.SideBar__spacer {
    width: 100%;
    height: 1px;
    background: var(--border);
    margin: 0.5rem 0;
}

.SideBar__heading {
    margin-left: 0.5rem;
    color: var(--text-muted);
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.ProjectSwitcher__label {
    padding: 0 0.5rem;
    color: var(--text-muted);
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
