@import '~/vars';

.SideBar__layout {
    flex-grow: 1;
    height: 100%;
    display: flex;
}

.SideBar {
    transition: 200ms ease margin;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 15rem;
    background: var(--bg-side);
    border-right: 1px solid var(--border);
    &--hidden {
        margin-left: -15rem;
    }
}

.SideBar__content {
    position: sticky;
    top: 3.5rem;
    width: 100%;
    padding: 0.5rem;
    > div {
        margin: 0.5rem 0;
    }
}

.SideBar__spacer {
    width: 100%;
    height: 1px;
    background: var(--border);
    margin: 0.5rem 0;
}

.SideBar__heading {
    margin-left: 0.5rem;
    color: var(--text-muted);
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.ProjectSwitcher__label {
    padding: 0 0.5rem;
    color: var(--text-muted);
    line-height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
