.EditorScene {
    .LemonTabs__bar {
        height: 39px;
        margin-bottom: 0;
    }

    .OutputPane {
        .LemonTabs {
            align-self: center;
        }

        .LemonTabs__bar::before {
            display: none;
        }
    }
}
