.WorldMap {
    width: 100%;
    padding: 1rem 0;
    color: var(--color-border-primary);

    .landxx {
        fill: currentColor;
        fill-rule: evenodd;
        stroke: var(--color-bg-surface-primary);
        stroke-width: 0.125rem;

        &:hover {
            color: var(--world-map-hover) !important;
        }
    }
}
