.web-analytics-page {
    // TODO remove this when we no longer use the deprecated Card component
    .ant-card-body {
        padding: 0;
        font-size: 0.6rem;
        line-height: 1rem;
    }
    .RetentionTable .RetentionTable__Tab {
        margin: 0;
        padding: 0.5rem 0.25rem;
    }
    .RetentionTable th {
        padding-left: 0.25rem;
    }
    .RetentionTable .RetentionTable__TextTab {
        padding-left: 0.25rem;
    }
}
