.flags-button-window {
    width: min(350px, 100vw);
}
.toolbar-block {
    .feature-flag-row {
        .feature-flag-row-header {
            background-color: #fafafa;
            min-height: 38px;
        }

        .feature-flag-row-header.overridden {
            background-color: var(--mark);
        }

        .variant-radio-group {
            border-left: 2px solid #fafafa;
        }
        .variant-radio-group.overridden {
            border-left-color: var(--mark);
        }
    }
}
