{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post" action="/login">
        Do you want to give the PostHog Toolbar on <strong>{{ redirect_url }}</strong> access to your PostHog data?
        <br /><br />
        With the Toolbar, you'll be able to
        <ul>
            <li>See aggregated stats</li>
            <li>See heatmaps</li>
            <li>Create new events</li>
        </ul>
        <a href='/api/user/redirect_to_site/?appUrl={{ redirect_url }}' class="btn btn-lg btn-primary btn-block" type="submit">
            Authorize
            <strong>{{ domain }}</strong>
        </a>
    </form>
{% endblock %}
