{% if debug %}
    <div id="debug-bar">
        <div><span>Current branch: </span><b><code>{{ git_branch|default:"unknown" }}</code></b><span>.</span></div>
        <div><span>PostHog running in </span><b><code>DEBUG</code></b> mode!</div>
        <div><span>Current revision: </span><b><code>{{ git_rev|default:"unknown" }}</code></b><span>.</span></div>
        <button title="Close debug bar" onclick="document.getElementById('debug-bar').remove()">
            <code>×</code>
        </button>
    </div>
{% endif %}
