{% if debug %}
    <div id="debug-bar" class="bottom-bar">
        <div><span>Current branch: </span><b><code>{{ git_branch|default:"unknown" }}</code></b><span>.</span></div>
        <div><span>PostHog running in </span><b><code>DEBUG</code></b> mode!</div>
        <div><span>Current revision: </span><b><code>{{ git_rev|default:"unknown" }}</code></b><span>.</span></div>
        <button title="Close debug bar" onclick="document.getElementById('debug-bar').remove()">
            <code>×</code>
        </button>
    </div>
{% else %}
    <div id="tls-bar" class="bottom-bar" style="display: none">
        <div>PostHog dangerously running in <b><code>PRODUCTION</code></b> mode without TLS! Use a valid TLS certificate and route to <code>https://</code>.</div>
    </div>
    <script>
        const bar = document.getElementById('tls-bar')
        if (location.protocol !== 'https:') bar.style = ''
        else bar.remove()
    </script>
{% endif %}
