<title>PostHog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicons & OS-theme configurations -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32.png?v=20210330">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16.png">
<link rel="manifest" href="/static/icons/site.webmanifest">
<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#1d274e">
<meta name="application-name" content="PostHog">
<meta name="msapplication-TileColor" content="#213ca8">
<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


{% if not opt_out_capture and js_posthog_api_key %}
    <script>
    window.JS_POSTHOG_API_KEY = {{js_posthog_api_key | safe}};
    window.JS_POSTHOG_HOST = {{js_posthog_host | safe}};
    window.JS_POSTHOG_SELF_CAPTURE = {{self_capture | yesno:"true,false" }};

    // Handle Antd bug with error logging
    const consoleError = console.error
    console.error = function (...args) { 
        if (args.length > 0 && args[0] === 'Change:::') {
            return
        }
        consoleError(...args)
    }
    </script>
{% endif %}
{% if sentry_dsn %}
    <script>window.SENTRY_DSN = '{{sentry_dsn}}';</script>
{% endif %}
