{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post" action="/login">
        {% csrf_token %}
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Log in to PostHog</h1>

        {% if error %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class='field'>
            <input type="email" name='email' id="inputEmail" value="{{ email }}" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>
        <div class='field'>
            <input type="password" name='password' id="inputPassword" required>
            <label for="inputPassword">Password</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}