{% if debug %}
<script>
    document.body.setAttribute('data-debug-branch', '{{ git_branch|default:"unknown" }}')
    document.body.setAttribute('data-debug-revision', '{{ git_rev|default:"unknown" }}')
</script>
{% elif not e2e_testing %}
<script>
    if (location.protocol !== 'https:') {
        const element = document.createElement('div')
        element.id = 'bottom-notice'
        element.className = 'warning'
        element.innerHTML =
            '<div>PostHog dangerously running in&nbsp;<b><code style="background: 0; color: white">PRODUCTION</code></b>&nbsp;mode without&nbsp;TLS! ' +
            'Use a&nbsp;valid TLS&nbsp;certificate and&nbsp;route&nbsp;to&nbsp;<code style="background: 0; color: white">https://</code>.</div>'
        document.body.prepend(element)
    }
</script>
{% endif %}