{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Hello, {{ user_name }}!</h1>
        <p>Just one last step before getting access to PostHog.</p>
        <div class='form-signin-inputs'>
            <div class='field'>
                <input type="name" name='companyName' id="inputCompanyName" placeholder="" required>
                <label for="inputCompanyName">Input company name</label>
            </div>
            <p>
                <label style="cursor: pointer">
                    <input type="checkbox" name='emailOptIn' id="emailOptIn" data-attr="updates-checkbox"> 
                    Tick this box to receive security and feature updates via email. You can easily unsubscribe at any time.
                </label>
            </p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
{% endblock %}
