.ErrorBoundary {
    min-width: 0;
    height: fit-content;
    padding: 0.75rem 1rem 1rem;
    margin: 1.5rem;
    background: var(--color-error);
    border-radius: var(--radius);

    h2 {
        margin-bottom: 0.75rem;
        font-weight: 600;
        color: var(--color-error-foreground);
    }

    pre {
        padding: 0.75rem 1rem;
        margin-bottom: 0.75rem;
        background: var(--color-tertiary);
        border-radius: var(--radius);
    }

    .help-button {
        margin-top: 0.75rem;
    }
}
