@import '~/vars';

.dashboard-insight-header {
    padding-top: $default_spacing * 2;
    padding-bottom: 12px;

    .header-container {
        display: flex;
        justify-content: space-between;
        padding: $default_spacing;
        border: 1px solid $warning;

        .title-description {
            flex-direction: column;
            width: 100%;
            .status-svg {
                color: $warning;
                font-size: 18px;
                margin-right: 6px;
            }
        }
    }

    .dashboard-insight-description {
        margin-top: 8px;
        .ant-card-body {
            padding: 0;
        }
        &:hover {
            cursor: text;
        }
    }

    .description-box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border: 1px solid $bg_mid;
    }

    .edit-box {
        textarea {
            resize: none;
        }
    }
}
