.AccountPopover {
    min-width: 16rem;
    max-width: 22rem;
}

// TODO: to remove, this is unused
.AccountPopover__side-link {
    flex-grow: 1;
    margin-left: 0.5rem;
    font-size: 0.8125rem;
    font-weight: 600;
    color: var(--color-accent);
    text-align: right;
}

.AccountPopover__section {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-border-primary);

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.AccountInfo {
    display: flex;
    align-items: center;
}

.AccountInfo__identification {
    width: 100%;
    margin-left: 0.5rem;
    overflow: hidden;
}

.AccessLevelIndicator {
    margin-left: 0.5rem;
    font-size: 0.625rem;
    text-transform: uppercase;
}
