.PersonDisplay {
    display: inline;

    .ProfilePicture {
        margin-right: 0.5rem;
        transition: opacity 200ms ease;

        &.sm {
            margin-right: 0.25rem;
        }
    }

    a:hover {
        .ProfilePicture {
            opacity: 0.75;
        }
    }

    &--muted {
        .Link,
        .Link--subtle {
            color: var(--text-secondary);

            &:not(:disabled):hover {
                color: var(--text-3000);
            }
        }
    }
}
