.ExportedInsight {
    position: relative;
    min-height: 60vw;
    min-width: 0;
    max-width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    z-index: 3;
    background: #fff;
    display: flex;
    flex-direction: column;

    .ExportedInsight-header {
        padding: 1rem;
        border-bottom: 1px solid var(--border);
        display: flex;
        justify-content: space-between;

        .ExportedInsight-header-title {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .ExportedInsight-content {
        flex: 1;
        position: relative;

        .InsightViz {
            position: relative;
            min-height: 50vw;
            display: flex;

            > * {
                flex: 1;
            }
        }
    }
}
