.ExportedInsight {
    position: relative;
    min-width: 0;
    max-width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    z-index: 3;
    background: #fff;
    display: flex;
    flex-direction: column;

    .ExportedInsight-header {
        padding: 1rem;
        border-bottom: 1px solid var(--border);
        display: flex;
        justify-content: space-between;

        .ExportedInsight-header-title {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .ExportedInsight-content {
        flex: 1;
        position: relative;
        .FunnelBarChart {
            min-height: 50vw;
        }

        .InsightViz {
            position: relative;
            display: flex;
            min-height: 50vw;

            > * {
                flex: 1;
            }
        }
    }

    &.ExportedInsight--fit-screen {
        height: 100vh;
        max-height: 100vh;

        .ExportedInsight-content {
            display: flex;
            flex-direction: column;

            .FunnelBarChart {
                height: 100%;
                max-height: 100%;
                min-height: auto;
                flex: 1;
            }

            .InsightViz {
                flex: 1;
                min-height: 100px;
                max-height: 100%;
            }
        }
    }
}
