@import '~/vars';

.bulk-invite-modal {
    .invite-row {
        margin-top: $default_spacing;

        &:first-of-type {
            margin-top: 0;
            background-color: red;
        }
    }
}
