.actions-toolbar {
    .logo {
        margin: -7px 15px 0 0;
        height: 35px;
    }

    .drag-bar h3 {
        display: inline-block;
    }

    .save-buttons {
        margin: 0 -12px;
        width: calc(100% + 24px);
    }

    .save-buttons .btn {
        border-radius: 0;
    }

    .action {
        background: rgba(0, 0, 0, 0.1);
        margin: 0 -12px;
        padding: 6px 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 32px;
    }

    .react-draggable .drag-bar {
        cursor: grab;
        margin-bottom: 0.75rem;
        user-select: none;
    }
    .react-draggable-dragging .drag-bar {
        cursor: grabbing !important;
    }
}
