#floating-toolbar {
    touch-action: none;
    position: fixed;
    top: 2rem;
    z-index: 999999999;
    padding: 12px 12px 0 12px;
    right: 2rem;
    overflow-y: scroll;
    width: 300px;
    color: #37352f;
    font-size: 13px;
    max-height: calc(100vh - 4rem);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 13px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    opacity: 1;
    transition: opacity ease 0.5s;

    /* effects when content is scrolling */
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
        radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) 0 100%;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: #f8f9fa;
    background-size: 100% 70px, 100% 70px, 100% 24px, 100% 24px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;

    &.toolbar-invisible {
        opacity: 0;
    }
}

#docked-toolbar {
    --zoom-out: 0.7;
    --padding: 30px;
    --sidebar-width: 300px;

    background-size: 100%;
    transform: scale(calc(1 / var(--zoom-out)));
    transform-origin: top right;
    width: var(--sidebar-width);
    height: calc(100vh - 2 * var(--padding));
    top: 0;
    right: calc((-300px - var(--padding)) / var(--zoom-out));
    position: absolute;
    z-index: 999999999;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity ease 0.5s;
    color: hsl(240, 11%, 20%);

    &.toolbar-invisible {
        opacity: 0;
    }

    section {
        background: white;
        padding: 20px;
    }

    .ant-tabs-bar {
        height: 50px;
        border-bottom: 0;
    }

    .ant-tabs-nav-scroll {
        text-align: center;
    }

    .toolbar-close-button {
        top: calc(7px - var(--padding) * 0.8);
        right: calc(9px - var(--padding) * 0.8);
        width: calc(var(--padding) * 0.8);
        height: calc(var(--padding) * 0.8);
        position: absolute;
        color: hsla(240, 14%, 75%, 1);
        font-size: 22px;
        opacity: 0;
        transition: opacity ease 1s;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        &.visible {
            opacity: 1;
        }
    }

    .toolbar-close-button:hover {
        color: hsla(240, 14%, 42%, 1);
    }
    .toolbar-content-area {
        position: relative;
        .toolbar-content {
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 1;
            transition: opacity ease 0.2s;

            &.invisible {
                opacity: 0;
            }
            &.fading-in {
                opacity: 1;
            }
            &.fading-out {
                opacity: 0;
            }
        }
    }
}

.float-box {
    background: white;
    font-size: 14px;
    padding: 20px;
    box-shadow: hsl(219, 14%, 76%) 30px 30px 70px, hsl(219, 14%, 76%) 8px 8px 10px;
}
.float-box + .float-box {
    margin-top: 30px;
}
.float-box.button:hover {
    cursor: pointer;
    box-shadow: hsl(219, 14%, 65%) 30px 30px 70px, hsl(219, 14%, 65%) 8px 8px 10px;
}
.float-box.button small {
    color: hsla(220, 16%, 49%, 1);
}
