@import '~/vars.scss';

.experiment-form {
    .metrics-selection {
        width: 100%;
        border-top: 1px solid $border;
        padding-top: $default_spacing;
        margin-top: $default_spacing;

        .action-filters-bordered {
            .draggable-action-filter {
                border-bottom: 1px solid $border;
                padding: $default_spacing $default_spacing / 4;
                margin-top: 0;
            }
            .row-action-btn {
                color: $primary_alt;
            }
        }
    }

    .insights-graph-container {
        margin-bottom: $default_spacing;
        background-color: #fff;

        .ant-card-head {
            border-bottom: 1px solid $border;
            min-height: unset;
            background-color: $bg_light;
            padding-left: $default_spacing;
            padding-right: $default_spacing;

            .ant-card-head-title {
                padding: $default_spacing / 2 0;

                span.filter {
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-right: $default_spacing / 2;
                    }

                    span.head-title-item {
                        margin-right: $default_spacing / 2;
                    }
                }
            }
        }
        .display-config-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow-x: auto;
        }

        .ant-card-body {
            padding: 0;
        }

        .insights-graph-container-row {
            .insights-graph-container-row-left {
                width: 100%;
            }

            .insights-graph-container-row-right {
                width: 100%;
                height: min(calc(90vh - 16rem), 36rem); // same as .trends-insights-container
                max-width: 300px;
                padding: 0 $default_spacing $default_spacing 0;
                display: flex;
                align-items: center;
            }
        }

        .graph-container {
            // hacky because container not respecting position: relative;
            width: calc(100% - 48px);
            height: calc(100% - 48px);
            margin-top: $default_spacing * 2;
        }
    }

    .insights-graph-header {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-left: $default_spacing;
        padding-right: $default_spacing;
        min-height: 48px;
    }

    .experiment-preview {
        margin-bottom: $default_spacing;
        border-bottom: 1px solid $border;

        .mde-slider {
            .ant-slider-handle {
                border: none;
            }

            .ant-slider-rail {
                background-color: #e5ebff;
            }
        }
    }

    .variants {
        border: 1px solid $border;
        border-radius: 4px;
        padding-left: $default_spacing;
        margin-top: $default_spacing / 2;
        margin-bottom: $default_spacing;
        .feature-flag-variant {
            margin-top: 20px;
            .ant-form-item-explain-error {
                padding-top: $default_spacing / 2;
            }
        }
    }

    .ant-input-number-disabled {
        color: black;
    }

    .ant-input[disabled] {
        color: black;
    }
}

.view-experiment {
    .draft-header {
        margin-bottom: $default_spacing;
        border-bottom: 1px solid $border;
    }

    .stop-experiment {
        background-color: $danger;
        color: white;
    }

    .archive-experiment {
        color: $danger;
    }

    .description {
        font-style: italic;
        color: $text_muted;
    }

    .participants {
        background-color: white;
        .ant-collapse-header {
            padding-top: $default_spacing / 2;
            padding-bottom: $default_spacing / 2;
            padding-left: $default_spacing * 0.75;
        }
    }

    .variants-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
        }
        li:after {
            content: ', ';
        }
        li:last-child:after {
            content: '';
        }
    }

    .experiment-result {
        padding-top: $default_spacing;
    }

    .significant-results {
        padding: $default_spacing / 2;
        width: 100%;
        background: rgba(119, 185, 108, 0.1);
        border-radius: 4px;
        text-align: center;
        margin-bottom: $default_spacing;
    }

    .not-significant-results {
        padding: $default_spacing / 2;
        width: 100%;
        background: rgba(249, 97, 50, 0.1);
        border-radius: 4px;
        text-align: center;
        margin-bottom: $default_spacing;
    }
}

.preview-conversion-goal-num {
    height: 24px;
    width: 24px;
    text-align: center;
    background-color: $bg_side;
    color: $primary_alt;
    font-weight: 700;
    margin-right: $default_spacing / 2;
}

.experiment-preview-row {
    border-bottom: 1px solid $border;
    padding-bottom: $default_spacing;
    margin-bottom: $default_spacing;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
