@import '~/vars.scss';

.experiment-form {
    .metrics-selection {
        border-top: 1px solid $border;
        padding-top: $default_spacing;

        &.person-selection {
            label {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
