.Suggestions__list {
    opacity: 0;
    transition:
        opacity 150ms ease-out,
        transform 150ms ease-out;
    transform: scale(0.95) translateY(-0.5rem);

    &--visible {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.Suggestions__item {
    opacity: 0;
    animation: Suggestions__item__slide-in-fade-down 60ms ease-out forwards;
    animation-delay: calc(var(--index) * 25ms);
}

@keyframes Suggestions__item__slide-in-fade-down {
    from {
        opacity: 0;
        transform: translateY(-0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
