@import '~/vars';

.ph-graph-tooltip {
    background: #fafafa;
    border: 1px solid $border;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: $radius;
    padding: 8px;
    font-size: 0.85rem;
    overflow-x: hidden;

    header {
        font-weight: bold;
        margin-bottom: $default_spacing / 2;
    }

    footer {
        margin-top: 0.5rem;
        font-weight: 500;
        font-size: 85%;
        color: $text_muted;
    }

    ul {
        list-style-type: none;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 0;

        li {
            position: relative;
            display: flex;
            align-items: center;

            /*div {
                display: inline-block;
            }

            .title {
                max-width: 100%;
            }*/

            .color-icon {
                width: 14px;
                height: 14px;
                min-width: 14px; // To make sure point doesn't get distorted
                min-height: 14px;
                border-radius: 50%;
                margin-left: 2px;
                margin-right: 4px;
                border: 2px solid #ffffff;
                box-sizing: border-box;
            }
        }
    }
}
