.legacy-ph-graph-tooltip {
    z-index: var(--z-graph-tooltip);
    max-width: 480px;
    padding: 8px 12px;
    overflow-x: hidden;
    font-size: 14px;
    background: #fafafa;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    transition: all 0.4s;
}

.inner-tooltip {
    &.multiple {
        header {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--border);
        }

        footer {
            padding-top: 6px;
            margin-top: 0 !important;
            border-top: 1px solid var(--border);
        }
    }

    header {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        font-size: 85%;
        font-weight: bold;
        color: var(--muted);

        svg {
            margin-right: 4px;
            font-size: 1.4em;
        }
    }

    .series-container {
        position: relative;
    }

    .inspect-persons-label {
        display: flex;
        align-items: center;
        margin-top: 2px;
        font-style: italic;

        svg {
            margin-right: 6px;
            margin-left: 2px;
        }
    }

    ul {
        max-height: 32vh;
        padding: 0;
        margin-bottom: 0;
        overflow-y: hidden; // As the element has pointer-events: none to allow proper function, scrolling is not supported anyways
        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            padding-bottom: 2px;
        }
    }
}
