@import '~/vars';

// ActionsTable.js
.tutorial-container {
    color: $text_muted;
    margin-top: 32px;
    margin-bottom: 2rem;
    display: flex;
}
.t-element {
    display: flex;
    align-items: flex-start;
    border-right: 0.75px solid $border;
    padding-left: 32px;

    &:last-of-type {
        border-right: 0;
    }

    > div:last-of-type {
        padding: 0 16px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width: 850px) {
    .tutorial-container {
        align-items: flex-start;
        flex-direction: column;
    }
    .t-element {
        margin-bottom: 16px;
        border-right: 0;
    }
}

// ActionEditV2.js
.action-edit-container {
    .match-group-section {
        margin-top: 32px;
    }

    .match-group-add-skeleton {
        background-color: #f0f0f0;
        border-radius: 2px;
        height: 100%;
        min-height: 125px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// ActionStep
.action-step {
    margin-bottom: 0;
    height: 100%;

    .action-step-caption {
        font-size: 0.8em;
        color: $text_muted;
        padding-bottom: $default_spacing;
    }

    .remove-wrapper {
        position: absolute;
        right: 0;
        top: 0;

        button {
            border: 0;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 2px;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            color: #666666;
        }
    }

    .type-switcher {
        &.unselected {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }
    }

    .property-filters {
        margin-top: 16px;
        padding-top: 16px;

        .section-title {
            font-weight: bold;
        }
    }
}
