// ActionsTable.js
.tutorial-container {
    color: var(--muted);
    margin-top: 32px;
    margin-bottom: 2rem;
    display: flex;
}
.t-element {
    display: flex;
    align-items: flex-start;
    border-right: 0.75px solid var(--border);
    padding-left: 32px;

    &:last-of-type {
        border-right: 0;
    }

    > div:last-of-type {
        padding: 0 16px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width: 850px) {
    .tutorial-container {
        align-items: flex-start;
        flex-direction: column;
    }
    .t-element {
        margin-bottom: 16px;
        border-right: 0;
    }
}

// ActionEditV2.js
.action-edit-container {
    .match-group-add-skeleton {
        background-color: #f0f0f0;
        border-radius: 2px;
        height: 100%;
        min-height: 125px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .action-name {
        min-width: 0;
        font-size: 28px;
        line-height: 34px;
        margin: 0;
        font-weight: 600;
    }

    .action-tags {
        margin-top: 0.5rem;
    }

    .ant-form-item {
        margin-bottom: 0;

        .ant-form-item-control-input {
            align-items: unset;
            min-height: unset;
        }
    }
}

// ActionStep
.action-step {
    margin-bottom: 0;
    height: 100%;

    .action-step-caption {
        font-size: 0.8em;
        color: var(--muted);
        padding-bottom: 1rem;
    }

    .remove-wrapper {
        position: absolute;
        right: 0;
        top: 0;

        button {
            border: 0;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 2px;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            color: #666666;
        }
    }

    .action-property-filters {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        padding-top: 16px;

        .section-title {
            font-weight: bold;
        }
    }
}
