@import '~/vars';

.TopBar {
    z-index: $z_main_nav;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    padding: 0.5rem;
    background: var(--bg-bridge);
    border-bottom: 1px solid var(--border);
    @media screen and (min-width: $sm) {
        padding: 0.5rem 1rem;
    }
    .anticon-caret-down {
        margin-left: 0.25rem;
        color: var(--bg-navy);
    }
}

.TopBar__segment {
    display: flex;
    align-items: center;
    height: 100%;
    &--left > * {
        margin-right: 1rem;
    }
    &--right > * {
        margin-left: 1rem;
    }
}

.TopBar__hamburger {
    display: flex;
    height: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.TopBar__logo {
    display: flex;
    align-items: center;
}

.Announcement {
    transition: margin 200ms ease;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    height: 3rem;
    padding: 0 1rem 0 0.5rem; // padding is larger on the right to accommodate the close button
    text-align: center;
    &--hidden {
        margin-top: -3rem;
    }
    @media screen and (min-width: $sm) {
        padding: 0 1rem;
    }
    p {
        margin: 0;
    }
    a {
        color: var(--purple-light);
        text-decoration: underline;
    }
}

.Announcement__close {
    position: absolute;
    right: 0.5rem;
    @media screen and (min-width: $sm) {
        right: 1rem;
    }
}

.SearchBox {
    transition: background-color 200ms ease, border-color 200ms ease;
    display: none;
    align-items: center;
    width: 15rem;
    height: 100%;
    padding: 0 0.625rem;
    border-radius: var(--radius);
    border: 1px solid var(--border-dark);
    color: var(--text-muted);
    user-select: none;
    &:hover {
        background-color: var(--bg-shaded);
    }
    &:active {
        border-color: var(--border-active);
    }
    @media screen and (min-width: $sm) {
        display: flex;
    }
}

.SearchBox__primary-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.SearchBox__magnifier {
    color: var(--text-default);
    font-size: 1rem;
    padding-right: 0.5rem;
}

.SearchBox__keyboard-shortcut {
    font-weight: 600;
}

.SitePopover {
    width: 20rem;
}

.SitePopover__main-info {
    flex-grow: 1;
}

.SitePopover__side-link {
    color: var(--primary);
    font-weight: 600;
    font-size: 0.8125rem;
    text-align: right;
}

.SitePopover__crumb {
    display: flex;
    align-items: center;
    height: 2.5rem;
    cursor: pointer;
}

.SitePopover__profile-picture {
    position: relative;
}

.SitePopover__danger {
    position: absolute;
    top: -0.375rem;
    right: -0.375rem;
    color: var(--white);
    background: var(--danger);
    font-size: 0.75rem;
    box-sizing: content-box;
    border-radius: 100%;
    border: 2px solid var(--bg-bridge);
}

.SitePopover__section {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border);
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    h5 {
        font-size: 11px;
        font-weight: 600;
        color: var(--muted-alt);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-left: 0.5rem;
        margin: 0.25rem 0;
    }
}

.AccountInfo {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.AccountInfo__identification {
    width: 100%;
    margin-left: 0.5rem;
    overflow: hidden;
}

.SitePopover__organization {
    display: flex;
    align-items: center;
}

.AccessLevelIndicator {
    font-size: 0.625rem;
    font-weight: 600;
    background: var(--border);
    padding: 0.125rem 0.25rem;
    border-radius: var(--radius);
    margin-left: 0.5rem;
    text-transform: uppercase;
}
