.DraggableToNotebook {
    position: relative;
    // Weird hack - this fixes browsers from not correctly identifying the bounds of the component for the
    transform: translate3d(0, 0, 0);

    > [data-attr='add-to-notebook'] {
        position: absolute;
        top: 0;
        right: 0;
        z-index: var(--z-raised);
        pointer-events: none;
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
        opacity: 0;
        transform: translateY(-70%);
    }

    &:hover {
        > [data-attr='add-to-notebook'] {
            pointer-events: all;
            opacity: 1;
            transform: translateY(-100%);
        }
    }
}
