<style type="text/css">
    /* Main containers */
    body,
    .main {
        width: 100%;
        font-family: 'MatterSQ', 'Helvetica Neue', helvetica, sans-serif;
        padding: 0;
        margin: 0;
        color: #2d2d2d;
        line-height: 1.4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 16px;
        background-color: #fafaf9;
    }

    .main {
        max-width: 600px;
        margin: 15px auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .logo {
        /* Styling for alt text */
        font-weight: 600;
        color: #5375ff;
        padding-left: 16px;
    }

    /* General styles */

    table {
        width: 100%;
        border-collapse: collapse;
        border-width: 0;
    }

    td {
        padding: 0;
        margin: 0;
    }

    td {
        text-align: center;
    }

    .spacingTop {
        margin-top: 16px;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        text-align: left;
        padding: 0 20px;
    }

    .inner {
        padding: 30px 0 0px;
    }

    .preheader {
        display: none;
        font-size: 0;
        max-height: 0;
        line-height: 0;
    }

    h1 {
        font-size: 36px;
    }

    h1,
    h2 {
        font-weight: 600;
        margin-bottom: 8px;
        line-height: 1.2;
    }

    b,
    strong {
        font-weight: 600;
    }

    a {
        color: #5375ff;
        text-decoration: none;
    }

    .text-center {
        text-align: center;
    }

    .danger {
        color: #df4313;
    }

    .muted {
        color: #5F5F5F;
        font-size: 12px;
    }
    .muted a {
        color: #5F5F5F;
        font-weight: 600;
    }

    .font-bold {
        font-weight: 600;
    }

    .action-btn {
        background-color: #1d4aff;
        color: white;
        padding: 16px 40px 16px 40px;
        font-size: 18px;
        font-weight: 600;
        border: none;
        border-radius: 6px;
    }

    .button {
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 48px;
        padding-right: 48px;
        border-radius: 6px;
        background-color: #1d4aff;
        font-weight: 500;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
    }

    .mt {
        margin-top: 24px;
    }

    .mb {
        margin-bottom: 24px;
    }

    .invite-header {
        font-weight: 400;
        text-align: center;
        margin-top: -24px;
    }

    .dashed-border {
        border-bottom: 3px dashed #bdbdbd;
        padding-bottom: 16px;
    }

    .invite-bottom {
        text-align: center;
        padding-top: 8px;
    }

    .invite-message {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        background-color: white;
        padding: 16px;
        margin-bottom: 8px;
    }

    .invite-message-divider {
        height: auto;
        width: 4px;
        margin-right: 16px;
        background-color: #db3707;
    }

    .insight-image {
        display: block;
        min-height: 200px;
        width: 100%;
        border-color: #d9d9d9;
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.25);
    }

    /* Header & Footer */

    .header {
        text-align: left;
    }

    .mainTitle div,
    .mainTitle span {
        font-weight: 600;
    }

    .mainTitle .secondary {
        color: #989a9b;
    }

    .mainTitle td:first-child {
        text-align: left;
    }

    .mainTitle td:last-child {
        text-align: right;
    }

    .footer {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .divider {
        border-bottom: 2px dashed #989a9b;
        max-width: 200px;
        margin: 1rem auto;
    }
    
    /* Temporary */
    .beta {
        color: #f7a501;
    }

</style>

<style type="text/css" inline="false">
    @media only screen and (max-width: 480px) {

        /* General styles */
        .grid {
            width: 100% !important;
        }

        .grid .column {
            display: block !important;
            width: 100% !important;
            margin-top: 32px !important;
        }

        /* Header & Footer */

        .header {
            text-align: center;
            margin: 0 8px;
        }

        .mainTitle td {
            text-align: left !important;
        }

        .mainTitle {
            margin-bottom: 16px;
        }
    }

</style>
