.FloatingSuggestion {
    position: absolute;
    height: 1.375rem;
}

.NotebookFloatingButton {
    z-index: var(--z-popover);
    position: absolute;
    left: 0;

    .NotebookFloatingButton__plus {
        border-radius: 1rem;
        min-width: 2rem;

        .LemonButton__icon {
            margin: 0 auto;
        }
    }
}
