.PlayerMeta {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;

    .Link {
        color: var(--color-text-primary);

        &:hover {
            color: var(--color-accent);
        }
    }
}
