.session-recordings-popup {
    z-index: 1061; // >1060 to be above the person modal and <1070 to be under the recording

    .anticon-play-circle {
        color: var(--primary);
    }

    .session-recordings-popup-row {
        display: flex;
        align-items: center;

        padding: 0.5rem;

        font-weight: var(--font-medium);
        color: var(--text-default);

        &:hover {
            color: var(--primary);
        }

        .anticon {
            font-size: 1.25rem;
            margin-right: 0.5rem;
        }
    }
}

.session-recordings-button {
    .anticon-play-circle {
        color: var(--primary);
    }
    .session-recordings-button__indicator {
        font-size: 12px;
        color: var(--text-muted);
    }
}
