# Web traffic views by device type

```sql
{{ render_hogql_example({"kind": "WebStatsTableQuery", "filterTestAccounts": false, "breakdownBy": "DeviceType", "properties": [], "dateRange": {"date_from": "-7d"}}) }}
```
