# Person property taxonomy (sample values for person properties)

Sample values for specific person properties:

```sql
{{ render_hogql_example({"kind": "ActorsPropertyTaxonomyQuery", "properties": ["email", "$initial_browser"]}) }}
```
