@import '~/vars';

.login-signup {
    height: 100vh;
    overflow: hidden;

    .ant-row {
        height: 100%;
    }
    .image-showcase {
        height: 100%;
        background: $sky;
        position: relative;

        .the-mountains {
            z-index: $z_city_background_image;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 180px;
            background: url('./mountains.svg');
            background-size: cover;
        }

        .main-logo {
            padding-top: $default_spacing;
            padding-left: $default_spacing * 2;
            img {
                height: 60px;
            }
        }

        .wordmark {
            font-family: $gosha_sans;
            font-size: 3.5rem;
            margin-bottom: $default_spacing * 2;
        }

        .showcase-content {
            z-index: $z_city_background_content;
            color: $text_light;
            height: calc(100% - 100px);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 $default_spacing * 2;
            position: relative;

            h1,
            h2,
            h3 {
                b {
                    color: white;
                }
            }

            .page-title {
                color: rgba(255, 255, 255, 0.6);
            }

            h3 {
                color: $text_light;
            }
        }
    }

    .rhs-content {
        display: flex;
        align-items: flex-end;
        padding-top: $default_spacing * 2;
        flex-direction: column;
        max-height: 100%;
        overflow: auto;

        .rhs-inner {
            align-self: center;
            width: 100%;
            max-width: 350px;
        }

        .password-login {
            margin-top: $default_spacing * 2;
        }
    }

    @media screen and (max-width: $md) {
        overflow: auto;

        .rhs-content {
            height: initial;
            overflow: initial;
        }
    }
}
