@import '~/vars';

.onboarding-setup {
    .panel-title {
        display: flex;
        align-items: center;
        .step-number {
            border-radius: 50%;
            width: 28px;
            height: 28px;
            background-color: #f6c6ff;
            color: #35416b;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 16px;
            margin-right: $default_spacing / 2;
        }

        h3 {
            margin-bottom: 0;
        }
    }

    .ant-collapse-header {
        background-color: white;
    }

    .ant-collapse-item-disabled .panel-title {
        .step-number {
            background-color: $border;
        }

        h3 {
            color: $text_muted;
        }
    }

    .step-list {
        display: flex;
        justify-content: center;
        padding: $default_spacing * 2 0;
    }

    .onboarding-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: $default_spacing * 2.5;
        cursor: pointer;

        &:first-of-type {
            margin-left: 0;
        }

        .title {
            font-weight: bold;
        }

        .caption {
            text-align: center;
            color: $text_muted;
            max-width: 240px;
            margin-bottom: $default_spacing;
        }

        .icon-container {
            width: 64px;
            height: 64px;
            border-radius: $radius;
            background-color: rgba($primary, 10%);
            color: $primary;
            font-size: 32px;
            margin-top: $default_spacing;
            margin-bottom: $default_spacing;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.disabled {
            cursor: inherit;

            .icon-container {
                background-color: $border_light;
                color: $text_muted;
            }

            .title {
                color: $text_muted;
            }

            button {
                cursor: inherit;
            }
        }

        &.completed {
            cursor: inherit;

            .icon-container {
                background-color: rgba($success, 20%);
                color: $success;
            }

            .title {
                color: $text_muted;
            }

            .completed-label {
                color: $success;
                padding-top: 4px; // To be aligned to buttons
                svg {
                    margin-right: 4px;
                }
            }
        }
    }

    .already-completed {
        margin-top: $default_spacing * 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .completed-icon {
            font-size: 100px;
            color: $success;
        }

        h2 {
            color: $success;
        }
    }
}
