@import '~/vars';

.personalization-screen {
    padding: $default_spacing * 2;

    .section-continue {
        text-align: center;
        margin-top: 32px;
    }

    .toggle-question {
        transition: all 1s ease-out;
        opacity: 0;
        visibility: hidden;
        max-height: 0;

        &.show {
            max-height: 200px;
            opacity: 1;
            visibility: visible;
        }
    }

    .multiselect-reminder {
        text-align: center;
        color: $text_muted;
        opacity: 0;
        max-height: 0;
        visibility: hidden;
        transition: all 1s ease-out;

        &.show {
            max-height: 200px;
            opacity: 1;
            visibility: visible;
        }
    }
}
