.Popover__CohortField {
    .Popover__box {
        max-height: 30rem;
    }
}

.CohortField__dropdown {
    min-width: 14rem;
    max-width: calc(100vw - 14rem);
}

.CohortField__CohortTextField {
    font-weight: 500;
}

.CohortField__CohortNumberField {
    max-width: 4rem;
}

.CohortField__CohortPersonPropertiesValuesField {
    min-width: 150px;
    min-height: 40px;
    border: 1px solid var(--border);
    border-radius: var(--radius);

    .ant-select-selection-search,
    .ant-select-selection-placeholder {
        display: flex;
        align-items: center;
        padding: 0 4px !important;
    }

    &.ant-select-single {
        .ant-select-selector {
            height: unset;
            min-height: 38px !important;
            background-color: inherit;
            border: none !important;
        }
    }

    &.ant-select-multiple {
        .ant-select-selector {
            height: 100% !important;
            padding: 5px 40px 5px 11px;
            background-color: inherit;
            border: none !important;

            .ant-select-selection-search {
                padding-left: 0 !important;
            }

            .ant-select-selection-placeholder {
                padding-left: 6px !important;
            }
        }
    }
}
