.CohortCriteriaRow {
    padding: 0 1rem;

    .CohortCriteriaRow__CohortField {
        margin: 0.25rem 0;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .CohortCriteriaRow__inline-divider {
        margin: 0 0.5rem;
        height: 1px;
        background-color: var(--border);
        flex: 1;
    }

    .CohortCriteriaRow__arrow {
        color: var(--text-muted);
        font-size: 18px;
        font-weight: bold;
        padding-left: 6px;
        padding-right: 8px;
        position: relative;
        top: 6px;
        user-select: none;
        flex-shrink: 0;
    }
}
