// This file has been DEPRECATED
@import '~/vars';

.image-showcase-container {
    height: 100%;
    position: relative;

    .image-showcase {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $sky;

        .the-mountains {
            z-index: $z_city_background_image;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 180px;
            background: url('../../../public/mountains.svg');
            background-size: cover;
        }
    }
    .main-logo {
        padding: $default_spacing * 2;
        z-index: $z_city_background_content;
        position: relative;
        img {
            height: 28px;
        }
    }
}

.auth-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $default_spacing * 2;

    .inner {
        width: 100%;
        max-width: 382px; // 350px + 32px padding
        padding: $default_spacing;
        background-color: white;
        border-radius: $radius;
    }

    .subtitle {
        color: $website_orange;
    }
}

.ant-alert-error {
    .ant-alert-message {
        font-weight: bold;
        color: $danger;
    }
}

.mobile-logo {
    display: none;
    padding: 0;
    padding-bottom: $default_spacing * 2;
}

.rocket-button {
    background-color: $website_orange;
    text-transform: uppercase;
    border-radius: 4px;
    color: $text_light;
    border: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: unset;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-out;

    .icon {
        float: left;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        padding-left: 6px;
        padding-right: 6px;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: darken($website_orange, 15%);
        color: $text_light;
    }
}

@media (max-width: 992px) {
    .main-logo {
        display: none;
        &.mobile-logo {
            display: block;
        }
    }

    .auth-main-content {
        padding-bottom: 0;
        flex-direction: column;
    }

    .showcase-content .inner {
        padding-bottom: 64px;

        h1 {
            text-align: center;
        }
    }
}
