@import '~/vars';

.image-showcase-container {
    height: 100%;
    position: relative;

    .image-showcase {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $sky;

        .the-mountains {
            z-index: $z_city_background_image;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 180px;
            background: url('./mountains.svg');
            background-size: cover;
        }

        .main-logo {
            padding-top: $default_spacing;
            padding-left: $default_spacing * 2;
            img {
                height: 60px;
            }
        }
    }
}

.auth-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $default_spacing * 2;

    .inner {
        width: 100%;
        max-width: 382px; // 350px + 32px padding
        padding: 0 $default_spacing;
    }
}
