// This file has been DEPRECATED
.image-showcase-container {
    height: 100%;
    position: relative;

    .image-showcase {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(180deg, #373088 0%, #d05783 60.94%, #ffb269 100%);

        .the-mountains {
            z-index: var(--z-city-background-image);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 180px;
            background: url('../../../public/mountains.svg');
            background-size: cover;
        }
    }
    .main-logo {
        padding: 2rem;
        z-index: var(--z-city-background-content);
        position: relative;
        img {
            height: 28px;
        }
    }
}

.auth-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    .inner {
        width: 100%;
        max-width: 382px; // 350px + 32px padding
        padding: 1rem;
        background-color: white;
        border-radius: var(--radius);
    }
}

.ant-alert-error {
    .ant-alert-message {
        font-weight: bold;
        color: var(--danger);
    }
}

.mobile-logo {
    display: none;
    padding: 0;
    padding-bottom: 2rem;
}

@media (max-width: 992px) {
    .main-logo {
        display: none;
        &.mobile-logo {
            display: block;
        }
    }

    .auth-main-content {
        padding-bottom: 0;
        flex-direction: column;
    }

    .showcase-content .inner {
        padding-bottom: 64px;

        h1 {
            text-align: center;
        }
    }
}
