@import '~/vars';

.bridge-page {
    background-color: $bg_bridge;

    // General styles; overrides
    a {
        font-weight: $medium;
    }

    .ant-form-item-has-error {
        input[type='password'],
        input[type='text'] {
            border-color: $danger_bridge !important;
        }
    }

    .ant-form-item-explain-error {
        color: $danger_bridge;
        padding-top: $default_spacing / 2;
        padding-bottom: $default_spacing / 2;
    }

    .btn-bridge {
        background-color: #000;
        color: white;
        font-weight: $medium;
        padding-top: $default_spacing * 0.7;
        padding-bottom: $default_spacing * 0.7;
        font-size: 1.1em;
        height: unset;
        border: 2px solid #000;

        &.outlined {
            border: 2px solid #000;
            color: #000;
            background-color: white;
        }
    }

    // Local styles

    .auth-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: $default_spacing * 2;
        min-height: 100vh;
        padding-bottom: 64px;

        .inner-wrapper {
            max-width: 400px; // same as for .inner
        }

        .inner {
            box-shadow: var(--shadow-elevation);
            width: 100%;
            max-width: 400px; // 320px + 80px padding
            padding: 1rem 2.5rem 1.75rem;
            background-color: white;
            border-radius: $radius;
        }
    }

    .main-art {
        width: 300px;
        padding-right: 48px;
    }

    .header-logo {
        padding-bottom: $default_spacing * 2;
        text-align: center;
        img {
            height: 24px;
        }
    }
}
