@import '../../styles/breakpoints';

.bridge-page {
    background-color: var(--bg-bridge);

    // General styles; overrides
    a {
        font-weight: var(--font-medium);
    }

    .ant-form-item-has-error {
        input[type='password'],
        input[type='text'] {
            border-color: var(--danger-bridge) !important;
        }
    }

    .ant-form-item-explain-error {
        color: var(--danger-bridge);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .btn-bridge {
        background-color: #000;
        color: white;
        font-weight: var(--font-medium);
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        font-size: 1.1em;
        height: unset;
        border: 2px solid #000;

        &.outlined {
            border: 2px solid #000;
            color: #000;
            background-color: white;
        }
    }

    // Local styles

    .auth-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        min-height: 100vh;
        padding-bottom: 64px;

        .inner-wrapper {
            max-width: 400px; // same as for .inner
        }

        .inner {
            box-shadow: var(--shadow-elevation);
            width: 100%;
            max-width: 400px; // 320px + 80px padding
            padding: 1rem 2.5rem 1.75rem;
            background-color: white;
            border-radius: var(--radius);
        }
    }

    .main-art {
        width: 300px;
        padding-right: 48px;
    }

    .header-logo {
        padding-bottom: 2rem;
        text-align: center;
        img {
            height: 24px;
        }
    }
}
