@import '../../styles/mixins';
@import './authenticationShared';

.invite-signup {
    height: 100vh;

    &.authenticated {
        height: calc(100vh - 3.5rem);
    }

    .inner {
        text-align: center;
        max-width: 400px;
        padding: 0 1rem;
        color: var(--light);
        h1 {
            color: var(--light);
        }
    }

    .error-view-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .inner {
            .error-message {
                margin-top: 2rem;
            }

            .actions {
                margin-top: 2rem;
            }
        }
    }

    .authenticated-invite {
        background: linear-gradient(180deg, #20305a 0%, #373088 33.85%, #d05783 100%);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            > div {
                margin-bottom: 1rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .whoami-mock {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;

            .whoami-inner-container {
                display: inline-block;
                .whoami {
                    cursor: default !important;
                    border: 1px var(--light) dashed;
                    border-radius: var(--radius);
                    background-color: rgba(white, 0.3);
                    padding: 4px;
                }
                .whoami,
                span {
                    color: var(--light) !important;
                }
            }
        }
    }

    a.plain-link {
        color: var(--light);
        font-weight: bold;
        &:hover {
            color: var(--primary-light);
        }
    }

    .unauthenticated-invite {
        height: 100vh;
        position: relative;

        .ant-row {
            height: 100%;
        }

        .image-showcase-container {
            .company {
                font-size: 2.7rem;
                margin-bottom: 0;
            }

            .showcase-content {
                z-index: var(--z-city-background-content);
                color: var(--light);
                height: calc(100% - 100px);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0 2rem;
                position: relative;

                h1,
                h2,
                h3 {
                    b {
                        color: white;
                    }
                }

                .page-title {
                    color: rgba(255, 255, 255, 0.6);
                }

                h3 {
                    color: var(--light);
                }

                .mobile-continue {
                    display: none;
                }
            }
        }

        .rhs-content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;

            .rhs-inner {
                width: 100%;
                max-width: 382px; // 350px + 32px padding
                padding: 0 1rem;
            }

            .password-login {
                margin-top: 2rem;
            }
        }

        @media screen and (max-width: $md) {
            overflow: auto;
            scroll-behavior: smooth;

            .image-showcase {
                position: relative !important;
                height: 100%;
            }

            .showcase-content {
                .page-title {
                    margin-top: 0;
                }

                .mobile-continue {
                    display: block !important;
                    padding-top: 1rem;
                }
            }

            .rhs-content {
                height: initial;
                overflow: initial;

                .top-helper {
                    text-align: left;
                    margin-right: 0;
                    padding: 0 1rem;
                    color: var(--muted);
                    b {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.whoami {
    height: 100%;
    display: flex;
    align-items: center;

    .details {
        flex-direction: column;
        font-weight: bold;
        align-items: flex-start;
        padding: 0 8px;

        span {
            display: block;
        }

        span:last-of-type {
            font-size: 12px;
            color: var(--muted);
        }
    }
}
