@import '../../styles/mixins';

.InviteSignupSummary {
    margin-bottom: 2rem;
    @include screen($md) {
        // Positions the notice just above the Hedgehog (center positioned with negative top offset)
        opacity: 0.8;
        position: absolute;
        top: 50%;
        margin-top: -300px;
        left: -380px;
        width: 240px;
        padding: 1rem 0;
    }
}
