@import '~/vars';
@import './authenticationShared';

.invite-signup {
    height: 100vh;

    &.authenticated {
        height: calc(100vh - #{$top_nav_height});
    }

    .inner {
        text-align: center;
        max-width: 400px;
        padding: 0 $default_spacing;
        color: $text_light;
        h1 {
            color: $text_light;
        }
    }

    .error-view-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .inner {
            .error-message {
                margin-top: $default_spacing * 2;
            }

            .actions {
                margin-top: $default_spacing * 2;
            }
        }
    }

    .authenticated-invite {
        background: $dusk_sky;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner {
            > div {
                margin-bottom: $default_spacing;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .whoami-mock {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;

            .whoami-inner-container {
                display: inline-block;
                .whoami {
                    cursor: default !important;
                    border: 1px $text_light dashed;
                    border-radius: $radius;
                    background-color: rgba(white, 0.3);
                    padding: 4px;
                }
                .whoami,
                span {
                    color: $text_light !important;
                }
            }
        }
    }

    a.plain-link {
        color: $text_light;
        font-weight: bold;
        &:after {
            content: ' | ';
            &:hover {
                color: $text_light;
            }
        }
        &:last-of-type:after {
            content: '';
        }
        &:hover {
            color: darken($text_light, 20%);
        }
    }

    .unauthenticated-invite {
        height: 100vh;
        position: relative;

        .ant-row {
            height: 100%;
        }

        .image-showcase-container {
            .company {
                font-size: 2.7rem;
                margin-bottom: 0;
            }

            .showcase-content {
                z-index: $z_city_background_content;
                color: $text_light;
                height: calc(100% - 100px);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0 $default_spacing * 2;
                position: relative;

                h1,
                h2,
                h3 {
                    b {
                        color: white;
                    }
                }

                .page-title {
                    color: rgba(255, 255, 255, 0.6);
                }

                h3 {
                    color: $text_light;
                }

                .mobile-continue {
                    display: none;
                }
            }
        }

        .rhs-content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: $default_spacing * 2;

            .rhs-inner {
                width: 100%;
                max-width: 382px; // 350px + 32px padding
                padding: 0 $default_spacing;
            }

            .password-login {
                margin-top: $default_spacing * 2;
            }
        }

        @media screen and (max-width: $md) {
            overflow: auto;
            scroll-behavior: smooth;

            .image-showcase {
                position: relative !important;
                height: 100%;
            }

            .showcase-content {
                .page-title {
                    margin-top: 0;
                }

                .mobile-continue {
                    display: block !important;
                    padding-top: $default_spacing;
                }
            }

            .rhs-content {
                height: initial;
                overflow: initial;

                .top-helper {
                    text-align: left;
                    margin-right: 0;
                    padding: 0 $default_spacing;
                    color: $text_muted;
                    b {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.whoami {
    height: 100%;
    display: flex;
    align-items: center;

    .details {
        flex-direction: column;
        font-weight: bold;
        align-items: flex-start;
        padding: 0 8px;

        span {
            display: block;
        }

        span:last-of-type {
            font-size: 12px;
            color: $text_muted;
        }
    }
}
