@import '../../styles/mixins';

.PasswordWrapper {
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    max-height: 1000px;

    &.zero-height {
        max-height: 0;
        margin: 0 !important;
    }
}
