@import '~/vars';
@import './authenticationShared';

.login {
    .showcase-content {
        z-index: $z_city_background_content;
        height: calc(100% - 100px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 $default_spacing * 2;
        position: relative;

        h1 {
            color: $text_light;
        }
    }

    .auth-main-content {
        align-items: center;
        min-height: 100vh;
        padding-bottom: 64px;
    }
}
