@import '~/vars';

.password-input {
    .password-input-strength-indicator {
        margin: 0;
        flex-grow: 1;
        .ant-form-item-control-input {
            min-height: unset;
        }
    }
}
