@import '~/vars';

.taxonomic-breakdown-filter {
    &.tag-pill {
        vertical-align: bottom;
        line-height: 15px;
        color: $bg_depth;
        background-color: $border;
        border: 1px solid $border;
        border-radius: 40px;
        padding: 8px 12px;
        font-weight: 400;
        font-size: 15px;

        span.anticon {
            vertical-align: bottom;
            line-height: 15px;
            font-size: 15px;
            color: $bg_depth;
        }
    }
}
