.Settings {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 0;

    .Settings__sections {
        position: sticky;
        flex-shrink: 0;
        width: 20%;
        min-width: 14rem;
        max-width: 20rem;

        .SidePanel3000 & {
            top: 0;
        }
    }

    &--compact {
        flex-direction: column;
        gap: 0;

        .Settings__sections {
            position: relative;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }

    .LemonModal & {
        margin-top: 0;
    }
}
