@import '../../../../styles/mixins';

.DataVisualization {
    .ChartSelectionWrapper {
        flex-shrink: 0;
        background: var(--bg-light);

        .ChartSelection {
            display: flex;
            flex-direction: column;
        }
    }
}
