.DataVisualization {
    .LemonTabs .LemonTabs__bar {
        margin-bottom: 1px;

        /* Prevent vertical scrolling behavior on the tabs */
        overflow-y: hidden;

        /* Hide the scrollbar */
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .SideBar {
        min-width: 18rem;
        max-width: 18rem;
        border-radius: var(--radius);

        .LemonInput.LemonInput--medium {
            display: flex;

            .LemonInput__input {
                flex: 1;
                width: 0;
            }
        }

        .grow-2 {
            flex-grow: 2;
        }
    }
}
