.NotebookScene {
    .Navigation3000 & {
        position: absolute;
        inset: 0;
        padding: 0 2.5rem; // 2.5rem is the minimum to accommodate the heading toggle
        overflow-y: auto;
    }

    .ProseMirror > .react-renderer {
        // TODO: this only works in the NotebookScene view. We need to find a better way to accommodate parent views.
        scroll-margin-top: 65px;
    }
}
