{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        },
        "target": "es2020",
        "baseUrl": "."
    },
    "module": {
        "type": "commonjs"
    }
}
