.ErrorTrackingIssue {
    height: calc(100vh - var(--breadcrumbs-height-full) - var(--scene-padding) - var(--scene-padding-bottom));

    & .SessionRecordingPlayer {
        height: 24rem;
    }

    & .LemonCollapsePanel > .LemonButton:hover:has(.LemonSegmentedButton:hover) {
        background-color: inherit;
    }

    & > .ErrorTrackingIssue__left-column {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
