.BoldNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 6rem 6rem;
    line-height: 1;
    font-weight: 700;
    min-height: 16rem;
    letter-spacing: -0.05em;
    cursor: default;
}
