@import '../../../../styles/mixins';

.BoldNumber {
    width: 100%;
    padding: 2rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    @include screen($md) {
        padding: 3rem 5rem 5rem;

        .InsightCard & {
            padding: 2rem;
        }
    }
}

.BoldNumber__comparison {
    margin-top: 0.5rem;
    margin-bottom: -1.5rem;
    color: var(--muted-alt);
    font-weight: 500;
    cursor: default;
}
