.insight-empty-state {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.1em;
    color: var(--muted);

    &.error {
        h2 {
            color: var(--danger);
        }
    }

    &.warning {
        h2 {
            color: var(--warning);
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.6rem;
        color: var(--primary-alt);
    }

    .empty-state-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;

        .illustration-main {
            font-size: 2.5rem;
        }

        h2 {
            text-align: center;
        }

        ol {
            margin: 0.5rem 0;
        }
    }
}
