@import '~/vars';

.insight-empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: $default_spacing * 2;
    padding-bottom: $default_spacing * 2;
    color: $text_muted;
    padding: 1rem;
    font-size: 1.1em;
    flex-grow: 1;

    &.error {
        .illustration-main,
        .spinner {
            color: #fb8c6a; // $danger with increased lightness
        }

        h2 {
            color: $danger;
        }
    }

    &.warning {
        .illustration-main,
        .spinner {
            color: #fec34d; // $warning with increased lightness
        }

        h2 {
            color: $warning;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.6rem;
        color: $primary_alt;
    }

    .illustration-main {
        color: rgba($primary_alt, 0.3);
    }

    button.ant-btn-lg {
        height: 42px;
    }

    .empty-state-inner {
        max-width: 600px;

        .illustration-main {
            display: flex;
            justify-content: center;
            font-size: 4rem;
            height: 4rem;
            line-height: 1em;
            text-align: center;
            margin-bottom: 0.75rem;

            .ant-empty {
                height: 6rem;
                margin: 0;
                .ant-empty-image {
                    height: 100%;
                    svg {
                        width: 6rem;
                    }
                }
            }
        }

        h2 {
            text-align: center;
        }

        ol {
            margin-top: $default_spacing / 2;
        }
    }
}
