.NotebookNode {
    --notebook-node-meta-height: 2.5rem;
    --notebook-node-meta-padding: 0.25rem;
    --border-color: var(--border);

    transform: translate3d(0, 0, 0);

    .NotebookNode__box {
        transform: translate3d(0, 0, 0);
        border: 1px solid var(--border-color);
        border-radius: var(--radius);
        background-color: var(--bg-light);
        transition: border 150ms linear, margin-bottom 150ms linear;
        overflow: hidden;

        .NotebookNode__meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--primary-alt);
            padding: var(--notebook-node-meta-padding);
            border-bottom: 1px solid var(--border);
            height: var(--notebook-node-meta-height);
            transition: height 150ms ease-out;
            overflow: hidden;
        }

        .NotebookNode__settings {
            border-bottom: 1px solid var(--border);
        }

        .NotebookNode__content {
            transition: box-shadow 150ms ease-out;
            z-index: 1;
        }
    }

    .NotebookNode__gap {
        display: flex;
        gap: 0.25rem;
        overflow: hidden;
        transition: all 150ms linear 1000ms;
        opacity: 0;
        height: 1rem;
        align-items: center;
    }

    &--has-actions {
        &:hover,
        &--selected {
            .NotebookNode__gap {
                opacity: 1;
                height: 2.5rem;
                transition: all 150ms linear;
            }
        }
    }

    &--selected {
        --border-color: var(--primary-3000);
    }

    &--auto-hide-metadata {
        --border-color: transparent;

        .NotebookNode__meta {
            height: 0;
            padding: 0 var(--notebook-node-meta-padding);
            pointer-events: none;
            visibility: hidden;
        }

        .Notebook--editable & {
            &:hover,
            &.NotebookNode--selected {
                border-color: var(--border-color);
                .NotebookNode__meta {
                    height: var(--notebook-node-meta-height);
                    padding: var(--notebook-node-meta-padding);

                    pointer-events: all;
                    visibility: visible;
                }
            }
        }

        &:hover {
            --border-color: var(--border);
        }
    }
}

.NotebookNode.ph-image {
    img {
        flex: 1;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.NotebookNodeTitle {
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--editable {
        border-radius: var(--radius);
        transition: background-color 150ms linear;
        &:hover {
            background-color: var(--border);
        }
    }
}
