.NotebookNode {
    transform: translate3d(0, 0, 0);
    border: 1px solid var(--border-3000);
    border-radius: var(--radius);
    margin: 0px 0px 1rem 0px;
    background-color: var(--bg-light);
    transition: border 150ms linear;

    .NotebookNode__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 700;
        color: var(--muted-alt-3000);
        padding: 0.25rem;
        border-bottom: 1px solid var(--border);
    }

    .NotebookNode__content {
        transition: box-shadow 150ms ease-out;
        border-radius: var(--radius);
    }

    &--selected {
        border: 1px solid var(--primary-3000);
    }
}
