.NotebookNode {
    transform: translate3d(0, 0, 0);
    .NotebookNode__meta {
        opacity: 0;
        transition: 150ms ease-out;
        transform: translateY(100%);
    }

    outline: 2px solid transparent;
    outline-offset: 1rem;
    border-radius: 0.125rem;
    margin: 0.5rem 0px;

    transition: outline 150ms ease-out, outline-offset 150ms ease-out;

    &--selected {
        outline: 2px solid var(--accent-3000-light);
        outline-offset: 0.25rem;
    }

    &:hover,
    &--selected {
        .NotebookNode__meta {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
