@import '../../../styles/mixins';

// Here we override based on NotebookNode the ph-query styling, so
// as to not change the global styling. We need the extra nesting to ensure we
// are more specific than the other insights css

.NotebookNode.ph-query {
    .insights-graph-container {
        .ant-card-head {
            border-bottom: 1px solid var(--border);
            padding-left: 1rem;
            padding-right: 1rem;

            .ant-card-head-title {
                padding: 0;
            }
        }

        .ant-card-body {
            padding: 0;
        }

        .RetentionContainer {
            .LineGraph {
                position: relative;
            }
        }
    }

    .funnel-insights-container {
        &.non-empty-state {
            min-height: initial;
        }
    }
}
