@import '~/vars';

.funnels-product-cue {
    margin-top: $default_spacing;
    transform: scaleY(0);
    transition: transform 0.4s ease;

    &.shown {
        transform: scaleY(1);
        transform-origin: top;
    }
}
