.funnels-product-cue {
    margin-bottom: 0;
    max-height: 0;
    position: relative;
    overflow: hidden;

    &.shown {
        height: auto;
        max-height: 600px;
        overflow: visible;
        margin-bottom: 1rem;
    }

    .inline-message {
        border: 1px solid var(--primary);
        background-color: white;
        max-width: 800px;
    }

    .tooltip-arrow {
        position: absolute;
        bottom: -5px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--primary);
    }
}
