.toggles {
    text-transform: uppercase;
    div {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        align-items: center;
    }

    .new {
        background-color: #66c2a5;
    }

    .returning {
        background-color: #4575b4;
    }

    .resurrecting {
        background-color: #8da0cb;
    }

    .dormant {
        background-color: #fdae61;
    }
}
