.toggles {
    text-transform: uppercase;
    div {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        align-items: center;
    }
    .new {
        background-color: #ee442f;
    }

    .returning {
        background-color: #601a4a;
    }

    .resurrecting {
        background-color: #63acbe;
    }

    .dormant {
        background-color: #0b5a43;
    }
}
