.toggles {
    text-transform: uppercase;
    div {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        align-items: center;
        font-weight: 700;
    }

    .new {
        color: var(--lifecycle-new);
    }

    .returning {
        color: var(--lifecycle-returning);
    }

    .resurrecting {
        color: var(--lifecycle-resurrecting);
    }

    .dormant {
        color: var(--lifecycle-dormant);
    }
}
