.performance-popup {
    max-width: 400px;
}

.performance-timings-table {
    margin: auto;

    th,
    td {
        text-align: center;
        vertical-align: middle;
        padding: 4px;
    }

    td.key {
        text-align: left;
    }
}

.web-performance {
    tr.current-event {
        background-color: var(--mark-color);
    }

    .chart-title {
        display: flex;
        width: 100%;
        padding-top: 1rem;

        .person-header {
            flex-grow: 1;
        }
    }

    .waterfall-chart {
        .marker-row {
            height: 32px;
            margin-bottom: 1px;
        }
        .marker-name {
            background-color: var(--bg-mid);
        }
        .positioned {
            position: absolute;
            min-width: 2px;
            height: 32px;
            top: 0;
        }

        .reduced-height {
            height: 16px;
            margin-top: 7px;
        }

        .VerticalMarker {
            height: 100%;
            position: absolute;
            width: 2px;

            &__hidden {
                width: 0;
            }

            &__highlighted {
                width: 3px;
            }

            &__in-front {
                z-index: 200;
            }
        }
    }
}
