@import '~/vars';

.performance-waterfall {
    line-height: 32px;
    padding-right: 3em;

    tr.current-event {
        background-color: $mark_color;
    }

    .waterfall-chart {
        border: 1px solid var(--border);
        padding: 4px;

        .color-legend {
            display: flex;
            justify-content: center;
            align-content: center;

            .color-block {
                width: 64px;
                height: 16px;
                line-height: 32px;
                display: inline-block;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 4px;
            }
        }

        .in-front {
            z-index: 200;
        }

        .marker-row {
            height: 32px;
            margin-bottom: 1px;
        }
        .marker-name {
            background-color: var(--bg-mid);
        }
        .positioned {
            position: absolute;
            min-width: 2px;
            height: 32px;
        }

        .vertical-marker {
            height: 100%;
            position: absolute;
            width: 2px;
        }
    }
}
