@import '~/vars';

.event-types {
    div {
        border: 1px solid $border;
        padding: 8px;
    }
}

.path-filters {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding-left: 0;
        color: $primary-alt;
        font-weight: 600;
    }

    .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
    }
}
