.Navigation3000 {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--bg-3000);

    > main {
        flex: 1;
        min-width: 0;
    }
}

.Navigation3000__scene {
    margin: 0 1rem;
}

// Navbar

.Navbar3000 {
    flex: 0 0 3rem;
    border-right: 1px solid transparent; // This is just for sizing, the visible border is on the content
    box-sizing: content-box;
    background: var(--accent-3000);
    z-index: var(--z-main-nav);

    .LemonButton {
        min-height: 2.25rem !important; // Reduce minimum height
        padding: 0.375rem !important; // Use a custom padding for the navbar only
    }

    ul {
        padding: 0.5rem 0;
    }

    ul + ul {
        border-top-width: 1px;
    }

    li + li {
        margin-top: 1px;
    }
}

.Navbar3000__content {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0 0.375rem;
    border-right-width: 1px;
}

// Sidebar

.Sidebar3000 {
    --sidebar-slider-padding: 0.25rem;
    --sidebar-horizontal-padding: 0.5rem;
    --sidebar-row-height: 2rem;
    --sidebar-basic-leaf-row-height: 2rem;
    --sidebar-extended-leaf-row-height: 2.875rem;
    position: relative;
    // This border is just for sizing, the visible border is on the content and slider
    // Hidden when the sidebar is closed
    border-right: min(1px, var(--sidebar-width)) solid transparent;
    flex: 0 0 var(--sidebar-width);
    box-sizing: content-box;

    &.Sidebar3000--resizing {
        will-change: flex-basis;
    }

    h3,
    h4,
    h5 {
        color: var(--default);
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        line-height: inherit;
    }
    h3 {
        font-weight: 600;
        line-height: 2rem;
        font-size: 0.75rem;
    }
    h4 {
        font-weight: 600;
        line-height: 2rem;
        font-size: 0.6875rem;
    }
    h5 {
        font-weight: 500;
        font-size: 0.75rem;
        text-transform: none;
        letter-spacing: normal;
    }

    .LemonInput--type-search {
        max-width: none;
        border-color: transparent; // Only show border on focus here
        border-radius: 0;
    }
}

.Sidebar3000__content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: var(--sidebar-width);
    font-size: 0.6875rem;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    background: var(--bg-3000);
    [theme='dark'] & {
        background: var(--accent-3000);
    }

    .Sidebar3000--resizing & {
        transition: none; // Increase responsiveness when resizing
        will-change: width;
    }

    > div:not(:first-child) {
        border-top-width: 1px;
    }
}

.Sidebar3000__lists {
    position: relative; // For SpinnerOverlay
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    flex-grow: 1;
}

.Sidebar3000__hint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--sidebar-row-height);
    padding: 0 var(--sidebar-horizontal-padding);
    background: var(--bg-3000);
    border-top-width: 1px;
    font-weight: 500;
    user-select: none;
}

.Sidebar3000__slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(
        -1 * var(--sidebar-slider-padding) - min(1px, var(--sidebar-width))
    ); // Center around the original sidebar border
    width: calc(2 * var(--sidebar-slider-padding) + 1px); // The interactive area is enlarged for easier interaction
    cursor: col-resize;
    user-select: none; // Fixes inadvertent selection of scene text when resizing
    z-index: var(
        --z-notifications-popover
    ); // A bit above navbar for a nicer slider experience when the sidebar is closed
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: var(--sidebar-slider-padding);
        width: 1px;
    }
    &::before {
        transition: 100ms ease transform, 100ms ease background-color;
        background: var(--border);
    }
    &::after {
        transition: 100ms ease opacity, 100ms ease transform, 100ms ease background-color;
        background: var(--text-3000);
        opacity: 0;
    }
    &:hover::after,
    .Sidebar3000--resizing &::after {
        opacity: 0.25;
    }
    .Sidebar3000--resizing &::before,
    .Sidebar3000--resizing &::after {
        transform: scaleX(3);
    }
    .Sidebar3000[aria-hidden='true'] & {
        cursor: e-resize;
    }
}

.Sidebar3000__header {
    display: flex;
    align-items: center;
    height: var(--sidebar-row-height);
    padding: 0 var(--sidebar-horizontal-padding);
}

// Accordion

.Accordion {
    --accordion-arrow-size: 1rem;
    --accordion-inset: 1.25rem;
    --accordion-header-background: var(--accent-3000);
    [theme='dark'] & {
        --accordion-header-background: var(--bg-3000);
    }
}

.Accordion[aria-disabled='true'] {
    .Accordion__header {
        cursor: default;
        &:hover {
            background: var(--accordion-header-background);
        }
        .LemonIcon {
            visibility: hidden;
        }
    }
}

.Accordion__header {
    transition: 100ms ease background, 100ms ease border-color;
    display: flex;
    align-items: center;
    background: var(--accordion-header-background);
    height: var(--accordion-row-height);
    padding: 0 var(--sidebar-horizontal-padding);
    border-bottom-width: 1px;
    cursor: pointer;
    user-select: none;
    &:hover {
        background: var(--border-3000);
    }
    .LemonIcon {
        transition: 100ms ease transform;
        font-size: var(--accordion-arrow-size);
        flex-shrink: 0;
        .Accordion--expanded & {
            transform: rotate(90deg);
        }
    }
    h4 {
        margin-left: calc(var(--accordion-inset) - var(--accordion-arrow-size));
    }
}

.Accordion__content {
    border-bottom-width: 1px;
}

.Accordion__meta {
    opacity: 0.5;
    padding: 0 var(--sidebar-horizontal-padding) 0 calc(var(--accordion-inset) + var(--sidebar-horizontal-padding));
    line-height: var(--accordion-row-height);
    user-select: none;
}

.SidebarList__item {
    --sidebar-list-item-status-color: var(--muted);
    --sidebar-list-item-fold-size: 0.5rem;
    --sidebar-list-item-ribbon-width: 0.1875rem;
    position: relative;
    transition: 100ms ease background;
    padding: 0 var(--sidebar-horizontal-padding) 0
        calc(
            var(--accordion-inset, 0px) + var(--sidebar-horizontal-padding) +
                var(--sidebar-list-item-marker-offset, 0px)
        );
    color: var(--muted);
    border-bottom-width: 1px;
    line-height: 1.125rem;
    height: var(--sidebar-basic-leaf-row-height);
    cursor: pointer;

    &:hover,
    &[aria-current='page'] {
        background: var(--border-3000);
    }

    &.SidebarList__item--extended {
        height: var(--sidebar-extended-leaf-row-height);
    }

    &.SidebarList__item--marker-fold,
    &.SidebarList__item--marker-ribbon {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &.SidebarList__item--marker-fold {
        &::before {
            width: 0;
            height: 0;
            border-left: var(--sidebar-list-item-fold-size) solid var(--sidebar-list-item-status-color);
            border-bottom: var(--sidebar-list-item-fold-size) solid transparent;
        }
    }
    &.SidebarList__item--marker-ribbon {
        --sidebar-list-item-marker-offset: var(--sidebar-list-item-ribbon-width);
        &::before {
            width: var(--sidebar-list-item-ribbon-width);
            height: calc(100% + 1px);
            background: var(--sidebar-list-item-status-color);
        }
    }
    &.SidebarList__item--marker-status-success {
        --sidebar-list-item-status-color: var(--success);
    }
    &.SidebarList__item--marker-status-warning {
        --sidebar-list-item-status-color: var(--warning);
    }
    &.SidebarList__item--marker-status-danger {
        --sidebar-list-item-status-color: var(--danger);
    }

    > a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: inherit;
    }
}
