svg.posthog-toolbar-icon-fire.animated {
    path:nth-child(1) {
        animation: posthHogToolbarIconOnFire1 0.5s infinite;
    }
    path:nth-child(2) {
        animation: posthHogToolbarIconOnFire2 0.5s infinite;
    }
    path:nth-child(3) {
        animation: posthHogToolbarIconOnFire3 0.5s infinite;
    }
}

@keyframes posthHogToolbarIconOnFire1 {
    0% {
        fill: #fb4f0e;
    }
    33.3% {
        fill: #fe6d37;
    }
    66.6% {
        fill: #fcb811;
    }
    100% {
        fill: #fb4f0e;
    }
}

@keyframes posthHogToolbarIconOnFire2 {
    0% {
        fill: #fe6d37;
    }
    33.3% {
        fill: #fcb811;
    }
    66.6% {
        fill: #fb4f0e;
    }
    100% {
        fill: #fe6d37;
    }
}

@keyframes posthHogToolbarIconOnFire3 {
    0% {
        fill: #fcb811;
    }
    33.3% {
        fill: #fb4f0e;
    }
    66.6% {
        fill: #fe6d37;
    }
    100% {
        fill: #fcb811;
    }
}
