svg.posthog-toolbar-icon-flag.animated {
    path.color1 {
        animation: posthHogToolbarIconOnFlag1 0.5s infinite;
    }
    path.color2 {
        animation: posthHogToolbarIconOnFlag2 0.5s infinite;
    }
    path.color3 {
        animation: posthHogToolbarIconOnFlag3 0.5s infinite;
    }
}

@keyframes posthHogToolbarIconOnFlag1 {
    0% {
        fill: #70aa54;
    }
    33.3% {
        fill: #527940;
    }
    66.6% {
        fill: #415e32;
    }
    100% {
        fill: #70aa54;
    }
}

@keyframes posthHogToolbarIconOnFlag2 {
    0% {
        fill: #527940;
    }
    33.3% {
        fill: #415e32;
    }
    66.6% {
        fill: #70aa54;
    }
    100% {
        fill: #527940;
    }
}

@keyframes posthHogToolbarIconOnFlag3 {
    0% {
        fill: #415e32;
    }
    33.3% {
        fill: #70aa54;
    }
    66.6% {
        fill: #527940;
    }
    100% {
        fill: #415e32;
    }
}
