@import '~/vars';

.saved-insights {
    .star-outlined {
        color: $border_dark;
    }

    .paginate-disabled {
        cursor: auto;
        color: $border_dark;
    }

    .list-or-card-layout {
        color: $text_muted_alt;
        padding: 28px 0;
        border-top: 1px solid $border;
        justify-content: space-between;
        align-items: center;
    }

    .ant-table {
        border: 1px solid $border;
        border-radius: 4px;
        padding: 8px;
    }

    .ant-tabs-nav-wrap {
        border-bottom: 1px solid $border;
    }

    .ant-table-footer {
        background-color: white;
        padding: 12px 0;
    }

    .footer-pagination {
        justify-content: flex-end;
        align-items: center;
        span {
            padding-right: $default_spacing;
        }
    }
}
