.ErrorTrackingIssue {
    // Needed for the NotFound state inside SessionRecordingPlayer
    .NotFoundComponent {
        margin: 0 auto;
    }
}

body[theme='light'] .ErrorTrackingIssue {
    --gray-1: var(--color-neutral-50);
    --gray-2: var(--color-neutral-100);
    --gray-3: var(--color-neutral-200);
    --gray-4: var(--color-neutral-300);
    --gray-5: var(--color-neutral-400);
    --gray-6: var(--color-neutral-500);
    --gray-7: var(--color-neutral-600);
    --gray-8: var(--color-neutral-700);
    --gray-9: var(--color-neutral-800);
    --gray-10: var(--color-neutral-900);
}

body[theme='dark'] .ErrorTrackingIssue {
    --gray-1: var(--color-neutral-900);
    --gray-2: var(--color-neutral-800);
    --gray-3: var(--color-neutral-700);
    --gray-4: var(--color-neutral-600);
    --gray-5: var(--color-neutral-500);
    --gray-6: var(--color-neutral-400);
    --gray-7: var(--color-neutral-300);
    --gray-8: var(--color-neutral-200);
    --gray-9: var(--color-neutral-100);
    --gray-10: var(--color-neutral-50);
}
