@layer components {
    .ErrorTrackingIssueScene [data-not-quill] :is(.LemonButton, .button-primitive) {
        --radius: 0.375rem !important;
    }

    .ErrorTrackingIssue {
        .quill-tabs__list--variant-line .quill-tabs__trigger[data-active] {
            background-color: rgb(0 0 0 / 0%) !important;
        }

        // Needed for the NotFound state inside SessionRecordingPlayer
        .NotFoundComponent {
            margin: 0 auto;
        }
    }
}
