.PersonDisplay {
    display: inline;

    .ProfilePicture {
        transition: opacity 200ms ease;
        margin-right: 0.5rem;
    }

    a:hover {
        .ProfilePicture {
            opacity: 0.75;
        }
    }
}
