.person-header {
    .profile-picture {
        transition: opacity 200ms ease;
        margin-right: 0.5rem;
    }
    a:hover {
        .profile-picture {
            opacity: 0.75;
        }
    }
}
