@import '~/vars';

.person-header {
    display: flex;
    align-items: center;

    .icon {
        font-size: 1.125rem;
        margin-right: 0.5rem;
    }

    &:hover {
        text-decoration: underline;
    }
}
