@import '~/vars';

.person-detail {
    .person-header {
        svg {
            height: 24px;
        }
        font-weight: bold;
        font-size: 16px;
    }

    .item-group {
        margin-top: $default_spacing;
        padding-left: 4px;

        label {
            font-weight: bold;
        }
    }

    .extra-ids {
        cursor: pointer;
        margin-left: 4px;
        color: $primary;
    }
}

.persons-page-props-table {
    @media screen and (max-width: 1150px) {
        table td,
        table th {
            max-width: 20px !important;
            overflow: hidden;
        }
    }
}
