.PersonDisplay {
    display: inline;

    .ProfilePicture {
        margin-right: 0.5rem;
        transition: opacity 200ms ease;

        &.sm {
            margin-right: 0.375rem;
        }
    }

    a:hover {
        .ProfilePicture {
            opacity: 0.75;
        }
    }
}
