@import '~/vars';

.person-header {
    display: flex;
    @extend .text-ellipsis;

    svg {
        font-size: 1.3rem;
        margin-right: 2px;
    }

    &.anonymous {
        color: $text_muted;
        svg {
            color: $purple_300;
        }
    }

    &.identified {
        color: $text_default;
        svg {
            color: $purple_700;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}
