@import '~/vars';

.console-log-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.console-log {
    flex: 1;
    border: 1px solid $border;
    border-radius: $radius;
}

.log-line {
    border-bottom: 1px solid $border;
    font-size: 12px;
    cursor: pointer;
    padding: $default_spacing/4 $default_spacing/2;
    width: 100%;

    .log-text {
        margin: 0px;
        min-height: 18px;
    }

    .trace-string {
        float: right;
        margin-left: $default_spacing/4;

        a {
            text-decoration: underline;
        }
    }

    &.level-error {
        background: rgb(252, 241, 240);
        color: red;
    }

    &.level-warn {
        background: rgb(254, 251, 231);
    }

    &:hover {
        background: rgba(83, 117, 255, 0.1);
    }
}

.more-logs-available {
    text-align: center;
    margin: $default_spacing/2;
}

.console-feedback-container {
    border: 1px solid $border;
    border-radius: $radius;
    padding: $default_spacing;
    margin-top: $default_spacing;
}
