.console-log-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.console-log {
    flex: 1;
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.log-line {
    border-bottom: 1px solid var(--border);
    font-size: 12px;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    width: 100%;

    .log-text {
        margin: 0px;
        min-height: 18px;
    }

    .trace-string {
        float: right;
        margin-left: 0.25rem;

        a {
            text-decoration: underline;
        }
    }

    &.level-error {
        background: rgb(252, 241, 240);
        color: red;
    }

    &.level-warn {
        background: rgb(254, 251, 231);
    }

    &:hover {
        background: rgba(83, 117, 255, 0.1);
    }
}

.more-logs-available {
    text-align: center;
    margin: 0.5rem;
}

.console-feedback-container {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 1rem;
    margin-top: 1rem;
}
