@import '~/vars';

.player-meta-container {
    display: flex;
    flex-direction: column;
    background-color: $bg_light;
    border: 1px solid $border;
    border-radius: $radius;
    padding: $recording_spacing;
}
