.PlayerFrameOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    .PlayerFrameOverlay__content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        transition: opacity 100ms;
        background-color: rgba(0, 0, 0, 0.15);
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &--only-hover {
            // When paused only show on hover to allow people to take screenshots
            opacity: 0;
        }
    }
}
