.player-meta-container-v2 {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: var(--recording-spacing);
    margin-top: var(--recording-spacing);

    .player-meta-person {
        margin-bottom: 0.5rem;

        .player-meta-person-title {
            flex: 1;

            .email {
                font-weight: 600;
                width: 100%;
            }

            .time {
                font-weight: 600;
            }
        }
    }
    .player-meta-other {
        flex-direction: column;

        .player-meta-other-description,
        .player-meta-other-resolution {
            width: 100%;
            height: 20px;
        }
    }

    .ant-skeleton-paragraph {
        margin: 0;

        li {
            height: 12px;
        }
    }
}

.PlayerMetaV3 {
    position: relative;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;

    &--fullscreen {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .PlayerMetaV3__escape {
        position: absolute;
        left: 50%;
        top: 0px;
        z-index: 10;
        width: 300px;
        margin-left: -150px;
        transition: all 500ms ease-out;
        transform: translateY(-100px);
        text-align: center;
        animation: player-meta-escape 5s ease;

        &--enter {
            transform: translateY(-100px);
        }

        &--enter-active {
            transform: translateY(0px);
        }

        &--enter-done {
            transform: translateY(-100px);
        }
    }
}

@keyframes player-meta-escape {
    0% {
        transform: translateY(-100px);
    }

    10% {
        transform: translateY(0px);
    }

    90% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}
