.PlayerMeta {
    position: relative;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;

    .PlayerMetaPersonProperties {
        background: var(--side);
        overflow: auto;
        border-bottom: 1px solid transparent;
        padding: 0.5rem;
    }

    &:not(.PlayerMeta--fullscreen) {
        .PlayerMetaPersonProperties {
            transition: 200ms height ease-out, 200ms border-bottom-color ease-out;

            &--enter {
                height: 0;
            }

            &--enter-active,
            &--enter-done {
                height: 14rem;
                border-bottom-color: var(--border);
            }

            &--exit {
                height: 14rem;
                border-bottom-color: var(--border);
            }

            &--exit-active {
                height: 0;
            }
        }

        .LemonModal & {
            .PlayerMeta__top {
                padding-right: 3.5rem;
            }
        }
    }

    &--fullscreen {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 48px;

        .PlayerMetaPersonProperties {
            position: fixed;
            top: 48px;
            left: 0;
            bottom: 97px; // NOTE: This isn't perfect but for now hardcoded to match the bottom area size.
            z-index: 1;
            max-width: 40rem;
            width: 100%;
            border-right: 1px solid var(--border);
            transition: 200ms transform ease-out;

            &--enter {
                transform: translateX(-100%);
            }

            &--enter-active,
            &--enter-done {
                transform: translateX(0);
            }

            &--exit {
                transform: translateX(0);
            }

            &--exit-active {
                transform: translateX(-100%);
            }
        }
    }

    .Link {
        .posthog-3000 & {
            color: var(--default);

            &:hover {
                color: var(--primary-3000);
            }
        }
    }
}
