@import '~/vars';

$thumb_size: 14px;
$tick_size: 12px;

.rrweb-controller-slider {
    width: 100%;
    height: 12px;
    position: relative;

    .thumb {
        z-index: 5;
        backface-visibility: hidden;
        top: 0;
        left: -$thumb_size / 2;
        position: absolute;
        border-radius: 50%;
        width: $thumb_size;
        height: $thumb_size;
        border: 2px solid $bg_light;
        background-color: $brand_red;
        transform-origin: center;
    }

    .slider,
    .current-bar,
    .buffer-bar {
        width: 100%;
        border-radius: 4px;
        position: absolute;
    }

    .slider {
        z-index: 1;
        background-color: $border;
        height: 4px;
        top: 5px;
    }

    .buffer-bar {
        z-index: 2;
        transition: width 200ms;
        background-color: $recording_buffer_bg;
        position: absolute;
        height: 2px;
        top: 6px;
        left: 1px;
        width: 0; // starting point
    }

    .current-bar {
        z-index: 3;
        background-color: $brand_red;
        position: absolute;
        height: 2px;
        top: 6px;
        left: 1px;
        width: 0; // starting point
    }

    .ticks {
        z-index: 4;
        position: absolute;
        width: 100%;

        .tick {
            position: absolute;
            height: 21px;
            top: -13px;
            background-color: transparent;
            border-right: 1px solid $recording_player_container_bg;

            .tick-thumb {
                position: absolute;
                width: $tick_size;
                height: $tick_size;
                border-radius: 50%;
                right: -$tick_size / 2;
                top: -$tick_size / 2;
                border: 2px solid $recording_player_container_bg;
                background-color: $bg_light;
                transform-origin: center;
            }
        }
    }
}
