@import '../../../styles/mixins';

.SessionRecordingPlayer {
    --inspector-width: 36rem;
    --inspector-peek-width: 2.5rem;

    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--bg-light);

    &--no-border {
        border: none;
        border-radius: 0px;
    }

    .SessionRecordingPlayer__body {
        position: relative;
        z-index: 0;
        background-color: var(--bg-light);
        min-width: 1px;
        height: 100%;
        overflow: hidden;
    }

    .SessionRecordingPlayer__main {
        flex: 1;
    }

    &--fullscreen {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        background-color: var(--bg-light);
        z-index: var(--z-modal);
        border: none;
        border-radius: 0px;

        .SessionRecordingPlayer__body {
            height: 100%;
            margin: 0rem;
            border-radius: 0;
        }
    }

    .SessionRecordingPlayer__main,
    .SessionRecordingPlayer__inspector {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .LemonModal & {
        .SessionRecordingPlayer__body {
            height: calc(90vh - 15rem);
        }
    }

    .SessionRecordingPlayer__main {
        padding-right: var(--inspector-peek-width);
    }

    .SessionRecordingPlayer__inspector {
        flex-shrink: 0;
        border-left: 1px solid var(--border);

        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: var(--inspector-width);
        max-width: 95%;

        transform: translateX(calc(100% - var(--inspector-peek-width)));
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

        .PlayerInspectorPreview {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            pointer-events: none;
            transition: opacity 0.2s ease-in-out;
        }
    }

    &--inspector-focus {
        .SessionRecordingPlayer__inspector {
            transform: translateX(0);
            box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.2);

            .PlayerInspectorPreview {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &--widescreen {
        .SessionRecordingPlayer__main {
            padding-right: 0;
        }
        .SessionRecordingPlayer__inspector,
        .SessionRecordingPlayer__inspector {
            min-width: 30%;
            width: 40%;
            max-width: 400px;
            position: relative;
            transform: translateX(0);
            box-shadow: none;
            transition: none;

            .PlayerInspectorPreview {
                display: none;
            }
        }
    }

    &--inspector-hidden {
        .SessionRecordingPlayer__main {
            padding-right: 0;
        }

        .SessionRecordingPlayer__inspector {
            display: none;
        }
    }
}

.PlayerControlSeekIcon {
    position: relative;
    display: flex;

    .PlayerControlSeekIcon__seconds {
        position: absolute;
        font-size: 6px;
        font-weight: bold;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .PlayerControlSeekIcon__icon {
        font-size: 1.3rem;

        &--forward {
            transform: rotateY(180deg);
        }
    }
}
