@import '../../../styles/mixins';

.SessionRecordingPlayer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--white);

    &--no-border {
        border: none;
        border-radius: 0px;
    }

    .SessionRecordingPlayer__body {
        position: relative;
        z-index: 0;
        background-color: var(--bg-light);
        min-width: 1px;
        height: 100%;
        // margin: 0.5rem;
        overflow: hidden;
        // border-radius: var(--radius);
    }

    .SessionRecordingPlayer__main {
        flex: 1;
    }

    &--fullscreen {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        background-color: var(--white);
        z-index: var(--z-modal);
        border: none;
        border-radius: 0px;

        .SessionRecordingPlayer__body {
            height: 100%;
            margin: 0rem;
            border-radius: 0;
        }
    }

    .SessionRecordingPlayer__main,
    .SessionRecordingPlayer__inspector {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .SessionRecordingPlayer__inspector {
        min-width: 30%;
        width: 40%;
        max-width: 400px;
        flex-shrink: 0;
        border-left: 1px solid var(--border);
    }

    .LemonModal & {
        .SessionRecordingPlayer__body {
            height: calc(90vh - 15rem);
        }
    }

    // &--widescreen {

    // }

    &--explorer-mode {
        .SessionRecordingPlayer__main,
        .SessionRecordingPlayer__inspector {
            display: none;
        }
    }
}

.PlayerControlSeekIcon {
    position: relative;
    display: flex;

    .PlayerControlSeekIcon__seconds {
        position: absolute;
        font-size: 6px;
        font-weight: bold;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .PlayerControlSeekIcon__icon {
        font-size: 1.3rem;

        &--forward {
            transform: rotateY(180deg);
        }
    }
}
