@import '~/vars';

.session-drawer-body {
    height: calc(100vh - 40px);
    @media (max-width: $md) {
        height: unset;
    }
}

.session-player-v2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .session-player-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1;
        background-color: $bg_light;
        height: calc(100% - 40px - 2 * #{$recording_spacing});

        @media (max-width: $md) {
            flex: unset;
            // Subtract controller and top navbar heights + padding
            height: calc(100vh - 2 * 40px - 2 * #{$recording_spacing});
        }

        .player-container {
            height: 100%;
            flex: 1;
            min-width: 1px;
            position: relative;
            padding: $recording_spacing $recording_spacing 0 $recording_spacing;

            @media (max-width: $md) {
                width: 100%;
            }
        }

        .player-sidebar {
            display: flex;
            flex-direction: column;
            width: 350px;
            padding: $recording_spacing $recording_spacing 0 0;

            .player-meta {
                margin-bottom: $recording_spacing;
            }

            .player-events {
                width: 100%;
                height: 100%;
                position: relative;
            }
        }
    }

    // In small screen view when player events is outside of player body
    .player-sidebar {
        width: 100%;
        min-width: unset;
        max-width: unset;
        padding: 0 $recording_spacing $recording_spacing $recording_spacing;
    }

    .player-controller {
        padding: $recording_spacing;
        background-color: $bg_light;
    }

    .rrweb-player {
        height: 100%;
        width: 100%;
        overflow: hidden;
        border: 1px solid $border;
        border-radius: $radius;
        background-color: $bg_depth;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        position: relative;

        .replayer-wrapper {
            transform-origin: top left;
        }

        iframe {
            border: 0px;
            background-color: white;
        }

        .rrweb-overlay-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            z-index: 10;

            .rrweb-overlay {
                transition: all 200ms;
                position: absolute;

                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;
                width: 100%;

                background-color: $bg_overlay;
                opacity: 0.2;

                font-size: 40px;
                color: white;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }

                .rrweb-overlay-play-icon {
                    svg {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }

    .rrweb-timestamp {
        white-space: nowrap;
        font-size: 14px;
        margin-right: $default_spacing;
    }

    .rrweb-progress {
        width: 100%;
        cursor: pointer;
        margin-right: $default_spacing;
    }

    .rrweb-controller {
        display: flex;
        width: 100%;
        background-color: $bg_light;
        border-radius: $radius;
        border: 1px solid $border;
        padding: 0 $default_spacing;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        height: 40px;
        color: black;

        > * {
            user-select: none;
        }

        .rrweb-controller-icon {
            margin-right: $default_spacing;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &.rrweb-controller-icon-play-pause {
                margin-right: 0px;
            }

            &.rrweb-controller-icon-seek {
                height: 18px;
                width: 18px;

                span.seek-seconds {
                    position: absolute;
                    font-size: 6px;
                }

                .seek-icon {
                    position: absolute;
                    font-size: 18px;
                }
            }
        }
    }

    .rrweb-speed-toggle {
        cursor: pointer;
    }

    .rrweb-inactivity-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;

        .inactivity-label {
            font-size: 14px;
            margin-right: $recording_spacing;
        }
    }
}

.ant-drawer.session-player-drawer-v2 {
    .ant-drawer-body {
        padding: 0;
    }

    .ant-drawer-close {
        padding: $default_spacing;
    }
}
