{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_field_sets %}
    {{ block.super }}
    {% if show_migration %}
        <div class="submit-row" style="margin-top: 20px; padding: 20px; border-radius: 5px; border: 1px solid #f7a501; color: #f7a501; display: flex; align-items: center; gap: 10px;">
            <div class="info">This metric uses the legacy engine and can be migrated.</div>
            <a class="button" style="padding: 10px 15px;" href="{% url 'admin:experimentsavedmetric_migrate' object_id=original.pk %}">
                Migrate Metric
            </a>
        </div>
    {% endif %}
{% endblock %}