.SessionRecordingPlaylist {
    display: flex;
    flex-direction: 'row';

    .SessionRecordingPlaylist__left-column {
        width: 300px;
        flex-shrink: 0;

        .SessionRecordingPlaylist__pagination-control {
            margin-top: 1rem;
            justify-content: center;
        }
    }
    .SessionRecordingPlaylist__right-column {
        flex: 1;

        .SessionRecordingPlaylist__loading {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10rem;
        }
    }
}
