.session-recordings-table {
    .pagination-control {
        margin: 1rem;
        justify-content: center;
    }
    .play-button-container {
        display: flex;
        justify-content: flex-end;
        .play-button {
            .anticon-play-circle {
                color: var(--primary);
            }
            &.viewed {
                .anticon-play-circle {
                    color: var(--muted);
                }
            }
        }
    }
    .info-icon {
        color: var(--primary);
    }
}
