@import '../../styles/mixins';

.SessionRecordingsPlaylist {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include screen($md) {
        flex-direction: row;
    }

    .SessionRecordingsPlaylist__left-column {
        flex-shrink: 0;

        @include screen($md) {
            width: 300px;
        }

        .SessionRecordingsPlaylist__pagination-control {
            margin-top: 1rem;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .SessionRecordingsPlaylist__right-column {
        flex: 1;

        .SessionRecordingsPlaylist__loading {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10rem;
        }
    }
}
