.AiFirstInput {
    &__positioner {
        position: absolute;
    }

    &__popup {
        &[data-starting-style],
        &[data-ending-style] {
            opacity: 0;
            transform: translateY(-4px);
        }

        &[data-open] {
            opacity: 1;
            transition:
                opacity 150ms ease-out,
                transform 150ms ease-out;
            transform: translateY(0);
        }
    }

    &__item {
        &[data-highlighted] {
            background-color: var(--bg-fill-tertiary);
        }

        &[data-selected] {
            background-color: var(--bg-fill-secondary);
        }
    }
}
