.current-page {
    .anticon {
        font-size: 32px;
        color: hsl(240, 12%, 82%);
    }
    .ant-comment-inner {
        padding: 0;
    }
    .ant-comment-avatar {
        padding-top: 3px;
    }
    .ant-comment-content-author {
        display: none;
    }
    .ant-comment-content-detail {
        line-height: 20px;
    }
    .small-url-link {
        font-size: 12px;
        margin-top: 2px;
        word-break: break-word;
        a {
            color: hsl(240, 7%, 54%);
        }
    }
}
