.current-page {
    .ant-comment-inner {
        padding: 0;
    }
    .ant-comment-content-author {
        display: none;
    }
    .small-url-link {
        font-size: 12px;
        margin-top: 2px;
        word-break: break-word;
        a {
            color: hsl(240, 7%, 54%);
        }
    }
}
