@import '~/vars';

.async-migrations-scene {
    .migration-btn {
        cursor: pointer;
    }

    .success {
        color: $success;
    }

    .danger {
        color: $danger;
    }

    .warning {
        color: $warning;
    }
}
