.events {
    & > .table {
        table-layout: fixed;
        .event-row > td {
            width: 25%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .event-day-separator {
        background-color: $gray-300;
        text-align: center;
    }
}