@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$badge-font-weight: 400;
$body-bg:          #FFFEFC; 
$body-color:#37352F; 

// bootstrap components
@import "../node_modules/bootstrap/scss/_root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/_reboot";
@import "../node_modules/bootstrap/scss/_buttons";
@import "../node_modules/bootstrap/scss/_button-group";
@import "../node_modules/bootstrap/scss/_tables";
@import "../node_modules/bootstrap/scss/_forms";
@import "../node_modules/bootstrap/scss/_nav";
@import "../node_modules/bootstrap/scss/_badge";
@import "../node_modules/bootstrap/scss/_grid";
@import "../node_modules/bootstrap/scss/_close";
@import "../node_modules/bootstrap/scss/_card";
@import "../node_modules/bootstrap/scss/_modal";

// icons
@import "../font/flaticon";

// our components
@import "events";
@import "funnel";
@import "sidebar";
.cursor-pointer { cursor: pointer }

.badge .close {
    text-shadow: none;
    margin: -6px 0 -8px 8px;
    font-size: 1.3rem;
}


.right-align {
    float: right;
    .fi { font-size: 20px; margin-right: 12px }
}


.content{
	padding: 0 45px;
}

pre.code {
    white-space: pre-wrap;
    word-break: break-all;
    background: rgb(51, 51, 51);
    padding: 20px;
    border-radius: 3px;
    color: white;
    margin-top: 2rem;
}