@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";
@import "../node_modules/bootstrap/scss/_root";
@import "../node_modules/bootstrap/scss/_reboot";
@import "../node_modules/bootstrap/scss/utilities";

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$badge-font-weight: 400;

// bootstrap components
@import "../node_modules/bootstrap/scss/_buttons";
@import "../node_modules/bootstrap/scss/_button-group";
@import "../node_modules/bootstrap/scss/_tables";
@import "../node_modules/bootstrap/scss/_forms";
@import "../node_modules/bootstrap/scss/_nav";
@import "../node_modules/bootstrap/scss/_badge";
@import "../node_modules/bootstrap/scss/_grid";
@import "../node_modules/bootstrap/scss/_close";
@import "../node_modules/bootstrap/scss/_card";

// our components
@import "events";
@import "funnel";
.cursor-pointer { cursor: pointer }

.badge .close {
    text-shadow: none;
    margin: -6px 0 -8px 8px;
    font-size: 1.3rem;
}

html{
	height: 100%;
}

body{
	background-color: #FFFEFC;
	color: #37352F;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

a{
	color: #333;
}

a:hover{
	color: black;
	background-color:#E8E7E5;
}

.active{
	background-color:#E8E7E5;
}

.posthog-title{
	font-weight:500;
	font-size:15px;
	color: #333;
	padding-left:15px;
}

.logo{
	margin-left: 15px;
	width: 25px;
	height: 25px;
	margin-top:auto;
	margin-bottom:auto;
}

.logo-row{
	padding:15px;
}

.left-navigation{
	background-color: #F7F6F3;
	width:270px;
	color: #333;
	font-weight:500;
	height:100vh;
}

.menu-item{
	padding:15px;
	margin-left:45px;
}

.indent{
	margin-left:105px;
}

.right-align{
	float:right;
	width:400px;
}

.icon-link{
	padding-right:15px;
}

.top-content{
	padding-top:15px;
}

.header{
	padding-top:60px;
	padding-left:45px;
	width:100%;
}

.content{
	padding-top:60px;
	padding-left:45px;
}