.authorized-urls-table {
    .AuthorizedURLForm {
        .FormBody {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            margin-right: 0.5em;

            .form-input-container {
                width: 100%;
                height: 100%;

                .ProposedURLInput {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .authorized-url-col {
        display: flex;
        align-items: center;
        .lemon-tag {
            margin-left: 6px;
        }
        &.suggestion {
            color: var(--text-muted-alt);
        }
        &.authorized {
            color: var(--success);
        }
    }
    .actions-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
