.toolbar-launch-page {
    margin-bottom: 48px;

    .feature-highlight-list {
        max-width: 800px;

        .fh-item {
            width: calc(100% * (1 / 2) - 8px);

            .fh-icon {
                font-size: 1.6em;
            }

            h4 {
                font-size: 1.2em;
            }

            @media (max-width: 599px) {
                width: calc(100% - 8px);
            }
        }
    }
}
