@import '~/vars';

.preflight-check-container {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 40px 16px;

    .preflight-box {
        @extend %mixin-elevated;
        max-width: 480px;
        background-color: var(--bg-light);
        border-radius: $radius;
        padding: 40px;

        .divider {
            margin: 24px;
            border-top: 2px dashed var(--border);
        }

        p {
            margin-bottom: $default_spacing/2;

            &.title-text {
                font-size: 28px;
                font-weight: 800;
                line-height: 34px;
                letter-spacing: -0.02em;
            }

            &.secondary-text {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .preflight-checks-container {
            border-radius: $radius;
            border: 1px solid var(--border);

            .validate-requirements-button-container {
                display: flex;
                justify-content: center;
            }

            .preflight-checks-list {
                transition: all 1s ease-out;
                overflow: hidden;
            }

            .preflight-check-summary {
                display: flex;
                padding: 12px;
                border-bottom: 1px solid var(--border);
                align-items: center;

                .preflight-summary-icon-container {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .preflight-summary-text-container {
                    flex: 1;
                    margin: 0 14px;

                    p {
                        margin-bottom: 0;
                    }

                    .check-summary-header {
                        font-weight: 600;
                        font-size: 14px;
                    }

                    .check-summary-description {
                        font-size: 13px;
                    }
                }
            }
        }

        .preflight-item {
            display: flex;
            padding: 12px;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid var(--border);

            p {
                margin-bottom: 0;
                font-size: 14px;
            }

            .icon-container {
                width: 22px;
                display: flex;
            }

            .central-text-container {
                flex: 1;
                margin: 0 14px;

                .check-name {
                    font-weight: 600;
                }
            }

            svg {
                font-size: 20px;
            }
        }
    }

    .cannot-continue {
        background-color: var(--bg-side);
        border: 2px solid $light-grey;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

.loading {
    background-color: #f6f8ff;

    svg,
    .status-text {
        color: var(--primary);
    }
}

.validated {
    background-color: #f8fcf8;

    svg,
    .status-text {
        color: var(--success);
    }
}

.warning {
    background-color: #f7a5011a;

    svg,
    .status-text {
        color: var(--warning);
    }
}

.optional {
    background-color: #fafaf9;

    svg,
    .status-text {
        color: var(--border-dark);
    }
}

.error {
    background-color: #feefea;

    svg,
    .status-text {
        color: var(--danger);
    }
}
