@import '~/vars';

.preflight-check-container {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 40px 16px;

    .preflight-box {
        @extend %mixin-elevated;
        max-width: 480px;
        background-color: var(--bg-light);
        border-radius: $radius;
        padding: 40px;

        .divider {
            margin: 24px;
            border-top: 2px dashed var(--border);
        }

        p {
            margin-bottom: $default_spacing/2;

            &.title-text {
                font-size: 28px;
                font-weight: 800;
                line-height: 34px;
                letter-spacing: -0.02em;
            }

            &.secondary-text {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .preflight-item {
            display: flex;
            padding: 12px;
            margin-top: 4px;
            align-items: center;
            justify-content: center;

            p {
                margin-bottom: 0;
                font-size: 14px;
            }

            .icon-container {
                width: 22px;
                display: flex;
            }

            .central-text-container {
                flex: 1;
                margin-left: 14px;

                .check-name {
                    font-weight: 600;
                }
            }

            svg {
                font-size: 20px;
            }

            &.loading {
                background-color: #f6f8ff;

                svg,
                .status-text {
                    color: var(--primary);
                }
            }

            &.success {
                background-color: #f8fcf8;

                svg,
                .status-text {
                    color: var(--success);
                }
            }

            &.warning {
                background-color: #f7a5011a;

                svg,
                .status-text {
                    color: var(--warning);
                }
            }

            &.optional {
                background-color: #fafaf9;

                svg,
                .status-text {
                    color: var(--border-dark);
                }
            }

            &.error {
                background-color: #feefea;

                svg,
                .status-text {
                    color: var(--danger);
                }
            }
        }
    }
}
