.ActionFilterRow {
    background: var(--bg-3000);

    .ActionFilterRow-content {
        display: flex;
        align-items: flex-start;

        > * + * {
            margin-left: 0.5rem;
        }
    }

    .ActionFilterRow__start,
    .ActionFilterRow__center,
    .ActionFilterRow__end {
        display: flex;
        align-items: center;
    }

    .ActionFilterRow__start,
    .ActionFilterRow__end {
        height: 40px;
        display: flex;
        align-items: center;
        flex: 0;
        gap: 0.25rem;
    }

    .ActionFilterRow__center {
        flex: 1;
        overflow: hidden;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}

.ActionFilterRowDragHandle {
    cursor: move;
    color: var(--default);
    font-size: 1.2em;
    transform: rotate(90deg);
}
