@import '~/vars';

.events {
    .event-row-new {
        height: 2.5rem;
    }
    .event-row-date-separator {
        background-color: var(--bg-mid);
        color: var(--text-muted);
        font-weight: 600;
        font-size: 0.75rem;
        height: 2rem;
        text-align: center;
    }
    .event-row-is-exception {
        background-color: lighten($danger, 40%);
    }
    td {
        max-width: 20rem;
    }
}
