.events {
    .events-table-button-clear {
        padding: 0 4px;
        margin-left: 4px;
        &:hover,
        &:focus,
        &.visible {
            border: 1px solid var(--primary);
        }
    }
    .event-row-new {
        height: 2.5rem;
    }
    .event-row-date-separator {
        background-color: var(--bg-mid);
        color: var(--muted);
        font-weight: 600;
        font-size: 0.75rem;
        height: 2rem;
        text-align: center;
    }
    .event-row-is-exception {
        background-color: var(--danger-highlight);
    }
    td {
        max-width: 20rem;
    }
}
