@import '~/vars';

.labelled-switch-title {
    margin-right: 5px;
}

.labelled-switch {
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;

    &:hover {
        background-color: rgba($yellow_50, 0.5);
    }
}
