.definition-drawer {
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
        padding-top: 0;
    }

    .definition-description {
        &.ant-input:placeholder-shown {
            font-style: italic;
        }
    }

    .panel-wrapper {
        display: flex;
        flex-direction: row;
        padding-top: 0;

        span {
            font-weight: normal;
            font-size: 14px;
        }
    }

    .owner-select {
        .ant-select-selector {
            .ant-select-selection-placeholder {
                color: black;
                font-weight: normal;
            }
        }
    }

    .detail-status {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
        text-align: center;

        .ant-typography {
            margin-bottom: 0;
        }

        span {
            font-weight: normal;
            font-size: 14px;
        }
    }
}
