{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "targets": { "node": 16 }
            }
        ],
        "@babel/preset-typescript"
    ]
}
