.action-field {
    transition: opacity 0.5s;

    .action-field-hint {
        font-size: 12px;
        margin-top: 4px;
    }

    .action-field-caption {
        font-size: 0.8em;
        color: rgb(0 0 0 / 50%);
        padding: 8px 0;
    }
}
