.metric-cell {
    font-size: 13px;
    font-weight: 500;
    color: #404040;
}

.metric-cell-header {
    font-size: 0.75rem;
    color: #404040;
    text-transform: uppercase;
    letter-spacing: 0.03125rem;
}
