@import 'tailwindcss';

/* if this shows a warning, change the type of file in vscode to 'tailwind CSS' */
@config "./tailwind.config.js";

@layer base {
    :root,
    :host {
        --color-red-50: oklch(0.971 0.013 17.38deg);
        --color-red-100: oklch(0.936 0.032 17.717deg);
        --color-red-200: oklch(0.885 0.062 18.334deg);
        --color-red-300: oklch(0.808 0.114 19.571deg);
        --color-red-400: oklch(0.704 0.191 22.216deg);
        --color-red-500: oklch(0.637 0.237 25.331deg);
        --color-red-600: oklch(0.577 0.245 27.325deg);
        --color-red-700: oklch(0.505 0.213 27.518deg);
        --color-red-800: oklch(0.444 0.177 26.899deg);
        --color-red-900: oklch(0.396 0.141 25.723deg);
        --color-red-950: oklch(0.258 0.092 26.042deg);
        --color-orange-50: oklch(0.98 0.016 73.684deg);
        --color-orange-100: oklch(0.954 0.038 75.164deg);
        --color-orange-200: oklch(0.901 0.076 70.697deg);
        --color-orange-300: oklch(0.837 0.128 66.29deg);
        --color-orange-400: oklch(0.75 0.183 55.934deg);
        --color-orange-500: oklch(0.705 0.213 47.604deg);
        --color-orange-600: oklch(0.646 0.222 41.116deg);
        --color-orange-700: oklch(0.553 0.195 38.402deg);
        --color-orange-800: oklch(0.47 0.157 37.304deg);
        --color-orange-900: oklch(0.408 0.123 38.172deg);
        --color-orange-950: oklch(0.266 0.079 36.259deg);
        --color-amber-50: oklch(0.987 0.022 95.277deg);
        --color-amber-100: oklch(0.962 0.059 95.617deg);
        --color-amber-200: oklch(0.924 0.12 95.746deg);
        --color-amber-300: oklch(0.879 0.169 91.605deg);
        --color-amber-400: oklch(0.828 0.189 84.429deg);
        --color-amber-500: oklch(0.769 0.188 70.08deg);
        --color-amber-600: oklch(0.666 0.179 58.318deg);
        --color-amber-700: oklch(0.555 0.163 48.998deg);
        --color-amber-800: oklch(0.473 0.137 46.201deg);
        --color-amber-900: oklch(0.414 0.112 45.904deg);
        --color-amber-950: oklch(0.279 0.077 45.635deg);
        --color-yellow-50: oklch(0.987 0.026 102.212deg);
        --color-yellow-100: oklch(0.973 0.071 103.193deg);
        --color-yellow-200: oklch(0.945 0.129 101.54deg);
        --color-yellow-300: oklch(0.905 0.182 98.111deg);
        --color-yellow-400: oklch(0.852 0.199 91.936deg);
        --color-yellow-500: oklch(0.795 0.184 86.047deg);
        --color-yellow-600: oklch(0.681 0.162 75.834deg);
        --color-yellow-700: oklch(0.554 0.135 66.442deg);
        --color-yellow-800: oklch(0.476 0.114 61.907deg);
        --color-yellow-900: oklch(0.421 0.095 57.708deg);
        --color-yellow-950: oklch(0.286 0.066 53.813deg);
        --color-lime-50: oklch(0.986 0.031 120.757deg);
        --color-lime-100: oklch(0.967 0.067 122.328deg);
        --color-lime-200: oklch(0.938 0.127 124.321deg);
        --color-lime-300: oklch(0.897 0.196 126.665deg);
        --color-lime-400: oklch(0.841 0.238 128.85deg);
        --color-lime-500: oklch(0.768 0.233 130.85deg);
        --color-lime-600: oklch(0.648 0.2 131.684deg);
        --color-lime-700: oklch(0.532 0.157 131.589deg);
        --color-lime-800: oklch(0.453 0.124 130.933deg);
        --color-lime-900: oklch(0.405 0.101 131.063deg);
        --color-lime-950: oklch(0.274 0.072 132.109deg);
        --color-green-50: oklch(0.982 0.018 155.826deg);
        --color-green-100: oklch(0.962 0.044 156.743deg);
        --color-green-200: oklch(0.925 0.084 155.995deg);
        --color-green-300: oklch(0.871 0.15 154.449deg);
        --color-green-400: oklch(0.792 0.209 151.711deg);
        --color-green-500: oklch(0.723 0.219 149.579deg);
        --color-green-600: oklch(0.627 0.194 149.214deg);
        --color-green-700: oklch(0.527 0.154 150.069deg);
        --color-green-800: oklch(0.448 0.119 151.328deg);
        --color-green-900: oklch(0.393 0.095 152.535deg);
        --color-green-950: oklch(0.266 0.065 152.934deg);
        --color-emerald-50: oklch(0.979 0.021 166.113deg);
        --color-emerald-100: oklch(0.95 0.052 163.051deg);
        --color-emerald-200: oklch(0.905 0.093 164.15deg);
        --color-emerald-300: oklch(0.845 0.143 164.978deg);
        --color-emerald-400: oklch(0.765 0.177 163.223deg);
        --color-emerald-500: oklch(0.696 0.17 162.48deg);
        --color-emerald-600: oklch(0.596 0.145 163.225deg);
        --color-emerald-700: oklch(0.508 0.118 165.612deg);
        --color-emerald-800: oklch(0.432 0.095 166.913deg);
        --color-emerald-900: oklch(0.378 0.077 168.94deg);
        --color-emerald-950: oklch(0.262 0.051 172.552deg);
        --color-teal-50: oklch(0.984 0.014 180.72deg);
        --color-teal-100: oklch(0.953 0.051 180.801deg);
        --color-teal-200: oklch(0.91 0.096 180.426deg);
        --color-teal-300: oklch(0.855 0.138 181.071deg);
        --color-teal-400: oklch(0.777 0.152 181.912deg);
        --color-teal-500: oklch(0.704 0.14 182.503deg);
        --color-teal-600: oklch(0.6 0.118 184.704deg);
        --color-teal-700: oklch(0.511 0.096 186.391deg);
        --color-teal-800: oklch(0.437 0.078 188.216deg);
        --color-teal-900: oklch(0.386 0.063 188.416deg);
        --color-teal-950: oklch(0.277 0.046 192.524deg);
        --color-cyan-50: oklch(0.984 0.019 200.873deg);
        --color-cyan-100: oklch(0.956 0.045 203.388deg);
        --color-cyan-200: oklch(0.917 0.08 205.041deg);
        --color-cyan-300: oklch(0.865 0.127 207.078deg);
        --color-cyan-400: oklch(0.789 0.154 211.53deg);
        --color-cyan-500: oklch(0.715 0.143 215.221deg);
        --color-cyan-600: oklch(0.609 0.126 221.723deg);
        --color-cyan-700: oklch(0.52 0.105 223.128deg);
        --color-cyan-800: oklch(0.45 0.085 224.283deg);
        --color-cyan-900: oklch(0.398 0.07 227.392deg);
        --color-cyan-950: oklch(0.302 0.056 229.695deg);
        --color-sky-50: oklch(0.977 0.013 236.62deg);
        --color-sky-100: oklch(0.951 0.026 236.824deg);
        --color-sky-200: oklch(0.901 0.058 230.902deg);
        --color-sky-300: oklch(0.828 0.111 230.318deg);
        --color-sky-400: oklch(0.746 0.16 232.661deg);
        --color-sky-500: oklch(0.685 0.169 237.323deg);
        --color-sky-600: oklch(0.588 0.158 241.966deg);
        --color-sky-700: oklch(0.5 0.134 242.749deg);
        --color-sky-800: oklch(0.443 0.11 240.79deg);
        --color-sky-900: oklch(0.391 0.09 240.876deg);
        --color-sky-950: oklch(0.293 0.066 243.157deg);
        --color-blue-50: oklch(0.97 0.014 254.604deg);
        --color-blue-100: oklch(0.932 0.032 255.585deg);
        --color-blue-200: oklch(0.882 0.059 254.128deg);
        --color-blue-300: oklch(0.809 0.105 251.813deg);
        --color-blue-400: oklch(0.707 0.165 254.624deg);
        --color-blue-500: oklch(0.623 0.214 259.815deg);
        --color-blue-600: oklch(0.546 0.245 262.881deg);
        --color-blue-700: oklch(0.488 0.243 264.376deg);
        --color-blue-800: oklch(0.424 0.199 265.638deg);
        --color-blue-900: oklch(0.379 0.146 265.522deg);
        --color-blue-950: oklch(0.282 0.091 267.935deg);
        --color-indigo-50: oklch(0.962 0.018 272.314deg);
        --color-indigo-100: oklch(0.93 0.034 272.788deg);
        --color-indigo-200: oklch(0.87 0.065 274.039deg);
        --color-indigo-300: oklch(0.785 0.115 274.713deg);
        --color-indigo-400: oklch(0.673 0.182 276.935deg);
        --color-indigo-500: oklch(0.585 0.233 277.117deg);
        --color-indigo-600: oklch(0.511 0.262 276.966deg);
        --color-indigo-700: oklch(0.457 0.24 277.023deg);
        --color-indigo-800: oklch(0.398 0.195 277.366deg);
        --color-indigo-900: oklch(0.359 0.144 278.697deg);
        --color-indigo-950: oklch(0.257 0.09 281.288deg);
        --color-violet-50: oklch(0.969 0.016 293.756deg);
        --color-violet-100: oklch(0.943 0.029 294.588deg);
        --color-violet-200: oklch(0.894 0.057 293.283deg);
        --color-violet-300: oklch(0.811 0.111 293.571deg);
        --color-violet-400: oklch(0.702 0.183 293.541deg);
        --color-violet-500: oklch(0.606 0.25 292.717deg);
        --color-violet-600: oklch(0.541 0.281 293.009deg);
        --color-violet-700: oklch(0.491 0.27 292.581deg);
        --color-violet-800: oklch(0.432 0.232 292.759deg);
        --color-violet-900: oklch(0.38 0.189 293.745deg);
        --color-violet-950: oklch(0.283 0.141 291.089deg);
        --color-purple-50: oklch(0.977 0.014 308.299deg);
        --color-purple-100: oklch(0.946 0.033 307.174deg);
        --color-purple-200: oklch(0.902 0.063 306.703deg);
        --color-purple-300: oklch(0.827 0.119 306.383deg);
        --color-purple-400: oklch(0.714 0.203 305.504deg);
        --color-purple-500: oklch(0.627 0.265 303.9deg);
        --color-purple-600: oklch(0.558 0.288 302.321deg);
        --color-purple-700: oklch(0.496 0.265 301.924deg);
        --color-purple-800: oklch(0.438 0.218 303.724deg);
        --color-purple-900: oklch(0.381 0.176 304.987deg);
        --color-purple-950: oklch(0.291 0.149 302.717deg);
        --color-fuchsia-50: oklch(0.977 0.017 320.058deg);
        --color-fuchsia-100: oklch(0.952 0.037 318.852deg);
        --color-fuchsia-200: oklch(0.903 0.076 319.62deg);
        --color-fuchsia-300: oklch(0.833 0.145 321.434deg);
        --color-fuchsia-400: oklch(0.74 0.238 322.16deg);
        --color-fuchsia-500: oklch(0.667 0.295 322.15deg);
        --color-fuchsia-600: oklch(0.591 0.293 322.896deg);
        --color-fuchsia-700: oklch(0.518 0.253 323.949deg);
        --color-fuchsia-800: oklch(0.452 0.211 324.591deg);
        --color-fuchsia-900: oklch(0.401 0.17 325.612deg);
        --color-fuchsia-950: oklch(0.293 0.136 325.661deg);
        --color-pink-50: oklch(0.971 0.014 343.198deg);
        --color-pink-100: oklch(0.948 0.028 342.258deg);
        --color-pink-200: oklch(0.899 0.061 343.231deg);
        --color-pink-300: oklch(0.823 0.12 346.018deg);
        --color-pink-400: oklch(0.718 0.202 349.761deg);
        --color-pink-500: oklch(0.656 0.241 354.308deg);
        --color-pink-600: oklch(0.592 0.249 0.584deg);
        --color-pink-700: oklch(0.525 0.223 3.958deg);
        --color-pink-800: oklch(0.459 0.187 3.815deg);
        --color-pink-900: oklch(0.408 0.153 2.432deg);
        --color-pink-950: oklch(0.284 0.109 3.907deg);
        --color-rose-50: oklch(0.969 0.015 12.422deg);
        --color-rose-100: oklch(0.941 0.03 12.58deg);
        --color-rose-200: oklch(0.892 0.058 10.001deg);
        --color-rose-300: oklch(0.81 0.117 11.638deg);
        --color-rose-400: oklch(0.712 0.194 13.428deg);
        --color-rose-500: oklch(0.645 0.246 16.439deg);
        --color-rose-600: oklch(0.586 0.253 17.585deg);
        --color-rose-700: oklch(0.514 0.222 16.935deg);
        --color-rose-800: oklch(0.455 0.188 13.697deg);
        --color-rose-900: oklch(0.41 0.159 10.272deg);
        --color-rose-950: oklch(0.271 0.105 12.094deg);
        --color-slate-50: oklch(0.984 0.003 247.858deg);
        --color-slate-100: oklch(0.968 0.007 247.896deg);
        --color-slate-200: oklch(0.929 0.013 255.508deg);
        --color-slate-300: oklch(0.869 0.022 252.894deg);
        --color-slate-400: oklch(0.704 0.04 256.788deg);
        --color-slate-500: oklch(0.554 0.046 257.417deg);
        --color-slate-600: oklch(0.446 0.043 257.281deg);
        --color-slate-700: oklch(0.372 0.044 257.287deg);
        --color-slate-800: oklch(0.279 0.041 260.031deg);
        --color-slate-900: oklch(0.208 0.042 265.755deg);
        --color-slate-950: oklch(0.129 0.042 264.695deg);
        --color-gray-50: oklch(0.985 0.002 247.839deg);
        --color-gray-100: oklch(0.967 0.003 264.542deg);
        --color-gray-200: oklch(0.928 0.006 264.531deg);
        --color-gray-300: oklch(0.872 0.01 258.338deg);
        --color-gray-400: oklch(0.707 0.022 261.325deg);
        --color-gray-500: oklch(0.551 0.027 264.364deg);
        --color-gray-600: oklch(0.446 0.03 256.802deg);
        --color-gray-700: oklch(0.373 0.034 259.733deg);
        --color-gray-800: oklch(0.278 0.033 256.848deg);
        --color-gray-900: oklch(0.21 0.034 264.665deg);
        --color-gray-950: oklch(0.13 0.028 261.692deg);
        --color-zinc-50: oklch(0.985 0 0deg);
        --color-zinc-100: oklch(0.967 0.001 286.375deg);
        --color-zinc-200: oklch(0.92 0.004 286.32deg);
        --color-zinc-300: oklch(0.871 0.006 286.286deg);
        --color-zinc-400: oklch(0.705 0.015 286.067deg);
        --color-zinc-500: oklch(0.552 0.016 285.938deg);
        --color-zinc-600: oklch(0.442 0.017 285.786deg);
        --color-zinc-700: oklch(0.37 0.013 285.805deg);
        --color-zinc-800: oklch(0.274 0.006 286.033deg);
        --color-zinc-900: oklch(0.21 0.006 285.885deg);
        --color-zinc-950: oklch(0.141 0.005 285.823deg);
        --color-stone-50: oklch(0.985 0.001 106.423deg);
        --color-stone-100: oklch(0.97 0.001 106.424deg);
        --color-stone-200: oklch(0.923 0.003 48.717deg);
        --color-stone-300: oklch(0.869 0.005 56.366deg);
        --color-stone-400: oklch(0.709 0.01 56.259deg);
        --color-stone-500: oklch(0.553 0.013 58.071deg);
        --color-stone-600: oklch(0.444 0.011 73.639deg);
        --color-stone-700: oklch(0.374 0.01 67.558deg);
        --color-stone-800: oklch(0.268 0.007 34.298deg);
        --color-stone-900: oklch(0.216 0.006 56.043deg);
        --color-stone-950: oklch(0.147 0.004 49.25deg);
        --color-black: #000;
        --color-white: #fff;

        /* Primitive neutral cool colors */
        --color-neutral-cool-50: hsl(240deg 8% 95%);
        --color-neutral-cool-75: hsl(236deg 8% 92.5%);
        --color-neutral-cool-100: hsl(232deg 8% 90%);
        --color-neutral-cool-150: hsl(232.5deg 8% 85%);
        --color-neutral-cool-200: hsl(233deg 8% 80%);
        --color-neutral-cool-250: hsl(231.5deg 8% 75%);
        --color-neutral-cool-300: hsl(230deg 8% 70%);
        --color-neutral-cool-350: hsl(230.5deg 8% 65%);
        --color-neutral-cool-400: hsl(231deg 8% 60%);
        --color-neutral-cool-450: hsl(231deg 8% 55%);
        --color-neutral-cool-500: hsl(231deg 8% 50%);
        --color-neutral-cool-550: hsl(230.5deg 8% 45%);
        --color-neutral-cool-600: hsl(230deg 8% 40%);
        --color-neutral-cool-650: hsl(230deg 8% 35%);
        --color-neutral-cool-700: hsl(230deg 8% 30%);
        --color-neutral-cool-750: hsl(235deg 8% 25%);
        --color-neutral-cool-800: hsl(230deg 8% 20%);
        --color-neutral-cool-850: hsl(235deg 8% 15%);
        --color-neutral-cool-900: hsl(240deg 8% 10%);
        --color-neutral-cool-950: hsl(240deg 8% 8%);

        /* Primitive neutral colors */
        --color-neutral-50: hsl(0deg 0% 95%);
        --color-neutral-100: hsl(0deg 0% 90%);
        --color-neutral-150: hsl(0deg 0% 85%);
        --color-neutral-200: hsl(0deg 0% 80%);
        --color-neutral-250: hsl(0deg 0% 75%);
        --color-neutral-300: hsl(0deg 0% 70%);
        --color-neutral-350: hsl(0deg 0% 65%);
        --color-neutral-400: hsl(0deg 0% 60%);
        --color-neutral-450: hsl(0deg 0% 55%);
        --color-neutral-500: hsl(0deg 0% 50%);
        --color-neutral-550: hsl(0deg 0% 45%);
        --color-neutral-600: hsl(0deg 0% 40%);
        --color-neutral-650: hsl(0deg 0% 35%);
        --color-neutral-700: hsl(0deg 0% 30%);
        --color-neutral-750: hsl(0deg 0% 25%);
        --color-neutral-800: hsl(0deg 0% 20%);
        --color-neutral-850: hsl(0deg 0% 15%);
        --color-neutral-875: hsl(0deg 0% 12.5%);
        --color-neutral-900: hsl(0deg 0% 10%);
        --color-neutral-910: hsl(0deg 0% 8%);
        --color-neutral-950: hsl(0deg 0% 5%);

        /* Posthog 3000 (yellow-greys) colors */
        --color-posthog-3000-25: hsl(75deg 14% 96.5%);
        --color-posthog-3000-50: hsl(75deg 14% 95%);
        --color-posthog-3000-100: hsl(70deg 16% 93%);
        --color-posthog-3000-150: hsl(77deg 13% 89%);
        --color-posthog-3000-200: hsl(78deg 13% 85%);
        --color-posthog-3000-250: hsl(67deg 8% 80%);
        --color-posthog-3000-300: hsl(72deg 8% 76%);
        --color-posthog-3000-350: hsl(70deg 8% 71%);
        --color-posthog-3000-400: hsl(69deg 8% 65%);
        --color-posthog-3000-450: hsl(67deg 8% 60%);
        --color-posthog-3000-500: hsl(67deg 8% 55%);

        /* PostHog brand colors */
        /* Split into hue, saturation, lightness to make it easier to change the brand colors */
        --color-posthog-brand-orange-hue: 19;
        --color-posthog-brand-orange-saturation: 100%;
        --color-posthog-brand-orange-lightness: 48%;
        --color-posthog-brand-blue-hue: 228;
        --color-posthog-brand-blue-saturation: 100%;
        --color-posthog-brand-blue-lightness: 56%;
        --color-posthog-brand-yellow-hue: 43;
        --color-posthog-brand-yellow-saturation: 94%;
        --color-posthog-brand-yellow-lightness: 57%;

        --color-brand-primary-hue: var(--color-posthog-brand-orange-hue);
        --color-brand-primary-saturation: var(--color-posthog-brand-orange-saturation);
        --color-brand-primary-lightness: var(--color-posthog-brand-orange-lightness);

        /* Product specific colors */
        --color-product-data-pipeline-light: rgb(46 162 211);
        --color-product-product-analytics-light: rgb(47 128 250);
        --color-product-workflows-light: rgb(47 128 250);
        --color-product-web-analytics-light: rgb(52 175 102);
        --color-product-web-analytics-dark: rgb(54 196 111);
        --color-product-embedded-analytics-light: rgb(243 153 109);
        --color-product-embedded-analytics-dark: rgb(250 158 120);
        --color-product-session-replay-light: rgb(235 162 18);
        --color-product-session-replay-dark: rgb(247 165 1);
        --color-product-heatmaps-light: rgb(220 152 16);
        --color-product-heatmaps-dark: rgb(247 165 1);
        --color-product-logs-light: rgb(214 37 123);
        --color-product-live-debugger-light: rgb(76 14 200);
        --color-product-feature-flags-light: rgb(48 171 198);
        --color-product-experiments-light: rgb(182 42 217);
        --color-product-error-tracking-light: rgb(211 148 24);
        --color-product-error-tracking-dark: rgb(247 165 1);
        --color-prosduct-surveys-light: rgb(243 84 84);
        --color-product-data-warehouse-light: rgb(133 103 255);
        --color-product-llm-analytics-light: rgb(182 42 217);
        --color-product-links-light: rgb(143 7 255);
        --color-product-revenue-analytics-light: rgb(52 175 102);
        --color-product-revenue-analytics-dark: rgb(54 196 111);
        --color-product-user-interviews-light: rgb(0 140 255);
        --color-product-dashboards-light: rgb(255 139 7);
        --color-product-early-access-features-light: rgb(39 171 151);
        --color-product-early-access-features-dark: rgb(53 213 189);

        /* Data colors (e.g. insight series). Note: colors.ts relies on these values being hexadecimal */
        --data-color-1: #1d4aff;
        --data-color-1-hover: #1a3cf6;
        --data-color-2: #621da6;
        --data-color-3: #42827e;
        --data-color-4: #ce0e74;
        --data-color-5: #f14f58;
        --data-color-6: #7c440e;
        --data-color-7: #529a0a;
        --data-color-8: #0476fb;
        --data-color-9: #fe729e;
        --data-color-10: #35416b;
        --data-color-11: #41cbc4;
        --data-color-12: #b64b02;
        --data-color-13: #e4a604;
        --data-color-14: #a56eff;
        --data-color-15: #30d5c8;

        /* Insight colors */
        --color-insight-funnel-light: rgb(47 128 250);
        --color-insight-trends-light: rgb(247 165 1);
        --color-insight-user-paths-light: rgb(30 179 152);
        --color-user-paths-dark: rgb(41 219 187);
        --color-insight-retention-light: rgb(243 84 84);
        --color-insight-stickiness-light: rgb(247 165 1);
        --color-insight-lifecycle-light: rgb(48 171 198);
        --color-insight-calendar-heatmap-light: rgb(12 39 146);
        --color-insight-calendar-heatmap-dark: rgb(61 91 215);
        --color-insight-sql-light: rgb(245 78 0);

        /* Colors */
        --color-black: black;
        --color-white: white;

        /* Main application background and foreground */
        --color-background: var(--color-posthog-3000-150);
        --color-foreground: var(--color-neutral-950);
        --color-foreground-inverse: var(--color-neutral-50);

        /* Card background and foreground */
        --color-card: var(--color-white);
        --color-card-foreground: var(--color-neutral-950);

        /* Brand color for primary actions (buttons, highlights) */
        --color-primary: hsl(
            var(--color-brand-primary-hue),
            var(--color-brand-primary-saturation),
            var(--color-brand-primary-lightness)
        );

        /* Subdued background for less important elements */
        --color-muted: var(--color-posthog-3000-50);
        --color-muted-foreground: var(--color-neutral-700);

        /* Highlight color for active or focused elements */
        --color-accent: color-mix(in oklab, var(--color-black) 5%, transparent);
        --color-accent-strong: color-mix(in oklab, var(--color-black) 8%, transparent);

        /* Success color for successful actions */
        --color-success: color-mix(in oklab, var(--color-green-500) 15%, transparent);
        --color-success-foreground: var(--color-green-700);

        /* Warning color for warnings and cautions */
        --color-warning: color-mix(in oklab, var(--color-yellow-500) 15%, transparent);
        --color-warning-strong: var(--color-yellow-300);
        --color-warning-foreground: var(--color-yellow-700);

        /* Destructive color for errors and critical actions */
        --color-destructive: color-mix(in oklab, var(--color-red-500) 10%, transparent);
        --color-destructive-strong: var(--color-red-300);
        --color-destructive-foreground: var(--color-red-600);

        /* Border colors */
        --color-border: var(--color-posthog-3000-200);
        --color-border-muted: var(--color-posthog-3000-100);
        --color-border-strong: var(--color-posthog-3000-300);
        --color-border-success: var(--color-green-500);
        --color-border-warning: var(--color-yellow-500);
        --color-border-destructive: var(--color-red-500);

        /* Shadows */
        --shadow-elevation-3000: 0 3px 0 var(--color-border-strong);

        /* Scrollbar colors */
        --color-scrollbar-track: var(--color-background);
        --color-scrollbar-thumb: var(--color-neutral-300);
        --color-scrollbar-thumb-hover: var(--color-neutral-400);
    }

    body[theme='dark'] {
        /* Main application background and foreground */
        --color-background: var(--color-neutral-950);
        --color-foreground: var(--color-neutral-100);
        --color-foreground-inverse: var(--color-neutral-900);

        /* Card background and foreground */
        --color-card: var(--color-neutral-875);
        --color-card-foreground: var(--color-neutral-100);

        /* Brand color for primary actions (buttons, highlights) */
        --color-primary: hsl(
            var(--color-brand-primary-hue),
            var(--color-brand-primary-saturation),
            var(--color-brand-primary-lightness)
        );

        /* Subdued background for less important elements */
        --color-muted: var(--color-neutral-910);
        --color-muted-foreground: var(--color-neutral-200);

        /* Highlight color for active or focused elements */
        --color-accent: color-mix(in oklab, var(--color-white) 5%, transparent);
        --color-accent-strong: color-mix(in oklab, var(--color-white) 8%, transparent);

        /* Success color for successful actions */
        --color-success-foreground: var(--color-green-700);

        /* Warning color for warnings and cautions */
        --color-warning-strong: var(--color-yellow-800);
        --color-warning-foreground: var(--color-yellow-300);

        /* Destructive color for errors and critical actions */
        --color-destructive-strong: var(--color-red-300);
        --color-destructive-foreground: var(--color-red-600);

        /* Border colors */
        --color-border: var(--color-neutral-800);
        --color-border-muted: var(--color-posthog-3000-850);
        --color-border-strong: var(--color-neutral-700);
        --color-border-success: var(--color-green-900);
        --color-border-warning: var(--color-yellow-900);
        --color-border-destructive: var(--color-red-900);

        /* Shadows */
        --shadow-elevation-3000: 0 3px 0 var(--color-border-strong);

        /* Scrollbar colors */
        --color-scrollbar-track: var(--color-background);
        --color-scrollbar-thumb: var(--color-neutral-700);
        --color-scrollbar-thumb-hover: var(--color-neutral-600);
    }
}

@theme {
    /* Brand colors */
    --color-brand-blue: #1d4aff;
    --color-brand-red: #f54e00;
    --color-brand-yellow: #f9bd2b;
    --color-brand-key: #000;

    /* Main application background and foreground */
    --color-background: var(--color-background);
    --color-foreground: var(--color-foreground);
    --color-foreground-inverse: var(--color-foreground-inverse);

    /* Card background and foreground */
    --color-card: var(--color-card); /* => --card */
    --color-card-foreground: var(--color-card-foreground);

    /* Brand color for primary actions (buttons, highlights) */
    --color-primary: var(--color-primary);

    /* Subdued background for less important elements */
    --color-muted: var(--color-muted); /* => --color-bg-surface-tertiary */
    --color-muted-foreground: var(--color-muted-foreground);

    /* Highlight color for active or focused elements */
    --color-accent: var(--color-accent);
    --color-accent-strong: var(--color-accent-strong);

    /* Success color for successful actions */
    --color-success: var(--color-success);
    --color-success-foreground: var(--color-success-foreground);

    /* Info color for informative messages */
    --color-info: var(--color-info);
    --color-info-foreground: var(--color-info-foreground);

    /* Warning color for warnings and cautions */
    --color-warning: var(--color-warning);
    --color-warning-strong: var(--color-warning-strong);
    --color-warning-foreground: var(--color-warning-foreground);

    /* Destructive color for errors and critical actions */
    --color-destructive: var(--color-destructive);
    --color-destructive-strong: var(--color-destructive-strong);
    --color-destructive-foreground: var(--color-destructive-foreground);

    /* Border colors */
    --color-border: var(--color-border);
    --color-border-muted: var(--color-border-muted);
    --color-border-strong: var(--color-border-strong);
    --color-border-success: var(--color-border-success);
    --color-border-warning: var(--color-border-warning);
    --color-border-destructive: var(--color-border-destructive);

    /* Ring colors */
    --color-ring: var(--color-ring);
    --color-ring-muted: var(--color-ring-muted); /* TODO: what is this? */

    /* Lifecycle series (compiled) */
    --color-lifecycle-new: #1d4aff;
    --color-lifecycle-returning: #388600;
    --color-lifecycle-resurrecting: #a56eff;
    --color-lifecycle-dormant: #db3707;
    --color-lifecycle-new-hover: #0024b6;
    --color-lifecycle-returning-hover: #254d08;
    --color-lifecycle-resurrecting-hover: #6608ff;
    --color-lifecycle-dormant-hover: #781e04;

    /* Revenue analytics MRR series (compiled) */
    --color-revenue-analytics-new: #388600;
    --color-revenue-analytics-expansion: #1d4aff;
    --color-revenue-analytics-contraction: #ffa500;
    --color-revenue-analytics-churn: #db3707;
    --color-revenue-analytics-new-hover: #254d08;
    --color-revenue-analytics-expansion-hover: #0024b6;
    --color-revenue-analytics-contraction-hover: #a26c07;
    --color-revenue-analytics-churn-hover: #781e04;

    /* Breakpoint variables */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1600px;

    /* Text / font sizes */
    --text-xxs: 0.625rem;
    --text-xxs--line-height: 0.75rem;

    --font-sans:
        'Emoji Flags Polyfill', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue',
        helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-title:
        'Emoji Flags Polyfill', 'MatterSQ', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
        'Helvetica Neue', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-button:
        'Emoji Flags Polyfill', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue',
        helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-mono:
        'Emoji Flags Polyfill', ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono',
        monospace;

    /* Spacing */
    --spacing-button-padding-x: 7px; /* Match the padding of the button primitives base size (6px) + 1px border */

    /* Radius variables */
    --radius: 0.375rem;
    --radius-sm: 0.25rem;
    --radius-base: var(--radius);
    --radius-lg: 0.625rem;
    --radius-full: 9999px;

    /* Opacity variables */
    --opacity-disabled: 0.65;

    /* Animations */
    --animate-input-focus-pulse: inputFocusPulse 1s ease-in-out forwards;
    --animate-pulse-glow: pulseGlow 2s ease-in-out infinite;
    --animate-pulse-5: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 5;

    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }

    @keyframes pulseGlow {
        0%,
        100% {
            box-shadow: 0 0 2px 1px var(--color-accent);
        }
    }

    @keyframes inputFocusPulse {
        0% {
            box-shadow: 0 0 0px 2px var(--color-primary);
        }
        100% {
            box-shadow: 0 0 0px 2px transparent;
        }
    }
}
