.definition-description {
    &.ant-input:placeholder-shown {
        font-style: italic;
    }
}

.definition-drawer {
    .general {
        color: orange;
    }
    .ant-collapse-content > .ant-collapse-content-box {
        padding-top: 0;
    }
}
