<div class="module">
  <table summary="Custom admin tools">
    <caption>
      <a href="/admin/" class="section" title="Custom Tools">Custom Tools</a>
    </caption>
    <tr class="model-actionsanalysis">
      <th scope="row">
        <a href="{% url 'actions-analysis' %}">Actions Analysis</a>
      </th>
      <td>Run actions analysis workflow</td>
    </tr>
    <tr class="model-behavioralcohortanalysis">
      <th scope="row">
        <a href="{% url 'behavioral-cohort-analysis' %}">Behavioral Cohort Analysis</a>
      </th>
      <td>Run behavioral cohort analysis workflow</td>
    </tr>
  </table>
</div>
