@import '~/vars';

.dashboard-wrapper {
    width: 95%;
    height: 90%;
    margin: auto;
}

.histogram-container {
    display: flex;
    width: 100%;

    svg {
        margin: auto;

        g#bars {
            fill: $funnel_alt;
        }

        g#y-gridlines {
            g.tick:not(:first-child) {
                color: $funnel_axis;
            }

            .domain,
            g.tick:nth-of-type(1) {
                display: none; // hide axis line
            }
        }

        g#y-axis {
            .domain {
                stroke: $funnel_axis;
            }
        }

        g#x-axis {
            .domain {
                stroke: $funnel_axis_zero;
            }
        }

        g#x-axis,
        g#y-axis {
            text {
                font-size: 13px;
                fill: $funnel_axis_zero;

                @media (max-width: $md) {
                    font-size: 11px;
                }
            }
        }

        g#labels {
            text.bar-label {
                font-size: 14px;
                font-weight: bold;
                fill: $text_light;
                &.outside {
                    fill: $funnel_alt;
                }
            }
        }
    }
}
