@import '~/vars';

.IngestionContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    width: 100%;
}

.platform-item {
    margin-right: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.platform-item:hover {
    background-color: gainsboro;
}

.selectable-item:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.ingestion-current-nav-step {
    color: black;
    display: flex;
    font-weight: bold;

    .step-indicator {
        width: 3px;
        height: 20px;
        background-color: var(--blue-light);
        margin-right: $default_spacing / 2;
    }
}

.sidebar-bottom {
    margin-top: auto;
}

.sidebar-help {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: $primary;
    border-top: 3px dashed $border;
    padding-top: $default_spacing * 1.5;
    margin-top: $default_spacing;
    padding-bottom: $default_spacing * 1.5;

    .popover {
        padding-left: $default_spacing / 2;
        padding-right: $default_spacing / 2;
    }
}

.IngestionSidebar__steps {
    color: $text_muted_alt;
    font-size: 14px;
    margin-top: $default_spacing * 2;

    div {
        &:hover {
            cursor: pointer;
        }
    }

    .nonclickable {
        &:hover {
            cursor: default;
        }
    }
}

.IngestionSidebar {
    background: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.IngestionSidebar__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    padding-top: $default_spacing * 2;
}
