.IngestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.IngestionContent {
    .BridgePage__content {
        max-width: 700px;
    }
}

.IngestionTopbar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem 1rem;
    background-color: white;
    border-bottom: 1px solid var(--border);

    .help-button {
        margin-right: 1rem;
    }
}

.platform-item {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 2px;
}

.platform-item:hover {
    background-color: gainsboro;
}

.selectable-item:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.IngestionSidebar__bottom {
    margin-top: auto;

    .popover {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.IngestionSidebar__help {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--primary);
}

.IngestionSidebar__steps {
    font-size: 14px;
    color: var(--muted-alt);

    .LemonButton {
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
}
