@import '~/vars.scss';

.groups-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 16px;

    h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 8px;

        .highlight {
            font-weight: 700;
        }
    }

    .groups-introduction__subtext {
        max-width: 500px;
        margin-bottom: 16px;
    }

    .groups-introduction__action-button {
        min-width: 300px;
        margin-bottom: 8px;

        .LemonRow__content {
            justify-content: center;
        }
    }
}
