.events-definition-table {
    .LemonTable__content > table > tbody {
        td.definition-column-icon {
            padding-right: 0.5rem;
            width: 36px;

            .definition-column-name-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                font-size: 1.2rem;

                svg.taxonomy-icon {
                    flex-shrink: 0;

                    &.taxonomy-icon-muted {
                        color: var(--muted-alt);
                    }

                    &.taxonomy-icon-verified {
                        color: var(--success);
                    }
                }
            }
        }

        td.definition-column-name {
            display: flex;
            flex-direction: row;
            align-items: center;

            .definition-column-name-content {
                display: flex;
                flex-direction: column;
                position: relative;
                min-height: 32px;
                justify-content: center;

                .definition-column-name-content-title {
                    align-items: center;
                    display: flex;
                    font-weight: 600;
                    gap: 0.25rem;
                    overflow: visible;
                    position: relative;

                    svg {
                        color: var(--success);
                    }
                }
            }
        }

        td.definition-example-type {
            .definition-pill-value {
                float: right;
            }
        }

        .definition-pill-value {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 0.125rem 0.25rem;
            letter-spacing: 0.25px;
            border-radius: var(--radius);
            border: 1px solid var(--border-light);
            background: var(--mid);
            color: var(--muted-alt);
            font-size: 0.625rem;
            font-weight: 500;
            word-break: break-all;
            max-width: 300px;
            cursor: text;
        }

        .LemonTable__expansion {
            .event-properties-wrapper {
                padding: 1rem 0 1rem 1rem;

                .event-properties-header {
                    font-weight: 600;
                }
            }
        }
    }
}
