.events-definition-table {
    .LemonTable__content > table > tbody {
        td.definition-column-icon {
            width: 36px;

            .definition-column-name-icon {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                svg.taxonomy-icon {
                    flex-shrink: 0;

                    &.taxonomy-icon-muted {
                        path {
                            fill: var(--taxonomy-icon-muted);
                        }
                    }

                    &.taxonomy-icon-verified {
                        height: 28px;

                        path {
                            fill: var(--success);
                        }

                        &:not(.taxonomy-icon-ph) {
                            margin-bottom: -4px; // Slightly larger height requires offset to look vertically centered
                        }
                    }
                }
            }
        }

        td.definition-column-name {
            display: flex;
            flex-direction: row;
            align-items: center;

            .definition-column-name-content {
                display: flex;
                flex-direction: column;
                position: relative;

                .definition-column-name-content-title {
                    font-weight: 600;
                    cursor: pointer;
                    position: relative;
                    overflow: visible;

                    &:before {
                        content: '';
                        position: absolute;
                        top: -5px;
                        bottom: -5px;
                        left: -10px;
                        right: -50px;
                        height: 22px;
                    }
                }

                .definition-column-name-content-description {
                    font-size: 13px;
                    color: var(--text-muted);
                    text-overflow: ellipsis;
                }
            }
        }

        td.definition-example-type {
            .definition-pill-value {
                float: right;
            }
        }

        .definition-pill-value {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 0.125rem 0.25rem;
            letter-spacing: 0.25px;
            border-radius: var(--radius);
            border: 1px solid var(--border-light);
            background: var(--bg-mid);
            color: var(--muted-alt);
            font-size: 0.625rem;
            font-weight: 500;
            word-break: break-all;
            max-width: 300px;
            cursor: text;
        }

        .LemonTable__expansion {
            .event-properties-wrapper {
                padding: 1rem 0 1rem 1rem;
                .event-properties-header {
                    font-weight: 600;
                }
            }
        }
    }
}
