.SidePanel3000 {
    --side-panel-bar-width: 3rem;

    position: relative;
    z-index: var(--z-main-nav);
    box-sizing: content-box;
    display: flex;
    flex-shrink: 0;
    width: 3rem;
    background: var(--accent-3000);

    &--open {
        position: relative;

        // NOTE: This is only a default, as the resizer will override this
        width: min(30%, 40rem);
        min-width: 30rem;
        max-width: 60%;

        @media (max-width: 1200px) {
            position: fixed;
            top: 0;
            right: 0;
            max-width: calc(100vw - var(--side-panel-bar-width));
            box-shadow: 0 0 30px rgb(0 0 0 / 20%);

            [theme='dark'] & {
                box-shadow: none;
            }
        }
    }

    &--resizing {
        // Stop the content from stealing focus whilst resizing
        pointer-events: none;
    }

    .SidePanel3000__bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--side-panel-bar-width);
        height: 100vh;
        overflow: hidden;
        user-select: none;
        border-left-width: 1px;

        .SidePanel3000__tabs {
            flex: 1;
            width: var(--side-panel-bar-width);
            overflow: hidden auto;

            &::-webkit-scrollbar {
                display: none;
            }

            .SidePanel3000__tabsrotation {
                display: flex;
                gap: 0.25rem;
                align-items: center;
                height: var(--side-panel-bar-width);
                margin-top: calc(calc(var(--side-panel-bar-width) - 0.25rem) * -1);
                transform: rotate(90deg);
                transform-origin: bottom left;
            }
        }
    }

    .SidePanel3000__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        border-left-width: 1px;
    }
}
