.breakdown-tag {
    vertical-align: bottom;
    padding: 8px 12px;
    line-height: 16px;
    color: var(--primary-alt);
    background-color: var(--primary-bg-hover);
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
}
