.taxonomic-breakdown-filter {
    &.tag-button.ant-btn-link {
        padding: 8px 12px 8px 0px;
        line-height: 16px;
        font-size: 14px;
        height: auto;
    }

    &.tag-pill {
        vertical-align: bottom;
        padding: 8px 12px;
        line-height: 16px;
        color: var(--bg-depth);
        background-color: var(--border);
        border: 1px solid var(--border);
        border-radius: 40px;
        font-weight: 400;
        font-size: 14px;

        span.ant-typography-ellipsis-single-line {
            vertical-align: baseline;
        }

        span.anticon {
            vertical-align: bottom;
            line-height: 16px;
            font-size: 14px;
            color: var(--bg-depth);
        }
    }

    .property-key-info {
        display: flex;
        white-space: unset;
        align-items: center;
        font-size: 1rem;
        line-height: 1.25rem;

        .property-key-info-logo {
            height: 1rem;
            margin-right: 0.25rem;
        }
    }
}
.histogram-bin-input {
    width: 60px;
    margin: 0 0.5rem;
    padding: 0.25rem;
    background-color: var(--bg-light);
}
