@import '~/vars';

.insight-metadata {
    .insight-metadata-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 400px;
        width: 100%;
        min-height: 30px;

        &.edit {
            min-height: 40px;
        }
    }

    .insight-metadata-title {
        .title {
            font-size: 28px;
            font-weight: 600;
            line-height: unset;
        }
    }

    .insight-metadata-description {
        .description {
            color: $text_muted_alt;
            font-style: italic;
        }
    }

    .insight-metadata-tags {
        .ant-tag {
            margin-top: 0 !important;
        }
    }
}
