@import '../../../styles/mixins';

.NotebookPopover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: var(--z-modal);
    pointer-events: none;

    .NotebookPopover__backdrop {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.1);
        pointer-events: none;
        opacity: 0;
        transition: opacity 200ms ease-out;
    }

    .NotebookPopover__content {
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;
        min-width: 30rem;
        max-width: calc(100vw - 2rem);
        width: 50rem; // This will be controlable
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
        pointer-events: all;

        display: flex;
        flex-direction: column;
        border-radius: var(--radius);
        background-color: var(--bg-light);
        border: 1px solid var(--border-3000);
        transition: transform 150ms cubic-bezier(0, 0.5, 0.5, 1);
        transform: translateX(calc(100% + 1rem));
    }

    // &:not(.NotebookPopover--visible) {
    //     .NotebookPopover__content {
    //         &:hover {
    //             transform: translateX(calc(100% - 5rem));
    //         }
    //     }
    // }

    &--visible {
        .NotebookPopover__backdrop {
            pointer-events: all;
            opacity: 1;
        }

        .NotebookPopover__content {
            transform: translateX(0);
        }
    }

    &--peek {
        .NotebookPopover__content {
            transform: translateX(calc(100% - 5rem));
        }
    }

    &--full-screen {
        .NotebookPopover__content {
            width: calc(100vw - 2rem);
        }
    }
}
