@import '../../../styles/mixins';

$sidebar-width: 40rem;

.NotebookSidebar {
    position: relative;
    flex-grow: 1;
    height: 100%;
    min-height: calc(100vh - 3.5rem);
    display: flex;
    width: 0px;
    flex-shrink: 0;

    .NotebookSidebar__floater {
        width: $sidebar-width;
        height: 100%;
        transform: translateX(0);
        display: flex;
        z-index: var(--z-notebook-sidebar);
    }

    .NotebookSidebar__content {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    width: $sidebar-width;

    &--enter {
        width: 0;
        .NotebookSidebar__floater {
            transform: translateX(100%);
        }
    }

    &--enter-active,
    &--enter-done {
        width: $sidebar-width;
        .NotebookSidebar__floater {
            transition: 200ms ease transform;
            transform: translateX(0%);
        }
    }

    &--exit {
        width: $sidebar-width;
        .NotebookSidebar__floater {
            transition: 200ms ease transform;
            transform: translateX(0%);
        }
    }

    &--exit-active {
        width: 0;
        .NotebookSidebar__floater {
            transform: translateX(100%);
        }
    }

    &--full-screen {
        width: $sidebar-width;

        .NotebookSidebar__floater {
            width: calc(100vw - 15.5rem - 1rem); // TODO: Unhardcode this value

            .SideBar--hidden & {
                width: calc(100vw - 1rem); // TODO: Unhardcode this value
            }
        }
    }

    .NotebookSidebar__content {
        border-left: 1px solid var(--border);
        // border-radius: var(--radius);
        background-color: var(--side);
        box-shadow: var(--shadow--elevation);
    }

    .Navigation3000 & {
        flex: 0;
        height: auto;
        transition: 200ms ease flex;

        .NotebookSidebar__content {
            background-color: var(--accent-3000);
            box-shadow: none;
            margin: 0;
            border: none;
            border-radius: 0px;
            border-left: 1px solid var(--border);
        }

        .NotebookSidebar__floater {
            position: absolute;
            height: 100%;
            top: 0;
            background-color: var(--bg-3000);
            width: 100%;
        }

        &--show {
            flex: 0 0 $sidebar-width;

            &.NotebookSidebar--full-screen {
                .NotebookSidebar__floater {
                    width: calc(100vw - 3rem); // TODO: Unhardcode this value
                }
            }
        }
    }
}
