.BillingHero {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mark);
    border-radius: 0.5rem;
}

.BillingHero__hog {
    position: relative;
    width: 200px;
    padding-top: 1rem;
    overflow: hidden;
}

.BillingHero__hog__img {
    width: 200px;
    height: 200px;
    margin: -20px 0;
}
