.PlanComparisonModal {
    max-width: 900px;
}

.PlanUpgradeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 1.5rem;
    background-color: var(--glass-bg-3000);
    border: 2px solid var(--border-bold-3000);
    border-radius: 8px;
}

.PlanUpgradeCard__Item {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
    text-align: left;
}

table.PlanComparison {
    table-layout: fixed;
    background-color: var(--glass-bg-3000);
    border: 1px solid var(--border-bold-3000);

    td {
        padding: 0.75rem 1.25rem;
        vertical-align: top;

        &.PlanTable__td__upgradeButton {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    th {
        padding: 0.75rem 1.25rem;
        font-weight: 600;
        text-align: left;
        vertical-align: top;

        &.PlanTable__th__section {
            padding: 0.25rem 1.25rem;
            font-weight: 500;
        }

        &.PlanTable__th__feature {
            padding: 0.75rem 1.25rem 0.75rem 3.25rem;
            font-weight: 600;

            &.PlanTable__th__feature--reduced_padding {
                padding: 0.75rem 1.25rem;
            }
        }

        &.PlanTable__th__last-feature {
            padding-bottom: 2rem;
        }

        p {
            font-weight: 400;
        }
    }
}

.PlanTable__tr__border {
    border-bottom: 3px rgb(0 0 0 / 7%) dotted;
}
