.UnsubscribeSurveyCostControl {
    .LemonCollapsePanel__header {
        padding: 0 !important;
        background: var(--color-bg-primary);
    }

    .LemonButton__chrome {
        padding: 0 !important;
    }
}
