@import '~/vars';

.draggable-action-filter {
    margin-top: 16px;
    display: flex;

    .action-filter-drag-handle {
        cursor: move;
        padding: 4px 2px 0 0;
        color: $text_default;
        font-size: 1.2em;
        svg {
            transform: rotate(90deg);
        }
    }
    .ant-row.mt {
        margin-top: 0;
    }
}

.add-action-event-button:not(.ant-btn-link) {
    border-color: $border_dark;
    color: $primary;
    padding-left: $default_spacing * 2.5;
    padding-right: $default_spacing * 2.5;
}
