.event-properties-definition-table {
    .LemonTable__content > table > tbody {
        td.definition-column-icon {
            width: 36px;
            padding-right: 0.5rem;

            .definition-column-name-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                font-size: 1.2rem;

                svg.taxonomy-icon {
                    flex-shrink: 0;

                    &.taxonomy-icon-muted {
                        color: var(--color-text-secondary);
                    }

                    &.taxonomy-icon-verified {
                        color: var(--success);
                    }
                }
            }
        }

        td.definition-column-name {
            .definition-column-name-content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 32px;

                .definition-column-name-content-title {
                    display: flex;
                    gap: 0.25rem;
                    align-items: center;
                    font-weight: 600;
                    cursor: pointer;

                    svg {
                        color: var(--success);
                    }
                }
            }
        }
    }
}
