.ant-image {
    display: block;
    margin: 0 auto;
}

.logo {
    height: auto !important;
    display: flex;
    margin: 3px auto 0 auto;
}

.framework-name {
    text-align: center;
    text-transform: uppercase;
}

.selectable-item:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.framework-container {
    max-width: 120px;
    width: 120px;
    padding: 5px;
    > .ant-typography.ant-typography-secondary {
        font-size: 12px;
        margin-top: 3px;
    }
}

.logo-container {
    height: 80px;
}
