.FrameworkPanel {
    max-width: 400px;
}

.panel-footer {
    bottom: 0;
    margin-bottom: 1rem;
    background-color: white;
}

.ingestion-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.IngestionSubtitle {
    margin: 1rem 0;
    font-size: 20px;
    font-weight: 800;
}

.prompt-text {
    margin-top: 1rem;
}

.ingestion-listening-for-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}
