@import '~/vars';

.welcome-panel {
    padding: 40px;
    background-color: white;
    box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.25);

    h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: $default_spacing / 2;
    }
}

.welcome-panel,
.panel-footer {
    .ingestion-btn {
        margin-bottom: $default_spacing / 2;
        background-color: black;
        &:hover {
            background-color: black;
            opacity: 0.8;
        }
        &.inverted {
            background-color: white;
            color: black;
            border: 2px solid black;
        }
    }
}

.visit-support {
    border-top: 2px dashed $border;
    margin-top: $default_spacing * 2;
    padding-top: $default_spacing * 2;
}

.bookmarklet-warning {
    border: 2px dashed $border;
    padding: 8px;

    p {
        margin-bottom: 0;
    }

    .warning-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px dashed $border;
    }
}

.bookmarklet-steps {
    margin-top: $default_spacing / 2;
}

.panel-footer {
    border-top: 2px dashed $border;
    background-color: white;
    padding-top: $default_spacing;
    margin-top: $default_spacing;
    position: sticky;
    bottom: 0;
}
