/* Only styles that are shared across multiple components (i.e. global) should go here, trying to keep this file
nimble to simplify maintenance. We separate variables and mixins in vars.scss to be able to import those into local
style files without adding already imported styles. */

// Global components
@import 'node_modules/react-toastify/dist/ReactToastify';
@import 'node_modules/react-datepicker/dist/react-datepicker';
@import './vars';

// Text styles
.text-default {
    color: $text_default;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.text-small {
    @extend .text-default;
    font-size: 12px;
}

.text-extra-small {
    @extend .text-default;
    font-size: 10px;
}

.page-title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 32px;
    font-weight: 700;
    color: $text_default;
}

.page-caption {
    @extend .text-default;
    max-width: 640px;
    margin-bottom: 32px;
}

.subtitle {
    margin-top: 24px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.l3 {
    /* Level 3 title (ideally H3) */
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

// Spacing & layout
.mb {
    margin-bottom: $default_spacing;
}

.mt {
    margin-top: $default_spacing;
}

.pa {
    // Padding all
    padding: $default_spacing;
}

.pb {
    padding-bottom: $default_spacing;
}

.pt {
    padding-top: $default_spacing;
}

// Color styles
.bg-primary {
    background-color: $primary;
}

// Random general styles
.cursor-pointer {
    cursor: pointer;
}

// Toasts
.Toastify__toast-container {
    opacity: 1;
    transform: none;
}

.Toastify__toast {
    padding: 16px;
    border-radius: $radius;
    color: $text_default;
    font-family: inherit;
    background-color: $bg_light;
}

.Toastify__toast-body {
    @extend .l3;
    color: $success;
    p {
        @extend .text-default;
        color: $text_default;
    }
}

.Toastify__progress-bar--default {
    background: $success;
}

.Toastify__toast--error {
    h1 {
        color: $danger;
    }
    .Toastify__progress-bar {
        background: $danger;
    }
    .error-details {
        font-style: italic;
    }
}

// Table styles
.table-bordered td {
    border: 1px solid $border;
}

.table-full-width {
    width: 100%;
}

// Card styles
.card-elevated {
    @extend .mixin-elevated;
}

// Form & input styles
.input-set {
    padding-bottom: $default_spacing;
    color: $text_default;

    label {
        font-weight: bold;
        @extend .text-default;
    }

    .caption {
        color: $text_muted;
        @extend .text-small;
    }

    &.errored {
        .caption {
            color: $danger;
        }
        .ant-input-password,
        input[type='text'] {
            border-color: $danger !important;
        }
    }
}
