<!doctype html>
<html>
  <head>
    <script>
      window.__SHARED_DASHBOARD__ = {
        id: {{dashboard.id}},
        share_token: '{{dashboard.share_token}}',
        name: '{{dashboard.name}}',
        team_name: '{{team_name}}'
      }
    </script>
    <title>PostHog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://posthog.com/wp-content/uploads/2020/01/cropped-Frame-1-32x32.png" sizes="32x32"/>
    <link rel="icon" href="https://posthog.com/wp-content/uploads/2020/01/cropped-Frame-1-192x192.png" sizes="192x192"/>
    {% if not opt_out_capture %}
        <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('sTMFPsFhdP1Ssg', {api_host: 'https://app.posthog.com'})
      </script>
    {% endif %}
    {% if sentry_dsn %}
        <script src="https://browser.sentry-cdn.com/5.10.1/bundle.min.js" integrity="sha384-sAOze6ZTBIpiWBF3VlUteSInM4rYpjxrejp1wMmmKqA9clRZ1vZJ36Ihmt1ilTrG" crossorigin="anonymous">
        </script>
        <script id="sentry-snippet">location.host.indexOf('127.0.0.1') == -1 && Sentry.init({ dsn: '{{sentry_dsn}}' });</script>
    {% endif %}

    <%= htmlWebpackPlugin.tags.headTags %><%/* This adds the main.css file! */%>
  </head>
  <body>
    <script>
        if (typeof Object.entries === 'undefined') {
            let div = document.createElement("div");
            div.style.color='#fef6f6'; div.style.background='#920c0c'; div.style.padding='5px 10px';
            div.innerHTML = "You are using a really old browser. Please upgrade to fully enjoy PostHog!"
            document.body.prepend(div);
        }
    </script>
    <div id="root"></div>
  </body>
</html>
