<!doctype html>
<html>
  <head>
    <script>
      window.__SHARED_DASHBOARD__ = {{shared_dashboard_serialized|safe}}
    </script>
    {% include "head.html" %}
    <%= htmlWebpackPlugin.tags.headTags %><%/* This adds the main.css file! */%>
  </head>
  <body>
    <script>
        if (typeof Object.entries === 'undefined') {
            var div = document.createElement("div");
            div.style.color='#fef6f6'; div.style.background='#920c0c'; div.style.padding='5px 10px';
            div.innerHTML = "You are using a really old browser. Please upgrade to fully enjoy PostHog!"
            document.body.prepend(div);
        }
    </script>
    <div id="root"></div>
  </body>
</html>
