/* DEPRECATED in favor of global.scss */

@import 'node_modules/bootstrap/scss/_functions';
@import 'node_modules/bootstrap/scss/_variables';
@import 'node_modules/bootstrap/scss/_mixins';

:root {
    // make antd sidebar just a tad bit darker
    .bg-dark {
        background-color: hsla(210, 10%, 19%, 1) !important;
    }
}

.layout-container {
    max-width: 100vw;
}

.right-align {
    float: right;
    .fi {
        font-size: 20px;
        margin-right: 12px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loading-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    min-height: 6rem;
    > div {
        height: calc(50% - 20px);
    }
    &.over-table {
        display: block;
        background: rgba(0, 0, 0, 0.1);
        td {
            display: block;
        }
    }
}

.code-container {
    position: relative;
    .action-icon-container {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .action-icon {
        margin-left: 0.5em;
        padding: 2px;
        color: white;
        background-color: inherit;
        cursor: pointer;
        &:hover {
            transition: all 0.2s ease;
            transform: scale(1.2);
        }
    }
}

pre.code {
    white-space: pre-wrap;
    word-break: break-all;
    background: rgb(51, 51, 51);
    padding: 20px;
    border-radius: 3px;
    color: white;
    margin-top: 1rem;
    font-size: 15px;
    &.scrolling-code {
        white-space: pre;
        overflow: scroll;
    }
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}
.paths {
    height: 720px;
    svg {
        height: 100% !important;
        width: 100%;
    }
}
.secondary {
    font-size: 13px;
    letter-spacing: 1px;
    opacity: 0.7;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    background: none;
}
hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

button.no-style {
    background: none;
    border: none;
}

.table th,
.table td {
    padding: 0.25rem;
}

.modal {
    overflow: scroll;
}

label.disabled {
    color: #888;
}

.info {
    color: $blue;
    cursor: pointer;
    margin-left: 5px;
}

.ant-modal-mask {
    z-index: 1050 !important;
}
.ant-modal-wrap {
    z-index: 1060 !important;
}
.ant-message {
    z-index: 1070 !important;
}
.ant-select-dropdown {
    z-index: 1065 !important;
}

.ant-select-arrow .anticon {
    vertical-align: top !important;
}

.property-key-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.property-key-info-logo {
    margin-right: 6px;
    display: inline-block;
    vertical-align: top;
    height: 19px;
    width: 19px;
    background-image: url('../public/posthog-icon.svg');
    background-size: cover;
}
.ant-select-selection-item .property-key-info-logo {
    vertical-align: text-bottom;
}

#bottom-notice {
    z-index: 1000000000;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.5rem;
    &.warning div {
        height: auto;
        background: #f00;
    }
    &.tricolor {
        div:nth-child(1) {
            background: #1d4aff;
        }
        div:nth-child(2) {
            background: #f54e00;
        }
        div:nth-child(3) {
            background: #f9bd2b;
        }
    }
    div {
        flex-basis: 0;
        flex-grow: 1;
        height: 1.5rem;
        text-align: center;
    }
    span {
        display: none;
    }
    button {
        border: none;
        background: transparent;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        font-size: 1rem;
        font-weight: bold;
    }
    @media screen and (min-width: 750px) {
        font-size: 1rem;
        line-height: 2rem;
        div {
            height: 2rem;
        }
        span {
            display: inline;
        }
        button {
            width: 2rem;
            height: 2rem;
            font-size: 1.25rem;
        }
    }
}

.button-border {
    padding: 8px;
    border-radius: 4px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: gainsboro;
}

.space-top {
    margin-top: 32px;
}

.breadcrumbs {
    .selected {
        color: #35416b;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    .signup-form {
        h1.title {
            img {
                display: none;
            }
        }
        .main-img {
            margin-top: 0 !important;
            height: 200px;
        }
    }
}

.match-condition-badge {
    padding: 2px 8px;
    border-radius: 2px;
    color: white;
    font-weight: bold;

    &.mc-or {
        background-color: #4263eb;
    }

    &.mc-and {
        background-color: #f7a501;
    }
}
