@import '~/vars';

.primary-dashboard-modal {
    .loading-skeleton-container {
        padding: $default_spacing;
    }
    .dashboard-list {
        max-height: 350px;
        overflow-y: scroll;
        padding-right: $default_spacing;
        padding-left: $default_spacing;
        .dashboard-row {
            display: flex;
            flex: 1;
            height: 60px;
            padding: $default_spacing/2;
            margin-bottom: $default_spacing/4;
            &.primary-dashboard-row {
                background-color: $bg_side;
            }
            .dashboard-label-container {
                color: $text_default;
                flex: 1;
            }
            .dashboard-description {
                margin: 0;
            }
            .set-default-text {
                color: $primary;
            }
            .default-indicator {
                color: $text_default;
                display: flex;
                align-items: center;
            }
        }
    }
}
