@import '~/vars';

.primary-dashboard-modal {
    .loading-skeleton-container {
        padding: 1rem;
    }
    .dashboard-list {
        max-height: 350px;
        overflow-y: scroll;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        .dashboard-row {
            display: flex;
            flex: 1;
            height: 60px;
            padding: 0.5rem;
            margin-bottom: 0.25rem;
            .dashboard-label-container {
                color: $text_default;
                flex: 1;
            }
            .dashboard-description {
                margin-bottom: 0;
                max-width: 300px;
                color: $text_muted;
            }
            .set-default-text {
                color: $primary;
            }
            .default-indicator {
                color: $text_default;
                display: flex;
                align-items: center;
            }
        }
    }
}
