.project-homepage {
    .HomepageDashboardHeader {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .HomepageDashboardHeader__title {
            display: flex;
            flex-direction: row;
            align-items: center;

            .ant-skeleton {
                width: 300px;

                h3 {
                    margin: 0;
                }
            }

            .posthog-3000 & {
                a {
                    color: var(--default);

                    &:hover {
                        color: var(--primary-3000);
                    }
                }
            }
        }
    }

    .top-list-container-horizontal {
        display: flex;

        .top-list {
            margin-bottom: 1.5rem;

            .posthog-3000 & {
                margin-bottom: 0;
            }

            width: 33%;
        }

        .spacer {
            width: 1rem;
        }
    }

    .top-list-container-vertical {
        margin-bottom: 1.5rem;

        .spacer {
            height: 1rem;
        }
    }

    .empty-state-container {
        background-color: var(--side);
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        display: flex;
        flex-direction: column;
    }
}
