@import '~/vars';

.insight-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: $default_spacing/4;
    font-weight: 400; // Overrides font-weight from LemonButton

    .insight-icon {
        flex-shrink: 0;
    }

    .insight-text-container {
        flex: 1;
        margin: 0 $default_spacing/2;
        overflow: hidden;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;

            &.insight-name {
                font-weight: 600;
                font-size: 1rem;
            }

            &.insight-last-modified {
                color: $text_default;
            }
        }
    }
}
