@import '~/vars';

.recording-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: $default_spacing/4;
    color: $text_default;
    font-weight: 400; // Overrides font-weight from LemonButton

    .recording-person-text-container {
        flex: 1;
        margin: 0 $default_spacing/2;
        overflow: hidden;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;

            &.recording-person-text {
                font-weight: 600;
                font-size: 1rem;
            }
        }
    }

    .recording-duration {
        flex-shrink: 0;
        text-align: right;
        margin: 0 $default_spacing/2 0 0px;
    }

    .recording-play-circle {
        flex-shrink: 0;
        font-size: 1.25rem;
    }
}
