.TopBar3000 {
    --breadcrumbs-compaction-rate: 0;

    position: sticky;
    top: 0;
    z-index: var(--z-top-navigation);
    display: flex;
    align-items: flex-start;
    height: var(--breadcrumbs-height-full);
    white-space: nowrap;
    pointer-events: none;

    .EditableField__display {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.TopBar3000__content {
    --total-height: calc(
        (
            var(--breadcrumbs-height-full) - (var(--breadcrumbs-height-full) - var(--breadcrumbs-height-compact)) *
                var(--breadcrumbs-compaction-rate)
        )
    );
    --content-padding: calc(var(--total-height) * 0.1);
    --content-height: calc(var(--total-height) - 2 * var(--content-padding));
    --content-font-size: calc(0.75rem + 0.0625rem * var(--breadcrumbs-compaction-rate));

    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    height: var(--total-height);
    padding: 0 1rem;
    font-size: var(--content-font-size);
    font-weight: 600;
    line-height: 1rem;
    pointer-events: auto;
    background: var(--color-bg-surface-secondary);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--color-border-primary);
}

.TopBar3000__hamburger {
    margin-left: -0.5rem;
}

.TopBar3000__breadcrumbs {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
}

.TopBar3000__trail {
    // From 0.5 to 1
    --trail-ratio: calc(0.45 + (1 - 0.45) * var(--breadcrumbs-compaction-rate));
    --trail-height: calc(var(--content-height) * var(--trail-ratio));

    box-sizing: border-box;
    display: flex;
    align-items: center;

    // Transition from compact-height to full-height
    height: var(--trail-height);
    overflow: visible;
}

.TopBar3000__here {
    // From 0.5 to 0
    --here-ratio: calc(0.55 + (0 - 0.55) * var(--breadcrumbs-compaction-rate));
    --here-height: calc(var(--content-height) * var(--here-ratio));

    position: relative;
    box-sizing: content-box;
    height: var(--here-height);
    margin: 0;
    overflow: hidden;
    font-family: var(--font-sans) !important;
    font-size: 1rem;
    font-weight: 700;
    line-height: var(--here-height);

    .TopBar3000--full & {
        // It wouldn't be necessary to set visibility, but for some reason without this positioning
        // of breadcrumbs becomes borked when entering title editing mode
        overflow: visible;
    }

    > * {
        position: absolute;

        // Align middle and follow transition
        bottom: calc(50%);
        transform: translateY(calc(50% * (1 - var(--breadcrumbs-compaction-rate))));
    }
}

.TopBar3000__breadcrumb {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 100%;
    overflow: hidden;
    color: var(--color-text-secondary);
    white-space: pre;
    cursor: default;

    &.Link:hover {
        color: inherit;
    }

    .LemonIcon {
        margin-left: 0.125rem;
        font-size: 1rem;
    }

    .LemonTag--default {
        font-weight: 600; // Aligning with breadcrumb font-weightq
        text-transform: uppercase; // Increase readability at tiny size

        // The default is --border, which is invisible on the top bar's background
        border-color: var(--color-text-secondary);
        opacity: var(--opacity-disabled);
    }

    &.TopBar3000__breadcrumb--here {
        flex-shrink: 1;
        min-width: 200px;

        // Increase height progressively to make it appear higher
        height: calc(1rem + (var(--trail-height) - 1rem) * var(--breadcrumbs-compaction-rate));
        color: var(--text-3000);
        cursor: default;

        .TopBar3000--compact & {
            overflow: visible;
        }

        .TopBar3000--full & {
            // It wouldn't be necessary to set visibility, but for some reason without this positioning
            // of breadcrumbs becomes borked when entering title editing mode
            visibility: hidden;
        }

        > * {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(calc(50% * (1 - 2 * var(--breadcrumbs-compaction-rate))));
        }
    }

    &.TopBar3000__breadcrumb--actionable {
        cursor: pointer;

        &:hover,
        &.TopBar3000__breadcrumb--open {
            color: var(--text-3000);

            .LemonTag--default {
                opacity: 1;
            }
        }
    }
}

.TopBar3000__separator {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0 0.1rem;
    opacity: 0.5;
}

.TopBar3000__more {
    margin-left: 0.5rem;
}

.TopBar3000__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}
