// Counteract toolbar styles
.sb-show-main {
    .ant-modal-mask,
    .ant-modal-wrap {
        z-index: 1050 !important;
    }

    .ant-select-dropdown,
    .ant-picker-dropdown {
        z-index: 1060 !important;
    }

    .ant-tooltip {
        z-index: 1060 !important;
    }
}
