@import '~/vars';

.funnel-correlation-table {
    margin-top: $default_spacing;
    border: 1px solid $border;
    border-radius: $radius;

    .ant-table {
        thead th {
            border-bottom: 1px solid $border;
        }
    }

    .funnel-correlation-header {
        background: #f2f2f2;
        display: flex;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        justify-content: space-between;
        align-content: space-between;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        padding-bottom: 5px;

        .table-header {
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 16px;
            padding-bottom: 4px;

            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            color: $text_default;
            flex: none;
            flex-grow: 4;
            margin-left: $default_spacing;
            margin-right: $default_spacing;
            margin-top: $default_spacing/2;
        }

        .table-options {
            float: right;
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
            margin-top: 5px;

            .title {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                /* identical to box height, or 145% */

                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                margin: 5px;

                /* text/muted */

                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .column-info {
        color: $text_muted_alt;
        cursor: pointer;
        padding-left: 4px;
    }

    .nested-properties-table {
        margin: $default_spacing;
        border: 1px solid $border;
        border-radius: $radius;
        thead th {
            border-bottom: 1px solid $border;
        }
    }

    .nested-properties-loading {
        text-align: center;
        padding: $default_spacing * 2 0;

        h3 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0;
            p {
                color: $text_muted_alt;
            }
        }
    }
}
