@import '~/vars';

.funnel-correlation-table {
    margin-top: $default_spacing;
    border: 1px solid #d9d9d9;

    .funnel-correlation-header {
        background: #f2f2f2;
        display: flex;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 2px;

        .table-header {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 16px;

            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            color: #2d2d2d;
            flex: none;
            flex-grow: 4;
            margin-left: $default_spacing;
            margin-right: $default_spacing;
            margin-top: $default_spacing/2;
        }

        .table-options {
            float: right;
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
            margin-top: 5px;

            .title {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                /* identical to box height, or 145% */

                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                margin: 5px;

                /* text/muted */

                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
