@import '~/vars';

.dashboard-item-container {
    .funnel-steps-table {
        margin: 0 !important;
    }

    .funnel-bar-wrapper.breakdown.vertical {
        height: 100% !important;
        min-width: 120px !important;
        min-height: 120px;
    }

    .funnel-bar-axis {
        height: 80% !important;
    }

    .breakdown-bar-group {
        height: 80% !important;
        min-height: calc(120px * 0.8);
        width: 100px !important;

        .breakdown-label {
            display: none;
        }
    }
}

.funnel-steps-table {
    margin-top: 1rem;
    height: 100%;

    .tag-pill {
        vertical-align: bottom;
        padding: 4px 6px;
        line-height: 16px;
        color: $bg_depth;
        background-color: $border;
        border: 1px solid $border;
        border-radius: 40px;
        font-weight: 400;
        font-size: 14px;
    }

    .sub-column-title {
        font-size: 12px;
        color: $text_muted_alt;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .anticon {
            margin-right: 4px;
        }
    }

    .column-title {
        color: $text_default;
        font-weight: $medium;
    }

    .ant-btn.funnel-inspect-button {
        &:disabled {
            color: $text_default;
            cursor: initial;
        }
    }
}

.funnel-table-cell {
    &.dividing-column {
        border-right: 1px solid $border;
    }
    &:last-of-type.dividing-column {
        border-right: none;
    }

    &.axis-labels-column {
        z-index: 2;
    }

    &.no-border-bottom {
        border-bottom: none;
    }

    &.dark-bg {
        background-color: $antd_table_background_dark;
    }

    &.breakdown-label-column {
        .insights-label {
            word-break: break-all;
        }
    }

    &.highlight {
        background: #f1f4ff;
        /* main/primary */

        border: 2px solid #5375ff;
        box-sizing: border-box;
        border-radius: 2px;
    }
}

.table-cell-highlight {
    background: #f1f4ff;
    /* main/primary */

    border: 2px solid #5375ff;
    box-sizing: border-box;
    border-radius: 2px;
}

.table-text-highlight {
    /* main/primary */

    background: #5375ff;
    border-radius: 4px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;

    display: flex;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* text/light */
    color: #ffffff;

    padding: 6px;
}

.funnel-step-title-row {
    .funnel-step-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;

        .funnel-step-glyph {
            color: $text_muted;
            margin-right: 16px;
            padding: 2px 4px;
            border: 1px solid $border_light;
            background-color: white;
            border-radius: $radius;
        }

        .funnel-step-name {
            @extend .text-ellipsis;
            font-weight: bold;
        }
    }
}

.funnel-bar-wrapper.breakdown.vertical {
    position: relative;
    height: 400px;
    width: 100%;
    min-width: 300px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .breakdown-bar-group {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
        height: 320px;
        width: 200px;
        position: relative;
        z-index: 1;
        margin-left: 1.5rem;

        .breakdown-bar-column {
            display: block;
            height: 100%;
            margin: 0 1px;
        }

        .breakdown-previous-bar {
            position: absolute;
            bottom: 0;
            opacity: 0.1;
            border-radius: 3px;
        }

        .breakdown-current-bar {
            position: absolute;
            bottom: 0;
            border-radius: 3px;
        }

        .breakdown-label {
            position: absolute;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: $text-muted;
            text-align: center;
        }
    }

    .funnel-bar-empty-space {
        width: 50px;
        height: 100%;
    }

    .funnel-bar-axis {
        position: absolute;
        height: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 0;
        left: 0;

        &.label {
            .axis-tick-line {
                width: 12px;
            }
        }

        .axis-tick-line {
            width: 100%;
            border: 1px dashed $border;
        }
    }

    &.axis-wrapper {
        justify-content: flex-end;
        width: 100%;

        .axis {
            height: 332px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .axis-tick {
                font-size: 12px;
                margin-right: 10px;
                color: $text_muted_alt;
            }
        }
    }
}

// Full height of parent workaround - https://github.com/ant-design/ant-design/issues/23974#issuecomment-698787941
.funnel-steps-table.ant-table-wrapper {
    .ant-spin-nested-loading {
        height: 100%;

        .ant-spin-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;

            .ant-table {
                flex: auto;
                overflow: hidden;

                .ant-table-container {
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;

                    .ant-table-header {
                        flex: none;
                    }

                    .ant-table-content {
                        flex: auto;
                        overflow: auto auto !important;

                        table {
                            height: 100%;

                            tr {
                                min-height: 45px;

                                &.funnel-steps-table-row-1 {
                                    // Row with funnel steps
                                    height: 100%;

                                    td {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ant-table-pagination {
                flex: none;
            }
        }
    }
}
