@import '~/vars';

.funnel-exclusions-filter-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .funnel-exclusion-selectors {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .funnel-exclusion-funnel_from_step-selector,
        .funnel-exclusion-funnel_to_step-selector {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;

            .ant-select {
                margin-right: $default_spacing / 4;
                margin-left: $default_spacing / 4;
                margin-top: $default_spacing / 4;
                margin-bottom: $default_spacing / 4;
            }
        }
    }

    .flex-spacer {
        flex: 1;
    }

    &.vertical {
        flex-direction: column;

        .column-filter {
            width: 100%;
        }

        .column-row-suffix {
            width: 100%;
            padding: 0;

            .funnel-exclusion-row-wrapper {
                padding-top: 6px;
                .funnel-exclusion-spacing-arrow {
                    color: #c4c4c4;
                    font-size: 18px;
                    min-width: 30px;
                    box-sizing: border-box;
                    align-items: center;
                    padding-left: 4px;
                    padding-right: 4px;
                    position: relative;
                    top: -4px;
                    user-select: none;
                }
            }
        }
    }
}
