@import '~/vars';

.funnel-canvas-label {
    .ant-btn-link {
        padding: 0;
        &:disabled {
            cursor: default;
            color: $text_default;
        }
    }

    .funnel-options-label {
        padding: 4px;
    }

    .funnel-options-inputs {
        align-items: center;
        padding: 4px;
    }
}
