// DEPRECATED: This file has been deprecated in favor of FunnelBarGraph.scss
@import '~/vars';
@import 'node_modules/funnel-graph-js/src/scss/main';

.funnels-empty-state {
    text-align: center;
    h2.funnels-empty-state__title {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    .funnels-empty-state__description {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.7rem;
        color: $text_muted;
    }

    button.add-action-event-button {
        height: 50px;
    }

    .funnels-empty-state__help {
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}

.dashboard-item {
    .svg-funnel-js {
        .svg-funnel-js__container {
            height: 100%;
        }
    }
}

.svg-funnel-js {
    .svg-funnel-js__container {
        width: 100%;
        height: 300px;
    }

    .svg-funnel-js__labels {
        width: 100%;
        box-sizing: border-box;

        .svg-funnel-js__label {
            flex: 1 1 0;
            position: relative;

            .label__value {
                display: none;
            }

            .label__title {
                margin-top: 1rem;
                font-size: 12px;
                font-weight: 300;
            }

            .label__percentage {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    &:not(.svg-funnel-js--vertical) {
        padding-top: 64px;
        padding-bottom: 16px;

        .svg-funnel-js__label {
            padding-left: 24px;

            &:not(:first-child) {
                border-left: 1px solid $border;
            }
        }
    }

    &.svg-funnel-js--vertical {
        padding-left: 120px;
        padding-right: 16px;

        .svg-funnel-js__label {
            padding-top: 24px;

            &:not(:first-child) {
                border-top: 1px solid $border;
            }
        }
    }

    .svg-funnel-js__subLabels {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        position: absolute;
        width: 100%;
        left: 0;

        .svg-funnel-js__subLabel {
            display: flex;
            font-size: 12px;
            color: $text_light;
            line-height: 16px;

            &:not(:first-child) {
                margin-left: 16px;
            }

            .svg-funnel-js__subLabel--color {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin: 2px 8px 2px 0;
            }
        }
    }
}

.funnel-bin-filter-dropdown {
    .funnel-bins-custom-picker {
        width: 43px; // enough to hold two characters
        margin: 5px 0 5px 13px; // margin left comes from 24px (padding left select option) - 11px (padding inside input)

        .ant-input-number-handler-wrap {
            display: none;
        }
    }

    .select-option-hidden {
        display: none;
    }
}

.funnel-tab {
    .property-filter-wrapper {
        display: flex;
        flex-direction: row;

        .new-prop-filter {
            padding-left: 16px !important;
        }
    }
}

.funnel-options {
    margin-top: 16px;

    .funnel-options-conversion-window {
        margin: 0.25rem 0;
        padding: 0.25rem 0;
        display: flex;
        flex-direction: column;

        .funnel-options-conversion-window-label {
            padding: 4px 0;

            .info-indicator {
                vertical-align: middle;
            }
        }

        .funnel-options-conversion-window-inputs {
            padding: 4px 0;

            .time-value-input {
                flex-grow: 1;
                max-width: 80px;
                margin-right: $default_spacing / 2;
            }

            .time-unit-input {
                min-width: 90px;
            }
        }
    }
}
