@import '~/vars';

.funnel-people {
    .funnel-success {
        background-color: lighten($primary, 20%);
    }
    .funnel-dropped {
        background-color: $bg_mid;
    }
    table {
        table-layout: fixed;
        border-top: 0;
        margin-bottom: 0;
        td {
            padding: 0 0.75rem;
        }
    }
}
