@import '~/vars';

$label_position_offset: 8px;
$series_container_width: 3rem;
$glyph_margin_top: 10px;
$glyph_height: 22px;
$funnel_canvas_background: #fafafa;

.funnel-bar-graph {
    background-color: $funnel_canvas_background;
    min-height: 100%;

    .ant-popover {
        .ant-popover-content {
            background: #fafafa;
            border-radius: $radius;
            border: 1px solid $border;
        }

        .ant-popover-inner {
            background: #fafafa;
        }

        .ant-popover-inner-content {
            padding: 8px 0;
            min-width: 300px;
        }

        .ant-popover-arrow {
            background: #fafafa;
        }
    }

    // Layout: horizontal bars
    .funnel-step {
        position: relative;
        padding-left: $series_container_width;

        .graph-series-glyph {
            z-index: 2;
        }

        .funnel-series-container {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: $series_container_width;
            display: flex;
            flex-direction: column;
            align-items: center;

            .graph-series-glyph {
                margin-top: $glyph_margin_top;
                user-select: none;
            }

            .funnel-series-linebox {
                position: absolute;
                left: 0;
                width: calc(#{$series_container_width} / 2 + 1px);
                box-sizing: border-box;
                border-right: 2px solid $bg_mid;

                &.before {
                    top: 0;
                    height: calc(#{$glyph_margin_top} + #{$glyph_height} / 2);
                }

                &.after {
                    bottom: 0;
                    top: calc(#{$glyph_margin_top} + #{$glyph_height} / 2);
                    height: calc(100% - #{$glyph_margin_top} - #{$glyph_height} / 2);
                }
            }
        }

        .funnel-step-metadata {
            // .funnel-step-metadata reusable class for components that contain metadata for the funnel (e.g. time to convert or conversion steps)
            display: flex;
            flex-wrap: wrap;

            .ant-btn.funnel-inspect-button {
                color: $primary;

                .anticon {
                    color: $primary_alt;
                }

                .funnel-inspect-label {
                    color: inherit;
                }

                &:hover .funnel-inspect-label {
                    color: inherit;
                    text-decoration: none;
                }

                &:disabled {
                    color: $text_default;
                    cursor: initial;

                    .anticon {
                        color: $text_muted_alt;
                    }

                    .funnel-inspect-label {
                        text-decoration: none;
                    }
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .center-flex {
            display: flex;
            align-items: center;
        }

        header,
        footer {
            min-height: 32px;
            display: flex;
            align-items: center;
        }

        header {
            padding-top: 4px;
            position: relative;

            .funnel-step-title {
                @extend .text-ellipsis;
                font-weight: bold;
            }

            .funnel-time-metadata {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                position: absolute;
                bottom: 0;

                &.vertical {
                    left: 0;
                }
                &.horizontal {
                    right: 0;
                }
            }

            .property-key-info {
                flex-wrap: wrap;
            }
        }
    }

    .funnel-bar-wrapper {
        height: 32px;
        margin: 4px 0;
        background-color: $funnel_background;
        border-radius: 4px;
        display: flex;
        flex-direction: row;

        .funnel-bar {
            position: relative;
            height: 100%;
            background: $funnel_default;
            transition: width 0.2s ease, height 0.2s ease;

            &.first {
                border-radius: 4px 0 0 4px;
            }

            &.last {
                border-radius: 0 4px 4px 0;
            }

            &.only {
                border-radius: 4px;
            }

            .funnel-bar-percentage {
                position: absolute;
                top: 8px;
                line-height: 16px;
                font-weight: bold;
                color: #fff;

                &.inside {
                    right: $label_position_offset;
                }

                &.outside {
                    left: calc(100% + #{$label_position_offset});
                    color: $funnel_default;
                }
            }
        }
    }

    // Layout: vertical bars (inherits and overrides horizontal styles)
    &.vertical {
        display: flex;
        overflow-x: auto;

        .funnel-step {
            width: 30%;
            display: flex;
            flex-direction: column;

            .funnel-inner-viz {
                // Moves the series metadata (numbers) on top of the bars
                display: flex;
                flex-direction: column-reverse;
                flex-grow: 1;
            }

            .funnel-series-container {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: $series_container_width;
                display: flex;
                flex-direction: column;
                align-items: center;

                .funnel-series-linebox.after {
                    height: calc(100% - #{$glyph_margin_top} - #{$glyph_height} / 2);
                }
            }

            .funnel-conversion-metadata {
                font-size: 1rem;
                display: block;
                margin-bottom: $default_spacing / 2;

                .funnel-inspect-button {
                    font-size: 1.1rem;
                    margin-left: -2em;

                    .value-inspector-button-icon {
                        background-color: $funnel_canvas_background; // Ensures the series line gets cut off
                        padding: 4px 0;
                        margin-right: 1rem;
                    }
                }

                .conversion-metadata-caption {
                    font-size: 0.75em;
                }
            }

            .funnel-step-metadata {
                line-height: 1;
                align-items: flex-start;
                justify-content: flex-start;

                .ant-btn.funnel-inspect-button {
                    padding: 0;
                    height: unset;
                    padding-right: 0.25rem;
                }
            }

            header,
            footer {
                min-height: 0;
            }

            header {
                flex-wrap: wrap;
                margin: 0.4em 0;
                height: 3.4em;
                align-items: flex-start;

                .property-key-info {
                    margin-bottom: 0.5em;
                }
            }
        }

        .funnel-bar-wrapper {
            width: 164px;
            max-width: 100%;
            flex-grow: 1;
            position: relative;
            flex-direction: column-reverse;

            .funnel-bar {
                height: unset;
                width: 100%;

                &.first {
                    border-radius: 0 0 4px 4px;
                }

                &.last {
                    border-radius: 4px 4px 0 0;
                }

                .funnel-bar-percentage {
                    top: unset;
                    width: 100%;
                    text-align: center;

                    &.inside {
                        right: unset;
                        top: $label_position_offset;
                    }

                    &.outside {
                        left: unset;
                        bottom: calc(100% + #{$label_position_offset});
                    }
                }
            }
        }
    }

    &.horizontal {
        .funnel-step {
            .step-stat {
                display: flex;
                align-items: baseline;
            }

            .funnel-conversion-metadata {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .funnel-inspect-button {
                    padding: 0 4px 0 0;
                    .value-inspector-button-icon {
                        padding-right: 8px;
                    }
                }
                .conversion-metadata-caption {
                    padding-left: 3px;
                }
            }
        }
    }
}

// Overrides for dashboard styles

.dashboard-item-content {
    .funnel-bar-graph {
        margin: 0;
        padding: 12px 0;
        background-color: unset;
        font-size: 0.85em;

        .funnel-conversion-metadata {
            font-size: unset !important;
            .funnel-inspect-button {
                margin-left: -2.3em !important;
            }
        }
        .funnel-inspect-button {
            font-size: 0.8rem !important;
            .value-inspector-button-icon {
                background-color: white !important;
            }
        }

        &.colored {
            // Dashboard item is non-white, adjust stylings
            color: white;

            a,
            .ant-btn {
                color: var(--item-primary) !important;
            }

            .text-muted-alt {
                color: rgba(white, 0.85);
            }
            .funnel-inspect-button {
                .value-inspector-button-icon {
                    background-color: var(--item-background) !important;
                }
                &:disabled {
                    color: white !important;
                }

                .value-inspector-button-icon {
                    .anticon {
                        color: white !important;
                    }
                }
            }

            .funnel-series-container {
                .funnel-series-linebox {
                    border-right-color: rgba(white, 0.35);
                }
                .graph-series-glyph {
                    background-color: var(--item-background);
                    color: white;
                    border-color: rgba(white, 0.35);
                }
            }

            .funnel-bar-wrapper {
                background-color: var(--item-darkest);
                .funnel-bar {
                    background: white;
                    .funnel-bar-percentage {
                        &.inside {
                            color: $text_default !important;
                        }
                        &.outside {
                            color: white !important;
                        }
                    }
                }
            }

            &.black {
                // Special styles for dark mode
                .funnel-bar-wrapper {
                    background-color: #32384c;
                    .funnel-bar {
                        background: $primary;
                        .funnel-bar-percentage {
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}
