.system-status-scene {
    margin-bottom: 64px;
    .metric-column {
        @media (min-width: 750px) {
            width: 33%;
        }
    }
}

.embedded-svg-wrapper {
    cursor: text;

    svg {
        width: 100%;
        height: 100%;
    }
}
