@import '~/vars';

.cohorts-drawer .ant-drawer-content-wrapper {
    max-width: 850px !important;
    width: 100% !important;
}

.cohort-recalculating {
    background-color: $bg_mid;
    padding: $default_spacing / 2 $default_spacing;
    margin-top: $default_spacing;
    border-radius: $radius;
    .ant-spin-spinning {
        margin-right: $default_spacing * 0.375;
    }
}

.cohort-csv-dragger {
    height: 155px !important;
    background-color: transparent !important;
    margin-top: 1rem;
    border: 2px dashed var(--primary) !important;
    border-radius: 4px !important;

    &:hover {
        border-color: var(--primary-hover) !important;
    }

    .ant-upload-drag-container {
        display: flex !important;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 0 1rem;

        .ant-upload-text {
            font-weight: 600;
            font-size: 1rem !important;
            margin: 8px 0 0 0 !important;
        }
    }
}
