.presentation-preview .CodeSnippet__actions {
    display: none;
}

.question-choice-open-ended-footer {
    position: absolute;
    bottom: -5px;
    left: 6px;
    padding: 0 5px;
    font-size: 10px;
    background-color: var(--color-bg-primary);
}

.SurveyQuestionDragHandle {
    font-size: 1.2em;
    color: var(--text-3000);
    cursor: move;
    transform: rotate(90deg);
}
