.presentation-preview .CodeSnippet__actions {
    display: none;
}

.SurveyForm {
    .LemonCollapsePanel__header {
        background: var(--border-tertiary);
    }
}

.question-choice-open-ended-footer {
    position: absolute;
    bottom: -5px;
    left: 6px;
    padding: 0 5px;
    font-size: 10px;
    background-color: var(--background-secondary);
}

.SurveyQuestionDragHandle {
    font-size: 1.2em;
    color: var(--content-primary);
    cursor: move;
    transform: rotate(90deg);
}
