.SurveyTemplateContainer {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 300px;
    background: var(--color-bg-surface-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--radius);

    &:hover {
        cursor: pointer;
        border-color: var(--primary-3000-hover);
    }

    &:focus {
        border-color: var(--primary-3000-hover);
        outline: none;
    }

    .SurveyTemplate {
        pointer-events: none;
        transform: scale(0.8, 0.8);
    }
}
