.survey-form {
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    width: 320px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: normal;
    line-height: 1.4;
    color: black;
    text-align: left;
    border-bottom: 0;
    border-radius: 10px;
    box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%), -9px 0 28px 0 rgb(0 0 0 / 5%), -12px 0 48px 16px rgb(0 0 0 / 3%);
}

.form-submit[disabled] {
    cursor: not-allowed;
    filter: grayscale(100%);
    opacity: 0.6;
}

.survey-form textarea {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    color: black;
    background: white;
    border-radius: var(--radius);
    outline: none;
}

.form-submit {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    text-transform: none;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1.5px solid transparent;
    border-radius: var(--radius);
    outline: 0;
    box-shadow: 0 2px 0 rgb(0 0 0 / 4.5%);
}

.form-cancel {
    float: right;
    cursor: pointer;
    background: none;
    border: none;
}

.cancel-btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 100%;
    transform: translate(50%, -50%);
}

.bolded {
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
}

.footer-branding {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 500;
    color: inherit !important;
    text-align: center;
    text-decoration: none;
}

.survey-box {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 10px;
}

.survey-question {
    font-size: 14px;
    font-weight: 500;
}

.question-textarea-wrapper {
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: 5px;
    font-size: 13px;
    color: rgba(var(--survey-text-color), 0.6);

    a {
        color: rgb(var(--survey-text-color));

        &:hover {
            color: rgba(var(--survey-text-color), 0.6);
        }
    }
}

.ratings-number {
    padding: 8px 0;
    font-size: 14px;
    border: none;
}

.ratings-number:hover {
    cursor: pointer;
}

.rating-options {
    margin-top: 14px;
}

.rating-options-buttons {
    display: grid;
    overflow: hidden;
    border-radius: var(--radius);
}

.rating-options-buttons > .ratings-number {
    border-right: 1px solid;
}

.rating-options-buttons > .ratings-number:last-of-type {
    border-right: 0 !important;
}

.rating-options-emoji {
    display: flex;
    justify-content: space-between;
}

.ratings-emoji {
    padding: 0;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.ratings-emoji:hover {
    cursor: pointer;
}

.rating-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 11px;
    opacity: 0.6;
}

.multiple-choice-options {
    margin-top: 13px;
    font-size: 14px;
    color: black;
}

.multiple-choice-options .choice-option {
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 5px;
    font-size: 13px;
    cursor: pointer;
}

.multiple-choice-options > .choice-option:last-of-type {
    margin-bottom: 0;
}

.multiple-choice-options input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.choice-check {
    position: absolute;
    right: 10px;
    background: white;
}

.choice-check svg {
    display: none;
}

.multiple-choice-options .choice-option:hover .choice-check svg {
    display: inline-block;
    opacity: 0.25;
}

.multiple-choice-options input:checked + label + .choice-check svg {
    display: inline-block;
    opacity: 1 !important;
}

.multiple-choice-options input:checked + label {
    font-weight: bold;
    border: 1.5px solid rgb(0 0 0 / 100%);
}

.multiple-choice-options input:checked + label input {
    font-weight: bold;
}

.multiple-choice-options label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: white;
    border: 1.5px solid rgb(0 0 0 / 25%);
    border-radius: var(--radius);
}

.multiple-choice-options .choice-option-open label {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
    padding-right: 30px;
}

.multiple-choice-options .choice-option-open input:disabled + label {
    opacity: 0.6;
}

.multiple-choice-options .choice-option-open label input {
    position: relative;
    flex-grow: 1;
    border: 0;
    outline: 0;
    opacity: 1;
}

.thank-you-message {
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    width: 320px;
    min-width: 150px;
    padding: 20px 25px 10px;
    font-family: -apple-system, BlinkMacSystemFont, Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.4;
    text-align: center;
    border-radius: 10px;
    box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%), -9px 0 28px 0 rgb(0 0 0 / 5%), -12px 0 48px 16px rgb(0 0 0 / 3%);
}

.thank-you-message-body {
    margin-top: 6px;
    font-size: 14px;
}

.thank-you-message-header {
    margin: 10px 0 0;
    font-size: 19px;
    font-weight: bold;
    color: inherit;
}

.thank-you-message-container .form-submit {
    margin-top: 20px;
    margin-bottom: 10px;
}

.thank-you-message-countdown {
    margin-left: 6px;
}

.bottom-section {
    margin-top: 14px;
}

.ph-survey-widget-tab {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999999;
    min-width: 40px;
    padding: 8px 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    transform: rotate(-90deg) translate(0, -100%);
    transform-origin: right top;
}

.ph-survey-widget-tab:hover {
    padding-bottom: 13px;
}
