.masonry-container {
    column-count: 4;
    column-gap: 10px;
}

@media screen and (max-width: 1024px) {
    .masonry-container {
        column-count: 2;
    }
}

.masonry-item {
    box-sizing: border-box;
    break-inside: avoid;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    margin-bottom: 10px;
}

.masonry-item-text {
    max-height: 305px;
    overflow-y: scroll;
}
