@import '~/vars';

.paths {
    .ant-btn {
        border-radius: 4px;
        z-index: 100;
        &:hover {
            border-radius: 4px 4px 0px 0px;
            color: black;
            z-index: 999;
        }
    }

    .paths-dropdown-ellipsis {
        &:hover {
            background-color: rgba(83, 117, 255, 0.08);
            border-radius: 4px;
        }
    }
}

.paths-options-dropdown {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid $primary;
    .ant-dropdown-menu-item {
        &:hover {
            background-color: rgba(83, 117, 255, 0.08);
            border-radius: 4;
        }
    }
}
