.PathNodeCardButton {
    .paths-options-dropdown {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid var(--primary);
        .ant-dropdown-menu-item {
            &:hover {
                background-color: rgba(83, 117, 255, 0.08);
                border-radius: 4;
            }
        }
    }
}
