
.background {
    background-color: hsla(210, 6%, 95%, 1);
}

.back-button {
    cursor: pointer;
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
}

.back-button:hover {
    background-color:gainsboro;
}

.prompt-text {
    font-size: 16px;
    font-weight: 600;
}

.platform-item {
    margin-right: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid gray;
    border-radius: 2px;
    cursor: pointer;

}

.platform-item:hover {
    background-color:gainsboro;
}

.selectable-item:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.big-button {
    background-color:  #007bff;
    margin-top:20;
    width: 65vw;
    height: 70;
    display: flex;
    align-items: center;
    justify-content: 'center';
    border-radius: 5;
    cursor: 'pointer';
}

.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active{
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}