.funnel-correlation {
    margin-bottom: 3rem;

    .skew-warning {
        margin-top: 1rem;
        line-height: 2em;
        border: 1px solid var(--warning);

        .ant-card-body {
            padding: 0.5rem 1rem;
        }

        h4 {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            margin-right: -1rem;
            margin-left: -1rem;
            font-size: 1.1em;
            border-bottom: 1px solid var(--border);

            .close-button {
                position: absolute;
                right: 16px;
                color: var(--muted) !important;
                cursor: pointer;
            }
        }

        b {
            padding-bottom: 0.5rem;
            font-weight: var(--font-medium);
        }
    }
}
