.AutomationStepConfig {
    padding-top: 24px !important;

    .StepChooser {
        max-width: 780px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5em;
        row-gap: 0.5em;
        display: grid;
    }

    .closebutton {
        position: absolute;
        top: 76px;
        right: 2rem;
        z-index: 1;
    }
}
