@import '~/vars';

.insights-filter-group {
    border-radius: var(--radius);
    overflow: hidden;
    background-color: #fff;
    border: 1px solid var(--bg-mid);

    .insights-filter-group-title {
        padding: 0.5em;
        background: var(--bg-mid);
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }

    .insights-filter-group-content {
        padding: 1em;

        > * + * {
            margin-top: $default-spacing;
        }
    }

    .insights-filter-group-count {
        display: inline-block;
        color: var(--white);
        background: var(--primary);
        border: 2px solid var(--bg-light);
        width: 20px;
        height: 20px;
        font-size: 10px;
        border-radius: 100%;
        box-sizing: content-box;
        margin-left: $default-spacing / 2;
        text-align: center;
    }
}
