.insights-filter-group {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid var(--bg-mid);
    border-radius: var(--radius);

    .insights-filter-group-title {
        padding: 0.5em;
        margin: 0;
        background: var(--bg-mid);
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        border-radius: var(--radius);
    }

    .insights-filter-group-content {
        padding: 1em;

        > * + * {
            margin-top: 1rem;
        }
    }

    .insights-filter-group-count {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        background: var(--primary);
        border: 2px solid var(--bg-light);
        width: 16px;
        height: 16px;
        font-size: 10px;
        border-radius: 100%;
        box-sizing: content-box;
        margin-left: 0.5rem;
    }
}
