.EFInsightType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .LemonButton {
        .EFInsightType-button-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            transition: width 200ms;
            color: var(--primary-alt);

            svg {
                width: 1.5rem;
                height: 1.5rem;
                flex-shrink: 0;
            }

            .EFInsightType-button-content-text {
                padding-left: 0.5rem;
            }

            .EFInsightType-button-content-text--enter {
                max-width: 0;
            }

            .EFInsightType-button-content-text--enter-active {
                max-width: 70px; // The longest text size "stickiness"
                transition: max-width 200ms;
            }

            .EFInsightType-button-content-text--exit {
                max-width: 70px;
            }

            .EFInsightType-button-content-text--exit-active {
                max-width: 0px;
                transition: max-width 200ms;
            }
        }
    }
}
