.LifecycleToggles {
    text-transform: uppercase;
    div {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        align-items: center;
    }

    .LemonCheckbox.LemonCheckbox--checked.new svg {
        border-color: var(--lifecycle-new);
        background-color: var(--lifecycle-new);
    }

    .LemonCheckbox.LemonCheckbox--checked.returning svg {
        border-color: var(--lifecycle-returning);
        background-color: var(--lifecycle-returning);
    }

    .LemonCheckbox.LemonCheckbox--checked.resurrecting svg {
        border-color: var(--lifecycle-resurrecting);
        background-color: var(--lifecycle-resurrecting);
    }

    .LemonCheckbox.LemonCheckbox--checked.dormant svg {
        border-color: var(--lifecycle-dormant);
        background-color: var(--lifecycle-dormant);
    }
}
