@import '~/vars';

.person-modal {
    .ant-modal-header {
        padding: 16px;
    }

    .ant-modal-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ant-modal-content {
        overflow: hidden;
    }

    .ant-modal-body {
        padding: 0;
        max-height: 60vh;
        overflow-y: scroll;
    }

    .ant-modal-footer .ant-btn {
        color: $primary;
    }

    .ant-input-search {
        padding: 16px;
    }

    .ant-table-wrapper {
        width: 100%;
        padding: 0 16px;
    }

    .person-row-container {
        border-top: 1px solid var(--border-light);
    }

    .person-row {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 1px solid var(--border-light);
    }

    .person-ids {
        display: flex;
        flex-direction: column;
    }
}
