.person-modal {
    .ant-modal-body {
        padding: 0;
        max-height: 60vh;
        overflow-y: scroll;
    }

    .ant-btn {
        a {
            color: var(--primary);
        }
    }

    .ant-modal-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ant-modal-header {
        padding: 16px 16px;
        width: 575px;
    }
}

.person-modal-properties {
    .ant-table-wrapper {
        width: 100%;
    }
}
