@import '~/vars';

.person-modal {
    .ant-modal-header {
        padding: 1rem;
    }

    .ant-modal-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ant-modal-content {
        overflow: hidden;
    }

    .ant-modal-body {
        padding: 0;
        max-height: 60vh;
        overflow-y: auto;
    }

    .ant-modal-footer .ant-btn {
        color: $primary;
    }

    .ant-input-search {
        padding: 1rem;
    }

    .persons-table {
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
    }

    .person-ids {
        display: flex;
        flex-direction: column;
    }

    .user-count-subheader {
        padding: 0.5rem 1rem;
        color: var(--muted-alt);
        > * {
            vertical-align: middle;
        }
    }

    .person-row-container {
        padding: 0.5rem 1rem;
    }
}
