.toolbar-block {
    background: white;
    font-size: 14px;
    padding: 20px;
    &.no-padding {
        padding: 0;
    }
}

#dock-toolbar {
    --zoom: 0.7;
    --padding: 30px;
    --sidebar-width: 300px;

    background-size: 100%;
    transform: scale(calc(1 / var(--zoom)));
    transform-origin: top right;
    width: var(--sidebar-width);
    height: calc(100vh - 2 * var(--padding));
    top: 0;
    right: calc((-300px - var(--padding)) / var(--zoom));
    position: absolute;
    z-index: 999999999;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity ease 0.5s;
    color: hsl(240, 11%, 20%);

    &.toolbar-invisible {
        opacity: 0;
    }
    .ant-tabs-bar {
        height: 50px;
    }

    .toolbar-block {
        box-shadow: hsl(219, 14%, 76%) 30px 30px 70px, hsl(219, 14%, 76%) 8px 8px 10px;
        & + .toolbar-block {
            margin-top: 30px;
        }
    }
    .toolbar-close-button {
        top: calc(7px - var(--padding) * 0.8);
        right: calc(9px - var(--padding) * 0.8);
        width: calc(var(--padding) * 0.8);
        height: calc(var(--padding) * 0.8);
        position: absolute;
        color: hsla(240, 14%, 75%, 1);
        font-size: 22px;
        opacity: 0;
        transition: opacity ease 1s;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        &.visible {
            opacity: 1;
        }
        &:hover {
            color: hsla(240, 14%, 42%, 1);
        }
    }

    .ant-tabs-nav-scroll {
        text-align: center;
    }

    .toolbar-transition-area {
        position: relative;
        .toolbar-content {
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 1;
            transition: opacity ease 0.2s;

            &.invisible {
                opacity: 0;
            }
            &.fading-in {
                opacity: 1;
            }
            &.fading-out {
                opacity: 0;
            }
        }
    }

    .toolbar-block {
        max-height: calc(100vh - var(--padding) * 2 - 66px);
        overflow: auto;
    }
}

.posthog-header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ant-modal-mask,
.ant-modal-wrap {
    z-index: 2147483030 !important;
}
.ant-tooltip {
    z-index: 2147483031 !important;
}
.ant-list-item {
    &:hover {
        background: #f0f0f0;
    }
}

.section-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: hsla(220, 15%, 49%, 1);
    margin-bottom: 10px;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
}

.fade-component-container {
    position: fixed;
    z-index: 2147483020;
}
