:host {
    // reset fonts
    all: initial;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.toolbar-block {
    background: white;
    color: black;
    font-size: 14px;
    padding: 20px;
    &.no-padding {
        padding: 0;
    }
}

.ant-modal-mask,
.ant-modal-wrap {
    z-index: 2147483030 !important;
}
.ant-select-dropdown,
.ant-picker-dropdown {
    z-index: 2147483031 !important;
}
.ant-tooltip {
    z-index: 2147483032 !important;
}
.ant-list-item {
    &:hover {
        background: #f0f0f0;
    }
}

.section-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: hsla(220, 15%, 49%, 1);
    margin-bottom: 10px;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
}

.fade-component-container {
    position: fixed;
    z-index: 2147483020;
}

.Toastify__toast-container {
    z-index: 2147483040;
}

.toolbar-global-fade-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    > * {
        pointer-events: auto;
    }
}

.shepherd-tour-card {
    background-color: white;
    max-width: 400px;
    padding: 12px;
    width: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 12%) 0px 3px 6px -4px, rgb(0 0 0 / 8%) 0px 6px 16px, rgb(0 0 0 / 5%) 0px 9px 28px 8px;

    .shepherd-header,
    .shepherd-footer {
        display: flex;
        justify-content: space-between;
    }

    .shepherd-header {
        align-items: center;

        h3 {
            margin: 0;
        }
    }

    .shepherd-arrow,
    .shepherd-arrow:before {
        position: absolute;
        width: 16px;
        height: 16px;
        z-index: -1;
    }

    .shepherd-arrow {
        transform: translate3d(-16px, 60px, 0px) !important;
    }

    .shepherd-arrow:before {
        content: '';
        transform: rotate(45deg);
        background: #fff;
    }

    .shepherd-element.shepherd-centered > .shepherd-arrow {
        opacity: 0;
    }

    .shepherd-element.shepherd-has-title[data-popper-placement^='bottom'] > .shepherd-arrow:before {
        background-color: #e6e6e6;
    }

    .shepherd-button,
    .shepherd-cancel-icon {
        line-height: 1.5715;
        position: relative;
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        background-image: none;
        border: 1px solid transparent;
        box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        user-select: none;
        touch-action: manipulation;
        height: 32px;
        padding: 2px 15px;
        font-size: 14px;
        border-radius: 4px;
        color: #2d2d2d;
        background: #fff;
        border-color: #d9d9d9;
    }

    .shepherd-cancel-icon {
        border: none;
        line-height: unset;
        font-size: 1.1rem;
    }

    .shepherd-text {
        margin: 16px 0;
    }
}
