#button-toolbar {
    position: fixed;
    top: 2rem;
    z-index: 2147483020;
    right: 2rem;
    opacity: 1;
    transition: opacity ease 0.5s;
    width: 64px;
    height: 64px;

    &.toolbar-invisible {
        opacity: 0;
    }

    .circle-button {
        &:hover {
            box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5) !important;
        }
    }
}
