.Breadcrumbs3000 {
    z-index: var(--z-main-nav);
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: var(--breadcrumbs-height);
    background: var(--glass-bg-3000);
    border-bottom: 1px solid var(--glass-border-3000);
    overflow-x: auto;
    font-size: 0.8125rem;
    font-weight: 600;
    user-select: none;
}

.Breadcrumbs3000__breadcrumb {
    display: flex;
    align-items: center;
    white-space: pre;
    cursor: default;
    color: var(--default);

    &.Breadcrumbs3000__breadcrumb--here {
        cursor: default;
        > span {
            opacity: 1;
        }
    }

    &.Breadcrumbs3000__breadcrumb--actionable {
        cursor: pointer;
    }

    > span {
        opacity: 0.5;
    }

    > .Lettermark {
        margin-right: 0.5rem;
    }

    > .LemonIcon {
        font-size: 1rem;
        margin-left: 0.125rem;
        opacity: 0.5;
    }
}

.Breadcrumbs3000__separator {
    flex-shrink: 0;
    margin: 0 0.5rem;
    opacity: 0.5;
    &::after {
        content: '/';
    }
}

.Breadcrumbs3000__more {
    margin-left: 0.5rem;
}

.Breadcrumbs3000__actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0.5rem;
    gap: 0.5rem;
}
