.Breadcrumbs3000 {
    --breadcrumbs-compaction-rate: 0;

    z-index: var(--z-main-nav);
    position: sticky;
    top: 0;
    display: flex;
    align-items: start;
    height: var(--breadcrumbs-height-full);
    pointer-events: none;
    white-space: nowrap;
}

.Breadcrumbs3000__content {
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: calc(
        var(--breadcrumbs-height-full) - (var(--breadcrumbs-height-full) - var(--breadcrumbs-height-compact)) *
            var(--breadcrumbs-compaction-rate)
    );
    background: var(--glass-bg-3000);
    border-bottom: 1px solid var(--glass-border-3000);
    font-size: calc(0.75rem + 0.0625rem * var(--breadcrumbs-compaction-rate));
    line-height: 1rem;
    font-weight: 600;
    pointer-events: auto;
}

.Breadcrumbs3000__trail {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

.Breadcrumbs3000__crumbs {
    height: 1rem;
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    overflow: visible;
}

.Breadcrumbs3000__here {
    visibility: var(--breadcrumbs-title-large-visibility);
    position: relative;
    line-height: 1.2;
    margin: 0;
    padding: calc(0.5rem * (1 - var(--breadcrumbs-compaction-rate))) 0 0;
    font-size: 1rem;
    font-weight: 700;
    overflow: hidden;
    height: calc(1.2em * (1 - var(--breadcrumbs-compaction-rate)));
    box-sizing: content-box;

    > * {
        position: absolute;
        bottom: 0.25rem;
        height: 1.2em;
    }
}

.Breadcrumbs3000__breadcrumb {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    white-space: pre;
    cursor: default;
    color: var(--default);
    overflow: hidden;

    &.Link:hover {
        color: inherit;
    }

    &.Breadcrumbs3000__breadcrumb--here {
        visibility: var(--breadcrumbs-title-small-visibility);
        cursor: default;

        > * {
            opacity: 1;
            transform: translateY(calc(100% * (1 - var(--breadcrumbs-compaction-rate))));
        }
    }

    &.Breadcrumbs3000__breadcrumb--actionable {
        cursor: pointer;

        &:hover > span,
        &.Breadcrumbs3000__breadcrumb--open > span {
            opacity: 1;
        }
    }

    > span {
        transition: opacity 200ms ease;
        opacity: 0.5;
    }

    > .Lettermark {
        margin-right: 0.5rem;
    }

    > .LemonIcon {
        font-size: 1rem;
        margin-left: 0.125rem;
        opacity: 0.5;
    }
}

.Breadcrumbs3000__separator {
    flex-shrink: 0;
    margin: 0 0.5rem;
    opacity: 0.5;

    &::after {
        content: '/';
    }
}

.Breadcrumbs3000__more {
    margin-left: 0.5rem;
}

.Breadcrumbs3000__actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0.5rem;
    gap: 0.5rem;
}
