.KeyboardShortcut {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.25rem;
    height: 1.25rem;
    padding: 0.125rem 0.25rem;
    font-family: var(--font-title);
    font-size: 0.75rem;
    color: var(--text-3000);
    text-transform: capitalize;
    user-select: none;
    background: var(--color-bg-surface-primary);
    border-color: var(--secondary-3000-button-border-hover);
    border-width: 1px;
    border-bottom-width: 2px;
    border-radius: 0.25rem;

    .Tooltip & {
        color: inherit;
        background: none;
        opacity: var(--opacity-disabled);
    }

    & + .KeyboardShortcut__key {
        margin-left: 0.25rem;
    }
}
