.KeyboardShortcut {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.25rem;
    height: 1.25rem;
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    color: var(--content-primary);
    text-transform: capitalize;
    user-select: none;
    background: var(--background-secondary);
    border-color: var(--border-secondary);
    border-width: 1px;
    border-bottom-width: 2px;
    border-radius: 0.25rem;

    .KeyboardShortcut--muted > & {
        color: var(--content-tertiary);
        background: none;
    }

    & + .KeyboardShortcut__key {
        margin-left: 0.25rem;
    }
}
