.KeyboardShortcut {
    margin: 0 0.125rem;
}

.KeyboardShortcut__key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 0 0.1875rem;
    border-radius: 0.125rem;
    border-width: 1px;
    background: var(--accent-3000);
    color: var(--default);
    text-transform: capitalize;

    .posthog-3000 & {
        text-transform: uppercase;
        border-radius: 0.25rem;
        border-bottom-width: 2px;
        font-size: 0.625rem;
        padding: 0.125rem 0.25rem;
    }

    .posthog-3000[theme='dark'] & {
        border-color: var(--muted-3000);
    }

    .KeyboardShortcut--muted > & {
        background: none;
        color: var(--muted);
    }

    .ant-tooltip & {
        color: #fff;
        background: rgba(#000, 0.333);
        border-color: rgba(#fff, 0.333);
    }

    & + .KeyboardShortcut__key {
        margin-left: 0.25rem;
    }
}
