.TopBar3000 {
    --breadcrumbs-compaction-rate: 0;

    position: sticky;
    top: 0;
    z-index: var(--z-top-navigation);
    display: flex;
    align-items: start;
    height: var(--breadcrumbs-height-full);
    white-space: nowrap;
    pointer-events: none;

    .EditableField__display {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.TopBar3000__content {
    --total-height: calc(
        (
            var(--breadcrumbs-height-full) - (var(--breadcrumbs-height-full) - var(--breadcrumbs-height-compact)) *
                var(--breadcrumbs-compaction-rate)
        )
    );
    --content-padding: calc(var(--total-height) * 0.1);
    --content-height: calc(var(--total-height) - 2 * var(--content-padding));

    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    height: var(--total-height);
    padding: 0 1rem;
    font-size: calc(0.75rem + 0.0625rem * var(--breadcrumbs-compaction-rate));
    font-weight: 600;
    line-height: 1rem;
    pointer-events: auto;
    background: var(--bg-surface-secondary);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--border-primary);
}

.TopBar3000__breadcrumbs {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
}
