.TopBar3000 {
    --breadcrumbs-compaction-rate: 0;

    position: sticky;
    top: 0;
    z-index: var(--z-top-navigation);
    display: flex;
    align-items: start;
    height: var(--breadcrumbs-height-full);
    white-space: nowrap;
    pointer-events: none;

    .EditableField__display {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.TopBar3000__content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    height: calc(
        var(--breadcrumbs-height-full) - (var(--breadcrumbs-height-full) - var(--breadcrumbs-height-compact)) *
            var(--breadcrumbs-compaction-rate)
    );
    padding: 0 1rem;
    font-size: calc(0.75rem + 0.0625rem * var(--breadcrumbs-compaction-rate));
    font-weight: 600;
    line-height: 1rem;
    pointer-events: auto;
    background: var(--glass-bg-3000);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--glass-border-3000);
}

.TopBar3000__hamburger {
    margin-left: -0.5rem;
}

.TopBar3000__breadcrumbs {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
}

.TopBar3000__trail {
    display: flex;
    align-items: center;
    margin-top: calc(0.25rem * (1 - var(--breadcrumbs-compaction-rate)));
    overflow: visible;
}

.TopBar3000__here {
    position: relative;
    box-sizing: content-box;
    height: calc(1.2em * (1 - var(--breadcrumbs-compaction-rate)));
    padding: calc(0.5rem * (1 - var(--breadcrumbs-compaction-rate))) 0 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--font-sans) !important;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    visibility: var(--breadcrumbs-title-large-visibility);

    > * {
        position: absolute;
        bottom: 0.25rem;
        height: 1.2em;
    }
}

.TopBar3000__breadcrumb {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;
    color: var(--text-3000);
    white-space: pre;
    cursor: default;

    &.Link:hover {
        color: inherit;
    }

    &.TopBar3000__breadcrumb--here {
        flex-shrink: 1;
        cursor: default;
        visibility: var(--breadcrumbs-title-small-visibility);

        > * {
            opacity: 1;
            transform: translateY(calc(100% * (1 - var(--breadcrumbs-compaction-rate))));
        }
    }

    &.TopBar3000__breadcrumb--actionable {
        cursor: pointer;

        &:hover > span,
        &.TopBar3000__breadcrumb--open > span {
            opacity: 1;
        }
    }

    > span {
        opacity: 0.5;
        transition: opacity 200ms ease;
    }

    > .LemonIcon {
        margin-left: 0.125rem;
        font-size: 1rem;
        opacity: 0.5;
    }
}

.TopBar3000__separator {
    flex-shrink: 0;
    margin: 0 0.5rem;
    opacity: 0.5;

    &::after {
        content: '/';
    }
}

.TopBar3000__more {
    margin-left: 0.5rem;
}

.TopBar3000__actions {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}
