@import '~/vars';

.navigation-main {
    // General navigation bar styles
    background-color: $bg_menu !important;

    .navigation-inner {
        background-color: $bg_menu;
        position: fixed;
        width: 180px;
        height: 100%;
        overflow: scroll;
        padding-bottom: 32px;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        padding: 32px 16px;

        img {
            max-width: 100%;
        }

        .logo-sm {
            display: none;
        }
    }

    .menu-item {
        display: flex;
        align-items: center;
        border-radius: $radius;
        color: #ffffff;
        padding: 12px;
        margin-top: 8px;
        margin-left: 6px;
        margin-right: 6px;
        transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

        .anticon {
            line-height: 0;
            font-size: 28px;
        }

        svg {
            max-height: 28px;
            max-width: 28px;
        }

        .menu-title {
            font-size: 14px;
            font-weight: bold;
            padding-left: 10px;
        }

        &.menu-item-active {
            background-color: $primary;
        }
    }

    // Styles for collapsed navigation bar (80px)
    &.ant-layout-sider-collapsed {
        .nav-logo {
            padding: 8px 16px;

            .logo-lg {
                display: none;
            }

            .logo-sm {
                display: block;
            }
        }

        .navigation-inner {
            width: 80px;
        }

        .menu-item {
            flex-direction: column;
            padding: 10px 0;

            .anticon {
                line-height: 0;
                font-size: 22px;
            }

            svg {
                max-height: 22px;
                max-width: 22px;
            }

            .menu-title {
                font-size: 10px;
                padding-left: 0;
            }
        }
    }
}

.navigation-top {
    background-color: $bg_light;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    @extend .mixin-elevated;
    position: fixed;
    top: 0;
    z-index: 31415;
}
