@import '~/vars';

.navigation-main {
    background-color: $bg_menu;

    .menu-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: $radius;
        color: $text_light;
        padding: 10px 0;
        margin-top: 8px;
        margin-left: 6px;
        margin-right: 6px;
        transition: background-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

        .anticon {
            line-height: 0;
            font-size: 22px;
        }

        svg {
            max-height: 22px;
            max-width: 22px;
        }

        .menu-title {
            font-size: 10px;
            font-weight: bold;
        }

        &.menu-item-active {
            background-color: $primary;
        }
    }
}
