// Shared styles for ProjectSwitcherOverlay.tsx & OrganizationSwitcherOverlay.tsx
@import '~/vars';

.scope-switcher {
    .scope-header {
        h4 {
            color: $text_muted_alt;
            font-weight: $medium;
            text-transform: uppercase;
            font-size: 0.9em;
        }
        padding-left: $default_spacing / 2;
        padding-top: $default_spacing / 2;
        padding-bottom: $default_spacing / 2;
        margin-bottom: $default_spacing;
        border-bottom: 1px solid $border;
    }
}
