// Deprecated in favor of layout/navigation/Navigation.scss

.sidebar-logo {
    margin: 16px;
    height: 42px;
    white-space: nowrap;
    width: 168px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    #root {
        height: 100%;
    }
    .ant-layout.ant-layout-has-sider {
        height: 100%;
    }
    // dark overlay
    .sidebar-responsive-overlay {
        opacity: 0;
        &.open {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            min-height: 100vh;
            background: rgba(0, 0, 0, 0.3);
            z-index: 1031;
            opacity: 100;
        }
        transition: opacity 0.2s;
    }

    // main layout
    .ant-layout.with-open-sidebar {
        filter: blur(1px) saturate(30%);
    }

    // sidebar
    aside.ant-layout-sider {
        position: absolute;
        z-index: 1033;
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
    }
}

aside.ant-layout-sider {
    min-height: 100vh;
    padding-bottom: 100px;

    .ant-layout-sider-children {
        overflow-y: auto;
    }

    .ant-layout-sider-zero-width-trigger {
        top: 10px;
    }
    .ant-menu-dark .ant-menu-item-divider {
        opacity: 0.1;
        margin: 16px 0;
    }
    .sidebar-label {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
        background: #24282c !important;
    }
}

.sidebar-toolbar-imitation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 31px;
    margin-right: 10px;
    background: #fff;
    border-radius: 5px;
    svg {
        width: 22px;
        height: 100%;
    }
}
