.ColumnConfiguratorModal {
    .Columns {
        display: flex;
        column-gap: 1rem;
        width: 700px;
        padding: 0.5rem;
        background-color: var(--color-bg-primary);
        border-radius: var(--radius);

        @media (max-width: 960px) {
            display: block;
            width: auto;
        }
    }

    .HalfColumn {
        width: 50%;

        @media (max-width: 960px) {
            width: 100%;
        }
    }

    .SelectedColumn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0.5rem;
        margin: calc(var(--radius) / 2) 0;
        overflow: hidden;
        background-color: var(--color-accent-highlight-secondary);
        border-radius: var(--radius);
    }

    .selected-column-col {
        display: flex;
        flex-direction: column;
    }

    .drag-handle {
        padding-right: 0.25rem;
        font-size: 1.2em;
        color: var(--text-3000);
        cursor: move;

        svg {
            transform: rotate(90deg);
        }
    }
}
