.Breadcrumbs {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    overflow-x: auto;
    cursor: default;
}

.Breadcrumbs__breadcrumb {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: var(--font-medium);
    white-space: pre;
    user-select: none;

    &--current {
        color: var(--default);
        cursor: default;
    }

    &--actionable {
        color: var(--primary-3000);
        cursor: pointer;
    }
}

.Breadcrumbs__separator {
    flex-shrink: 0;
    margin: 0 0.5rem;
    font-size: 1rem;
    color: var(--primary-alt);
}
