.SidePanelWelcome__card {
    background: var(--primary-alt-highlight-3000);

    body[theme='dark'] & {
        background: #2a2b31; // One-off for cards, do not use anywhere else
    }
}

.SidePanelWelcome__hero {
    background: url('../../../../../public/3000/3000-launch.png') no-repeat;
    background-position: right min(calc(-5rem + 45%), 0rem) bottom;
    background-size: 22.875rem auto;
}
