.SidePanelWelcome__card {
    background: var(--primary-alt-highlight-3000);

    body[theme='dark'] & {
        background: #2b2b33;
    }
}

.SidePanelWelcome__hero {
    background: url('../../../../../public/3000/3000-launch.png') no-repeat;
    background-position: right min(-5rem + 45%, 0rem) bottom;
    background-size: 22.875rem auto;
}
