{% extends "email/base.html" %}

{% block heading %}{{ title }}{% endblock %}

{% block section %}

{# nosemgrep: python.flask.security.xss.audit.template-unescaped-with-safe.template-unescaped-with-safe #}
{{ rendered_html|safe }}

<div class="mb mt text-center">
    <a class="button primary" href="{{ subscription_url }}">Manage subscription</a>
</div>

<p class="text-center">
    Was this report useful?
    <a href="{{ feedback_positive_url }}">👍 Yes</a> ·
    <a href="{{ feedback_negative_url }}">👎 No</a>
</p>

<p class="text-center text-muted">
    <a href="{{ unsubscribe_url }}">Unsubscribe from this report</a>
</p>

{% endblock %}
