{% extends "email/base.html" %} {% load posthog_assets %} {% block section %}
    <p>
        The <a href="{% absolute_uri alert_url %}">{{ alert_name }}</a> alert could not be evaluated for insight <a
            href="{% absolute_uri insight_url %}">{{ insight_name }}</a>.
    </p>
    <p><i>{{ alert_error }}</i></p>
    <p>PostHog will check this alert again on its normal schedule.</p>
    <div class="mb mt text-center">
        <a class="button" href="{% absolute_uri alert_url %}">Manage alert</a>
    </div>
{% endblock %}{% load posthog_filters %}
