{% extends "email/base.html" %} {% load posthog_assets %} {% block heading %}{{ alert_name }}{% endblock %} {% block section %}
    <p>
        This alert could not be evaluated.
    </p>
    <p>
        <strong>Insight</strong><br />
        <a href="{% absolute_uri insight_url %}">{{ insight_name }}</a>
    </p>
    <p>
        <strong>Error</strong><br />
        <i>{{ alert_error }}</i>
    </p>
    <p>PostHog will check this alert again on its normal schedule.</p>
    <div class="mb mt text-center">
        <a class="button" href="{% absolute_uri alert_url %}">Manage alert</a>
    </div>
{% endblock %}{% load posthog_filters %}
