{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %} {% block main %}
<style type="text/css">
    .hero-image {
        max-width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: center;
    }
</style>
<div class="container">
    <div class="section">
        <h1 class="mb">{% block heading %}{% endblock %}</h1>
        {% block section %}{% endblock %}
    </div>
</div>
{% endblock %} {% block footer %}
<div>
    If you believe this message isn't intended for you, please delete it. In case of any questions, you can reply to
    this email.
</div>
<div class="socialLinks spacingTop">
    <a href="https://github.com/posthog/">GitHub</a><span>|</span><a href="https://twitter.com/posthog">Twitter</a
    ><span>|</span><a href="https://posthog.com/slack">Slack</a>
</div>
{% endblock %}
