{% load posthog_assets %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include "email/styles.html" %} {% block head %} {% endblock %}
</head>

<body>
    <div class="preheader">{% block preheader %}{% endblock %}</div>
    <table class="main">
        <tr>
            <td>
                <div class="header">
                    {% block header %}
                    <h1 class="text-center">
                        <a href="{% absolute_uri %}"><img src="{% absolute_asset_url 'posthog-logo.png' %}"
                                width="160px" height="31px" alt="PostHog" class="logo" /></a>
                    </h1>
                    {% endblock %}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {% block content %}
                <div class="container">
                    <div class="inner">
                        {% block main %}
                            <h1 class="mb">{% block heading %}{% endblock %}</h1>
                            {% block section %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
                <div class="container">
                    <div class="footer">
                        {% block footer %}
                            Need help?
                            <a href="https://posthog.com/questions?{{ utm_tags }}"
                                target="_blank"><b>Visit support</b></a>
                            or
                            <a href="https://posthog.com/docs?{{ utm_tags }}"
                                target="_blank"><b>read our documentation</b></a>
                        {% endblock %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>
