{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}
{% block heading %}{% if is_ticket_mention %}You were mentioned in a ticket{% else %}You were mentioned in a discussion{% endif %}{% endblock %}
{% block section %}
<!-- prettier-ignore -->
<p>
    <b>{{ commenter.first_name }}</b> mentioned you in a comment in
    {% if is_ticket_mention %}
        {% if ticket_number %}
            ticket #{{ ticket_number }}
        {% else %}
            a ticket
        {% endif %}
    {% else %}
        a discussion
    {% endif %}
    in the project <b>{{ team.name }}</b>.
</p>
<p>
    {{ content }}
</p>
<div class="mb mt text-center">
    <a class="button" href="{{ href }}">{% if is_ticket_mention %}Reply to ticket{% else %}Reply to comment{% endif %}</a>
</div>
<div class="mt">
    <p>
        If the button above doesn't work, paste this link into your browser:<br />
        <a href="{{ href }}">{{ href }}</a>
    </p>
</div>
{% endblock %}

{% block footer %}
Need help?
<a href="https://posthog.com/questions?{{ utm_tags }}"
    target="_blank"><b>Visit support</b></a>
or
<a href="https://posthog.com/docs?{{ utm_tags }}"
    target="_blank"><b>Read our documentation</b></a>.<br /><br />

<a href="{% absolute_uri '/settings/user-notifications' %}">Manage these notifications in PostHog</a>

{% endblock %}