{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}{% block section %}
<p>Welcome to PostHog! Click on the following link to verify your email address.</p>
<div class="mb mt text-center">
    <a class="button" href="{% absolute_uri link %}">Verify email address</a>
</div>

<div class="mt muted">
    <p>
        If the button above doesn't work, paste this link into your browser:<br />
        <a href="{% absolute_uri link %}">{% absolute_uri link %}</a>
    </p>
</div>
{% endblock %} {% block preheader %}{{preheader}}{% endblock %}{% block heading %}Verify your email address.{% endblock %}
