{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}{% block section %}

<p>We received a login attempt to your PostHog account. To continue, please verify it's you by clicking the link below:</p>

<div class="mb mt text-center">
    <a class="button" href="{{url}}">Verify login</a>
</div>

<p>This link expires in {{expiration_minutes}} minutes.</p>

<div class="mt muted">
    <p>
        If the button above doesn't work, paste this link into your browser:<br />
        <a href="{{url}}">{{url}}</a>
    </p>
</div>

<hr />

<p class="muted">
    <strong>Didn't try to log in?</strong><br>
    If you didn't attempt this login, someone may be trying to access your account. Please secure your account immediately by changing your password.
</p>
{% endblock %} {% block preheader %}{{preheader}}{% endblock %}{% block heading %}Verify your login{% endblock %}
