{% extends "email/base.html" %}
{% block heading %}A destination isn't delivering anything{% endblock %}
{% block section %}
    <!-- prettier-ignore -->
    <p>
        The destination <b>{{ hog_function.name }}</b> in project <b>{{ team }}</b> has filters that PostHog can't evaluate, so it hasn't been sending events.
    </p>
    <p>Here's what's wrong with it:</p>
    <p><i>{{ bytecode_error }}</i></p>
    <p>
        This usually happens when a filter refers to a cohort. Cohort membership can't be checked while an event is
        being processed, so the filter can't run. Replacing the cohort with the person properties it's based on will fix it.
    </p>
    <div class="mb mt text-center">
        <a class="button" href="{{ hog_function.url }}">Fix the filters</a>
    </div>
    <p>Events sent while the filters were broken weren't delivered and can't be recovered.</p>
    <div class="mt">
        <p>
            If the button above doesn't work, paste this link into your browser:
            <br />
            <a href="{{ hog_function.url }}">{{ hog_function.url }}</a>
        </p>
    </div>
{% endblock %}
{% block footer %}
    Need help?
    <a href="https://posthog.com/questions?{{ utm_tags }}" target="_blank"><b>Visit support</b></a>
    or
    <a href="https://posthog.com/docs?{{ utm_tags }}" target="_blank"><b>read our documentation</b></a>.
    <br />
    <br />
    <a href="{% absolute_uri '/settings/user-notifications' %}">Manage these notifications in PostHog</a>
{% endblock %}
