{% extends "email/base_transactional.html" %} {% load posthog_assets %} {% block section %}
<p><strong>Hello there,</strong></p>

{% if inviter %}
<p>
    <strong>{{ inviter.first_name }}</strong> ({{ inviter.email }}) has subscribed you to the PostHog Insight
    <strong>{% firstof subscription.insight.name subscription.insight.derived_name %}</strong>.
</p>
{% else %}
<p>
    Your subscription to the insight
    <strong>{% firstof subscription.insight.name subscription.insight.derived_name %}</strong> is ready!
</p>
{% endif %}

<img class="insight-image" src="{{ exported_asset.public_content_url }}" />

<p class="text-center">
    <a target="_blank" href="{{ subscription.url }}"><b>Manage this subscription in PostHog</b></a>
    or
    <a target="_blank" href="{{ unsubscribe_url }}"><b>unsubscribe now.</b></a>
</p>

<div class="mb mt text-center">
    <a class="button primary" href="{{ subscription.insight.url }}">View in PostHog</a>
</div>

{% endblock %}{% load posthog_filters %}