{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}
{% block header %}
<h1 class="text-center">
    <a href="https://posthog.com"><img src="https://us.posthog.com/static/posthog-logo.png"
            width="160px" height="31px" alt="PostHog" class="logo" /></a>
</h1>
{% endblock %}
{% block section %}
<p>hey!</p>

<p>you love PostHog.</p>

<p>we love that you love PostHog.</p>

<p>we built something for people like you.</p>

<p><a href="https://posthog.com/pyramide">posthog.com/pyramide</a></p>
{% endblock %}
