{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %} {% block main %}
<style type="text/css">
    .hero-image {
        max-width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: center;
    }
</style>
<div class="container">
    <div class="section">
        <h1 class="mb">Join {{ invite.organization.name }} on PostHog</h1>
        <p>
            <strong>{{ invite.created_by.first_name }}</strong> ({{ invite.created_by.email }}) has invited you to join
            {{ invite.organization.name }} on PostHog.<br />
            PostHog is an open-source product analytics tool that will help you better understand your users.
        </p>
        <img src="{% absolute_asset_url 'email/invite-hero.png' %}" alt="" class="hero-image" />
        <div class="mb mt text-center">
            <a class="button" href="{{ invite }}">Join {{ invite.organization.name }} now</a>
        </div>
        <div class="mt">
            <p>
                If the button above does not work, paste the following link into your browser:<br />
                <a href="{{ invite }}">{{ invite }}</a>
            </p>
        </div>
        <p>Please note this invite will expire in <b>3 days</b>.</p>
    </div>
</div>
{% endblock %} {% block footer %}
<div>
    If you believe this message isn't intended for you, please delete it. If you have any questions, you can also reply
    to this email.
</div>
<div class="socialLinks spacingTop">
    <a href="https://github.com/posthog/">GitHub</a><span>|</span><a href="https://twitter.com/posthoghq">Twitter</a
    ><span>|</span><a href="https://medium.com/posthog">Medium</a><span>|</span
    ><a href="https://posthog.com/slack">Slack</a>
</div>
{% endblock %}
