{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}
{# Self-hosted (SMTP) copy only. Cloud sends this notification through Customer.io template 44, so that copy has to be edited there too. #}
{% block preheader %}{{preheader}}{% endblock %}
{% block heading %}New login to your PostHog account{% endblock %}
{% block section %}
<p>
    Your PostHog account was logged into from a device we haven't seen before. If that was you, there's nothing to do here.
</p>
<div class="mt mb">
    <div><b>Time:</b> {{ login_time }}</div>
    <div><b>Location:</b> {{ location|default:"Unknown" }}</div>
    <div><b>Browser:</b> {{ browser|default:"Unknown" }}</div>
    <div><b>Login method:</b> {{ login_method|default:"Unknown" }}</div>
    <div><b>IP:</b> {{ ip_address }}</div>
</div>
<p>
    If you don't recognize this login, reset your password to lock the account down.
</p>
{% endblock %}
