{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}
{% block preheader %}{{preheader}}{% endblock %}
{% block heading %}We spotted a login from a new device{% endblock %}
{% block section %}
<p>
    Someone (hopefully you) logged into your PostHog account from a new device. If this wasn't you, please reset your password.
</p>
<div class="mt mb">
    <div><b>Time:</b> {{ login_time }}</div>
    <div><b>Location:</b> {{ location|default:"Unknown" }}</div>
    <div><b>Browser:</b> {{ browser|default:"Unknown" }}</div>
    <div><b>Login method:</b> {{ login_method|default:"Unknown" }}</div>
    <div><b>IP:</b> {{ ip_address }}</div>
</div>
<p>
    If this was you though, you don't have to do anything except delete this email.
</p>
{% endblock %}
