{% extends "email/base_transactional.html" %} {% load posthog_assets %} {% load posthog_filters %}{% block section %}
<p>
    Someone (hopefully you) requested a password reset for your PostHog account{% if cloud %} on PostHog Cloud.{%else%}
    hosted on {% strip_protocol site_url %}{% endif %}.
</p>
{% if social_providers|length > 0 %}
<div class="mt mb">
    Our records show that you have <b>linked your account</b> to the following social/SSO provider(s):
    <a href="{% absolute_uri '/login' %}"><b style="color: #c277cf">{% human_social_providers social_providers %}</b></a
    >. You can try logging in with a social provider or alternatively click below to create a new password.
</div>
{% endif %}
<div class="mb mt text-center">Click on the button below to create a new password.</div>
<div class="mb mt text-center">
    <a class="button" href="{% absolute_uri link %}">Reset my password</a>
</div>

<div class="mt">
    <p>
        If the button above does not work, paste the following link into your browser:<br />
        <a href="{% absolute_uri link %}">{% absolute_uri link %}</a>
    </p>
</div>
{% endblock %} {% block preheader %}{{preheader}}{% endblock %}{% block heading %}Password reset request{% endblock %}
