{% extends "email/base.html" %} {% load posthog_assets %} {% load posthog_filters %}{% block section %}
<p>
    Someone (hopefully you) requested a password reset for this email address{% if cloud %} on PostHog Cloud.{%else%}
    hosted on {% strip_protocol site_url %}{% endif %}.
</p>
<p>
    We could not find an account for this address, so there is nothing to reset. You may have signed up with a different
    email address. Try that address instead, or create a new account below.
</p>
<div class="mb mt text-center">
    <a class="button" href="{% absolute_uri '/signup' %}">Create an account</a>
</div>
<p>If you did not request this, you can ignore this email.</p>
{% endblock %} {% block preheader %}{{preheader}}{% endblock %}{% block heading %}Password reset request{% endblock %}
