<style type="text/css">
    /* Main containers */
    body,
    .main {
        width: 100%;
        font-size: 14px;
        font-family: 'Helvetica Neue', helvetica, sans-serif;
        padding: 0;
        margin: 0;
        background-color: #fff;
        color: #2d2d2d;
        line-height: 1.4;
    }

    .main {
        max-width: 700px;
        margin: 15px auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .logo {
        /* Styling for alt text */
        font-weight: 600;
        color: #35416b;
    }

    /* General styles */

    table {
        width: 100%;
        border-collapse: collapse;
        border-width: 0;
    }

    td {
        padding: 0;
        margin: 0;
    }

    td {
        text-align: center;
    }

    .spacingTop {
        margin-top: 16px;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        text-align: left;
        padding: 0 20px;
    }

    .inner {
        padding: 30px 0 20px;
    }

    .section {
        margin-bottom: 96px;
    }

    .preheader {
        display: none;
        font-size: 0;
        max-height: 0;
        line-height: 0;
    }

    h1,
    h2 {
        font-weight: 600;
        margin-bottom: 8px;
    }

    b,
    strong {
        font-weight: 600;
    }

    a {
        color: #5375ff;
        text-decoration: none;
    }

    .text-center {
        text-align: center;
    }

    .button {
        padding: 8px 16px;
        height: 40px;
        background-color: #5375ff;
        color: #fff;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .mt {
        margin-top: 16px;
    }

    .mb {
        margin-bottom: 16px;
    }

    /* Header & Footer */

    .header {
        text-align: left;
        border-bottom-color: #5375ff;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }

    .mainTitle div,
    .mainTitle span {
        font-weight: 600;
    }

    .mainTitle .secondary {
        color: #989a9b;
    }

    .mainTitle td:first-child {
        text-align: left;
    }

    .mainTitle td:last-child {
        text-align: right;
    }

    .footer {
        border-top-color: #a7b7be;
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 32px;
        color: #a5a5a5;
        font-size: 12px;
        text-align: center;
    }

    .footer a {
        color: #a5a5a5;
    }

    .footer div:not(.socialLinks) a {
        text-decoration: underline;
    }

    .footer .socialLinks a {
        font-weight: 600;
    }

    .footer .socialLinks span {
        padding: 0 8px;
    }

    /* Temporary */
    .beta {
        color: #f7a501;
    }
</style>

<style type="text/css" inline="false">
    @media only screen and (max-width: 480px) {
        /* General styles */
        .grid {
            width: 100% !important;
        }

        .grid .column {
            display: block !important;
            width: 100% !important;
            margin-top: 32px !important;
        }

        .section {
            margin-bottom: 48px !important;
        }

        /* Header & Footer */

        .header {
            text-align: center;
            margin: 0 8px;
        }

        .mainTitle td {
            text-align: left !important;
        }

        .mainTitle {
            margin-bottom: 16px;
        }
    }
</style>
