.MessageTemplatesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75em;
    max-width: 1100px;

    .MessageTemplateItem {
        width: 340px;
        height: 360px;
    }
}
