.FlatNav[data-nav-density='compact'] {
    --button-height-base: var(--button-height-xs);

    .button-primitive {
        font-size: 0.75rem;
    }
}

.FlatNav .show-scrollbar-on-hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
