@import '~/vars';

.property-select {
    cursor: pointer;
    width: 150px;
    margin-top: 6px;
    .ant-select-selector {
        border-color: $dark-grey !important;
        cursor: pointer !important;
    }
    .ant-select-arrow {
        color: #2d2d2d;
        font-size: 10px;
    }

    &:not(.ant-select-open) input {
        cursor: pointer !important;
    }
    &:hover .ant-select-selection-placeholder,
    &:hover .ant-select-arrow,
    &:hover .ant-select-selection-item {
        color: #7d9bff !important;
    }
    &:hover .ant-select-selector {
        border-color: #7d9bff !important;
    }

    .ant-select-selector,
    .ant-select-selection-placeholder,
    .ant-select-selection-search-input {
        font-size: 13px;
        height: 28px !important;
    }
    .ant-select-selection-item {
        line-height: 26px !important;
    }
    .ant-select-selection-placeholder {
        line-height: 24px !important;
        color: #2d2d2d;
    }

    &.horizontal-ui {
        width: unset !important;
        min-width: 120px;
        margin-top: 0;

        .ant-select-selector,
        .ant-select-selection-placeholder,
        .ant-select-selection-search-input {
            font-size: inherit;
            height: 32px !important;
        }
        .ant-select-selection-item {
            line-height: 30px !important;
        }
        .ant-select-selection-placeholder {
            line-height: 30px !important;
        }
    }
}
.row-action-btn {
    padding: 0 4px;
    &:hover,
    &:focus,
    &.visible {
        border: 1px solid $primary;
    }
}
.action-row,
.action-row-striped {
    &.full-width {
        flex-basis: 100%;
    }
}

.draggable-action-filter.drag-handle-visible {
    .action-row,
    .action-row-striped {
        &.full-width {
            width: calc(100% - 16px);
            flex-basis: calc(100% - 16px);
        }
    }
}

.action-row-striped {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    &:nth-child(2n) {
        padding: 0.25rem;
        background-color: #f6f6f6;
    }
}

.full-width {
    .property-filter-button-label {
        max-width: 300px;
    }
}

.horizontal-ui {
    .row-action-btn {
        &.delete {
            padding: 0;
            width: unset;
            color: rgba($danger, 0.6);
        }
    }
}

.action-row-letter {
    padding-right: 1px;
}
