.Breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    cursor: default;
    overflow-x: auto;
    &--loading {
        margin-top: 0.75rem;
    }
}

.Breadcrumbs__breadcrumb {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-weight: 500;
    white-space: pre;
    &--current {
        font-style: italic;
    }
    > :first-child {
        margin-right: 0.5rem;
    }
}

.Breadcrumbs__separator {
    flex-shrink: 0;
    margin: 0 0.5rem;
    font-size: 1rem;
    color: var(--primary-alt);
    transform: rotate(-90deg);
}
